openapi: 3.1.0
info:
  title: Air Approval API
  version: v2
  description: APIs to perform search, checkout and book an air pnr
servers:
- url: https://api-ext-sboxmeta.partners.spotnana.com
  description: Sandbox URL
security:
- Bearer: []
tags:
- name: Approval
  description: APIs to manage approvals.
paths:
  /v3/approvals/approvers/{userId}/list:
    parameters:
    - name: userId
      in: path
      description: Identifier for the approver whose approval data is requested.
      required: true
      schema:
        type: string
        format: uuid
        example: 4974a66b-7493-4f41-908c-58ba81093947
    post:
      tags:
      - Approval
      summary: List approval data for an approver
      description: Retrieves the list of approval data associated with an approver.
      operationId: getApprovalUserApprovalDataList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetApprovalDataV3Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApprovalDataV3Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/approvals/companies/{companyId}/list:
    parameters:
    - name: companyId
      in: path
      description: Identifier for the company whose approvals are requested.
      required: true
      schema:
        type: string
        format: uuid
        example: 4974a66b-7493-4f41-908c-58ba81093947
    post:
      tags:
      - Approval
      summary: List approval data for a company
      description: Retrieves the list of approval data associated with a company.
      operationId: getCompanyApprovalDataList
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetApprovalDataV3Request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetApprovalDataV3Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    OfficeIdWrapper:
      type: object
      title: OfficeIdWrapper
      properties:
        officeId:
          $ref: '#/components/schemas/OfficeId'
    AdhocUserInfo:
      type: object
      title: AdhocUserInfo
      description: Basic information related to ad-hoc traveler profile.
      required:
      - profileOwner
      properties:
        profileOwner:
          $ref: '#/components/schemas/ProfileOwner'
        isSaved:
          type: boolean
          description: "A boolean flag to show if ad-hoc traveler is visible in search. While updating the user \nif client tries to update this field, it will throw exception.\n"
          default: false
    PaginationResponseParams:
      type: object
      title: PaginationResponseParams
      description: Pagination parameters for response.
      required:
      - numResults
      - numPages
      properties:
        numResults:
          type: integer
          format: int32
          description: Total number of results in the paginated list.
        numPages:
          type: integer
          format: int32
          description: Total number of pages in the paginated list.
    PolicyPreventBookingAction:
      type: object
      title: PolicyPreventBookingAction
      description: Whether to allow booking if a rule is violated.
      properties:
        prevent:
          type: boolean
          description: True if booking is to be blocked if rule is violated, else false
        reason:
          type: string
          description: Reason describing why was that specific itinerary not allowed to book.
    CustomFieldMatchConditions:
      type: object
      title: CustomFieldMatchConditions
      description: Conditions to select the custom field for given context.
      properties:
        travelerConditions:
          $ref: '#/components/schemas/TravelerMatchConditions'
        travelTypes:
          type: array
          description: Travel types to match.
          items:
            $ref: '#/components/schemas/TravelType'
        travelRegionTypes:
          type: array
          description: Travel region types to match.
          items:
            $ref: '#/components/schemas/TravelRegionType'
        tripUsageTypes:
          type: array
          description: Trip usage types to match. If empty, all trip usage types will be matched.
          items:
            $ref: '#/components/schemas/TripUsageType'
    BeverageAmenity:
      type: object
      title: BeverageAmenity
      description: Beverage amenity option properties.
      properties:
        displayText:
          type: string
          example: Premium alcohol beverages provided
        beverageType:
          type: string
          example: premium alcoholic
        alcoholCost:
          type: string
          example: free
    AdditionalInfo:
      type: object
      title: AdditionalInfo
      description: Additional data need to be sent along with the custom field response.
      discriminator:
        propertyName: type
        mapping:
          VARIABLE: '#/components/schemas/Variable'
          EXPRESSION: '#/components/schemas/Expression'
      oneOf:
      - $ref: '#/components/schemas/Variable'
      - $ref: '#/components/schemas/Expression'
    AirlineInfo:
      title: AirlineInfo
      type: object
      required:
      - airlineCode
      - airlineName
      properties:
        airlineCode:
          type: string
          description: IATA code for airline.
          example: AA
        airlineName:
          type: string
          description: Airline name
          example: American Airlines
    VendorProgramType:
      type: string
      description: The type of the vendor program
      enum:
      - UA_PASS_PLUS
      - GENERIC_PROGRAM_TYPE
    TripMetadata:
      title: TripMetadata
      description: Metadata for the trip
      type: object
      properties:
        hasTripOverride:
          type: boolean
          description: Indicates if the trip has any profile overrides.
          example: true
        preferredCurrency:
          type: string
          description: The currency to be used for the trip.
          example: USD
        tripContacts:
          type: array
          items:
            $ref: '#/components/schemas/TripContact'
        tripCommunicationPreferences:
          $ref: '#/components/schemas/TripCommunicationPreferences'
    DoubleRangeWrapper:
      type: object
      title: DoubleRangeWrapper
      properties:
        dRange:
          $ref: '#/components/schemas/DoubleRange'
    CarPref:
      type: object
      title: CarPref
      description: Travel preferences related to car.
      properties:
        vendors:
          type: array
          description: A list of car vendors.
          items:
            $ref: '#/components/schemas/CarVendor'
        carTypes:
          type: array
          description: A list of types of car.
          items:
            $ref: '#/components/schemas/CarType'
        engineTypes:
          type: array
          description: A list of types of engine.
          items:
            $ref: '#/components/schemas/EngineType'
        transmissionTypes:
          type: array
          description: A list of types of transmission.
          items:
            $ref: '#/components/schemas/TransmissionSearchFilter'
        conditionalRates:
          type: array
          description: A list of conditional rates for rail.
          items:
            $ref: '#/components/schemas/ConditionalRate'
    FareRules:
      type: object
      description: The rules and restrictions associated with the fare.
      properties:
        baggagePolicy:
          $ref: '#/components/schemas/BaggagePolicy'
        cancellationPolicy:
          $ref: '#/components/schemas/CancellationPolicy2'
        postDepartureCancellationPolicy:
          description: Information about the post departure cancellation policy.
          $ref: '#/components/schemas/CancellationPolicy2'
        exchangePolicy:
          $ref: '#/components/schemas/ExchangePolicy'
        postDepartureExchangePolicy:
          description: Information about the post departure exchange policy.
          $ref: '#/components/schemas/ExchangePolicy'
        seatSelectionPolicy:
          $ref: '#/components/schemas/SeatSelectionRule'
        boardingPolicy:
          $ref: '#/components/schemas/BoardingPolicy'
        checkInPolicy:
          $ref: '#/components/schemas/CheckInPolicy'
        loungePolicy:
          $ref: '#/components/schemas/LoungePolicy'
        seatType:
          $ref: '#/components/schemas/SeatTypeInfo'
    CovidTestingAmenity:
      type: object
      title: CovidTestingAmenity
      description: Covid testing amenity properties.
      properties:
        displayText:
          type: string
          example: No COVID-19 test required
        covidTestingDescription:
          type: string
          example: A negative COVID-19 test is not required for this flight; check with the airline for possible destination requirements or other restrictions.
        covidTestingAttrDescription:
          type: string
    TaxBreakdown:
      type: array
      items:
        $ref: '#/components/schemas/Tax'
    PercentageWrapper:
      type: object
      title: PercentageWrapper
      properties:
        percentage:
          type: number
          format: double
    CompanyConfigSourceWrapper:
      type: object
      title: CompanyConfigSourceWrapper
      description: Wrapper for option source company config.
      properties:
        companyConfig:
          $ref: '#/components/schemas/CompanyConfigSource'
    ApprovalDetail:
      type: object
      title: ApprovalDetail
      description: Policy
      properties:
        originalApprovalType:
          $ref: '#/components/schemas/ApprovalType'
        appliedApprovalType:
          $ref: '#/components/schemas/ApprovalType'
    BoardingPolicy:
      type: object
      description: Priority boarding information.
      required:
      - description
      properties:
        description:
          type: string
          description: Text describing the priority boarding policy.
          example: Priority boarding provided for free
    KnownTravelerNumber:
      type: object
      title: KnownTravelerNumber
      description: Information about the Known Traveler Number (KTN).
      required:
      - number
      - issueCountry
      properties:
        number:
          type: string
          example: '12345'
          x-pii: IDENTIFIER
        issueCountry:
          type: string
          example: US
    PassengerCapacityAmenity:
      type: object
      title: PassengerCapacityAmenity
      description: Passenger capacity amenity properties.
      properties:
        displayText:
          type: string
          example: Standard passenger capacity
        passengerCapacityDescription:
          type: string
          example: Ticket sales are not limited for this flight
        passengerCapacityAttrDescription:
          type: string
          example: 'no'
    Tax:
      type: object
      title: Tax
      description: Tax details
      required:
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/Money'
          description: Tax amount
        taxCode:
          type: string
          description: Tax code
          example: VAT
        percentage:
          type: number
          format: double
          description: Tax amount to total amount
          example: 9
    AirRestrictedFaresParamsWrapper:
      type: object
      title: AirRestrictedFaresParamsWrapper
      properties:
        airRestrictedFaresParams:
          $ref: '#/components/schemas/AirRestrictedFaresParams'
    AnswerPair:
      type: object
      properties:
        item:
          type: string
          description: The option selected from the list of available choices.
        value:
          type: string
          description: The additional input provided (by the user) while selecting one of the options.
        description:
          type: string
          description: Description of the selected option.
    Department:
      type: object
      title: Department
      description: Department details.
      required:
      - id
      - name
      properties:
        id:
          $ref: '#/components/schemas/DepartmentId'
        name:
          type: string
          example: IT Department
        externalId:
          type: string
          description: External id of the department
          example: department-ext-id
        employeeCount:
          type: integer
          format: int32
          description: Count of employees in the department
          example: 57
    NumStopsPref:
      type: object
      title: NumStopsPref
      description: Preferred number of stops.
      required:
      - numOfStops
      properties:
        numOfStops:
          type: integer
          format: int64
          example: 34
    MaskAmenityWrapper:
      type: object
      title: MaskAmenityWrapper
      properties:
        maskAmenity:
          $ref: '#/components/schemas/MaskAmenity'
    PreferredLocationLabel:
      type: string
      title: PreferredLocationLabel
      description: The label of preferred airport or rail station.
      enum:
      - HOME
      - WORK
      - OTHER
      example: HOME
    POSInfo:
      type: object
      description: Point of sale information
      required:
      - source
      properties:
        source:
          description: The third party source for the point of sale
          $ref: '#/components/schemas/ThirdPartySource'
        posDescriptor:
          type: string
          description: The identifier for the point of sale. This would be the PCC for GDS bookings.
          example: 6CA4
    ItemType:
      type: string
      description: Type of payment item eligible for this fop rule
      enum:
      - SERVICE_FEE
      - TRAVEL_TICKET
      - SEAT
      - BAGGAGE
      - EARLY_BIRD
      example: SEAT
    EmailBucketType:
      type: string
      title: EmailBucketType
      description: Email bucket type.
      enum:
      - BOOKING_CONFIRMATIONS
      - BOOKING_CHANGES
      - FLIGHT_UPDATES
      - APPROVAL_REQUESTS
      - APPROVAL_UPDATES
      - REMINDERS
      - INVOICE_UPDATES
      x-ignoreBreakingChanges:
      - EmailBucketType->INVOICE_UPDATES
      example: BOOKING_CONFIRMATIONS
    PreferredRailStation:
      type: object
      title: PreferredRailStation
      description: Rail station preferred by traveler.
      required:
      - stationCode
      - label
      properties:
        stationName:
          type: string
          description: Rail station name.
          example: Chicago Union Station
        stationCode:
          type: string
          description: Rail station code.
          example: CHI
        cityName:
          type: string
          description: Name of city where the rail station is located.
          example: Chicago
        countryCode:
          type: string
          description: Alpha-2 country code where the rail station is located.
        label:
          $ref: '#/components/schemas/PreferredLocationLabel'
    LegalEntityId:
      type: object
      title: LegalEntityId
      description: The ID of the legal entity.
      required:
      - id
      properties:
        id:
          type: string
          example: fc1ccbce-8413-4fe9-b233-a324dfbe7421
    Variable:
      type: object
      title: Variable
      description: Variable defining the additional value to be sent along with custom field response.
      required:
      - type
      - name
      properties:
        type:
          type: string
          example: VARIABLE
          default: VARIABLE
        name:
          $ref: '#/components/schemas/VariableName'
    PnrSummary:
      type: object
      title: PnrSummary
      description: Basic PNR info
      required:
      - pnrId
      properties:
        pnrId:
          type: string
          description: Spotnana PNR Id
          example: '1234567890'
        sourcePnrId:
          type: string
          description: Source PNR Id
          example: QWERGF
        pnrStatus:
          $ref: '#/components/schemas/PnrStatus'
        pnrSummary:
          $ref: '#/components/schemas/PnrSummaryWrapper'
        userFacingStatus:
          $ref: '#/components/schemas/UserFacingStatus'
        tmcInfo:
          $ref: '#/components/schemas/TmcInfo'
        source:
          $ref: '#/components/schemas/ThirdPartySource'
          description: Source of the booking e.g. Sabre, NDC etc.
        travelers:
          type: array
          items:
            $ref: '#/components/schemas/Traveler'
        pnrType:
          $ref: '#/components/schemas/PnrType'
        approvalData:
          $ref: '#/components/schemas/ApprovalData'
        policyInfo:
          $ref: '#/components/schemas/PolicyDetail'
        additionalMetadata:
          type: object
          description: Any addtional metadata associated with the booking
          properties:
            airportInfo:
              type: array
              readOnly: true
              items:
                $ref: '#/components/schemas/AirportDetail'
        preBookAnswers:
          description: The per booking answers collected from the traveler during checkout.
          $ref: '#/components/schemas/PreBookAnswers'
        initialCustomFieldV3Responses:
          type: array
          description: List of all the Custom Fields responses captured while booking.
          items:
            $ref: '#/components/schemas/CustomFieldV3Response'
    Int32RangeWrapper:
      type: object
      title: Int32RangeWrapper
      properties:
        iRange:
          $ref: '#/components/schemas/Int32Range'
    HotelBrand:
      type: object
      title: HotelBrand
      description: The brand of hotel.
      properties:
        brandCode:
          type: string
          description: The code of hotel brand.
          example: HY
        brandName:
          type: string
          description: The name of hotel brand.
          example: Global Hytt Corp.
    FareComponent:
      type: string
      description: Fare component eligible for this fop rule
      enum:
      - BASE
      - TAX
      example: BASE
    PolicyTakeApprovalActionWrapper:
      type: object
      title: PolicyTakeApprovalActionWrapper
      properties:
        takeApproval:
          $ref: '#/components/schemas/PolicyTakeApprovalAction'
    FlightCommonWrapper:
      title: FlightCommonWrapper
      description: Wrapper of FlightCommon data to be used in oneOf.
      properties:
        flightData:
          $ref: '#/components/schemas/FlightCommon'
    Office:
      type: object
      title: Office
      description: Office details.
      required:
      - id
      - name
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
        id:
          $ref: '#/components/schemas/OfficeId'
        name:
          type: string
          example: Office
        latlng:
          $ref: '#/components/schemas/Latlng'
        taxId:
          type: string
          example: '133232'
    TokenizedExpiry:
      title: TokenizedExpiry
      type: object
      description: Contains the tokenized expiry of a Card.
      required:
      - expiryMonth
      - expiryYear
      properties:
        expiryMonth:
          type: string
          description: Tokenized Expiry month
          example: KvAuPANQWCpjwRQxcC8EXg==
        expiryYear:
          type: string
          description: Tokenized Expiry year
          example: fPBm0OWrKwPyIrCVcbg4cA==
    RatingWrapper:
      type: object
      title: RatingWrapper
      properties:
        rating:
          type: number
          format: double
    PassportWrapper:
      type: object
      title: PassportWrapper
      properties:
        passport:
          $ref: '#/components/schemas/Passport'
    FlightDetail:
      type: object
      description: Describes the details of a flight segment (including the origin, destination, cabin, etc).
      required:
      - id
      - cabin
      properties:
        id:
          type: string
          description: The unique ID for this flight in the itinerary.
          example: flight_0
        flightData:
          $ref: '#/components/schemas/FlightData'
        cabin:
          description: The cabin type for this flight in the associated itinerary
          $ref: '#/components/schemas/Cabin'
        bookingCode:
          type: string
          description: The airline's one-letter code for the associated fare
          example: B
        seatAvailability:
          type: integer
          format: int32
          description: The availability of seats on this flight
          example: 9
        corpAccountCode:
          type: string
          description: The account code is used to get corporate negotiated price
          example: DFG
        carbonEmission:
          description: The CO2 emission details for this flight
          $ref: '#/components/schemas/CO2EmissionDetail'
        amenities:
          description: The amenities associated with the flight.
          type: array
          items:
            $ref: '#/components/schemas/AirAmenity'
        flightAttributes:
          description: The set of product attributes associated with the flight.
          type: array
          items:
            $ref: '#/components/schemas/FlightAttribute'
        fareBasisCode:
          description: The fare basis code contains information about the fare.
          type: string
          example: QUAJZNB3
    RailCard:
      type: object
      title: RailCard
      description: Rail card
      required:
      - name
      - spotnanaCode
      - vendor
      properties:
        cardNumber:
          type: string
          description: Number of card
        expiryDate:
          description: Expiry date of the Rail Card.
          $ref: '#/components/schemas/DateModel'
        name:
          type: string
          description: Name of the Rail Card.
          example: Veterans Railcard
        spotnanaCode:
          description: Unique Spotnana code/identifier for Rail Card.
          type: string
          example: VET
        vendor:
          type: string
          description: Vendor Name.
          example: ATOC
    CostCenterId:
      type: object
      title: Cost center id.
      required:
      - id
      properties:
        id:
          type: string
          example: 731ccbca-0415-6fe1-d235-c324dfbe7423
    TmcBasicInfo:
      type: object
      title: TmcBasicInfo
      description: TMC related basic information.
      required:
      - contractingTmc
      - bookingTmc
      properties:
        contractingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Contracting TMC is the TMC the user/organization contracted.
        bookingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Booking TMC is the TMC used for the bookings for the user/organization.
    PassengerCapacityAmenityWrapper:
      type: object
      title: PassengerCapacityAmenityWrapper
      properties:
        passengerCapacityAmenity:
          $ref: '#/components/schemas/PassengerCapacityAmenity'
    PreBookAnswers:
      type: object
      properties:
        answers:
          type: array
          items:
            $ref: '#/components/schemas/EntityAnswer'
        preBookQuestionResponseId:
          deprecated: true
          x-sunset: '2026-07-01'
          type: string
          description: The unique id sent back in the pre book questions API response
    FlightPassPaymentMetadataWrapper:
      type: object
      title: FlightPassPaymentMetadataWrapper
      description: Wrapper for Flight Pass payment metadata.
      required:
      - flightPassMetadata
      properties:
        metadataType:
          type: string
          description: Discriminator field for polymorphic deserialization
          example: FlightPassPaymentMetadata
          default: FlightPassPaymentMetadata
        flightPassMetadata:
          $ref: '#/components/schemas/FlightPassPaymentMetadata'
    SeatAmenityPref:
      type: object
      title: SeatAmenityPref
      description: Seat amenity preference.
      required:
      - seatAmenityTypes
      properties:
        seatAmenityTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_AIR_SEAT_AMENITY_TYPE
            - FLAT_BED
            - WIFI
            - IN_SEAT_POWER
            example: WIFI
    EntityAnswer:
      type: object
      properties:
        entityId:
          type: string
          description: The unique ID for the question.
        userInput:
          type: string
          description: The text input given by user (if any).
        itemIds:
          type: array
          items:
            type: integer
            format: int32
          description: 'The id/enum value corresponding to the option chosen by the user as

            answer.

            '
        answers:
          type: array
          items:
            $ref: '#/components/schemas/AnswerPair'
        customFieldType:
          $ref: '#/components/schemas/CustomFieldType'
        questionDisplayText:
          type: string
          description: The question text to be displayed to the user.
        question:
          $ref: '#/components/schemas/Question'
    ApprovalTripIdFilter:
      type: object
      title: ApprovalTripIdFilter
      description: Trip IDs for the approval data list request.
      required:
      - filterType
      - tripIds
      properties:
        filterType:
          type: string
          example: TRIP_ID_FILTER
        tripIds:
          type: array
          description: Trip ID list
          items:
            type: string
            example: '6926658168'
    OptionSourceMetadata:
      type: object
      title: OptionSourceMetadata
      description: Metadata information for the option source.
      oneOf:
      - $ref: '#/components/schemas/CompanyConfigSourceWrapper'
    PnrTypeFilterV2:
      type: object
      title: PnrTypeFilterV2
      description: Booking/PNR type filter for the approval data list request.
      required:
      - filterType
      - pnrTypes
      properties:
        filterType:
          type: string
          example: PNR_TYPE_FILTER
        pnrTypes:
          type: array
          description: PNR type list
          items:
            $ref: '#/components/schemas/PnrType'
    ExpiryWrapper:
      type: object
      title: ExpiryWrapper
      properties:
        expiry:
          $ref: '#/components/schemas/Expiry'
    DoubleRange:
      type: object
      properties:
        min:
          type: number
          format: double
          description: Minimum value - inclusive.
        max:
          type: number
          format: double
          description: Maximum value - inclusive.
    MealPref:
      type: object
      title: MealPref
      description: Meal preferences.
      properties:
        exclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        inclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        specialMealDescription:
          type: string
          example: Veg only meal
    LengthWrapper:
      type: object
      title: LengthWrapper
      properties:
        length:
          $ref: '#/components/schemas/Length'
    UserOrgId:
      type: object
      title: UserOrgId
      description: User and user's organization information.
      required:
      - userId
      - organizationId
      properties:
        organizationAgencyId:
          $ref: '#/components/schemas/OrganizationAgencyId'
        organizationId:
          $ref: '#/components/schemas/OrganizationId'
        userId:
          $ref: '#/components/schemas/UserId'
        tmcInfo:
          $ref: '#/components/schemas/TmcInfo'
          deprecated: true
          x-sunset: '2026-07-01'
        tmcBasicInfo:
          $ref: '#/components/schemas/TmcBasicInfo'
    MealType:
      type: string
      title: MealType
      description: Type of the meal
      enum:
      - UNKNOWN_MEAL
      - AVML
      - BBML
      - BLML
      - CHML
      - DBML
      - FPML
      - GFML
      - HFML
      - HNML
      - KSML
      - LCML
      - LFML
      - LPML
      - LSML
      - MOML
      - NLML
      - NSML
      - ORML
      - PFML
      - RVML
      - SFML
      - SPML
      - VGML
      - VJML
      - VLML
      - VOML
      example: VGML
    UserOrgIdListWrapper:
      type: object
      title: UserOrgIdListWrapper
      properties:
        userOrgIdList:
          type: array
          items:
            $ref: '#/components/schemas/UserOrgId'
    AirPref:
      type: object
      title: AirPref
      description: Travel preferences related to air travel.
      properties:
        airlinePrefs:
          type: array
          items:
            $ref: '#/components/schemas/AirlinePref'
        alliancePref:
          $ref: '#/components/schemas/AlliancePref'
        farePref:
          $ref: '#/components/schemas/FarePref'
        homeAirport:
          type: string
          example: NEW YORK
        mealPref:
          $ref: '#/components/schemas/MealPref'
        numStopPref:
          $ref: '#/components/schemas/NumStopsPref'
        seatAmenityPref:
          $ref: '#/components/schemas/SeatAmenityPref'
        seatLocationPrefs:
          type: array
          items:
            $ref: '#/components/schemas/SeatLocationPref'
        preferredAirports:
          type: array
          description: A list of user preferred airports.
          items:
            $ref: '#/components/schemas/PreferredAirport'
    WeightLimit:
      description: The weight limit of a baggage option.
      type: object
      properties:
        weight:
          description: The weight limit of a baggage option.
          type: number
          example: 32
        unit:
          description: The unit of measurement for the weight limit.
          type: string
          enum:
          - lb
          - kg
          example: kg
          x-ignoreBreakingChanges:
          - unit->KG
          - unit->LBS
    CreditCardAccess:
      type: object
      title: CreditCardAccess
      description: Access type for cards to check who in the organization has permission to use it
      required:
      - accessType
      - entityIds
      properties:
        accessType:
          $ref: '#/components/schemas/CreditCardAccessType'
        entityIds:
          type: array
          items:
            type: string
          description: Holds the ids for for all users who can access the card or organization id
        entities:
          type: array
          description: A list of cardAccessEntity consisting of central card access level if present and entity id.
          items:
            $ref: '#/components/schemas/CardAccessEntity'
    PaymentMethod:
      type: string
      description: Payment method
      enum:
      - PAYMENT_METHOD_UNKNOWN
      - CREDIT_CARD
      - BREX_POINTS
      - CASH
      - QANTAS_POINTS
      - VENDOR_PROGRAM_PAYMENT
      - DELAYED_INVOICING
      - FLIGHT_CREDITS
      - QANTAS_TRAVEL_FUND
      - CUSTOM_VIRTUAL_PAYMENT
      - FLIGHT_PASS
      - MISCELLANEOUS_CREDIT_ORDER
      - NO_PREPAYMENT
      x-ignoreBreakingChanges:
      - PaymentMethod->MISCELLANEOUS_CREDIT_ORDER
      - PaymentMethod->NO_PREPAYMENT
      example: BREX_POINTS
    SupplierType:
      type: string
      description: Supplier type like Sabre, TravelFusion etc.
      enum:
      - SABRE
      - AMADEUS
      - TRAVEL_FUSION
      - FARELOGIX_NDC
      - ATPCO_NDC
      - TRAINLINE
      - AVIA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - NDC
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - NATIONAL
      - ALAMO
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      - EUROSTAR
      - AVIS
      - BUDGET
      x-ignoreBreakingChanges:
      - SupplierType->PREMIER_INN
      example: SABRE
    ApproverUserIdFilter:
      type: object
      title: ApproverUserIdFilter
      description: User IDs to filter approval data list. It is applicable only to company approval data list.
      required:
      - filterType
      - userIds
      properties:
        filterType:
          type: string
          example: APPROVER_USER_ID_FILTER
        userIds:
          type: array
          description: List of user IDs
          items:
            $ref: '#/components/schemas/UserId'
    ThirdPartySource:
      type: string
      enum:
      - UNKNOWN_SOURCE
      - SABRE
      - TRAVEL_FUSION
      - AVIA
      - NDC
      - TRAINLINE
      - ATPCO_NDC
      - FARELOGIX_NDC
      - OFFLINE
      - CONNEXUS
      - ROUTEHAPPY
      - AMADEUS
      - GIATA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - EUROSTAR
      - NATIONAL
      - ALAMO
      - AVIS
      - BUDGET
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      x-ignoreBreakingChanges:
      - ThirdPartySource->BOOKING_COM
      - ThirdPartySource->CARTRAWLER
      - ThirdPartySource->PREMIER_INN
      example: SABRE
    HotelPrefAmenity:
      type: string
      description: Preferred hotel amenity.
      enum:
      - PARKING
      - FREE_PARKING
      - FREE_BREAKFAST
      - POOL
      - WIFI
      - FITNESS_CENTER
      - FAMILY_FRIENDLY
      - RECEPTION
      - SPA
      - RESTAURANT
      - BAR
      - TRANSPORTATION
      - PET_FRIENDLY
      - BUSINESS_CENTER
      - AIR_CONDITIONING
      - BEACH_ACCESS
      - LAUNDRY_SERVICES
      - ROOM_SERVICE
      - ACCESSIBLE
    CarType:
      type: string
      title: CarType
      description: Car type.
      enum:
      - OTHER
      - MINI
      - ECONOMY
      - COMPACT
      - MID_SIZE
      - STANDARD
      - FULL_SIZE
      - PREMIUM
      - LUXURY
      - CONVERTIBLE
      - MINIVAN
      - SUV
      - VAN
      - PICKUP
      - SPORTS
      - SPECIAL
      - RECREATIONAL_VEHICLE
      - WAGON
      example: ECONOMY
    Int64Wrapper:
      type: object
      title: Int64Wrapper
      properties:
        l:
          type: integer
          format: int64
    AirAmenity:
      type: object
      title: AirAmenity
      oneOf:
      - $ref: '#/components/schemas/SeatAmenityWrapper'
      - $ref: '#/components/schemas/WifiAmenityWrapper'
      - $ref: '#/components/schemas/PowerAmenityWrapper'
      - $ref: '#/components/schemas/EntertainmentAmenityWrapper'
      - $ref: '#/components/schemas/BeverageAmenityWrapper'
      - $ref: '#/components/schemas/AircraftAmenityWrapper'
      - $ref: '#/components/schemas/LayoutAmenityWrapper'
      - $ref: '#/components/schemas/FreshFoodAmenityWrapper'
      - $ref: '#/components/schemas/CleaningAmenityWrapper'
      - $ref: '#/components/schemas/MaskAmenityWrapper'
      - $ref: '#/components/schemas/TemperatureAmenityWrapper'
      - $ref: '#/components/schemas/PassengerCapacityAmenityWrapper'
      - $ref: '#/components/schemas/BlockedAdjacentSeatsAmenityWrapper'
      - $ref: '#/components/schemas/CovidTestingAmenityWrapper'
      - $ref: '#/components/schemas/VaccineAmenityWrapper'
    BlockedAdjacentSeatsAmenity:
      type: object
      title: BlockedAdjacentSeatsAmenity
      description: Passenger Capacity Amenity properties
      properties:
        displayText:
          type: string
          example: No blocked adjacent seats
        blockedAdjacentSeatsDescription:
          type: string
          example: Adjacent seats are not blocked on this flight
        blockedAdjacentSeatsAttrDescription:
          type: string
          example: 'no'
    Int32Range:
      type: object
      properties:
        min:
          type: integer
          format: int32
          description: Minimum value - inclusive.
        max:
          type: integer
          format: int32
          description: Maximum value - inclusive.
    FlightNumber:
      title: FlightNumber
      description: Flight number and airline code.
      required:
      - airlineCode
      - num
      properties:
        num:
          type: string
          description: Flight number.
          example: '321'
        airlineCode:
          type: string
          description: Two-letter IATA airline code.
          example: AA
    PnrPolicyInfo:
      title: PnrPolicyInfo
      description: Policy Info applicable for the associated itinerary
      type: object
      properties:
        policies:
          type: array
          description: List of policies applied to the itinerary.
          items:
            $ref: '#/components/schemas/PnrPolicyId'
        ruleResultInfos:
          type: array
          items:
            $ref: '#/components/schemas/PolicyRuleResultInfo'
    AirportDetail:
      title: AirportDetail
      description: Detailed information about the airport.
      type: object
      required:
      - airportCode
      - airportName
      properties:
        airportCode:
          type: string
          description: 3-letter code of the airport.
          example: WRA
        airportName:
          type: string
          description: Full name of the airport.
          example: Warder Airport
        cityName:
          type: string
          description: Name of the city in which the airport is located (or is nearest to).
          example: Werder
        countryName:
          type: string
          description: Name of the country in which the airport is located.
          example: Ethiopia
        countryCode:
          type: string
          description: 2-letter IATA country code associated with the airport.
          example: ET
        zoneName:
          type: string
          description: Name of the time zone associated with the airport.
          example: Africa/Addis_Ababa
        stateCode:
          type: string
          description: 2-letter IATA code for the state in which the airport is located.
          example: CA
    AccessType:
      type: string
      description: Access Type of the Payment Source being created.
      enum:
      - CENTRALISED
      - PERSONAL
      - APPLICATION
      - TMC
      - ITINERARY
      - EVENT
      - EVENT_TEMPLATE
      example: CENTRALISED
      x-ignoreBreakingChanges:
      - AccessType->EVENT_TEMPLATE
    Dimensions:
      type: object
      title: Dimensions
      description: Image dimensions ie width and height.
      properties:
        height:
          type: integer
          format: int32
          example: 120
        width:
          type: integer
          format: int32
          example: 240
    PolicySplitPaymentActionWrapper:
      type: object
      title: PolicySplitPaymentActionWrapper
      properties:
        splitPayment:
          $ref: '#/components/schemas/SplitPayment'
    OutOfPolicyFilter:
      type: object
      title: OutOfPolicyFilter
      description: Filter to get out of policy approval data.
      required:
      - filterType
      - outOfPolicy
      properties:
        filterType:
          type: string
          example: OUT_OF_POLICY_FILTER
        outOfPolicy:
          type: boolean
          description: Out of policy indicator
          example: true
    FlightRefWrapper:
      title: FlightRefWrapper
      description: Wrapper of flight reference to be used in oneOf.
      properties:
        flightRef:
          $ref: '#/components/schemas/FlightRef'
    DoubleListWrapper:
      type: object
      title: DoubleListWrapper
      properties:
        dList:
          type: array
          items:
            type: number
            format: double
    PolicyPredicate:
      type: string
      description: This contains the enum mentioning the policy rule which was violated.
      enum:
      - UNKNOWN_PREDICATE_STRING
      - MAX_FARE_PER_TRAVELLER_VIOLATION
      - FARE_MORE_THAN_MINIMUM
      - FARE_MORE_THAN_MEDIAN
      - FARE_LESS_THAN_MEDIAN
      - FARE_MORE_THAN_LLF
      - MAX_FARE_PER_TRAVELLER_VIOLATION_INCLUDING_TAX
      - MAX_FARE_PER_TRAVELLER_VIOLATION_EXCLUDING_TAX
      - HOTEL_PAYMENT_OPTIONS_VIOLATION
      - RAIL_BOOKING_WINDOW_GAP_VIOLATION
      - RAIL_TRAVEL_CLASS_VIOLATION
      - RAIL_TICKET_REFUNDABLE_VIOLATION
      - RAIL_MAX_BOOKING_PRICE_VIOLATION_INCLUDING_TAX
      - RAIL_MAX_BOOKING_PRICE_VIOLATION_EXCLUDING_TAX
      - AIR_MAX_PRICE_MORE_THAN_LLF_VIOLATION_INCLUDING_TAX
      - AIR_MAX_PRICE_MORE_THAN_LLF_VIOLATION_EXCLUDING_TAX
      - HOTEL_RESTRICTED_KEYWORDS_VIOLATION
      - RESTRICTED_LOCATION_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_DOMESTIC_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_INTERNATIONAL_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_VIOLATION
      - ITINERARY_WITHIN_EVENT_TRAVEL_WINDOW
      - HOTEL_IN_ALLOWED_HOTEL_LIST
      - PAYMENT_ACCESS_VIOLATION
      - AIRPORT_IN_ALLOWED_AIRPORT_LIST
      - ITINERARY_TYPE_IS_NOT_IN_ALLOWED_BOOKING_TYPES
      - PAYMENT_AIR_ADDON_VIOLATION
      - MAX_HOTEL_BOOKING_PRICE_INCLUDING_TAX
      - MAX_HOTEL_BOOKING_PRICE_EXCLUDING_TAX
      - AIR_NUM_TRAVELERS_ALLOWED
      - PREFERRED_VENDOR_VIOLATION
      - SEAT_ADDON_VIOLATION
      - BAGGAGE_ADDON_VIOLATION
      - EARLY_BIRD_ADDON_VIOLATION
      - WIFI_ADDON_VIOLATION
      - RESTRICTED_BOOKING_VIOLATION
      - HIGHEST_ALLOWED_CABIN_VIOLATION
      - LOWEST_FARE_PER_HOTEL_PROPERTY_VIOLATION
      - AIR_RESTRICTED_FARES_VIOLATION
      - AIR_ANCILLARY_VIOLATION
      x-ignoreBreakingChanges:
      - PolicyPredicate->LOWEST_FARE_PER_HOTEL_PROPERTY_VIOLATION
      - PolicyPredicate->AIR_RESTRICTED_FARES_VIOLATION
      - PolicyPredicate->AIR_ANCILLARY_VIOLATION
    PaymentSourceCondition:
      type: object
      title: PaymentSourceCondition
      description: The payment source fop condition
      discriminator:
        propertyName: type
        mapping:
          CARD: '#/components/schemas/CardCondition'
      oneOf:
      - $ref: '#/components/schemas/CardCondition'
    AirSearchResponse:
      title: AirSearchResponse
      type: object
      description: A list of itineraries with detailed flight information and prices for each.
      required:
      - searchId
      - itineraryDetails
      properties:
        searchId:
          type: string
          description: The unique ID for this search response. This value must be passed on in the subsequent booking API calls.
          example: ChBjZDg3ZjRjZmRmMTFmMWFiEhBjZDg3Z
        itineraryDetails:
          description: The list of itineraries in the search response.
          $ref: '#/components/schemas/ItineraryInfo'
        paginationParams:
          $ref: '#/components/schemas/PaginationResponseParams'
        metadata:
          $ref: '#/components/schemas/AirMetadata'
    EngineType:
      type: string
      title: EngineType
      description: Engine types.
      enum:
      - UNKNOWN_ENGINE
      - PETROL
      - DIESEL
      - ELECTRIC
      - CNG
      - HYBRID
      - HYDROGEN
      - MULTI_FUEL
      - ETHANOL
      example: PETROL
    ApprovalDeadlineDateRangeFilter:
      type: object
      title: ApprovalDeadlineDateRangeFilter
      description: Date range filter for approval deadline for the approval data list request.
      required:
      - filterType
      properties:
        filterType:
          type: string
          example: APPROVAL_DEADLINE_DATE_RANGE_FILTER
        startDate:
          description: Start date for the date range filter
          $ref: '#/components/schemas/DateModel'
        endDate:
          description: End date for the date range filter
          $ref: '#/components/schemas/DateModel'
    CarPnrSummaryWrapper:
      type: object
      title: CarPnrSummaryWrapper
      properties:
        carPnrSummary:
          $ref: '#/components/schemas/CarPnrSummary'
    SeatPref:
      type: object
      title: SeatPref
      description: Preference about seat of rail.
      properties:
        hasAccessibility:
          type: boolean
          description: Whether or not requires assistance for disability.
          default: false
          example: false
        seatTypes:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefType'
        seatLocations:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefLocation'
        deckLevels:
          type: array
          items:
            $ref: '#/components/schemas/DeckLevel'
        seatDirections:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefDirection'
    CancellationPolicy2:
      type: object
      description: Information about the cancellation policy.
      properties:
        description:
          type: string
          description: Text describing the cancellation policy.
          example: Non-refundable
        fee:
          $ref: '#/components/schemas/Money'
        assessmentType:
          $ref: '#/components/schemas/AssessmentType'
          description: Assessment Type
        isCat16:
          type: boolean
          description: Is source cat16
          example: true
        isConditional:
          type: boolean
          description: Is conditional
          example: true
    AircraftAmenity:
      type: object
      title: AircraftAmenity
      description: Aircraft Amenity properties
      properties:
        displayText:
          type: string
          example: 789 (widebody)
        aircraftType:
          type: string
          example: widebody
        aircraftModel:
          type: string
          example: '787'
    AssessmentType:
      type: string
      enum:
      - NEUTRAL
      - BENEFIT
      - RESTRICTION
      - FEE
      example: BENEFIT
    DisabledReason:
      type: string
      description: Reason why the trip is disabled if applicable.
      enum:
      - MAX_BOOKINGS_EXCEEDED
      - TRIP_EXPIRED
    PowerAmenity:
      type: object
      title: PowerAmenity
      description: Power Amenity properties
      properties:
        displayText:
          type: string
          example: Power USB outlets
        powerType:
          type: string
          example: power/usb
        cost:
          type: string
          example: free
        usbPort:
          type: string
          example: 'yes'
        powerOutlet:
          type: string
          example: 'yes'
    FlightPassTax:
      type: object
      title: FlightPassTax
      description: A single tax component of the flight pass fare.
      properties:
        code:
          type: string
          description: Tax code identifier (e.g. GST_HST, QST, OTHER).
          example: GST_HST
        amount:
          description: Tax amount.
          $ref: '#/components/schemas/Money'
    CustomFieldOptionsParam:
      type: string
      title: CustomFieldOptionsParam
      enum:
      - COST_CENTER
      - LEGAL_ENTITY
      - OFFICE
      - DEPARTMENT
      description: Parameter to form options for the custom field.
      example: COST_CENTER
    LoungePolicy:
      type: object
      description: Information about the lounge policy.
      required:
      - description
      properties:
        description:
          type: string
          description: Lounge policy description text (may include whether a fee is charged).
          example: Lounge access for a fee
    PolicyConstValue:
      type: object
      properties:
        displaySuffix:
          type: string
          description: Optional display suffix for the policy const value
      oneOf:
      - $ref: '#/components/schemas/Int32Wrapper'
      - $ref: '#/components/schemas/Int64Wrapper'
      - $ref: '#/components/schemas/StringWrapper'
      - $ref: '#/components/schemas/DoubleWrapper'
      - $ref: '#/components/schemas/BoolWrapper'
      - $ref: '#/components/schemas/IntListWrapper'
      - $ref: '#/components/schemas/DoubleListWrapper'
      - $ref: '#/components/schemas/StringListWrapper'
      - $ref: '#/components/schemas/MoneyWrapper'
      - $ref: '#/components/schemas/LengthWrapper'
      - $ref: '#/components/schemas/PostalAddressWrapper'
      - $ref: '#/components/schemas/UserOrgIdWrapper'
      - $ref: '#/components/schemas/LegalEntityIdWrapper'
      - $ref: '#/components/schemas/OfficeIdWrapper'
      - $ref: '#/components/schemas/UserOrgIdListWrapper'
      - $ref: '#/components/schemas/LegalEntityIdListWrapper'
      - $ref: '#/components/schemas/OfficeIdListWrapper'
      - $ref: '#/components/schemas/RatingWrapper'
      - $ref: '#/components/schemas/PercentageWrapper'
      - $ref: '#/components/schemas/Int32RangeWrapper'
      - $ref: '#/components/schemas/DoubleRangeWrapper'
      - $ref: '#/components/schemas/PersonaWrapper'
      - $ref: '#/components/schemas/PersonaListWrapper'
      - $ref: '#/components/schemas/TravelClassHierarchyWrapper'
      - $ref: '#/components/schemas/KeywordWithReasonListWrapper'
      - $ref: '#/components/schemas/WorkerTypeWrapper'
      - $ref: '#/components/schemas/WorkerTypeListWrapper'
      - $ref: '#/components/schemas/AirRestrictedFaresParamsWrapper'
      x-ignoreBreakingChanges:
      - PolicyConstValue->AirRestrictedFaresParamsWrapper
    RedressNumberWrapper:
      type: object
      title: RedressNumberWrapper
      properties:
        redress:
          $ref: '#/components/schemas/RedressNumber'
    FlightAttribute:
      type: object
      title: FlightAttribute
      description: 'Information about flight product attributes such as marketing descriptions and images for superior retailing

        experience.

        '
      properties:
        description:
          type: string
          description: Marketing description and images associated with the flight attribute.
          example: A fully flat bed
        categories:
          type: array
          description: List of categories in which this flight attribute falls into
          items:
            $ref: '#/components/schemas/FlightAttributeCategory'
        photos:
          type: array
          description: List of images associated with the flight attribute.
          items:
            $ref: '#/components/schemas/ImageGroup'
    SplitAmount:
      type: object
      title: SplitAmount
      description: Payment amount details if slider payment function is non-linear.
      properties:
        amount:
          type: array
          items:
            $ref: '#/components/schemas/Money'
            description: List of split amounts required for slider at checkout.
    NationalDocWrapper:
      type: object
      title: NationalDocWrapper
      properties:
        nationalDoc:
          $ref: '#/components/schemas/NationalDoc'
    AircraftAmenityWrapper:
      type: object
      title: AircraftAmenityWrapper
      properties:
        aircraftAmenity:
          $ref: '#/components/schemas/AircraftAmenity'
    FlightData:
      type: object
      title: FlightData
      oneOf:
      - $ref: '#/components/schemas/FlightRefWrapper'
      - $ref: '#/components/schemas/FlightCommonWrapper'
    TravelerMatchConditions:
      type: object
      title: TravelerMatchConditions
      description: Matching conditions for traveler.
      properties:
        workerTypes:
          type: array
          description: Worker types. Users belonging to any of these would match.
          items:
            $ref: '#/components/schemas/WorkerType'
        countries:
          type: array
          description: Countries.
          items:
            type: string
        legalEntities:
          type: array
          description: Legal entities
          items:
            $ref: '#/components/schemas/Reference'
        departments:
          type: array
          description: Departments
          items:
            $ref: '#/components/schemas/Reference'
        costCenters:
          type: array
          description: Cost centers
          items:
            $ref: '#/components/schemas/Reference'
        offices:
          type: array
          description: Offices
          items:
            $ref: '#/components/schemas/Reference'
    PnrStatus:
      title: PnrStatus
      type: string
      enum:
      - UNKNOWN
      - INITIATED
      - CANCELLED
      - CONFIRMED
      - GROUP_BOOKING_ON_REQUEST
      - WAITLISTED
      - PENDING
      - AIRLINE_UPGRADE
      - WAITLIST_CONFIRMED
      - BOOKING_DENIED_CONTACT_SUPPORT
      - NO_SHOW
      - CONTACT_SUPPORT
      - STATUS_CHANGED_CONTACT_SUPPORT
      - SCHEDULE_CHANGE
      - SEGMENT_REQUEST
      - SCHEDULE_CHANGE_WAITLISTED_BOOKING
      - REQUEST_PENDING
      - WAITLISTED_NOT_CONFIRMED
      - SCHEDULE_CHANGE_NOT_CONFIRMED
      - SCHEDULE_CHANGE_PENDING_STATUS
      - MIS_CONNECTION
      - REQUESTED
      - TICKETED
      - VOIDED
      - CANCELLED_BY_VENDOR
      - CANCELLATION_IN_PROGRESS
      - REINSTATED
      - BOOKING_ON_HOLD
      - AIRLINE_CONTROL
      - MODIFIED
      - PAYMENT_DECLINED
      - INOPERATIVE
      - UNCONFIRMED
      description: Status of PNR
      example: CONFIRMED
    StringListWrapper:
      type: object
      title: StringListWrapper
      properties:
        sList:
          type: array
          items:
            type: string
    Tier:
      type: string
      title: Tier
      description: 'Tier of User.

        Note: In default UI, BASIC is displayed as Standard, and SEAT1A is displayed as VIP.

        '
      enum:
      - BASIC
      - SEAT1A
      x-enum-varnames:
      - BASIC
      - SEAT1A
      example: SEAT1A
      default: BASIC
    PersonaListWrapper:
      type: object
      title: PersonaListWrapper
      properties:
        personaList:
          type: array
          items:
            $ref: '#/components/schemas/Persona'
    MerchantFeeInfo:
      title: MerchantFeeInfo
      description: Describes the merchant fee applicable on the itinerary.
      required:
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/FareAmount'
    TravelerLegInfo:
      title: TravelerLegInfo
      type: object
      description: Per leg information for the associated traveler
      required:
      - travelerId
      properties:
        travelerId:
          type: string
          description: Unique identifier for the traveler in this response
          example: adult_0
        travelerLegFare:
          description: The fare amount for the traveler for a given leg
          $ref: '#/components/schemas/FareAmount'
        fareRules:
          description: Fare rules applicable for the traveler
          $ref: '#/components/schemas/FareRules'
    LimoLegSummary:
      type: object
      title: LimoLegSummary
      description: Limo Leg description
      properties:
        fromDate:
          $ref: '#/components/schemas/DateTimeLocal'
        toDate:
          $ref: '#/components/schemas/DateTimeLocal'
        pickupLocation:
          $ref: '#/components/schemas/CarLocation'
        dropOffLocation:
          $ref: '#/components/schemas/CarLocation'
    RedressNumber:
      type: object
      title: RedressNumber
      description: Redress details
      required:
      - number
      - issueCountry
      properties:
        number:
          type: string
          example: '12345'
          x-pii: IDENTIFIER
        issueCountry:
          type: string
          example: US
    AirLegInfo:
      type: object
      description: 'Describes a leg in the itinerary. Each leg may have multiple flight segments within it, which combined together

        take the traveler from the leg''s origin to its destination.

        '
      required:
      - id
      - flights
      - travelerInfos
      - totalLegFare
      - fareCategory
      properties:
        id:
          type: string
          description: The unique ID for this leg.
          example: leg_0
        flights:
          description: Details of the list of flights present in the leg.
          type: array
          items:
            $ref: '#/components/schemas/FlightDetail'
        travelerInfos:
          description: Details of passenger(s) information for this leg.
          type: array
          items:
            $ref: '#/components/schemas/TravelerLegInfo'
        totalLegFare:
          description: Total cumulative fare for this leg summed across all passengers
          $ref: '#/components/schemas/FareAmount'
        fareCategory:
          description: Fare category of this leg. It describes the cabin class for this flight.
          $ref: '#/components/schemas/FareCategory'
        brandName:
          type: string
          description: The brand name advertised by the airline.
          example: Economy Flex
        brandCode:
          type: string
          description: The brand code assigned by the airline corresponding brandName.
          example: AADOM-MAIN
        validatingAirline:
          type: string
          description: The airline code for the airline which is validating this booking and orchestrating the payment.
          example: AA
        rateType:
          description: Rate or fare type for this leg (for example "public" or "corporate").
          $ref: '#/components/schemas/RateType'
        vendorProgramType:
          $ref: '#/components/schemas/VendorProgramType'
    CostCenter:
      type: object
      title: CostCenter
      description: Cost center details.
      required:
      - id
      - name
      properties:
        id:
          $ref: '#/components/schemas/CostCenterId'
        name:
          type: string
          example: CostCenter
        externalId:
          type: string
          example: external-id
    MaskAmenity:
      type: object
      title: MaskAmenity
      description: Properties associated with the mask amenity.
      properties:
        displayText:
          type: string
          description: The basic text displayed for mask amenity.
          example: Face covering required
        maskDescription:
          type: string
          description: A full description of the mask amenity.
          example: All passengers are required to wear a face covering throughout their journey
        maskAttrDescription:
          type: string
          example: 'yes'
    PolicyAction:
      type: object
      description: Action that is required / done for policy.
      oneOf:
      - $ref: '#/components/schemas/PolicyFlagActionWrapper'
      - $ref: '#/components/schemas/PolicyHideActionWrapper'
      - $ref: '#/components/schemas/PolicyAlertOnSelectionActionWrapper'
      - $ref: '#/components/schemas/PolicyTakeApprovalActionWrapper'
      - $ref: '#/components/schemas/PolicyPreventBookingActionWrapper'
      - $ref: '#/components/schemas/PolicySplitPaymentActionWrapper'
    CentralCardAccessLevel:
      title: CentralCardAccessLevel
      type: string
      description: Identifies at which level central card is applicable, for example organization or legal entity.
      enum:
      - UNKNOWN
      - ORGANIZATION
      - LEGAL_ENTITY
      - TMC
    WorkerTypeWrapper:
      type: object
      title: WorkerTypeWrapper
      properties:
        workerType:
          $ref: '#/components/schemas/WorkerType'
    TravelRegionType:
      type: string
      title: TravelRegionType
      description: Travel region Type
      enum:
      - DOMESTIC
      - INTERNATIONAL
      example: DOMESTIC
    LegSummary:
      type: object
      title: LegSummary
      properties:
        legStatus:
          $ref: '#/components/schemas/UserFacingStatus'
        flights:
          type: array
          items:
            $ref: '#/components/schemas/FlightSummary'
    PolicyTakeApprovalAction:
      type: object
      title: PolicyTakeApprovalAction
      properties:
        numHierarchyLevels:
          type: integer
          format: int32
          description: "How many levels of hierarchy should approval be taken? If it's just immediate manager, \nthis value would be 1. If it's manager and their manager, this would ge 2 and so on.\n"
        positionTitles:
          type: array
          description: "What position in the cost center or department. For eg, any business class upgrade \nmight require VP approval.\n"
          items:
            type: string
        userOrgIds:
          type: array
          description: 'The specific users from whom to take approval. For eg, say for a company, all approvals

            go through Adam.

            '
          items:
            $ref: '#/components/schemas/UserOrgId'
        allRequired:
          type: boolean
          description: "This tells whether all the people above needs to approve or if any of these approve, \nit is sufficient.\n"
        hardApprovalRequired:
          type: boolean
          description: Whether to take soft approval (false) or hard approval (true).
        approvalType:
          $ref: '#/components/schemas/ApprovalType'
          description: Type of approval for the policy.
    BlockedAdjacentSeatsAmenityWrapper:
      type: object
      title: BlockedAdjacentSeatsAmenityWrapper
      properties:
        blockedAdjacentSeatsAmenity:
          $ref: '#/components/schemas/BlockedAdjacentSeatsAmenity'
    FlightSummary:
      title: FlightSummary
      description: Summary of flight
      type: object
      properties:
        origin:
          type: string
          description: 3 letter IATA airport code for origin
          pattern: ^[A-Z]{3}$
          example: SFO
        destination:
          type: string
          description: 3 letter IATA airport code for destination
          pattern: ^[A-Z]{3}$
          example: LHR
        departureDateTime:
          description: Departure date time of flight
          $ref: '#/components/schemas/DateTimeLocal'
        arrivalDateTime:
          description: Arrival date time of flight
          $ref: '#/components/schemas/DateTimeLocal'
        departureGate:
          description: Departure gate and terminal
          $ref: '#/components/schemas/Gate'
        arrivalGate:
          description: Arrival gate and terminal
          $ref: '#/components/schemas/Gate'
        marketing:
          description: Marketing flight number
          $ref: '#/components/schemas/FlightNumber'
        operating:
          description: Operating flight number
          $ref: '#/components/schemas/FlightNumber'
        operatingAirlineName:
          type: string
          description: 'Free text operating airline name that has to be displayed to the user if present

            '
          example: SKYWEST DBA UNITED EXPRESS
        cabin:
          $ref: '#/components/schemas/Cabin'
          description: Flight cabin
    RestrictedKeywordsWithReason:
      type: object
      properties:
        keyword:
          type: string
          description: Restricted keyword
          example: Test Keyword
        reason:
          type: string
          description: Reason for restriction
          example: Test Reason
    DepartmentId:
      type: object
      title: DepartmentId
      description: Department id.
      required:
      - id
      properties:
        id:
          type: string
          example: 631ccbcf-9414-5fe0-c234-b324dfbe7422
    LocationContactInfo:
      type: object
      title: LocationContactInfo
      description: Contact info of the location
      properties:
        phone:
          type: array
          items:
            type: string
            description: Phone number of the location
            example: 123 456-7890
        fax:
          type: array
          items:
            type: string
            description: Fax contact for the location
            example: 123 456-7890
        email:
          type: array
          items:
            type: string
            description: Email address of the location
            example: user@business.com
    Persona:
      type: string
      title: Persona
      description: Persona of the user
      enum:
      - UNKNOWN_PERSONA
      - EMPLOYEE
      - GUEST
      - PERSONAL
      - RELATIVE
      - ADHOC
      example: EMPLOYEE
    PaymentInfo:
      type: object
      title: PaymentInfo
      description: Payment information.
      required:
      - card
      properties:
        applicableTo:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_APPLICABLE_TO
            - AIR
            - HOTEL
            - RAIL
            - CAR
            - SERVICE_FEE
            example: HOTEL
        card:
          $ref: '#/components/schemas/Card'
        accessType:
          $ref: '#/components/schemas/CreditCardAccessType'
        access:
          $ref: '#/components/schemas/CreditCardAccess'
    SeatPrefLocation:
      type: string
      description: The location of seat of the rail.
      enum:
      - AISLE
      - WINDOW
      - SOLO
      example: AISLE
    SplitAmountWrapper:
      type: object
      title: SplitAmountWrapper
      description: Split amount wrapper.
      properties:
        splitAmount:
          $ref: '#/components/schemas/SplitAmount'
    CabinViewFareCategory:
      type: string
      enum:
      - UNKNOWN_CABIN_CATEGORY
      - BASIC
      - ECONOMY
      - PREMIUM_ECONOMY
      - ECONOMY_PLUS
      - BUSINESS
      - FIRST
      default: UNKNOWN_CABIN_CATEGORY
    BagFees:
      type: object
      description: This contains price info for the baggage
      properties:
        fee:
          $ref: '#/components/schemas/Money'
        applicability:
          $ref: '#/components/schemas/BagPolicyApplicability'
    StringWrapper:
      type: object
      title: StringWrapper
      properties:
        s:
          type: string
    IncludeLocation:
      type: string
      title: IncludeLocation
      description: Various traveler notifications (e.g. emails) where the responses to this field should be included.
      enum:
      - BOOKING_CONFIRMATION_EMAILS
      - APPROVAL_EMAILS
      - COMPANY_REPORTS
      - CONSOLIDATED_ITINERARY_EMAILS
      example: APPROVAL_EMAILS
    TicketType:
      type: string
      description: The ticket issuance type for a given itinerary, whether single or multiple
      enum:
      - SINGLE
      - MULTI
      default: SINGLE
    TravelPref:
      type: object
      title: TravelPref
      description: Travel preferences.
      properties:
        airPref:
          $ref: '#/components/schemas/AirPref'
        preferredCurrency:
          type: string
          example: USD
        railCards:
          type: array
          items:
            $ref: '#/components/schemas/RailCard'
        railPref:
          $ref: '#/components/schemas/RailPref'
        carPref:
          $ref: '#/components/schemas/CarPref'
        hotelPref:
          $ref: '#/components/schemas/HotelPref'
    PolicyFlagAction:
      type: object
      title: PolicyFlagAction
      properties:
        message:
          type: string
    HotelPnrSummary:
      type: object
      title: HotelPnrSummary
      description: Summary of Hotel PNR
      properties:
        name:
          type: string
          description: Name of hotel
          example: Marriot
        city:
          type: string
          description: Name of city
          example: Bangalore
        totalAmount:
          $ref: '#/components/schemas/Money'
        fromDate:
          $ref: '#/components/schemas/DateTimeLocal'
        toDate:
          $ref: '#/components/schemas/DateTimeLocal'
        pnrStatus:
          $ref: '#/components/schemas/PnrStatus'
        address:
          $ref: '#/components/schemas/PostalAddress'
    AirPnrSummaryWrapper:
      type: object
      title: AirPnrSummaryWrapper
      properties:
        airPnrSummary:
          $ref: '#/components/schemas/AirPnrSummary'
    CardExpiry:
      title: CardExpiry
      type: object
      description: Contains the expiry of a Card.
      oneOf:
      - $ref: '#/components/schemas/TokenizedExpiryWrapper'
      - $ref: '#/components/schemas/ExpiryWrapper'
    LayoutAmenity:
      type: object
      title: LayoutAmenity
      description: Layout Amenity properties
      properties:
        displayText:
          type: string
          example: 1-2-1 seat layout
        directAisleAccess:
          type: string
          example: 'yes'
    FreshFoodAmenityWrapper:
      type: object
      title: FreshFoodAmenityWrapper
      properties:
        freshFoodAmenity:
          $ref: '#/components/schemas/FreshFoodAmenity'
    OffsetBasedPaginationResponseParams:
      type: object
      title: PaginationResponseParams
      description: Pagination parameters for response.
      required:
      - totalNumResults
      properties:
        totalNumResults:
          type: integer
          format: int32
          description: Total number of results.
    CompanyConfigSource:
      type: object
      title: CompanyConfigSource
      description: For this option source, options would be auto generated based on specified parameter.
      required:
      - optionsParam
      properties:
        optionsParam:
          $ref: '#/components/schemas/CustomFieldOptionsParam'
    SeatSelectionRule:
      type: object
      description: Seat selection rule
      required:
      - description
      properties:
        description:
          type: string
          description: Seat selection policy text
          example: Seat selection for free
    CustomFieldLocation:
      title: CustomFieldLocation
      description: Display the custom fields in all these locations.
      type: string
      enum:
      - POLICY_APPROVAL_EMAIL
      - PNR_EMAIL
      - TRIP_EMAIL
      example: POLICY_APPROVAL_EMAIL
    CustomFieldV3Response:
      type: object
      title: CustomFieldV3Response
      description: Custom field responses.
      required:
      - fieldId
      - armId
      - selectedOptions
      properties:
        fieldId:
          type: string
          format: uuid
          description: Custom field id
        fieldName:
          type: string
          description: Name of the custom field
        armId:
          type: string
          format: uuid
          description: Arm id which is applicable
        includeLocations:
          type: array
          items:
            $ref: '#/components/schemas/IncludeLocation'
        selectedOptions:
          type: array
          description: The list of options that are selected by user or auto populated.
          items:
            $ref: '#/components/schemas/CustomFieldSelectedOption'
    SizeInfo:
      type: object
      description: Information about the baggage size.
      properties:
        length:
          description: The weight limit of a baggage option.
          type: number
          example: 32
        unit:
          description: The unit of measurement for the bag size.
          type: string
          enum:
          - CENTIMETER
          - METER
    DateTimeOffset:
      title: DateTimeOffset
      description: ISO8601 UTC Date Time
      type: object
      required:
      - iso8601
      properties:
        iso8601:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?(Z|([+-](0[0-9]|1[0-4]):([0-5][0-9])))$
          example: 2017-07-21T17:32Z
    DateModel:
      title: Date
      description: Date in ISO 8601 standard.
      type: object
      required:
      - iso8601
      properties:
        iso8601:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
          example: '2017-07-21'
    TmcInfo:
      type: object
      title: TmcInfo
      description: TMC config information.
      required:
      - id
      - primaryServiceProviderTmc
      properties:
        id:
          $ref: '#/components/schemas/CompanyId'
          description: TMC id.
        primaryServiceProviderTmc:
          $ref: '#/components/schemas/PrimaryServiceProviderTmc'
          description: Primary service provider TMC for the TMC.
        secondaryServiceProviderTmcs:
          type: array
          description: Secondary service provider TMCs for the TMC.
          items:
            $ref: '#/components/schemas/SecondaryServiceProviderTmc'
        partnerTmcId:
          $ref: '#/components/schemas/CompanyId'
          description: Useful to identify the clients onboarded by a PARTNER_TMC
    RailPnrSummaryWrapper:
      type: object
      title: RailPnrSummaryWrapper
      properties:
        railPnrSummary:
          $ref: '#/components/schemas/RailPnrSummary'
    LayoutAmenityWrapper:
      type: object
      title: LayoutAmenityWrapper
      properties:
        layoutAmenity:
          $ref: '#/components/schemas/LayoutAmenity'
    CovidTestingAmenityWrapper:
      type: object
      title: CovidTestingAmenityWrapper
      properties:
        covidTestingAmenity:
          $ref: '#/components/schemas/CovidTestingAmenity'
    OwnershipLabel:
      title: OwnershipLabel
      type: string
      description: Ownership label of the card whether it is personal, corporate or central.
      enum:
      - CORPORATE
      - PERSONAL
      - CENTRAL
    HotelChain:
      type: object
      title: HotelChain
      description: The chain of hotel.
      properties:
        chainCode:
          type: string
          description: The code of hotel chain.
          example: EM
        chainName:
          type: string
          description: The name of hotel chain.
          example: Mariott
    FarePref:
      type: object
      title: FarePref
      description: Fare preferences.
      required:
      - fareTypes
      properties:
        fareTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_TYPE
            - CHANGEABLE
            - REFUNDABLE
            example: CHANGEABLE
    UnusableReason:
      type: string
      description: Reason why a payment source is not usable.
      enum:
      - SUPPLIER_RESTRICTION
      - POLICY_RESTRICTION
    DateTimeLocal:
      title: DateTimeLocal
      description: Local date and time in ISO 8601 format.
      type: object
      required:
      - iso8601
      properties:
        iso8601:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?$
          example: 2017-07-21T17:32
    Card:
      type: object
      title: Card
      description: User card info
      required:
      - number
      properties:
        id:
          type: string
          description: Unique identifier for this card
          format: uuid
          example: 34d536b6-f8ff-11eb-9a61-0242ac180002
        type:
          type: string
          enum:
          - UNKNOWN
          - CREDIT
          - DEBIT
          description: Type of card
          example: CREDIT
        company:
          $ref: '#/components/schemas/CardCompany'
        name:
          description: Name on card
          type: string
          example: Harrison Schwartz
          x-pii: SENSITIVE
        address:
          description: Billing address
          $ref: '#/components/schemas/PostalAddress'
          x-pii: SENSITIVE
        number:
          type: string
          description: Card number
          example: '4111111111111111'
        expiryMonth:
          type: integer
          format: int32
          minimum: 1
          maximum: 12
          description: Expiry month
          example: 1
          deprecated: true
          x-sunset: '2026-07-01'
        expiryYear:
          type: integer
          format: int32
          description: Expiry year
          minimum: 2000
          example: 2010
          deprecated: true
          x-sunset: '2026-07-01'
        cvv:
          type: string
          description: Card cvv number
          example: '012'
        label:
          type: string
          description: Card Label
          example: Label amex
        currency:
          type: string
          description: Native currency of the card.
          example: USD
        externalId:
          type: string
          description: Spotnana partner card id.
          example: bxt_RNGsNfzgJDaTstKIKqK4xEuhGYAnMdYK8T40
        vaultId:
          type: string
          description: ID of the vault used for creating the card.
          format: uuid
          example: 34d536b6-f8ff-11eb-9a61-0242ac180002
        expiry:
          description: Card Expiry.
          $ref: '#/components/schemas/CardExpiry'
        ownershipLabel:
          $ref: '#/components/schemas/OwnershipLabel'
          example: PERSONAL
    TripDisabledInfo:
      title: TripDisabledInfo
      description: Information regarding whether the trip is disabled and if so, the reason why.
      type: object
      properties:
        disabledReason:
          $ref: '#/components/schemas/DisabledReason'
        isDisabled:
          type: boolean
          description: Indicates whether the trip is disabled or not.
          example: false
    EntertainmentAmenity:
      type: object
      title: EntertainmentAmenity
      description: The properties of an entertainment amenity.
      properties:
        displayText:
          type: string
          example: Seatback on-demand video
        entertainmentType:
          type: string
          example: on-demand
        cost:
          type: string
          example: free
    PaymentSplitCriterion:
      type: object
      description: The criterion for the payment split.
      properties:
        accessType:
          description: Access Type of the Payment Sources applicable for a portion of payment.
          $ref: '#/components/schemas/AccessType'
    PrimaryTravelerIdFilter:
      type: object
      title: PrimaryTravelerIdFilter
      description: Primary/Lead Traveler IDs for the approval data list request.
      required:
      - filterType
      - primaryTravelerIds
      properties:
        filterType:
          type: string
          example: PRIMARY_TRAVELER_ID_FILTER
        primaryTravelerIds:
          type: array
          description: Primary traveler's user ID list
          items:
            $ref: '#/components/schemas/UserId'
    FlightPassPaymentAmounts:
      type: object
      title: FlightPassPaymentAmounts
      description: Fare breakdown for the flight pass booking.
      properties:
        totalAmount:
          description: Total value (base + taxes).
          $ref: '#/components/schemas/Money'
        baseAmount:
          description: Base fare excluding taxes.
          $ref: '#/components/schemas/Money'
        totalTaxes:
          description: Sum of all taxes, fees, and charges.
          $ref: '#/components/schemas/Money'
        taxBreakdown:
          type: array
          description: Breakdown of taxes by code (e.g. GST_HST, QST, OTHER).
          items:
            $ref: '#/components/schemas/FlightPassTax'
    MinMaxAmountWrapper:
      type: object
      title: MinMaxAmountWrapper
      description: Min max amount wrapper.
      properties:
        minMaxAmount:
          $ref: '#/components/schemas/MinMaxAmount'
    NameSuffix:
      title: NameSuffix
      description: Suffix for name
      type: string
      enum:
      - NAME_SUFFIX_UNKNOWN
      - SR
      - JR
      - MD
      - PHD
      - II
      - III
      - IV
      - DO
      - ATTY
      - V
      - VI
      - ESQ
      - DC
      - DDS
      - VM
      - JD
      - SECOND
      - THIRD
      example: SR
    PreCheckoutQuestionType:
      type: string
      enum:
      - UNKNOWN_CHECKOUT_QUESTION_TYPE
      - USER_DEFINED_QUESTION
      - OOP_REASON_CODE
      description: 'Types of pre-checkout questions.

        USER_DEFINED_QUESTION the default question type for all pre checkout questions which have been created from UI.

        OOP_REASON_CODE is kept separate so that existing OOP flow doesn''t break.

        '
      example: OOP_REASON_CODE
    Expression:
      type: object
      title: Expression
      description: 'Expression consisting of variables and constants which needs to be sent along with custom

        field response.

        '
      required:
      - type
      - formatExpression
      properties:
        type:
          type: string
          example: EXPRESSION
          default: EXPRESSION
        formatExpression:
          type: string
          description: "The expression must be of format : `<any_text> ${expression} <any_text>`.The expression \ncan consist of a combination of variables and mathematical operations.\n Variable names must be same as VariableName Enum.\n  To define mathematical operations, the operation name should follow the format\n`math.<math_op>(arg1, arg2)`. Both `arg1` and `arg2` can be variables or constants. \nThe supported math operations (math_op) include: `add, mul, div, sub, min,\nand max`. All keywords, such as `<math_op>, math, and var` must be written in lowercase.\n"
          example: 'Result:  ${math.mul(LLF,5)}  ${ADD_COLLECT_AMOUNT}'
        variables:
          type: array
          description: Reference names of the variables present in the expression.
          deprecated: true
          x-sunset: '2026-07-01'
          items:
            $ref: '#/components/schemas/VariableName'
    PreDefinedAnswers:
      type: string
      enum:
      - UNKNOWN_CHECKOUT_ANSWER_TYPE
      - OTHER
      - TIMING_OR_SCHEDULING
      - AIRLINE_PREFERENCE
      - AIRPORT_PREFERENCE
      - MILEAGE_OR_PROGRAM_UPGRADE
      - NO_OTHER_OPTION_AVAILABLE
      - FASTER_OPTION
      - NO_ANSWER
      - NOT_AVAILABLE
      description: Predefined answers to pre search/pre checkout questions
      example: TIMING_OR_SCHEDULING
    GateInfo:
      type: object
      title: GateInfo
      description: Information about the flight's departure / arrival gates and terminals.
      properties:
        gate:
          type: string
          description: Gate number
          example: 1A
        terminal:
          type: string
          description: Airport terminal
          example: '1'
    Grade:
      type: object
      title: Grade
      description: Grade details.
      required:
      - id
      - name
      properties:
        employeeCount:
          type: integer
          format: int32
          description: Count of employees in the grade
          example: 75
        id:
          $ref: '#/components/schemas/GradeId'
        name:
          type: string
          example: Grade
    SecondaryServiceProviderTmc:
      type: object
      title: SecondaryServiceProviderTmc
      description: Secondary service provider TMC info
      required:
      - tmcId
      - supplier
      - travelType
      properties:
        tmcId:
          $ref: '#/components/schemas/CompanyId'
          description: Id of the service provider TMC.
        supplier:
          $ref: '#/components/schemas/SupplierType'
          description: Supplier for which this service provider should be used.
        travelType:
          $ref: '#/components/schemas/TravelType'
          description: Travel type for which this service provider should be used.
    ApprovalStatus:
      type: string
      description: APPROVAL Status
      enum:
      - APPROVAL_PENDING
      - APPROVED
      - DENIED
      - TIMED_OUT
      - SOFT_APPROVAL_TIMEOUT
      example: APPROVED
    ApprovalStatusV2:
      type: string
      description: Approval Status
      enum:
      - APPROVAL_PENDING
      - APPROVED
      - DENIED
      - AUTO_APPROVED
      - AUTO_DENIED
      example: APPROVED
    WorkerTypeListWrapper:
      type: object
      title: WorkerTypeListWrapper
      properties:
        workerTypeList:
          type: array
          items:
            $ref: '#/components/schemas/WorkerType'
    IdentityDocument:
      type: object
      title: IdentityDocument
      description: "Identity document details. Currently supported documents are passport, immigration document, \nknown traveler number, redress number and national document.\n"
      oneOf:
      - $ref: '#/components/schemas/PassportWrapper'
      - $ref: '#/components/schemas/ImmigrationDocumentWrapper'
      - $ref: '#/components/schemas/RedressNumberWrapper'
      - $ref: '#/components/schemas/KnownTravelerNumberWrapper'
      - $ref: '#/components/schemas/NationalDocWrapper'
    UserOrgIdWrapper:
      type: object
      title: UserOrgIdWrapper
      properties:
        userOrgId:
          $ref: '#/components/schemas/UserOrgId'
    CheckInPolicy:
      type: object
      description: Information about the check-in policy.
      required:
      - description
      properties:
        description:
          type: string
          description: Description text for the check-in policy.
          example: Standard check-in priority
    VaccineAmenity:
      type: object
      title: VaccineAmenity
      description: Vaccine Amenity properties
      properties:
        displayText:
          type: string
          example: Vaccination facility available
        vaccineDescription:
          type: string
          description: chek
        vaccineAttrDescription:
          type: string
    PolicyFlagActionWrapper:
      type: object
      title: PolicyFlagActionWrapper
      properties:
        flag:
          $ref: '#/components/schemas/PolicyFlagAction'
    SeatLocationPref:
      type: object
      title: SeatLocationPref
      description: Seat location preference.
      properties:
        cabins:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_CABIN
            - ECONOMY
            - PREMIUM_ECONOMY
            - BUSINESS
            - FIRST
            example: FIRST
        isBulkHeadPref:
          type: boolean
          example: false
        maxFlightDurationInHours:
          type: integer
          format: int32
          example: 3
        position:
          type: string
          enum:
          - UNKNOWN_POSITION
          - AISLE
          - WINDOW
          - AISLE_OR_WINDOW
          example: WINDOW
    MiscPnrSummary:
      type: object
      title: MiscPnrSummary
      required:
      - description
      - endDateTime
      - rate
      - startDateTime
      description: Summary of Misc PNR
      properties:
        description:
          type: string
          description: Description of the segment
          example: MiscellaneousPnr
        startDateTime:
          $ref: '#/components/schemas/DateTimeLocal'
        endDateTime:
          $ref: '#/components/schemas/DateTimeLocal'
        totalAmount:
          $ref: '#/components/schemas/Money'
        status:
          $ref: '#/components/schemas/PnrStatus'
        sortingPriority:
          type: integer
          format: int32
          description: Sorting priority of the segment
          example: 1
    ApprovalTypeFilter:
      type: object
      title: ApprovalTypeFilter
      description: Approval type filter for the approval data list request.
      required:
      - filterType
      - approvalTypes
      properties:
        filterType:
          type: string
          example: APPROVAL_TYPE_FILTER
        approvalTypes:
          type: array
          description: Approval Types
          items:
            $ref: '#/components/schemas/ApprovalType'
    LegalEntityIdWrapper:
      type: object
      title: LegalEntityIdWrapper
      properties:
        legalEntityId:
          $ref: '#/components/schemas/LegalEntityId'
    CustomFieldType:
      type: string
      description: The type of custom field.
      enum:
      - QUESTION
      - MEETING
      - BUDGET
      - BREX_TOKEN
      default: QUESTION
    WeeklyOperatingSchedule:
      type: object
      title: WeeklyOperatingSchedule
      description: Weekly operating schedule of vendor with day of week
      required:
      - interval
      properties:
        interval:
          type: array
          description: Operating schedule intervals
          items:
            $ref: '#/components/schemas/DateTimeRange'
        dayOfWeek:
          type: string
          description: Day of the week for which operating schedule is valid
          example: SUN
    SeatAmenity:
      type: object
      title: SeatAmenity
      description: Seat Amenity properties
      properties:
        displayText:
          type: string
          example: Full flat all aisle access
        seatType:
          type: string
          example: full flat pod
        width:
          type: string
        legroom:
          type: string
        pitch:
          type: number
          format: double
          example: 78
    LimoPnrSummaryWrapper:
      type: object
      title: LimoPnrSummaryWrapper
      properties:
        limoPnrSummary:
          $ref: '#/components/schemas/LimoPnrSummary'
    FlightAttributeCategory:
      type: string
      enum:
      - AIRCRAFT
      - SEAT
      - MEALS
      - BEVERAGES
      - ENTERTAINMENT
      - POWER
      - WIFI
      - SERVICE_INFLIGHT
      - UPGRADE
      - TRANSPORT_TO_AIRPORT
      - CHECK_IN
      - DEPARTURE_TERMINAL
      - DEPARTMENT_LOUNGE
      - GATE_BOARDING
      - SERVICE_DEPARTURE
      - STOPOVER
      - CONNECTING_EASE
      - CONNECTING_TERMINAL
      - CONNECTING_LOUNGE
      - SERVICE_CONNECTING
      - BAGGAGE_COLLECTION
      - ARRIVAL_TERMINAL
      - ARRIVAL_LOUNGE
      - ARRIVAL_TRANSPORT
      - SERVICE_ARRIVAL
      - SCHEDULE_ROUTE
      - LOYALITY_PROGRAM
      - BRAND
      - PROMOTION
      example: STOPOVER
    MinMaxAmount:
      type: object
      title: MinMaxAmount
      description: Payment amount details if slider payment function is linear.
      properties:
        minLimit:
          $ref: '#/components/schemas/Money'
          description: The minimum amount that must be charged using this fop
        maxLimit:
          $ref: '#/components/schemas/Money'
          description: The maximum amount that could be charged using this fop
    PowerAmenityWrapper:
      type: object
      title: PowerAmenityWrapper
      properties:
        powerAmenity:
          $ref: '#/components/schemas/PowerAmenity'
    TemperatureAmenity:
      type: object
      title: TemperatureAmenity
      description: Temperature Amenity properties
      properties:
        displayText:
          type: string
          example: No pre-flight temperature check
        temperatureDescription:
          type: string
          example: A temperature check is not required before boarding
        temperatureAttrDescription:
          type: string
          example: 'no'
    ApprovalFilterV2:
      title: ApprovalFilterV2
      type: object
      description: Filter parameters for the approval data list request.
      discriminator:
        propertyName: filterType
        mapping:
          APPROVAL_STATUS_FILTER: '#/components/schemas/ApprovalStatusFilterV2'
          APPROVER_USER_ID_FILTER: '#/components/schemas/ApproverUserIdFilter'
          APPROVAL_TYPE_FILTER: '#/components/schemas/ApprovalTypeFilter'
          APPROVAL_DEADLINE_DATE_RANGE_FILTER: '#/components/schemas/ApprovalDeadlineDateRangeFilter'
          PRIMARY_TRAVELER_ID_FILTER: '#/components/schemas/PrimaryTravelerIdFilter'
          PNR_TYPE_FILTER: '#/components/schemas/PnrTypeFilterV2'
          OUT_OF_POLICY_FILTER: '#/components/schemas/OutOfPolicyFilter'
          TRIP_ID_FILTER: '#/components/schemas/ApprovalTripIdFilter'
      oneOf:
      - $ref: '#/components/schemas/ApprovalStatusFilterV2'
      - $ref: '#/components/schemas/ApproverUserIdFilter'
      - $ref: '#/components/schemas/ApprovalTypeFilter'
      - $ref: '#/components/schemas/ApprovalDeadlineDateRangeFilter'
      - $ref: '#/components/schemas/PrimaryTravelerIdFilter'
      - $ref: '#/components/schemas/PnrTypeFilterV2'
      - $ref: '#/components/schemas/OutOfPolicyFilter'
      - $ref: '#/components/schemas/ApprovalTripIdFilter'
    CoachPref:
      type: string
      description: The preference of coach.
      enum:
      - SMOKING
      - NON_SMOKING
      - PETS_ALLOWED
      - RESTAURANT
      - QUIET
      example: NON_SMOKING
    PrimaryServiceProviderTmc:
      type: object
      title: PrimaryServiceProviderTmc
      description: Primary service provider TMC info
      required:
      - tmcId
      properties:
        tmcId:
          $ref: '#/components/schemas/CompanyId'
          description: Id of the service provider TMC.
    EntertainmentAmenityWrapper:
      type: object
      title: EntertainmentAmenityWrapper
      properties:
        entertainmentAmenity:
          $ref: '#/components/schemas/EntertainmentAmenity'
    Money:
      type: object
      title: Money
      description: 'Money object containing details such as the amount, the currency code, and the converted amount.

        '
      required:
      - amount
      - currencyCode
      properties:
        amount:
          type: number
          format: double
          description: The numeric value for the amount of money.
          example: 510
        currencyCode:
          type: string
          description: The 3-letter currency code for the money amount (defined using ISO 4217 standard).
          example: GBP
        convertedAmount:
          type: number
          format: double
          description: 'The converted currency and amount that has been converted (if a currency conversion has been requested).

            For example, if the call requests that money be sent in a specified currency (because the frontend requested

            the backend to send money in the user''s preferred currency).

            '
          example: 715.42
        convertedCurrency:
          type: string
          description: The 3-letter currency code for the converted currency (defined using ISO 4217 standard).
          example: USD
        otherCoinage:
          type: array
          title: OtherCoinage
          description: List of the dollar amount in other coinage systems like reward points, cryptocurrency etc.
          items:
            type: object
            properties:
              coinageCode:
                $ref: '#/components/schemas/PaymentMethod'
                description: Payment method
              amount:
                type: number
                format: double
                example: 1000
              conversionRate:
                type: number
                format: double
                description: 1 coin in this system equals to how many currency value
                example: 0.01
              preferredCurrencyConversionRate:
                type: number
                format: double
                description: 1 coin in this system equals to how many currency value
                example: 0.01
              otherCoinageMetadata:
                description: Metadata to store additional information related to the payment method
                discriminator:
                  propertyName: metadataType
                  mapping:
                    FlightPassPaymentMetadata: '#/components/schemas/FlightPassPaymentMetadataWrapper'
                oneOf:
                - $ref: '#/components/schemas/FlightPassPaymentMetadataWrapper'
    RailPref:
      type: object
      title: RailPref
      description: Travel preferences related to rail station.
      properties:
        preferredRailStations:
          type: array
          description: A list of user preferred rail stations.
          items:
            $ref: '#/components/schemas/PreferredRailStation'
        seatPreference:
          $ref: '#/components/schemas/SeatPref'
        travelClasses:
          type: array
          description: A list of class of service for rail.
          items:
            $ref: '#/components/schemas/RailTravelClass'
        coachPreferences:
          type: array
          description: A list of coach preference for rail.
          items:
            $ref: '#/components/schemas/CoachPref'
        conditionalRates:
          type: array
          description: A list of conditional rates for rail.
          items:
            $ref: '#/components/schemas/ConditionalRate'
    UnusablePaymentSource:
      type: object
      title: UnusablePaymentSource
      description: The payment sources which are not usable for the payment rule
      required:
      - id
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier identifying this payment source
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        reason:
          $ref: '#/components/schemas/UnusableReason'
    LegalEntityIdListWrapper:
      type: object
      title: LegalEntityIdListWrapper
      properties:
        legalEntityIdList:
          type: array
          items:
            $ref: '#/components/schemas/LegalEntityId'
    TokenizedExpiryWrapper:
      type: object
      title: TokenizedExpiryWrapper
      properties:
        tokenizedExpiry:
          $ref: '#/components/schemas/TokenizedExpiry'
    ImmigrationDocument:
      type: object
      title: ImmigrationDocument
      description: Immigration document details.
      required:
      - docId
      - expiryDate
      - issueCountry
      properties:
        authorizedStayDuration:
          description: Duration of the stay authorized by the immigration document.
          $ref: '#/components/schemas/Duration'
        docId:
          type: string
          description: The ID of the immigration document.
          example: ImmigrationDocumentID
          x-pii: IDENTIFIER
        expiryDate:
          description: The date on which the immigration document expires.
          $ref: '#/components/schemas/DateModel'
          x-pii: SENSITIVE
        issueCountry:
          type: string
          description: The country that issued the immigration document.
          example: IN
        issuedDate:
          description: The date on which the immigration document was issued.
          $ref: '#/components/schemas/DateModel'
          x-pii: SENSITIVE
        nationalityCountry:
          type: string
          example: IN
          x-pii: SENSITIVE
        reentryRequirementDuration:
          $ref: '#/components/schemas/Duration'
        type:
          type: string
          enum:
          - UNKNOWN
          - VISA
          example: VISA
    EmergencyContactInfo:
      type: object
      title: EmergencyContactInfo
      description: Emergency contact information.
      required:
      - email
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
          x-pii: SENSITIVE
        designation:
          type: string
          example: MANAGER
        email:
          type: string
          format: email
          example: emergency-contact@email.com
          x-pii: IDENTIFIER
        name:
          $ref: '#/components/schemas/Name'
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
          x-pii: IDENTIFIER
        userOrgId:
          $ref: '#/components/schemas/UserOrgId'
[...]
