openapi: 3.1.0
info:
  title: Air Stealth Config API
  version: v2
  description: APIs to perform search, checkout and book an air pnr
servers:
- url: https://api-ext-sboxmeta.partners.spotnana.com
  description: Sandbox URL
security:
- Bearer: []
tags:
- name: Stealth Config
paths:
  /v2/companies/{companyId}/stealth-config:
    parameters:
    - name: companyId
      in: path
      description: Identifier for company.
      required: true
      schema:
        type: string
        format: uuid
      example: 4974a66b-7493-4f41-908c-58ba81093947
    - name: companyRole
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/CompanyRole'
      example: ORG
    put:
      tags:
      - Stealth Config
      summary: Updates Stealth config
      description: This endpoint stores Stealth config for the company.
      operationId: updateCompanyStealthConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StealthConfig'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
      - Stealth Config
      summary: Get stealth config
      description: This endpoint fetches the stealth config for the company.
      operationId: getCompanyStealthConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StealthConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The specified resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorParameter:
      type: object
      title: ErrorParameter
      description: Error parameter
      properties:
        name:
          type: string
          description: Parameter name
        value:
          type: string
          description: Parameter value
    StealthConfig:
      type: object
      title: StealthConfig
      description: Stealth configuration for a company.
      properties:
        stealthModes:
          type: array
          description: A list of stealth modes for this company.
          items:
            $ref: '#/components/schemas/StealthMode'
    CompanyRole:
      type: string
      description: Role of the company.
      enum:
      - ORG
      - TMC
      - PARTNER_TMC
      - HR_FEED_CONNECTOR
      - TRIPS_DATA_CONNECTOR
      - GLOBAL
      example: ORG
    StealthMode:
      type: object
      title: StealthMode
      description: Stealth mode configuration with type and label.
      required:
      - stealthType
      - label
      properties:
        stealthType:
          $ref: '#/components/schemas/StealthType'
        label:
          type: string
          description: Customer specific label for the stealth mode.
    ErrorResponse:
      type: object
      properties:
        debugIdentifier:
          type: string
          description: Link to debug the error internally.
        errorMessages:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
                description: Error code to identify the specific errors.
              message:
                type: string
                description: Message containing details of error.
              errorParameters:
                type: array
                description: Error message parameters.
                items:
                  $ref: '#/components/schemas/ErrorParameter'
              errorDetail:
                type: string
                description: More details about the error.
    StealthType:
      type: string
      description: Stealth type.
      enum:
      - STEALTH_TYPE_1
      - STEALTH_TYPE_2
      - STEALTH_TYPE_3
      example: STEALTH_TYPE_1
      x-ignoreBreakingChanges:
      - StealthType->STEALTH_TYPE_4
      - StealthType->STEALTH_TYPE_5
      - StealthType->STEALTH_TYPE_6
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
