openapi: 3.1.0
info:
  title: Air Trip PNRs API
  version: v2
  description: APIs to perform search, checkout and book an air pnr
servers:
- url: https://api-ext-sboxmeta.partners.spotnana.com
  description: Sandbox URL
security:
- Bearer: []
tags:
- name: Trip PNRs
  description: APIs to manage PNRs within trips.
  x-displayName: PNRs
paths:
  /v3/trips/{tripId}/pnrs:
    parameters:
    - name: tripId
      in: path
      description: Trip ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Trip PNRs
      summary: Create PNR
      description: 'Create a new Passenger Name Record (PNR). A PNR represents a booking (air, hotel, rail, or car) made on the Spotnana platform.

        You can also use this endpoint to import bookings made from external sources into the Spotnana platform.

        '
      operationId: createPnrV3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PnrData'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNonUUIDId'
                example:
                  id: 1234567890
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v3/trips/{tripId}/pnrs/{pnrId}:
    parameters:
    - name: tripId
      in: path
      description: Trip ID
      required: true
      schema:
        type: string
        example: '6926658168'
    - name: pnrId
      in: path
      description: Pnr Id
      required: true
      schema:
        type: string
        example: '6926658168'
    get:
      tags:
      - Trip PNRs
      summary: Get PNR
      description: This endpoint gets PNR for a given trip ID and PNR ID.
      operationId: getPnrV3
      x-pii-supported: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnrData'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
      - Trip PNRs
      summary: Update PNR
      description: This endpoint updates PNR by ID.
      operationId: updatePnrV3
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PnrData'
      responses:
        '204':
          description: Updated Successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/trips/{tripId}/pnrs/{pnrId}/remarks:
    parameters:
    - name: tripId
      in: path
      description: Trip ID
      required: true
      schema:
        type: string
        example: 6926658168
    - name: pnrId
      in: path
      description: PNR ID
      required: true
      schema:
        type: string
        example: 6926658168
    post:
      tags:
      - Trip PNRs
      summary: Add Remark
      description: This endpoint provided adding third party remarks to the given PNR.
      operationId: addRemarkV3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddRemarksRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddRemarksResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/trips/{tripId}/pnrs/{pnrId}/finalize:
    parameters:
    - name: tripId
      in: path
      description: Trip Id
      required: true
      schema:
        type: string
        example: '6926658168'
    - name: pnrId
      in: path
      description: Pnr Id
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Trip PNRs
      summary: Finalize the given pnr.
      description: This endpoint changes the metadata of PNR to finalized and triggers supplier actions if required.
      operationId: finalizePnr
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinalizeRequest'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/trips/{tripId}/pnrs/{pnrId}/suspend:
    parameters:
    - name: tripId
      in: path
      description: Trip Id
      required: true
      schema:
        type: string
        example: '6926658168'
    - name: pnrId
      in: path
      description: Pnr Id
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Trip PNRs
      summary: Suspend the given pnr.
      description: 'This endpoint suspends the PNR, transitioning it into a read-only state.

        Once suspended, updates via OBT will be restricted.

        This API serves various use cases, such as price optimization and rebooking.

        '
      operationId: suspendPnr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuspendRequest'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v3/trips/{tripId}/pnrs/{pnrId}/cancel:
    parameters:
    - name: tripId
      in: path
      description: Trip ID
      required: true
      schema:
        type: string
        example: 6926658168
    - name: pnrId
      in: path
      description: PNR ID
      required: true
      schema:
        type: string
        example: 6926658168
    post:
      tags:
      - Trip PNRs
      summary: Cancel PNR
      description: This endpoint cancels PNR or part of PNR object.In case of partial PNR cancel we can cancel journey/ticket.
      operationId: cancelPnrV3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PnrCancelRequest'
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/trips/{tripId}/pnrs/{pnrId}/cancellation-details:
    parameters:
    - name: tripId
      in: path
      description: Trip ID.
      required: true
      schema:
        type: string
        example: '1234567890'
    - name: pnrId
      in: path
      description: PNR ID.
      required: true
      schema:
        type: string
        example: '6926658168'
    get:
      tags:
      - Trip PNRs
      summary: Get cancellation details
      description: This endpoint gets cancellation details for a given trip ID and PNR ID.
      operationId: getCancellationDetails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnrCancellationDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/trips/{tripId}/pnrs/{pnrId}/download-invoice:
    parameters:
    - name: tripId
      in: path
      description: Trip Id
      required: true
      schema:
        type: string
        example: '6926658168'
    - name: pnrId
      in: path
      description: Pnr Id
      required: true
      schema:
        type: string
        example: '2643222286'
    post:
      tags:
      - Trip PNRs
      summary: Download PNR invoice
      description: This endpoint downloads invoice on demand for a given trip ID and PNR ID.
      operationId: downloadInvoice
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/pnrs/{pnrId}/process-approval:
    parameters:
    - name: pnrId
      in: path
      description: Pnr Id
      required: true
      schema:
        type: string
      example: '6926658168'
    post:
      tags:
      - Trip PNRs
      summary: Process the PNR approval
      description: Approve or decline a PNR.
      operationId: processPnrApproval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessPnrApprovalRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/pnrs:
    parameters:
    - name: externalId
      in: query
      description: External ID
      required: true
      schema:
        type: string
      example: external-pnr-id
    get:
      tags:
      - Trip PNRs
      summary: Get PNR by external Id
      description: This endpoint gets PNR Id and Trip Id for a given external Id.
      operationId: getPnrByExternalId
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnrResponseOnExternalId'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/pnrs/search:
    parameters:
    - name: searchText
      in: query
      description: The Source Pnr or Ticket Number or Vendor Confirmation to be searched
      required: true
      schema:
        type: string
        example: MDIB5C
    - name: inputType
      in: query
      description: The type of Search text,i.e, SOURCE_PNR or TICKET_NUMBER or VENDOR_CONFIRMATION
      required: true
      schema:
        type: string
        enum:
        - SOURCE_PNR
        - TICKET_NUMBER
        - VENDOR_CONFIRMATION
        example: SOURCE_PNR
    get:
      tags:
      - Trip PNRs
      summary: Find Pnr details like BookingId and TripId
      description: This API gets Pnr details for a given Source Pnr/ Ticket Number/ Vendor Confirmation.
      operationId: pnrSearch
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PnrSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    RequestedByDetails:
      title: RequestedByDetails
      type: object
      description: Information about the requester of the trip.
      required:
      - pnrRequestedBy
      properties:
        pnrRequestedBy:
          type: string
          description: Name of the requester
          example: Peter
          x-pii: SENSITIVE
        requestedByUserOrgId:
          $ref: '#/components/schemas/UserOrgId'
    CancellationRequestStatus:
      type: string
      description: 'Status of in progress cancellation request

        CANCELLATION_IN_PROGRESS - Cancellation request is in progress via OBT

        CANCELLATION_BY_AGENT_REQUESTED - Cancellation request is in progress via agent

        '
      enum:
      - CANCELLATION_IN_PROGRESS
      - CANCELLATION_BY_AGENT_REQUESTED
      example: CANCELLATION_IN_PROGRESS
    OfficeIdWrapper:
      type: object
      title: OfficeIdWrapper
      properties:
        officeId:
          $ref: '#/components/schemas/OfficeId'
    AirConditioning:
      type: string
      title: AirConditioning
      description: Whether air conditioning is available.
      enum:
      - UNKNOWN_AC
      - AC_AVAILABLE
      - AC_NOT_AVAILABLE
      example: AC_AVAILABLE
    AncillaryLegIndex:
      type: integer
      description: 'Index of leg to which this ancillary belongs. If an ancillary belongs to all legs,

        this index should be set to -1

        '
      format: int32
      example: 0
      minimum: -1
    AdhocUserInfo:
      type: object
      title: AdhocUserInfo
      description: Basic information related to ad-hoc traveler profile.
      required:
      - profileOwner
      properties:
        profileOwner:
          $ref: '#/components/schemas/ProfileOwner'
        isSaved:
          type: boolean
          description: "A boolean flag to show if ad-hoc traveler is visible in search. While updating the user \nif client tries to update this field, it will throw exception.\n"
          default: false
    RailRefundOption:
      type: object
      title: RailRefundOption
      description: Refund options for this rail booking.
      required:
      - refundId
      - refundRateInfo
      properties:
        refundId:
          type: string
          description: Refund option id.
          example: '1234567890'
        refundRateInfo:
          description: Rail refund fare info.
          $ref: '#/components/schemas/RailRefundRateInfo'
        legs:
          type: array
          description: List of leg indices for the refund option.
          items:
            type: integer
            format: int32
            example: 1
    AirCancellationOption:
      type: object
      title: AirCancellationOption
      description: Details like fare breakup for a cancellation option.
      required:
      - fareInfo
      properties:
        cancellationType:
          description: Cancellation type like VOID, REFUND, etc.
          $ref: '#/components/schemas/AirCancellationType'
        fareInfo:
          description: Fare breakup for cancellation option.
          $ref: '#/components/schemas/AirFareInfo'
        offerExpiryInfo:
          description: Cancellation offer expiry datetime in UTC.
          $ref: '#/components/schemas/OfferExpiryInfo'
        optionId:
          description: Unique id for this cancellation option.
          type: string
          example: '1'
    CancellationPolicy3:
      type: object
      title: CancellationPolicy
      description: Cancellation policy info.
      required:
      - policy
      properties:
        policy:
          type: string
          description: Indicates whether the booking is refundable or not.
          enum:
          - UNKNOWN
          - NON_REFUNDABLE
          - FREE_CANCELLATION_UNTIL
          - PARTIALLY_REFUNDABLE
          example: NON_REFUNDABLE
        deadline:
          $ref: '#/components/schemas/DateTimeLocal'
          description: 'The local date and time of the final deadline for cancellation, if policy type is

            FREE_CANCELLATION_UNTIL or PARTIALLY_REFUNDABLE.

            '
        deadlineUtc:
          $ref: '#/components/schemas/DateTimeOffset'
          description: 'The UTC date and time of the final deadline for cancellation, if policy type is

            FREE_CANCELLATION_UNTIL or PARTIALLY_REFUNDABLE.

            '
        durationBeforeArrivalDeadline:
          $ref: '#/components/schemas/Duration'
          description: 'The duration before arrival of the final deadline for cancellation, if policy type is

            `FREE_CANCELLATION_UNTIL` or `PARTIALLY_REFUNDABLE`.

            '
        amount:
          $ref: '#/components/schemas/Money'
        currentlyRefundable:
          type: string
          description: 'Refundable status that is currently applicable in the hotel timezone.

            FALSE even if it is partially refundable.

            '
          enum:
          - 'TRUE'
          - 'FALSE'
        cancellableStatus:
          type: string
          description: 'Whether the booking can be cancelled.

            UNSPECIFIED and CANCELLABLE are treated as cancellable.

            Some suppliers (e.g. Premier Inn) block cancellation on non-refundable rates.

            '
          enum:
          - CANCELLABLE_STATUS_UNSPECIFIED
          - CANCELLABLE
          - NOT_CANCELLABLE
    PolicyPreventBookingAction:
      type: object
      title: PolicyPreventBookingAction
      description: Whether to allow booking if a rule is violated.
      properties:
        prevent:
          type: boolean
          description: True if booking is to be blocked if rule is violated, else false
        reason:
          type: string
          description: Reason describing why was that specific itinerary not allowed to book.
    CustomFieldMatchConditions:
      type: object
      title: CustomFieldMatchConditions
      description: Conditions to select the custom field for given context.
      properties:
        travelerConditions:
          $ref: '#/components/schemas/TravelerMatchConditions'
        travelTypes:
          type: array
          description: Travel types to match.
          items:
            $ref: '#/components/schemas/TravelType'
        travelRegionTypes:
          type: array
          description: Travel region types to match.
          items:
            $ref: '#/components/schemas/TravelRegionType'
        tripUsageTypes:
          type: array
          description: Trip usage types to match. If empty, all trip usage types will be matched.
          items:
            $ref: '#/components/schemas/TripUsageType'
    BeverageAmenity:
      type: object
      title: BeverageAmenity
      description: Beverage amenity option properties.
      properties:
        displayText:
          type: string
          example: Premium alcohol beverages provided
        beverageType:
          type: string
          example: premium alcoholic
        alcoholCost:
          type: string
          example: free
    LimoItem:
      type: object
      title: LimoItem
      description: This describes the limoItem related to a particular itemGroup.
      required:
      - itemType
      properties:
        itemType:
          type: string
        pickupDateTime:
          description: Check in date time.
          $ref: '#/components/schemas/DateTimeLocal'
        dropOffDateTime:
          description: Check out date time.
          $ref: '#/components/schemas/DateTimeLocal'
        pickupLocation:
          description: Pick up location.
          $ref: '#/components/schemas/CarLocation'
        dropOffLocation:
          description: Drop off location.
          $ref: '#/components/schemas/CarLocation'
        limoType:
          description: Car specific details.
          $ref: '#/components/schemas/LimoType'
    AdditionalInfo:
      type: object
      title: AdditionalInfo
      description: Additional data need to be sent along with the custom field response.
      discriminator:
        propertyName: type
        mapping:
          VARIABLE: '#/components/schemas/Variable'
          EXPRESSION: '#/components/schemas/Expression'
      oneOf:
      - $ref: '#/components/schemas/Variable'
      - $ref: '#/components/schemas/Expression'
    AirlineInfo:
      title: AirlineInfo
      type: object
      required:
      - airlineCode
      - airlineName
      properties:
        airlineCode:
          type: string
          description: IATA code for airline.
          example: AA
        airlineName:
          type: string
          description: Airline name
          example: American Airlines
    TripMetadata:
      title: TripMetadata
      description: Metadata for the trip
      type: object
      properties:
        hasTripOverride:
          type: boolean
          description: Indicates if the trip has any profile overrides.
          example: true
        preferredCurrency:
          type: string
          description: The currency to be used for the trip.
          example: USD
        tripContacts:
          type: array
          items:
            $ref: '#/components/schemas/TripContact'
        tripCommunicationPreferences:
          $ref: '#/components/schemas/TripCommunicationPreferences'
    Summary:
      type: object
      title: Summary
      properties:
        headline:
          type: string
          description: Summary headline
        summaryDescription:
          type: string
          description: Summary description
    DoubleRangeWrapper:
      type: object
      title: DoubleRangeWrapper
      properties:
        dRange:
          $ref: '#/components/schemas/DoubleRange'
    CarPref:
      type: object
      title: CarPref
      description: Travel preferences related to car.
      properties:
        vendors:
          type: array
          description: A list of car vendors.
          items:
            $ref: '#/components/schemas/CarVendor'
        carTypes:
          type: array
          description: A list of types of car.
          items:
            $ref: '#/components/schemas/CarType'
        engineTypes:
          type: array
          description: A list of types of engine.
          items:
            $ref: '#/components/schemas/EngineType'
        transmissionTypes:
          type: array
          description: A list of types of transmission.
          items:
            $ref: '#/components/schemas/TransmissionSearchFilter'
        conditionalRates:
          type: array
          description: A list of conditional rates for rail.
          items:
            $ref: '#/components/schemas/ConditionalRate'
    ThirdPartyHotelCode:
      title: ThirdPartyHotelCode
      type: object
      required:
      - hotelCode
      - hotelCodeType
      properties:
        hotelCode:
          type: string
          description: Third party hotel code.
        hotelCodeType:
          type: string
          description: Type of the third party.
          enum:
          - SABRE_CSL
          - SABRE_TN
          - EXPEDIA_RAPID
          - MARRIOTT
          - GIATA
          - BCD
    CarSearchInfo:
      title: CarSearchInfo
      type: object
      description: Car search information
      required:
      - pickup
      - dropOff
      properties:
        pickup:
          $ref: '#/components/schemas/SearchParams'
        dropOff:
          $ref: '#/components/schemas/SearchParams'
        renterAge:
          type: integer
          description: Age of the renter
          example: 30
        citizenCountryCode:
          type: string
          description: Citizen code of the renter
          example: US
        pickupCountryCode:
          type: string
          description: Country code of the pick up location
          example: US
        loyaltyCode:
          type: array
          description: Loyalty codes to be applied
          items:
            $ref: '#/components/schemas/CarLoyaltyCode'
    HotelRateType:
      type: string
      title: HotelRate Type
      enum:
      - PUBLISHED
      - CORPORATE
      - SPOTNANA
      - REGULAR
      - AAA
      - AARP
      - SENIOR_CITIZEN
      - GOVERNMENT
      - MILITARY
      - MEMBERSHIP
      - BEST_AVAILABLE_RATE
      - TMC
    HotelRoomMeal:
      type: object
      title: HotelRoomMeal
      description: Meal details for the room.
      required:
      - mealPlan
      properties:
        mealsIncluded:
          type: array
          items:
            $ref: '#/components/schemas/HotelRoomMealsIncluded'
        mealPlan:
          $ref: '#/components/schemas/HotelRoomMealType'
          description: Meal type added with the room booked.
    TicketIncompleteReason:
      type: string
      description: Reason for ticket being incomplete
      enum:
      - UNKNOWN_REASON
      - SYS_TICKET
      - MISSING_MARKUP_INFO
      - DISABLED_PCC
      - MISSING_REFUND_INFO
      example: SYS_TICKET
    UnusedCreditFop:
      type: object
      title: UnusedCreditFop
      description: Form of payment information associated with an unused credit.
      properties:
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
          description: Payment method used for the original booking.
        paymentSourceType:
          $ref: '#/components/schemas/PaymentSourceType'
          description: Type of payment source used.
        card:
          $ref: '#/components/schemas/Card'
          description: Card information if the payment source type is a card.
    CovidTestingAmenity:
      type: object
      title: CovidTestingAmenity
      description: Covid testing amenity properties.
      properties:
        displayText:
          type: string
          example: No COVID-19 test required
        covidTestingDescription:
          type: string
          example: A negative COVID-19 test is not required for this flight; check with the airline for possible destination requirements or other restrictions.
        covidTestingAttrDescription:
          type: string
    InvoiceDocumentType:
      title: InvoiceDocumentType
      description: Type of document generated for an invoice.
      type: string
      enum:
      - INVOICE
      - RECEIPT
      example: INVOICE
    BuyerInfo:
      type: object
      title: BuyerInfo
      description: Buyer of items mentioned in the invoice.
      required:
      - name
      - address
      properties:
        name:
          description: Name of buyer, usually a traveler.
          type: string
          example: John Doe
          x-pii: SENSITIVE
        address:
          description: Address of buyer. Could be office, legal entity or org address.
          type: string
          example: '115 Broadway Suite 04-101,

            New York, NY 10006'
          x-pii: SENSITIVE
        taxId:
          description: Tax number for the seller, for ex GSTN in India
          type: string
          example: TXG239023092
          deprecated: true
          x-sunset: '2026-07-01'
        idInfo:
          type: array
          description: The seller ID information.
          items:
            $ref: '#/components/schemas/IdInfo'
    LimoVendorInfo:
      type: object
      title: LimoVendorInfo
      description: Information about limo vendor.
      required:
      - name
      properties:
        code:
          type: string
          description: Vendor code
          example: ZE
        name:
          type: string
          description: Vendor name
          example: HERTZ
        email:
          type: string
          description: Vendor Email
          example: mail@mail.com
    FlightSeatStatus:
      type: string
      description: Status of assigned seat.
      enum:
      - CONFIRMED
      - PENDING
      - UNKNOWN
      - CANCELLED
      example: CONFIRMED
    TaxBreakdown:
      type: array
      items:
        $ref: '#/components/schemas/Tax'
    SuspendReason:
      type: string
      description: Reason for suspending the pnr
      enum:
      - AIR_PRICE_OPTIMIZATION
      - EXCHANGE
      - GDS_EXCHANGE
      example: AIR_PRICE_OPTIMIZATION
    ScheduleChangeRefundInfo:
      type: object
      title: ScheduleChangeRefundInfo
      description: Refund information if applicable for this ticket
      properties:
        isRefundAllowed:
          type: boolean
          description: Whether refund is allowed if user denies schedule change/cancels the flight
        refundWaiverCode:
          type: string
          description: Waiver code for refund if applicable
        exchangeWaiverCode:
          type: string
          description: Waiver code for exchange if available
    CancellationPolicy1:
      type: object
      title: CancellationPolicy
      properties:
        cancellationPolicy:
          $ref: '#/components/schemas/AirPolicy'
    PercentageWrapper:
      type: object
      title: PercentageWrapper
      properties:
        percentage:
          type: number
          format: double
    CompanyConfigSourceWrapper:
      type: object
      title: CompanyConfigSourceWrapper
      description: Wrapper for option source company config.
      properties:
        companyConfig:
          $ref: '#/components/schemas/CompanyConfigSource'
    TravelerInfo:
      title: TravelerInfo
      type: object
      description: Traveler air booking info
      required:
      - travelerIdx
      - booking
      properties:
        airVendorCancellationInfo:
          $ref: '#/components/schemas/AirVendorCancellationInfo'
        createdMcos:
          type: array
          description: Created Mcos
          items:
            $ref: '#/components/schemas/CreatedMco'
        travelerIdx:
          type: integer
          description: Index of traveler in travelers list to which this info belongs
          format: int32
          example: 0
          minimum: 0
        userId:
          $ref: '#/components/schemas/UserId'
          description: User ID of traveler to which this TravelerInfo object belongs
        paxType:
          $ref: '#/components/schemas/PassengerType'
        paxCurrentAge:
          $ref: '#/components/schemas/PassengerAge'
          description: Current age of the passenger.
          x-pii: SENSITIVE
        tickets:
          type: array
          description: Tickets belonging to this traveler
          items:
            $ref: '#/components/schemas/Ticket'
        boardingPass:
          type: array
          description: Boarding pass details.
          items:
            $ref: '#/components/schemas/BoardingPass'
        booking:
          description: Info about items booked for this traveler eg. flights, seats, etc.
          $ref: '#/components/schemas/Booking'
        appliedCredits:
          type: array
          description: Information about credit redeemed in booking.
          items:
            $ref: '#/components/schemas/AppliedCreditInfo'
        specialServiceRequestInfos:
          type: array
          description: List of all the Special Service Requests associated with the traveler.
          items:
            $ref: '#/components/schemas/SpecialServiceRequestInfoDetail'
        lastConfirmedTickets:
          type: array
          description: List of tickets from last confirmed version. These will only be set for cancelled PNRs.
          items:
            $ref: '#/components/schemas/Ticket'
        nameNumber:
          type: string
          description: Name number associated to the traveler like 1.1, 2.1 from Sabre
          example: 1.1
    TravelerLegalEntity:
      type: object
      title: TravelerLegalEntity
      description: Legal entity of the traveler
      properties:
        id:
          type: string
          description: Legal entity ID
        name:
          type: string
          description: Name of the legal entity
          example: Spotnana India
        ein:
          type: string
          description: EIN of the traveler
        externalId:
          type: string
          description: External Id of the legal entity
          example: abcd
        companySpecifiedAttributes:
          type: array
          items:
            $ref: '#/components/schemas/CompanySpecifiedAttributeLegalEntity'
        countryCode:
          type: string
          description: 2-letter ISO country code of the legal entity
          example: IN
        billingCurrency:
          type: string
          description: Billing currency for the legal entity.
          example: USD
        registeredName:
          type: string
          description: 'The official name of this legal entity as registered with local tax authorities.

            '
          example: Spotnana India Private Limited
        registeredEmail:
          type: string
          description: 'The primary email (or alias) used for the "Registered name" of this legal entity.

            Used for official communications, including regulatory, compliance, and invoicing

            purposes.

            '
          example: contact@spotnana.in
    AirCancellationDetails:
      type: object
      title: AirCancellationDetails
      description: Cancellation details for air booking.
      required:
      - travelers
      - cancellationState
      properties:
        travelers:
          type: array
          description: Cancellation information for travelers in this booking.
          minItems: 1
          items:
            $ref: '#/components/schemas/AirTravelerCancellationInfo'
        cancellationOptions:
          type: array
          description: Cancellation options for this booking.
          minItems: 1
          items:
            $ref: '#/components/schemas/AirCancellationOption'
        cancellationState:
          description: Cancellation state for this booking.
          $ref: '#/components/schemas/AirCancellationState'
        cancellationNotSupportedReasons:
          type: array
          description: Reasons why cancellation is not supported via OBT.
          minItems: 1
          items:
            $ref: '#/components/schemas/AirCancellationNotSupportedReason'
    UnusedCreditFopCardAccessType:
      type: string
      description: The card access type of the FOP associated with the unused credit.
      enum:
      - CARD_ACCESS_CENTRAL
      - CARD_ACCESS_PERSONAL
      - CARD_ACCESS_CORPORATE
    KnownTravelerNumber:
      type: object
      title: KnownTravelerNumber
      description: Information about the Known Traveler Number (KTN).
      required:
      - number
      - issueCountry
      properties:
        number:
          type: string
          example: '12345'
          x-pii: IDENTIFIER
        issueCountry:
          type: string
          example: US
    PassengerCapacityAmenity:
      type: object
      title: PassengerCapacityAmenity
      description: Passenger capacity amenity properties.
      properties:
        displayText:
          type: string
          example: Standard passenger capacity
        passengerCapacityDescription:
          type: string
          example: Ticket sales are not limited for this flight
        passengerCapacityAttrDescription:
          type: string
          example: 'no'
    Tax:
      type: object
      title: Tax
      description: Tax details
      required:
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/Money'
          description: Tax amount
        taxCode:
          type: string
          description: Tax code
          example: VAT
        percentage:
          type: number
          format: double
          description: Tax amount to total amount
          example: 9
    AirRestrictedFaresParamsWrapper:
      type: object
      title: AirRestrictedFaresParamsWrapper
      properties:
        airRestrictedFaresParams:
          $ref: '#/components/schemas/AirRestrictedFaresParams'
    RailOrderStatus:
      type: string
      description: Order status for related orders
      enum:
      - CREATED
      - COMPLETE
      example: COMPLETE
    AnswerPair:
      type: object
      properties:
        item:
          type: string
          description: The option selected from the list of available choices.
        value:
          type: string
          description: The additional input provided (by the user) while selecting one of the options.
        description:
          type: string
          description: Description of the selected option.
    Department:
      type: object
      title: Department
      description: Department details.
      required:
      - id
      - name
      properties:
        id:
          $ref: '#/components/schemas/DepartmentId'
        name:
          type: string
          example: IT Department
        externalId:
          type: string
          description: External id of the department
          example: department-ext-id
        employeeCount:
          type: integer
          format: int32
          description: Count of employees in the department
          example: 57
    UAPassPlusMetadataExternal:
      type: object
      title: UAPassPlusMetadata
      description: Details for UAPassPlus Metadata.
      properties:
        uatpInfo:
          type: object
          title: uatpInfo
          description: UATP card information for UAPassPlus
    TmcFeeItem:
      type: object
      title: TmcFeeItem
      description: This describes the tmc fee item related to a particular itemGroup.
      required:
      - itemType
      properties:
        itemType:
          type: string
        feeInfo:
          $ref: '#/components/schemas/FeeInfo'
          description: tmc fee related information
        visibleToTraveler:
          type: boolean
          description: If the tmc fee is visible to traveler
          example: true
    NumStopsPref:
      type: object
      title: NumStopsPref
      description: Preferred number of stops.
      required:
      - numOfStops
      properties:
        numOfStops:
          type: integer
          format: int64
          example: 34
    MaskAmenityWrapper:
      type: object
      title: MaskAmenityWrapper
      properties:
        maskAmenity:
          $ref: '#/components/schemas/MaskAmenity'
    FormOfPayment:
      title: Form of Payment
      description: Information about form of payment to be used to charge customer
      type: object
      required:
      - type
      properties:
        type:
          type: string
          enum:
          - UNKNOWN
          - CARD
          - CASH
          - TFPAY
          - CHEQUE
          - BREX_POINTS
          - QANTAS_POINTS
          title: PaymentType
          description: Type of payment used
          example: CARD
          deprecated: true
          x-sunset: '2026-07-01'
        card:
          description: The payment card to be used to charge customer. This is only set if the payment type is 'CARD'
          $ref: '#/components/schemas/Card'
        additionalInfo:
          type: string
          description: Additional info to be added if payment type is 'UNKNOWN'.
        accessType:
          $ref: '#/components/schemas/CreditCardAccess'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
          description: Payment method used to pay for this transaction
        paymentMetadata:
          $ref: '#/components/schemas/PaymentMetadata'
        paymentSourceType:
          $ref: '#/components/schemas/PaymentSourceType'
    PreferredLocationLabel:
      type: string
      title: PreferredLocationLabel
      description: The label of preferred airport or rail station.
      enum:
      - HOME
      - WORK
      - OTHER
      example: HOME
    EmailBucketType:
      type: string
      title: EmailBucketType
      description: Email bucket type.
      enum:
      - BOOKING_CONFIRMATIONS
      - BOOKING_CHANGES
      - FLIGHT_UPDATES
      - APPROVAL_REQUESTS
      - APPROVAL_UPDATES
      - REMINDERS
      - INVOICE_UPDATES
      x-ignoreBreakingChanges:
      - EmailBucketType->INVOICE_UPDATES
      example: BOOKING_CONFIRMATIONS
    PnrMetadata:
      title: PnrMetadata
      description: Metadata when document is associated to pnr entity.
      type: object
      oneOf:
      - $ref: '#/components/schemas/FlightMetadataWrapper'
      - $ref: '#/components/schemas/LegMetadataWrapper'
    PreferredRailStation:
      type: object
      title: PreferredRailStation
      description: Rail station preferred by traveler.
      required:
      - stationCode
      - label
      properties:
        stationName:
          type: string
          description: Rail station name.
          example: Chicago Union Station
        stationCode:
          type: string
          description: Rail station code.
          example: CHI
        cityName:
          type: string
          description: Name of city where the rail station is located.
          example: Chicago
        countryCode:
          type: string
          description: Alpha-2 country code where the rail station is located.
        label:
          $ref: '#/components/schemas/PreferredLocationLabel'
    HotelAdditionalDetailType:
      title: HotelAdditionalDetailType
      type: string
      enum:
      - ADDITIONAL_DETAIL_TYPE_UNKNOWN
      - RATE_DESCRIPTION
      - PROPERTY_DESCRIPTION
      - PROPERTY_LOCATION
      - ROOM_INFORMATION
      - GUARANTEE_INFORMATION
      - DEPOSIT_INFORMATION
      - CANCELLATION_INFORMATION
      - CHECK_IN_CHECK_OUT_INFORMATION
      - EXTRA_CHARGE_INFORMATION
      - TAX_INFORMATION
      - SERVICE_CHARGE_INFORMATION
      - PACKAGE_INFORMATION
      - COMMISSION_INFORMATION
      - MISCELLANEOUS_INFORMATION
      - PROMOTIONAL_INFORMATION
      - INCLUSION_INFORMATION
      - AMENITY_INFORMATION
      - LATE_ARRIVAL_INFORMATION
      - LATE_DEPARTURE_INFORMATION
      - ADVANCED_BOOKING_INFORMATION
      - EXTRA_PERSON_INFORMATION
      - AREAS_SERVED
      - ONSITE_FACILITIES_INFORMATION
      - OFFSITE_FACILITIES_INFORMATION
      - ONSITE_SERVICES_INFORMATION
      - OFFSITE_SERVICES_INFORMATION
      - EXTENDED_STAY_INFORMATION
      - CORPORATE_BOOKING_INFORMATION
      - BOOKING_GUIDELINES
      - GOVERNMENT_BOOKING_POLICY
      - GROUP_BOOKING_INFORMATION
      - RATE_DISCLAIMER_INFORMATION
      - VISA_TRAVEL_REQUIREMENT_INFORMATION
      - SECURITY_INFORMATION
      - ONSITE_RECREATIONAL_ACTIVITIES_INFORMATION
      - OFFSITE_RECREATIONAL_ACTIVITIES_INFORMATION
      - GENERAL_MEETING_PLANNING_INFORMATION
      - GROUP_MEETING_PLANNING_INFORMATION
      - CONTRACT_NEGOTIATED_BOOKING_INFORMATION
      - TRAVEL_INDUSTRY_BOOKING_INFORMATION
      - MEETING_ROOM_DESCRIPTION
      - PET_POLICY_DESCRIPTION
      - MEAL_PLAN_DESCRIPTION
      - FAMILY_PLAN_DESCRIPTION
      - CHILDREN_INFORMATION
      - EARLY_CHECKOUT_DESCRIPTION
      - SPECIAL_OFFERS_DESCRIPTION
      - CATERING_DESCRIPTION
      - ROOM_DECOR_DESCRIPTION
      - OVERSOLD_POLICY_DESCRIPTION
      - LAST_ROOM_AVAILABILITY_DESCRIPTION
      - ROOM_TYPE_UPGRADE_DESCRIPTION
      - DRIVING_DIRECTIONS
      - DRIVING_DIRECTIONS_FROM_THE_NORTH
      - DRIVING_DIRECTIONS_FROM_THE_SOUTH
      - DRIVING_DIRECTIONS_FROM_THE_EAST
      - DRIVING_DIRECTIONS_FROM_THE_WEST
      - SURCHARGE_INFORMATION
      - MINIMUM_STAY_INFORMATION
      - MAXIMUM_STAY_INFORMATION
      - CHECK_IN_POLICY
      - CHECK_OUT_POLICY
      - EXPRESS_CHECK_IN_POLICY
      - EXPRESS_CHECK_OUT_POLICY
      - FACILITY_RESTRICTIONS
      - CUSTOMS_INFORMATION_FOR_MATERIAL
      - SEASONS
      - FOOD_AND_BEVERAGE_MINIMUMS_FOR_GROUPS
      - DEPOSIT_POLICY_FOR_MASTER_ACCOUNT
      - DEPOSIT_POLICY_FOR_RESERVATIONS
      - RESTAURANT_SERVICES
      - SPECIAL_EVENTS
      - CUISINE_DESCRIPTION
      - KEY_COLLECTION_INFO
      - IMPORTANT_INFO
    AirCancellationType:
      type: string
      title: AirCancellationType
      description: Type of cancellation.
      example: VOID
      enum:
      - REFUND
      - VOID
      - UNUSED_CREDITS
    LegalEntityId:
      type: object
      title: LegalEntityId
      description: The ID of the legal entity.
      required:
      - id
      properties:
        id:
          type: string
          example: fc1ccbce-8413-4fe9-b233-a324dfbe7421
    Variable:
      type: object
      title: Variable
      description: Variable defining the additional value to be sent along with custom field response.
      required:
      - type
      - name
      properties:
        type:
          type: string
          example: VARIABLE
          default: VARIABLE
        name:
          $ref: '#/components/schemas/VariableName'
    Int32RangeWrapper:
      type: object
      title: Int32RangeWrapper
      properties:
        iRange:
          $ref: '#/components/schemas/Int32Range'
    HotelBrand:
      type: object
      title: HotelBrand
      description: The brand of hotel.
      properties:
        brandCode:
          type: string
          description: The code of hotel brand.
          example: HY
        brandName:
          type: string
          description: The name of hotel brand.
          example: Global Hytt Corp.
    RailCo2EmissionDetails:
      type: object
      title: RailCo2EmissionDetails
      description: CO2 emission info for rail
      required:
      - co2EmissionKilograms
      properties:
        co2EmissionKilograms:
          type: number
          format: double
          description: CO2 emission for the outward/inward leg in kilograms for a single passenger.
          example: 10
        isApproximate:
          type: boolean
          description: Indicates whether the emissions value is approximate or not.
          example: true
    LegInfoRail:
      type: object
      title: LegInfoRail
      description: LegInfo about a rail.
      properties:
        arrivalDateTime:
          description: Date time of arrival.
          $ref: '#/components/schemas/DateTimeLocal'
        departureDateTime:
          description: Date time of departure.
          $ref: '#/components/schemas/DateTimeLocal'
        originInfo:
          description: Origin station info.
          $ref: '#/components/schemas/RailStationInfo'
        destinationInfo:
          description: Destination station info.
          $ref: '#/components/schemas/RailStationInfo'
    CancelDetail:
      title: CancelDetail
      description: Describe the details associated with cancel PNR.
      type: object
      properties:
        cancelObjectDetail:
          $ref: '#/components/schemas/CancelObjectDetail'
        refundInfo:
          type: array
          description: List of refund details associated with the cancel object.
          items:
            $ref: '#/components/schemas/RefundInfoDetail'
    RailDeliveryOption:
      description: Delivery options available.
      type: string
      enum:
      - ELECTRONIC_TICKET
      - KIOSK
      example: ELECTRONIC_TICKET
    PolicyTakeApprovalActionWrapper:
      type: object
      title: PolicyTakeApprovalActionWrapper
      properties:
        takeApproval:
          $ref: '#/components/schemas/PolicyTakeApprovalAction'
    Office:
      type: object
      title: Office
      description: Office details.
      required:
      - id
      - name
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
        id:
          $ref: '#/components/schemas/OfficeId'
        name:
          type: string
          example: Office
        latlng:
          $ref: '#/components/schemas/Latlng'
        taxId:
          type: string
          example: '133232'
    TokenizedExpiry:
      title: TokenizedExpiry
      type: object
      description: Contains the tokenized expiry of a Card.
      required:
      - expiryMonth
      - expiryYear
      properties:
        expiryMonth:
          type: string
          description: Tokenized Expiry month
          example: KvAuPANQWCpjwRQxcC8EXg==
        expiryYear:
          type: string
          description: Tokenized Expiry year
          example: fPBm0OWrKwPyIrCVcbg4cA==
    Credit:
      type: object
      title: Credit
      required:
      - ticketNumber
      - ticketType
      - sourcePnr
      - totalFare
      - passengerName
      - segmentsAvailable
      - type
      - airlineInfo
      - traveler
      - source
      - unusedCreditPcc
      - pnrOwningPcc
      properties:
        type:
          type: string
          description: Payment source type. Should be set to CREDIT for unused credit details.
        pnrOwningPcc:
          type: string
          description: PCC the PNR was created on.
        unusedCreditPcc:
          type: string
          description: PCC the credit was issued on.
        departureCountry:
          type: string
          description: 3 letter country code of the departure country associated with the original ticket.
          example: USA
        arrivalCountry:
          type: string
          description: 3 letter country code of the arrival country associated with the original ticket.
          example: USA
        ticketType:
          type: string
          description: Type of credit.
          enum:
          - TICKET_TYPE_UNKNOWN
          - ETICKET
          - MCO
        departureDate:
          description: Date for the departure of the first flight associated with the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        segmentsAvailable:
          type: string
          description: Whether all segments are unused or some have already been used.
          enum:
          - UNKNOWN
          - ALL_OPEN
          - PARTIAL
          - OTHER
        traveler:
          description: Information about the traveler for which the credit should be redeemed.
          $ref: '#/components/schemas/AirRequestTravelerInfo'
        passengerName:
          description: Name of the passenger associated with the credit.
          $ref: '#/components/schemas/Name'
        airlineInfo:
          description: Airline info with airline name and code
          $ref: '#/components/schemas/AirlineInfo'
        totalFare:
          description: Total airfare associated with the original ticket.
          $ref: '#/components/schemas/Money'
        issueDate:
          description: Issue date for the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        expiryDate:
          description: Expiry date for the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        source:
          $ref: '#/components/schemas/ThirdPartySource'
          default: SABRE
          description: Source of unused credit e.g. Sabre, NDC etc.
        sourcePnr:
          type: string
          description: PNR number corresponding to third party through which booking was made.
          example: MC5ONS
        flightIds:
          type: array
          description: ID of the flights on which this credit applies.
          minItems: 1
          items:
            type: string
        ticketNumber:
          type: string
          description: Ticket number for the ticket that was converted into an unused credit.
          example: '5267779139217'
      x-ignoreBreakingChanges:
      - Credit->pnrOwningPcc
      - Credit->unusedCreditPcc
      - Credit->source
    RatingWrapper:
      type: object
      title: RatingWrapper
      properties:
        rating:
          type: number
          format: double
    PassportWrapper:
      type: object
      title: PassportWrapper
      properties:
        passport:
          $ref: '#/components/schemas/Passport'
    StripeInfoWrapper:
      type: object
      title: StripeInfoWrapper
      description: Wrapper for StripeInfo
      required:
      - stripeInfo
      properties:
        stripeInfo:
          $ref: '#/components/schemas/StripeInfo'
    RailPnrTicket:
      type: object
      title: RailPnrTicket
      description: Rail ticket.
      required:
      - ticketNumber
      - legs
      - passengerRefs
      properties:
        issuedDateTime:
          description: Ticket issued date time.
          $ref: '#/components/schemas/DateTimeOffset'
        ticketNumber:
          type: string
          description: Ticket number.
          example: 0840010000072
        price:
          description: Price of the ticket.
          $ref: '#/components/schemas/Money'
        refundedPrice:
          description: Refunded price of the ticket.
          $ref: '#/components/schemas/Money'
        legs:
          type: array
          description: List of legs covered by this ticket.
          items:
            type: integer
            format: int32
            example: 1
            minimum: 0
        passengerRefs:
          type: array
          description: List of passenger indexes for this ticket.
          items:
            type: integer
            format: int32
            example: 1
            minimum: 0
      x-ignoreBreakingChanges:
      - RailPnrTicket->price
      - RailPnrTicket->refundedPrice
    RailCard:
      type: object
      title: RailCard
      description: Rail card
      required:
      - name
      - spotnanaCode
      - vendor
      properties:
        cardNumber:
          type: string
          description: Number of card
        expiryDate:
          description: Expiry date of the Rail Card.
          $ref: '#/components/schemas/DateModel'
        name:
          type: string
          description: Name of the Rail Card.
          example: Veterans Railcard
        spotnanaCode:
          description: Unique Spotnana code/identifier for Rail Card.
          type: string
          example: VET
        vendor:
          type: string
          description: Vendor Name.
          example: ATOC
    CostCenterId:
      type: object
      title: Cost center id.
      required:
      - id
      properties:
        id:
          type: string
          example: 731ccbca-0415-6fe1-d235-c324dfbe7423
    GatewayInfo:
      type: object
      title: GatewayInfo
      description: Payment gateway information
      oneOf:
      - $ref: '#/components/schemas/StripeInfoWrapper'
    RailRefundRateInfo:
      type: object
      title: RailRefundRateInfo
      description: Rate information for this refund option.
      required:
      - totalFare
      properties:
        totalFare:
          description: Total fare.
          $ref: '#/components/schemas/FareAmount'
        nonRefundableFare:
          description: Non refundable fare.
          $ref: '#/components/schemas/FareAmount'
        cancellationFee:
          description: Cancellation fee.
          $ref: '#/components/schemas/Money'
        refund:
          description: Total refund amount.
          $ref: '#/components/schemas/Money'
        voucher:
          description: Refund voucher details
          $ref: '#/components/schemas/RailRefundVoucher'
    DirectBillingWrapper2:
      type: object
      title: DirectBillingWrapper
      description: Wrapper for DirectBilling metadata
      required:
      - directBilling
      properties:
        directBilling:
          $ref: '#/components/schemas/DirectBilling2'
    TmcBasicInfo:
      type: object
      title: TmcBasicInfo
      description: TMC related basic information.
      required:
      - contractingTmc
      - bookingTmc
      properties:
        contractingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Contracting TMC is the TMC the user/organization contracted.
        bookingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Booking TMC is the TMC used for the bookings for the user/organization.
    PassengerCapacityAmenityWrapper:
      type: object
      title: PassengerCapacityAmenityWrapper
      properties:
        passengerCapacityAmenity:
          $ref: '#/components/schemas/PassengerCapacityAmenity'
    PreBookAnswers:
      type: object
      properties:
        answers:
          type: array
          items:
            $ref: '#/components/schemas/EntityAnswer'
        preBookQuestionResponseId:
          deprecated: true
          x-sunset: '2026-07-01'
          type: string
          description: The unique id sent back in the pre book questions API response
    FlightPassPaymentMetadataWrapper:
      type: object
      title: FlightPassPaymentMetadataWrapper
      description: Wrapper for Flight Pass payment metadata.
      required:
      - flightPassMetadata
      properties:
        metadataType:
          type: string
          description: Discriminator field for polymorphic deserialization
          example: FlightPassPaymentMetadata
          default: FlightPassPaymentMetadata
        flightPassMetadata:
          $ref: '#/components/schemas/FlightPassPaymentMetadata'
    SeatAmenityPref:
      type: object
      title: SeatAmenityPref
      description: Seat amenity preference.
      required:
      - seatAmenityTypes
      properties:
        seatAmenityTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_AIR_SEAT_AMENITY_TYPE
            - FLAT_BED
            - WIFI
            - IN_SEAT_POWER
            example: WIFI
    HoldInfo:
      type: object
      title: HoldInfo
      description: Hold Information about the booking.
      required:
      - holdDeadline
      properties:
        holdDeadline:
          $ref: '#/components/schemas/DateTimeOffset'
    EntityAnswer:
      type: object
      properties:
        entityId:
          type: string
          description: The unique ID for the question.
        userInput:
          type: string
          description: The text input given by user (if any).
        itemIds:
          type: array
          items:
            type: integer
            format: int32
          description: 'The id/enum value corresponding to the option chosen by the user as

            answer.

            '
        answers:
          type: array
          items:
            $ref: '#/components/schemas/AnswerPair'
        customFieldType:
          $ref: '#/components/schemas/CustomFieldType'
        questionDisplayText:
          type: string
          description: The question text to be displayed to the user.
        question:
          $ref: '#/components/schemas/Question'
    HotelAdditionalDetail:
      title: HotelAdditionalDetail
      type: object
      properties:
        additionalDetailType:
          $ref: '#/components/schemas/HotelAdditionalDetailType'
          description: Type of the Additional Detail for the room.
        text:
          type: string
    StatisticsItem:
      type: object
      required:
      - statisticType
      - totalFare
      properties:
        statisticType:
          type: string
          enum:
          - MINIMUM
          - MEDIAN
          - MAXIMUM
        totalFare:
          $ref: '#/components/schemas/FareAmount'
    OptionSourceMetadata:
      type: object
      title: OptionSourceMetadata
      description: Metadata information for the option source.
      oneOf:
      - $ref: '#/components/schemas/CompanyConfigSourceWrapper'
    SelectedPaymentSource:
      type: object
      description: Describes the selected payment source for the booking.
      properties:
        paymentSourceId:
          type: string
          format: uuid
          description: Unique identifier identifying this payment source.
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        rawPaymentSource:
          $ref: '#/components/schemas/RawPaymentSourceDetails'
        postPaymentRedirectionUrl:
          type: string
          description: Url for post payment redirection if payment source navigates user to a third party url
          example: https://mycompany.com/checkout?paymentSourceId=f49d00fe-1eda-4304-ba79-a980f565281d
        cvv:
          type: string
          description: CVV associated with associated payment source, if any.
        amount:
          description: Total amount to be charged for specified payment items.
          $ref: '#/components/schemas/Money'
    FeeInfo:
      type: object
      title: FeeInfo
      discriminator:
        propertyName: feeType
        mapping:
          BOOKING_FEE: '#/components/schemas/BookingFeeInfo'
          AGENT_FEE: '#/components/schemas/AgentFeeInfo'
      oneOf:
      - $ref: '#/components/schemas/BookingFeeInfo'
      - $ref: '#/components/schemas/AgentFeeInfo'
      x-oneOfValidFrom:
        AgentFeeInfo: '2025-08-20'
    ExpiryWrapper:
      type: object
      title: ExpiryWrapper
      properties:
        expiry:
          $ref: '#/components/schemas/Expiry'
    DoubleRange:
      type: object
      properties:
        min:
          type: number
          format: double
          description: Minimum value - inclusive.
        max:
          type: number
          format: double
          description: Maximum value - inclusive.
    MealPref:
      type: object
      title: MealPref
      description: Meal preferences.
      properties:
        exclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        inclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        specialMealDescription:
          type: string
          example: Veg only meal
    Location:
      title: Location
      description: Location details
      type: object
      required:
      - name
      properties:
        countryCode:
          type: string
          description: Unique country code for a location
          example: TR
        countryName:
          type: string
          description: Full name of the country
          example: Turkey
        googlePlaceId:
          type: string
          description: Unique place ID for the location assigned by Google
          example: ChIJL_P_CXMEDTkRw0ZdG-0GVvw
        latlong:
          $ref: '#/components/schemas/Latlng'
        name:
          type: string
          description: Full name of the Location
          example: Denver
        stateName:
          type: string
          description: Full name of the state
          example: Colorado
    LengthWrapper:
      type: object
      title: LengthWrapper
      properties:
        length:
          $ref: '#/components/schemas/Length'
    OwningPCCInfo:
      type: object
      title: OwningPCCInfo
      properties:
        zoneId:
          type: string
          description: Zone id of the PCC
          example: America/Chicago
    UserOrgId:
      type: object
      title: UserOrgId
      description: User and user's organization information.
      required:
      - userId
      - organizationId
      properties:
        organizationAgencyId:
          $ref: '#/components/schemas/OrganizationAgencyId'
        organizationId:
          $ref: '#/components/schemas/OrganizationId'
        userId:
          $ref: '#/components/schemas/UserId'
        tmcInfo:
          $ref: '#/components/schemas/TmcInfo'
          deprecated: true
          x-sunset: '2026-07-01'
        tmcBasicInfo:
          $ref: '#/components/schemas/TmcBasicInfo'
    RailFareComposition:
      type: string
      description: Rail Fare Composition
      enum:
      - THROUGH
      - DIRECT_SPLIT
      - INTERCHANGE_SPLIT
      example: DIRECT_SPLIT
    MealType:
      type: string
      title: MealType
      description: Type of the meal
      enum:
      - UNKNOWN_MEAL
      - AVML
      - BBML
      - BLML
      - CHML
      - DBML
      - FPML
      - GFML
      - HFML
      - HNML
      - KSML
      - LCML
      - LFML
      - LPML
      - LSML
      - MOML
      - NLML
      - NSML
      - ORML
      - PFML
      - RVML
      - SFML
      - SPML
      - VGML
      - VJML
      - VLML
      - VOML
      example: VGML
    DownloadInvoiceResponse:
      title: DownloadInvoiceResponse
      type: object
      description: Invoice of trip in PDF format
      properties:
        data:
          type: string
          format: byte
          example: 6935813e12584abda0e43d71cd2ea260
    UserOrgIdListWrapper:
      type: object
      title: UserOrgIdListWrapper
      properties:
        userOrgIdList:
          type: array
          items:
            $ref: '#/components/schemas/UserOrgId'
    AirPref:
      type: object
      title: AirPref
      description: Travel preferences related to air travel.
      properties:
        airlinePrefs:
          type: array
          items:
            $ref: '#/components/schemas/AirlinePref'
        alliancePref:
          $ref: '#/components/schemas/AlliancePref'
        farePref:
          $ref: '#/components/schemas/FarePref'
        homeAirport:
          type: string
          example: NEW YORK
        mealPref:
          $ref: '#/components/schemas/MealPref'
        numStopPref:
          $ref: '#/components/schemas/NumStopsPref'
        seatAmenityPref:
          $ref: '#/components/schemas/SeatAmenityPref'
        seatLocationPrefs:
          type: array
          items:
            $ref: '#/components/schemas/SeatLocationPref'
        preferredAirports:
          type: array
          description: A list of user preferred airports.
          items:
            $ref: '#/components/schemas/PreferredAirport'
    WeightLimit:
      description: The weight limit of a baggage option.
      type: object
      properties:
        weight:
          description: The weight limit of a baggage option.
          type: number
          example: 32
        unit:
          description: The unit of measurement for the weight limit.
          type: string
          enum:
          - lb
          - kg
          example: kg
          x-ignoreBreakingChanges:
          - unit->KG
          - unit->LBS
    CreditCardAccess:
      type: object
      title: CreditCardAccess
      description: Access type for cards to check who in the organization has permission to use it
      required:
      - accessType
      - entityIds
      properties:
        accessType:
          $ref: '#/components/schemas/CreditCardAccessType'
        entityIds:
          type: array
          items:
            type: string
          description: Holds the ids for for all users who can access the card or organization id
        entities:
          type: array
          description: A list of cardAccessEntity consisting of central card access level if present and entity id.
          items:
            $ref: '#/components/schemas/CardAccessEntity'
    FlightMetadataWrapper:
      type: object
      title: FlightMetadataWrapper
      properties:
        flightMetadata:
          $ref: '#/components/schemas/FlightMetadata'
    PaymentMethod:
      type: string
      description: Payment method
      enum:
      - PAYMENT_METHOD_UNKNOWN
      - CREDIT_CARD
      - BREX_POINTS
      - CASH
      - QANTAS_POINTS
      - VENDOR_PROGRAM_PAYMENT
      - DELAYED_INVOICING
      - FLIGHT_CREDITS
      - QANTAS_TRAVEL_FUND
      - CUSTOM_VIRTUAL_PAYMENT
      - FLIGHT_PASS
      - MISCELLANEOUS_CREDIT_ORDER
      - NO_PREPAYMENT
      x-ignoreBreakingChanges:
      - PaymentMethod->MISCELLANEOUS_CREDIT_ORDER
      - PaymentMethod->NO_PREPAYMENT
      example: BREX_POINTS
    SupplierType:
      type: string
      description: Supplier type like Sabre, TravelFusion etc.
      enum:
      - SABRE
      - AMADEUS
      - TRAVEL_FUSION
      - FARELOGIX_NDC
      - ATPCO_NDC
      - TRAINLINE
      - AVIA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - NDC
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - NATIONAL
      - ALAMO
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      - EUROSTAR
      - AVIS
      - BUDGET
      x-ignoreBreakingChanges:
      - SupplierType->PREMIER_INN
      example: SABRE
    PreferredType:
      title: PreferredType
      type: string
      description: Preference type.
      enum:
      - NOT_PREFERRED
      - COMPANY_PREFERRED
      - SPOTTERS_CHOICE
      - COMPANY_BLOCKED
      - TMC_PREFERRED
    TransactionStatus:
      type: string
      description: Transaction status for service fee transaction.
      enum:
      - ISSUED
      - DELAYED_INVOICE
      - FAILED
      - CHARGED
      - REFUNDED
      - FORFEITED
      - BILLED_TO_COMPANY
      - NO_CHARGE
      - GUARANTEE
      - TO_BE_CHARGED
      - SUCCESS
      - MANUAL
      - WAIVED_OFF
      - TO_BE_ISSUED
      - APPLIED
      x-ignoreBreakingChanges:
      - TransactionStatus->APPLIED
      example: ISSUED
    HotelPrefAmenity:
      type: string
      description: Preferred hotel amenity.
      enum:
      - PARKING
      - FREE_PARKING
      - FREE_BREAKFAST
      - POOL
      - WIFI
      - FITNESS_CENTER
      - FAMILY_FRIENDLY
      - RECEPTION
      - SPA
      - RESTAURANT
      - BAR
      - TRANSPORTATION
      - PET_FRIENDLY
      - BUSINESS_CENTER
      - AIR_CONDITIONING
      - BEACH_ACCESS
      - LAUNDRY_SERVICES
      - ROOM_SERVICE
      - ACCESSIBLE
    ThirdPartySource:
      type: string
      enum:
      - UNKNOWN_SOURCE
      - SABRE
      - TRAVEL_FUSION
      - AVIA
      - NDC
      - TRAINLINE
      - ATPCO_NDC
      - FARELOGIX_NDC
      - OFFLINE
      - CONNEXUS
      - ROUTEHAPPY
      - AMADEUS
      - GIATA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - EUROSTAR
      - NATIONAL
      - ALAMO
      - AVIS
      - BUDGET
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      x-ignoreBreakingChanges:
      - ThirdPartySource->BOOKING_COM
      - ThirdPartySource->CARTRAWLER
      - ThirdPartySource->PREMIER_INN
      example: SABRE
    CarType:
      type: string
      title: CarType
      description: Car type.
      enum:
      - OTHER
      - MINI
      - ECONOMY
      - COMPACT
      - MID_SIZE
      - STANDARD
      - FULL_SIZE
      - PREMIUM
      - LUXURY
      - CONVERTIBLE
      - MINIVAN
      - SUV
      - VAN
      - PICKUP
      - SPORTS
      - SPECIAL
      - RECREATIONAL_VEHICLE
      - WAGON
      example: ECONOMY
    SecurityPolicy:
      type: object
      title: SecurityPolicy
      properties:
        securityPolicy:
          $ref: '#/components/schemas/AirPolicy'
    CarDailyRate:
      title: CarDailyRate
      description: Contains daily rate for the relevant car.
      properties:
        total:
          description: Daily total rate.
          $ref: '#/components/schemas/Money'
        base:
          description: Daily base rate.
          $ref: '#/components/schemas/Money'
        tax:
          description: Daily tax rate.
          $ref: '#/components/schemas/Money'
    FlightCredits:
      type: object
      title: FlightCredits
      description: Flight credits for a traveler.
      required:
      - totalCreditAmount
      - changePenalty
      - netCreditAmount
      properties:
        totalCreditAmount:
          description: Amount of flight credits.
          $ref: '#/components/schemas/FareAmount'
        changePenalty:
          description: Change penalty applicable for using this credit.
          $ref: '#/components/schemas/FareAmount'
        netCreditAmount:
          description: Net credit amount (total credit amount - change penalty)
          $ref: '#/components/schemas/FareAmount'
    AppliedCreditInfo:
      type: object
      title: AppliedCreditInfo
      description: Information about credit redeemed in booking.
      required:
      - creditId
      properties:
        creditId:
          type: string
          description: Unique ID of credit applied. For example, numeric ID of unused ticket.
          example: '0017574214321'
        creditAmount:
          $ref: '#/components/schemas/FareAmount'
          description: Total credit amount available.
        fareDifference:
          $ref: '#/components/schemas/Money'
          description: 'Difference between the selected fare and credit available.

            If the fare is greater than credit available, value of this field will be positive (that amount will be charged to payment method).

            If the fare is less than credit available, value of this field will be negative (credit balance will remain).

            '
        penalty:
          $ref: '#/components/schemas/Money'
          description: Penalty amount applied to redeem credit. This could be a change fee applied when redeeming.
        ticketType:
          type: string
          description: Type of credit.
          enum:
          - ETICKET
          - MCO
    Int64Wrapper:
      type: object
      title: Int64Wrapper
      properties:
        l:
          type: integer
          format: int64
    SeatSelectionPolicy:
      type: object
      title: SeatSelectionPolicy
      properties:
        seatSelectionPolicy:
          $ref: '#/components/schemas/AirPolicy'
    AirAmenity:
      type: object
      title: AirAmenity
      oneOf:
      - $ref: '#/components/schemas/SeatAmenityWrapper'
      - $ref: '#/components/schemas/WifiAmenityWrapper'
      - $ref: '#/components/schemas/PowerAmenityWrapper'
      - $ref: '#/components/schemas/EntertainmentAmenityWrapper'
      - $ref: '#/components/schemas/BeverageAmenityWrapper'
      - $ref: '#/components/schemas/AircraftAmenityWrapper'
      - $ref: '#/components/schemas/LayoutAmenityWrapper'
      - $ref: '#/components/schemas/FreshFoodAmenityWrapper'
      - $ref: '#/components/schemas/CleaningAmenityWrapper'
      - $ref: '#/components/schemas/MaskAmenityWrapper'
      - $ref: '#/components/schemas/TemperatureAmenityWrapper'
      - $ref: '#/components/schemas/PassengerCapacityAmenityWrapper'
      - $ref: '#/components/schemas/BlockedAdjacentSeatsAmenityWrapper'
      - $ref: '#/components/schemas/CovidTestingAmenityWrapper'
      - $ref: '#/components/schemas/VaccineAmenityWrapper'
    BlockedAdjacentSeatsAmenity:
      type: object
      title: BlockedAdjacentSeatsAmenity
      description: Passenger Capacity Amenity properties
      properties:
        displayText:
          type: string
          example: No blocked adjacent seats
        blockedAdjacentSeatsDescription:
          type: string
          example: Adjacent seats are not blocked on this flight
        blockedAdjacentSeatsAttrDescription:
          type: string
          example: 'no'
    Int32Range:
      type: object
      properties:
        min:
          type: integer
          format: int32
          description: Minimum value - inclusive.
        max:
          type: integer
          format: int32
          description: Maximum value - inclusive.
    OverheadBagPolicy:
      type: object
      title: OverheadBagPolicy
      properties:
        overheadBagPolicy:
          $ref: '#/components/schemas/AirPolicy'
    RailPnrFareLegInfo:
      type: object
      title: FarePnrLegInfo
      description: Information about the leg this fare represents.
      required:
      - legIndex
      properties:
        legIndex:
          type: integer
          format: int32
          description: Index of leg in journey.
          example: 1
        travelClass:
          $ref: '#/components/schemas/RailTravelClass'
          example: FIRST
    RailValidity:
      type: object
      title: RailValidity
      description: Time validity for journey.
      required:
      - validFrom
      - validUntil
      properties:
        validFrom:
          description: Starting time of validity.
          $ref: '#/components/schemas/DateTimeLocal'
        validUntil:
          description: End time of validity.
          $ref: '#/components/schemas/DateTimeLocal'
    HotelSpecialRequests:
      type: object
      title: HotelSpecialRequest
      description: Hotel special requests
      properties:
        roomLocations:
          type: array
          description: Room Location special request
          items:
            type: string
            enum:
            - HIGH_FLOOR
            - LOW_FLOOR
            example: HIGH_FLOOR
        roomFeatures:
          type: array
          description: Room Features List
          items:
            type: string
            enum:
            - CRIB
            - ROLLAWAY_BED
            - FEATHER_FREE_ROOM
            - ACCESSIBLE_ROOM
            - NEAR_ELEVATOR
            example: FEATHER_FREE_ROOM
        checkIn:
          type: string
          description: Early or Late Check-in
          enum:
          - EARLY_CHECK_IN
          - LATE_CHECK_IN
          example: LATE_CHECK_IN
        checkInTime:
          description: Requested time for check-in
          $ref: '#/components/schemas/TimeLocal'
        flightNumber:
          type: string
          description: Attach flight number
          example: AC1234
        additionalNote:
          type: string
          description: Free form text to describe special request
          example: Extra pillows and blankets for added comfort during the stay.
        accessibleFeatures:
          type: array
          description: Accessible Features List
          items:
            $ref: '#/components/schemas/HotelAccessibleFeatureType'
    UnusedCreditExchangeInfo:
      type: object
      title: ExchangeInfo
      description: Exchange information for unused credits.
      properties:
        previousTicket:
          type: string
          description: Previous ticket number in case of exchanges.
    FlightNumber:
      title: FlightNumber
      description: Flight number and airline code.
      required:
      - airlineCode
      - num
      properties:
        num:
          type: string
          description: Flight number.
          example: '321'
        airlineCode:
          type: string
          description: Two-letter IATA airline code.
          example: AA
    OfferExpiryInfo:
      type: object
      title: OfferExpiryInfo
      description: 'Date time in UTC till when this cancellation offer is valid. For example void window expiry.

        '
      required:
      - dateTime
      properties:
        dateTime:
          $ref: '#/components/schemas/DateTimeOffset'
    RailPnrRefundRateInfo:
      type: object
      title: RailPnrRefundRateInfo
      description: Refund rate details including fare refund, admin fee, and total refund.
      properties:
        fareRefund:
          description: Fare refund amount.
          $ref: '#/components/schemas/Money'
        adminFee:
          description: Admin fee for the refund.
          $ref: '#/components/schemas/Money'
        totalRefund:
          description: Total refund amount (fareRefund - adminFee).
          $ref: '#/components/schemas/Money'
    PnrPolicyInfo:
      title: PnrPolicyInfo
      description: Policy Info applicable for the associated itinerary
      type: object
      properties:
        policies:
          type: array
          description: List of policies applied to the itinerary.
          items:
            $ref: '#/components/schemas/PnrPolicyId'
        ruleResultInfos:
          type: array
          items:
            $ref: '#/components/schemas/PolicyRuleResultInfo'
    ChargeCode:
      type: string
      description: Charge code for transaction fare detail, used for email display ordering.
      enum:
      - BASE
      - SUBTOTAL
      - CHANGE_FEE_CHARGE
      - AIRLINE_FEES_CHARGE
      - DESTINATION_FEES_CHARGE
      - TOTAL_DELTA
      - TOTAL_CHARGE
      - CANCEL_FEE_CHARGE
      - PREVIOUS_TOTAL_CHARGE
      - MISCELLANEOUS_CHARGE
      - PREPAID_FEE
      - POSTPAID_FEE
      example: BASE
    LegUpdates:
      type: object
      title: LegUpdates
      description: Alerts like connection risk for a leg
      properties:
        connectionAlerts:
          type: array
          items:
            $ref: '#/components/schemas/ConnectionRiskAlert'
    BookerInfo:
      title: BookerInfo
      description: Booker Details
      type: object
      properties:
        name:
          type: string
          description: Name of the Booker
          example: Harry Potter
          x-pii: SENSITIVE
        email:
          type: string
          description: Email of the Booker
          example: harry@spotnana.com
          x-pii: IDENTIFIER
        role:
          type: string
          description: User facing role of the Booker
          enum:
          - UNKNOWN_ROLE
          - AGENT
          - TRAVEL_MANAGER
          - TRAVELER
          - REGISTRAR
          - ADMIN
          x-ignoreBreakingChanges:
          - StatusEnum->ADMIN
          example: AGENT
        tmcName:
          type: string
          description: Name of the Tmc booker belongs to
          example: Spotnana Technology
    ThirdPartyPnrRemark:
      title: ThirdPartyPnrRemark
      description: Third party remarks to the given PNR
      oneOf:
      - $ref: '#/components/schemas/SabrePnrRemarkWrapper'
    Dimensions:
      type: object
      title: Dimensions
      description: Image dimensions ie width and height.
      properties:
        height:
          type: integer
          format: int32
          example: 120
        width:
          type: integer
          format: int32
          example: 240
    PolicySplitPaymentActionWrapper:
      type: object
      title: PolicySplitPaymentActionWrapper
      properties:
        splitPayment:
          $ref: '#/components/schemas/SplitPayment'
    FareTypeEnum:
      title: FareTypeEnum
      description: Type of fare
      type: string
      enum:
      - PUBLISHED
      - CORPORATE
      - PRIVATE_MARKETED_PUBLIC
      - PRIVATE
      example: PUBLISHED
    PnrTraveler:
      type: object
      title: PnrTraveler
      required:
      - userId
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
          description: User ID for this traveler
        travelerInfo:
          $ref: '#/components/schemas/TravelerInfoResponse'
          description: Traveler info for this traveler
        personalInfo:
          $ref: '#/components/schemas/UserPersonalInfo'
          description: Personal info like name, email for this traveler
        loyalties:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyInfo'
        persona:
          $ref: '#/components/schemas/Persona'
        businessInfo:
          $ref: '#/components/schemas/TravelerBusinessInfo'
          description: Business information of the traveler for this booking.
        originalBusinessInfo:
          $ref: '#/components/schemas/TravelerBusinessInfo'
          description: Original business information of the traveler before any trip-specific overrides are applied. It's populated only when trip overrides are applied.
          readOnly: true
        tier:
          $ref: '#/components/schemas/Tier'
        blockLoyalty:
          type: boolean
          description: If true, hides the loyalty program input on the checkout page for this traveler.
          default: false
          example: false
    PromotionalOffers:
      type: object
      title: PromotionalOffer
      description: Promotional offer info for car rental.
      properties:
        type:
          type: string
          description: Type of promotional offer.
          enum:
          - PERCENTAGE_DISCOUNT
          - FREE_ADDITIONAL_DRIVER
          - MONETARY_DISCOUNT
          - FREE_GPS
          - FREE_FUEL
          - FREE_DAYS
          - FREE_WINTER_CARKIT
          - FREE_CONGESTION_CHARGE
          - FREE_CHILD_SEAT
          - FREE_PERSONAL_INSURANCE
          - EURO_DISNEY_PASS
          - FREE_SKI_PASS
          - FREE_UPGRADE
          - PERCENTAGE_DISCOUNT_GPS
          - FREE_WIFI
          - GUARANTEED_MAM
          - GENERIC_OFFER
          example: PERCENTAGE_DISCOUNT
        subType:
          type: string
          description: Sub-type of promotional offer.
        description:
          type: string
          description: Descriptive text for the promotional offer.
          example: This special price is inclusive of a 4.09% discount. Discount is based on standard rate from the car hire agent.
        discountAmount:
          $ref: '#/components/schemas/Money'
          description: Discount amount applied to the rental.
        originalAmount:
          $ref: '#/components/schemas/Money'
          description: Original amount before discount is applied.
        value:
          type: string
          description: Value associated with the promotional offer (e.g., percentage value).
          example: '4'
    HotelRoomMealType:
      type: string
      description: Type of meal plan
      enum:
      - UNKNOWN
      - ALL_INCLUSIVE
      - AMERICAN
      - BED_AND_BREAKFAST
      - BUFFET_BREAKFAST
      - CARIBBEAN_BREAKFAST
      - CONTINENTAL_BREAKFAST
      - ENGLISH_BREAKFAST
      - EUROPEAN_PLAN
      - FAMILY_PLAN
      - FULL_BOARD
      - FULL_BREAKFAST
      - HALF_BOARD_MODIFIED_AMERICAN_PLAN
      - AS_BROCHURED
      - ROOM_ONLY
      - SELF_CATERING
      - BERMUDA
      - DINNER_BED_AND_BREAKFAST_PLAN
      - FAMILY_AMERICAN
      - BREAKFAST_MEAL_PLAN
      - MODIFIED
      - LUNCH_MEAL_PLAN
      - DINNER_MEAL_PLAN
      - BREAKFAST_AND_LUNCH
      example: ENGLISH_BREAKFAST
    PnrCancelRequest:
      title: PnrCancelRequest
      type: object
      description: Request to cancel a PNR or part of PNR object.
      required:
      - cancelType
      - cancelDetails
      properties:
        cancellationType:
          type: string
          enum:
          - NO_REFUND
          - FULL_REFUND
          - PARTIAL_REFUND
          - FULL_CREDIT
          description: 'Type of cancellation to be performed. For the NO_REFUND, FULL_REFUND and

            FULL_CREDIT cancellation types, if no cancellationDetails are provided, we assume the

            entire PNR is being canceled. If the cancellation type is FULL_CREDIT, we will also

            assume the credits created will have 0 penalty and an expiry date of 1 year from the

            issue date of the ticket.

            '
          example: FULL_REFUND
        cancellationDetails:
          type: array
          description: List of object to be cancelled and their associated refund details.
          items:
            $ref: '#/components/schemas/CancelDetail'
        bookingEmailInfo:
          type: object
          description: Information passed to the Spotnana email system that processes booking updates.
          properties:
            disableEmail:
              type: boolean
              description: Whether an email should be sent to travelers.
              example: true
    DoubleListWrapper:
      type: object
      title: DoubleListWrapper
      properties:
        dList:
          type: array
          items:
            type: number
            format: double
    AirTravelerCancellationInfo:
      type: object
      title: AirTravelerCancellationInfo
      description: Cancellation information for traveler.
      required:
      - userId
      - tickets
      properties:
        userId:
          description: User ID of traveler.
          $ref: '#/components/schemas/UserId'
        travelerInfo:
          description: Unique identifier for the traveler in this response.
          $ref: '#/components/schemas/TravelerInfoResponse'
        tickets:
          type: array
          description: Cancellation information for traveler tickets.
          minItems: 1
          items:
            $ref: '#/components/schemas/TicketCancellationInfo'
        cancellationOptions:
          type: array
          description: Cancellation options for this traveler.
          minItems: 1
          items:
            $ref: '#/components/schemas/AirCancellationOption'
    VoidPolicy:
      type: object
      title: VoidPolicy
      description: Void policy information for the PNR
      properties:
        isVoidable:
          type: boolean
          description: Set to true if either PNR is not ticketed or the PNR can be voided based on all the pre validation checks
          example: true
        voidPeriod:
          $ref: '#/components/schemas/Duration'
          description: Duration up to which free cancelling is allowed. The field is not set if isVoidable is false, or when the PNR can be cancelled indefinitely (like when PNR hasn't been ticketed yet, but is in the confirmed state)
        isInfoAvailable:
          type: boolean
          description: If false, void policy is not available for the PNR
          example: true
    LimoAmenities:
      type: object
      title: LimoAmenities
      description: Limo car amenities.
      properties:
        numPassengers:
          type: integer
          format: int32
          description: Number of passengers allowed.
        numSmallBags:
          type: integer
          format: int32
          description: Number of small bags allowed.
        numLargeBags:
          type: integer
          format: int32
          description: Number of large bags allowed.
    CreditUsageType:
      type: string
      description: Usage type of the credit.
      enum:
      - CREDIT_USAGE_TYPE_UNKNOWN
      - COMPANY
      - PERSONAL
    CarExtraType:
      type: string
      title: CarExtraType
      description: Car Extra Types.
      enum:
      - RENTER_AGE
      - ADDITIONAL_DRIVER
      - BABY_STROLLER
      - CHILD_SEAT_BOOSTER
      - BICYCLE_RACK
      - CARGO_BARRIER_BACK
      - CARGO_BARRIER_FRONT
      - BOOSTER_SEAT_UP_TO_AGE_12
      - COLLISION_DAMAGE_WAIVER
      - CHILD_SEAT_UP_TO_AGE_3
      - CHILD_SEAT_INFANT
      - SATELLITE_RADIO
      - CHILD_SEAT_TODDLER
      - REAR_SEAT_DVD_PLAYER
      - FLAG_HOLDER
      - HAND_CONTROL_LEFT
      - HAND_CONTROL_RIGHT
      - MOTORCYCLE_HELMET
      - SECURITY_DEVICES
      - JERRY_CAN
      - LOSS_DAMAGE_WAIVER
      - LUGGAGE_ROOF_CASE
      - LUGGAGE_TRAILER
      - LUGGAGE_RACK
      - NAVIGATIONAL_SYSTEM
      - NAVIGATIONAL_SYSTEM_BUILT_IN
      - PERSONAL_ACCIDENT_INSURANCE
      - MOBILE_PHONE
      - ROAD_CONGESTION_PAYMENT_SCHEME
      - SEAT_BELT_EXTENSION
      - SNOW_BOARD_RACKS
      - SKI_BOX
      - SKI_RACK_ONLY
      - SKI_RACK_OR_BOX
      - SKI_EQUIPPED_VEHICLE
      - SNOW_CHAINS
      - SNOW_PACKS
      - SNOW_TIRES
      - SPINNER_KNOB
      - SURF_RACK
      - SCOOTER_TOP_CASE
      - SNOW_WINTER_TIRES
      - TOLL_PAYMENT_TAG_PASS
      - SPARE_TIRE
      - WHEEL_CHAIR_ACCESS_RAMP
      - WHEEL_CHAIR
      - WIFI_ACCESS
      example: CHILD_SEAT_INFANT
    PolicyPredicate:
      type: string
      description: This contains the enum mentioning the policy rule which was violated.
      enum:
      - UNKNOWN_PREDICATE_STRING
      - MAX_FARE_PER_TRAVELLER_VIOLATION
      - FARE_MORE_THAN_MINIMUM
      - FARE_MORE_THAN_MEDIAN
      - FARE_LESS_THAN_MEDIAN
      - FARE_MORE_THAN_LLF
      - MAX_FARE_PER_TRAVELLER_VIOLATION_INCLUDING_TAX
      - MAX_FARE_PER_TRAVELLER_VIOLATION_EXCLUDING_TAX
      - HOTEL_PAYMENT_OPTIONS_VIOLATION
      - RAIL_BOOKING_WINDOW_GAP_VIOLATION
      - RAIL_TRAVEL_CLASS_VIOLATION
      - RAIL_TICKET_REFUNDABLE_VIOLATION
      - RAIL_MAX_BOOKING_PRICE_VIOLATION_INCLUDING_TAX
      - RAIL_MAX_BOOKING_PRICE_VIOLATION_EXCLUDING_TAX
      - AIR_MAX_PRICE_MORE_THAN_LLF_VIOLATION_INCLUDING_TAX
      - AIR_MAX_PRICE_MORE_THAN_LLF_VIOLATION_EXCLUDING_TAX
      - HOTEL_RESTRICTED_KEYWORDS_VIOLATION
      - RESTRICTED_LOCATION_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_DOMESTIC_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_INTERNATIONAL_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_VIOLATION
      - ITINERARY_WITHIN_EVENT_TRAVEL_WINDOW
      - HOTEL_IN_ALLOWED_HOTEL_LIST
      - PAYMENT_ACCESS_VIOLATION
      - AIRPORT_IN_ALLOWED_AIRPORT_LIST
      - ITINERARY_TYPE_IS_NOT_IN_ALLOWED_BOOKING_TYPES
      - PAYMENT_AIR_ADDON_VIOLATION
      - MAX_HOTEL_BOOKING_PRICE_INCLUDING_TAX
      - MAX_HOTEL_BOOKING_PRICE_EXCLUDING_TAX
      - AIR_NUM_TRAVELERS_ALLOWED
      - PREFERRED_VENDOR_VIOLATION
      - SEAT_ADDON_VIOLATION
      - BAGGAGE_ADDON_VIOLATION
      - EARLY_BIRD_ADDON_VIOLATION
      - WIFI_ADDON_VIOLATION
      - RESTRICTED_BOOKING_VIOLATION
      - HIGHEST_ALLOWED_CABIN_VIOLATION
      - LOWEST_FARE_PER_HOTEL_PROPERTY_VIOLATION
      - AIR_RESTRICTED_FARES_VIOLATION
      - AIR_ANCILLARY_VIOLATION
      x-ignoreBreakingChanges:
      - PolicyPredicate->LOWEST_FARE_PER_HOTEL_PROPERTY_VIOLATION
      - PolicyPredicate->AIR_RESTRICTED_FARES_VIOLATION
      - PolicyPredicate->AIR_ANCILLARY_VIOLATION
    LLFPnrInfo:
      title: LLFPnrInfo
      description: Lowest logical fare info at pnr level
      required:
      - totalFare
      properties:
        totalFare:
          $ref: '#/components/schemas/Money'
    ItemGroup:
      type: object
      title: ItemGroup
      description: This represents what has been purchased/refunded as a part of this ticket for air and confirmation for hotel,car and rail.
      properties:
        transactionType:
          description: Type of this transaction
          $ref: '#/components/schemas/TransactionType'
        userId:
          description: User id of the user to which the itemGroup is related
          $ref: '#/components/schemas/UserId'
        confirmationNumber:
          type: string
          example: '2797091789401'
        transactionDateTime:
          description: Date time of the transaction
          $ref: '#/components/schemas/DateTimeLocal'
        transactionAmountDiff:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Difference between amount relating to this itemGroup and last itemGroup having same confirmation number.'
          $ref: '#/components/schemas/FareAmount'
        transactionFeesDiff:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Difference between airline fees in case of air and last itemGroup having same confirmation number.'
          $ref: '#/components/schemas/Money'
        totalAmountDiff:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Difference between total amount for this itemGroup and last itemGroup having same confirmation number.'
          $ref: '#/components/schemas/FareAmount'
        penaltyDiff:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Difference between penalty charged for this itemGroup and last itemGroup having same confirmation number.'
          $ref: '#/components/schemas/Money'
        transactionAmount:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Amount relating to this itemGroup.'
          $ref: '#/components/schemas/FareAmount'
        transactionFees:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Airline fees in case of air.'
          $ref: '#/components/schemas/Money'
        totalAmount:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Total amount for this itemGroup.'
          $ref: '#/components/schemas/FareAmount'
        totalPnrAmount:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Total amount for this pnr up until this transaction.'
          $ref: '#/components/schemas/Money'
        penalty:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead. Penalty charged for this itemGroup.'
          $ref: '#/components/schemas/Money'
        originalTicketNumber:
          description: Original ticket number if this is an exchanged ticket
          type: string
        invoiceData:
          description: Invoice related data
          $ref: '#/components/schemas/ItemGroupInvoiceData'
        items:
          type: array
          items:
            $ref: '#/components/schemas/TransactionItem'
        transactionFares:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use transactionFareDetails instead.'
          type: array
          items:
            $ref: '#/components/schemas/TransactionFare'
        previousTransactionFares:
          deprecated: true
          x-sunset: '2027-01-01'
          description: 'Deprecated: will be removed in transactions v3. Use previousTransactionFareDetails instead.'
          type: array
          items:
            $ref: '#/components/schemas/TransactionFare'
        transactionFareDetails:
          type: array
          description: Detailed fare information for email display.
          items:
            $ref: '#/components/schemas/TransactionFareDetail'
        previousTransactionFareDetails:
          type: array
          description: Previous detailed fare information for email display.
          items:
            $ref: '#/components/schemas/TransactionFareDetail'
        associatedTicketNumber:
          description: Associated ticket number in case of penalty and taxes in separate ticket
          type: string
        productName:
          description: Product name for this item group when the ticket type is EMD.
          type: string
          example: REFUNDABLE_BALANCE
    HotelRoomMealsIncluded:
      type: string
      description: Meals included, (Breakfast/Lunch/Dinner)
      enum:
      - BREAKFAST
      - LUNCH
      - DINNER
      example: BREAKFAST
    OtherFeeType:
      type: string
      title: OtherFeeType
      description: Other fee type
      enum:
      - MERCHANT_FEE
      example: MERCHANT_FEE
    RailPassengerType:
      type: string
      description: Passenger type
      enum:
      - ADULT
      - CHILD
      - INFANT
      - YOUTH
      - SENIOR
      example: ADULT
    CancelObjectDetail:
      title: CancelObjectDetail
      description: Details associated with object to be cancel.
      type: object
      properties:
        cancelObjectType:
          type: string
          enum:
          - PNR
          - TICKET
          - JOURNEY
          description: Type of entity to be cancel.
          example: PNR
        cancelObjectId:
          type: string
          description: Unique ID of Cancel Object
        vendorCancellationId:
          type: string
          description: Vendor cancellation Id of the supplier.
    EngineType:
      type: string
      title: EngineType
      description: Engine types.
      enum:
      - UNKNOWN_ENGINE
      - PETROL
      - DIESEL
      - ELECTRIC
      - CNG
      - HYBRID
      - HYDROGEN
      - MULTI_FUEL
      - ETHANOL
      example: PETROL
    UnusedCreditInfo:
      type: object
      title: UnusedCreditInfo
      description: Information regarding an unused credit.
      properties:
        sourcePnr:
          type: string
          description: PNR number corresponding to third party through which booking was made.
          example: MC5ONS
        spotnanaPnr:
          type: string
          description: Spotnana pnr ID.
          example: '2345678'
        ticketNumber:
          type: string
          description: Ticket number for the ticket that was converted into an unused credit.
[...]
