openapi: 3.1.0
info:
  title: Air Company Tier API
  version: v2
  description: APIs to perform search, checkout and book an air pnr
servers:
- url: https://api-ext-sboxmeta.partners.spotnana.com
  description: Sandbox URL
security:
- Bearer: []
tags:
- name: Company Tier
paths:
  /v2/companies/{companyId}/tier-config:
    parameters:
    - name: companyId
      in: path
      description: Identifier for company.
      required: true
      schema:
        type: string
        format: uuid
      example: 4974a66b-7493-4f41-908c-58ba81093947
    - name: companyRole
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/CompanyRole'
      example: ORG
    put:
      tags:
      - Company Tier
      summary: Updates Tier config
      description: This endpoint stores Tier config for the company at TMC level.
      operationId: updateCompanyTierConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TierConfig'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
      - Company Tier
      summary: Get tier config
      description: This endpoint fetches the tier config for the company.
      operationId: getCompanyTierConfig
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TierConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The specified resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorParameter:
      type: object
      title: ErrorParameter
      description: Error parameter
      properties:
        name:
          type: string
          description: Parameter name
        value:
          type: string
          description: Parameter value
    TierDefinition:
      type: object
      title: TierDefinition
      description: Tier that controls the support features available to a user.
      required:
      - name
      - tier
      properties:
        name:
          type: string
          description: Tier name.
        icon:
          type: string
          description: URL representing tier icon.
        tier:
          $ref: '#/components/schemas/Tier'
    CompanyRole:
      type: string
      description: Role of the company.
      enum:
      - ORG
      - TMC
      - PARTNER_TMC
      - HR_FEED_CONNECTOR
      - TRIPS_DATA_CONNECTOR
      - GLOBAL
      example: ORG
    TierConfig:
      type: object
      title: TierConfig
      description: Tier configuration.
      properties:
        tiers:
          type: array
          description: A list of tiers for this company.
          items:
            $ref: '#/components/schemas/TierDefinition'
    ErrorResponse:
      type: object
      properties:
        debugIdentifier:
          type: string
          description: Link to debug the error internally.
        errorMessages:
          type: array
          items:
            type: object
            properties:
              errorCode:
                type: string
                description: Error code to identify the specific errors.
              message:
                type: string
                description: Message containing details of error.
              errorParameters:
                type: array
                description: Error message parameters.
                items:
                  $ref: '#/components/schemas/ErrorParameter'
              errorDetail:
                type: string
                description: More details about the error.
    Tier:
      type: string
      title: Tier
      description: 'Tier of User.

        Note: In default UI, BASIC is displayed as Standard, and SEAT1A is displayed as VIP.

        '
      enum:
      - BASIC
      - SEAT1A
      x-enum-varnames:
      - BASIC
      - SEAT1A
      example: SEAT1A
      default: BASIC
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
