openapi: 3.1.0
info:
  title: Air Events API
  version: v2
  description: APIs to perform search, checkout and book an air pnr
servers:
- url: https://api-ext-sboxmeta.partners.spotnana.com
  description: Sandbox URL
security:
- Bearer: []
tags:
- name: Events
  description: APIs to create and manage events.
paths:
  /v2/events:
    post:
      tags:
      - Events
      summary: Create event
      description: 'Create a draft event. Optionally pass newTraveler to create a new traveler and add them to the event. If the traveler already exists, the request fails — use the travellers field with the existing userId.

        '
      operationId: createEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEventRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    get:
      tags:
      - Events
      summary: Get event
      description: Get event details for the specified event ID.
      operationId: getEvent
      parameters:
      - name: type
        in: query
        description: EventType of the event.
        schema:
          $ref: '#/components/schemas/EventType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Events
      summary: Delete a draft event
      description: Delete a draft (i.e., unpublished) event. A deleted event cannot be accessed or viewed again.
      operationId: deleteEvent
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/events/read-by-external-id:
    parameters:
    - name: externalId
      in: query
      description: External ID
      required: true
      schema:
        type: string
        example: '6926658168'
    - name: companyId
      in: query
      description: Company ID
      required: true
      schema:
        type: string
        format: uuid
        example: f49d00fe-1eda-4304-ba79-a980f565281d
    get:
      tags:
      - Events
      summary: Get event by external ID
      description: 'Get event details using the event''s `externalId`. External IDs are unique identifiers which can be set based on the company''s preference.

        '
      operationId: getEventByExternalID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/events/{eventId}/travelers/add:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Add travelers to an event
      description: Add the list of travelers to be invited to the event.
      operationId: addTravelersToEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTravelersToEventRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTravelersToEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/travelers/remove:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Remove travelers from an event
      description: Remove travelers from an event. This endpoint allows you to remove up to 10 travelers per API call.
      operationId: removeTravelersFromEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTravelersFromEventRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveTravelersFromEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/list:
    post:
      tags:
      - Events
      summary: List events
      description: List all the events that match the specified criteria in the request.
      operationId: listEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListEventsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEventsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/publish:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Publish event
      description: Publish a draft event.
      operationId: publishEvent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNonUUIDId'
                example:
                  id: 1234567890
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/edit-basic-info:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Edit basic details of an event
      description: Edit the basic information of an event such as the event name, description, date and time, location, and contacts.
      operationId: updateEventBasicInfo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventBasicInfoRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNonUUIDId'
                example:
                  id: 1234567890
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/edit-booking-guidelines:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Update event booking guidelines
      description: "Update the booking guidelines for an event.\nYou can update booking guidelines such as maximum number of guests allowed to accompany a traveler, \narrival and departure window for the event, payment methods, and allowed travel types.\n"
      operationId: updateEventBookingGuidelines
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEventBookingGuidelinesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNonUUIDId'
                example:
                  id: 1234567890
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/travelers/{travelerId}/rsvp:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    - name: travelerId
      in: path
      description: Traveler User ID
      required: true
      schema:
        type: string
        format: uuid
        example: f49d00fe-1eda-4304-ba79-a980f565281d
    post:
      tags:
      - Events
      summary: Set traveler RSVP
      description: Update the RSVP status and the RSVP response for a traveler.
      operationId: setUserEventRsvp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetUserEventRsvpRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    get:
      tags:
      - Events
      summary: Get traveler RSVP
      description: Get the RSVP status and the RSVP response for a traveler.
      operationId: getUserEventRsvp
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventUserRsvp'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/invite/send:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Send invite
      description: "Send event invites to the travelers via email. \nThe invites can be sent to all travelers using a single API call, or you can send invites to specific travelers.\n"
      operationId: sendInvite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendInviteRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/invite/test:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Send a test invite
      description: Send a test event invite to the API caller. This endpoint can be used to preview the invite before sending it to the travelers.
      operationId: testInvite
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/summaries:
    post:
      tags:
      - Events
      summary: Get event summaries
      description: View summaries of specific events. This endpoint retrieves a list of traveler event summaries based on specified `userId`, `companyId`, and `tripIds`.
      operationId: getEventSummaries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetEventSummariesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventSummariesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/payment-sources:
    parameters:
    - name: userId
      in: query
      description: ID of the event coordinator
      required: true
      schema:
        type: string
        format: uuid
        example: f49d00fe-1eda-4304-ba79-a980f565281d
    get:
      tags:
      - Events
      summary: Get allowed payment sources
      description: Get the payment sources that are associated with the `userId` of the event coordinator.
      operationId: getAllowedPaymentSources
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetEventsPaymentSourcesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/events/{eventId}/cancel:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    - name: type
      in: query
      description: 'EventType of the event.

        '
      schema:
        $ref: '#/components/schemas/EventType'
    post:
      tags:
      - Events
      summary: Cancel event
      description: "Cancel a published event. \nAfter you've canceled the event, it's recommended that you cancel the bookings using the Cancel PNR API.\n"
      operationId: cancelEvent
      responses:
        '200':
          description: OK
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/events/{eventId}/travelers-list:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    post:
      tags:
      - Events
      summary: Get travelers list
      description: 'Get a paginated list of travelers for an event, including each traveler''s RSVP status, RSVP response, and `tripId`.

        '
      operationId: listEventTravelers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventTravelersRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventTravelersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/{eventId}/custom-field-responses:
    parameters:
    - name: eventId
      in: path
      description: Event ID
      required: true
      schema:
        type: string
        example: '6926658168'
    put:
      tags:
      - Events
      summary: Update event custom field responses
      description: Update the response to a custom field question.
      operationId: updateCustomFieldResponses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventCustomFieldResponsesRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/bulk-publish:
    post:
      tags:
      - Events
      summary: Bulk publish events
      description: API to bulk publish events and has a support for sending invite to selective users
      operationId: bulkPublishEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkPublishEventRequest'
      responses:
        '200':
          description: Bulk publish response with event statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkPublishResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/bulk-edit:
    post:
      tags:
      - Events
      summary: Bulk edit/modify events.
      description: Edit the basic info and booking guidelines in bulk for events.
      operationId: bulkEditEvents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateEventsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateEventsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/bulk-delete:
    post:
      tags:
      - Events
      summary: Bulk delete draft events
      description: API to bulk delete draft events.
      operationId: bulkDeleteEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeleteEventRequest'
      responses:
        '200':
          description: Bulk delete response with event statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeleteEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/bulk-cancel:
    post:
      tags:
      - Events
      summary: Bulk cancel events
      description: API to bulk cancel events.
      operationId: bulkCancelEvents
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCancelEventRequest'
      responses:
        '200':
          description: Bulk cancel response with event statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCancelEventResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/events/jobs/status:
    post:
      tags:
      - Events
      summary: Get current details of an async event job.
      description: Get current details of an async event job
      operationId: getAsyncEventJobDetails
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncJobDetailRequest'
      responses:
        '200':
          description: Async job details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncJobDetailResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
components:
  schemas:
    SetUserEventRsvpRequest:
      title: SetUserEventRsvpRequest
      description: Set user's event rsvp request object
      type: object
      properties:
        type:
          $ref: '#/components/schemas/EventType'
        eventRsvpState:
          $ref: '#/components/schemas/EventRsvpState'
        eventRsvpResponse:
          $ref: '#/components/schemas/EventRsvpResponse'
    EventUserRsvp:
      title: EventUserRsvp
      type: object
      description: User rsvp for the event
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        eventRsvpState:
          $ref: '#/components/schemas/EventRsvpState'
        eventRsvpResponse:
          $ref: '#/components/schemas/EventRsvpResponse'
        invitedAt:
          $ref: '#/components/schemas/DateTimeOffset'
        airBookingStatus:
          $ref: '#/components/schemas/BookingStatusType'
        railBookingStatus:
          $ref: '#/components/schemas/BookingStatusType'
        carBookingStatus:
          $ref: '#/components/schemas/BookingStatusType'
        hotelBookingStatus:
          $ref: '#/components/schemas/BookingStatusType'
    AdhocUserInfo:
      type: object
      title: AdhocUserInfo
      description: Basic information related to ad-hoc traveler profile.
      required:
      - profileOwner
      properties:
        profileOwner:
          $ref: '#/components/schemas/ProfileOwner'
        isSaved:
          type: boolean
          description: "A boolean flag to show if ad-hoc traveler is visible in search. While updating the user \nif client tries to update this field, it will throw exception.\n"
          default: false
    UpdateEventBasicInfoRequest:
      title: UpdateEventBasicInfoRequest
      description: Update Event basic info request object
      type: object
      required:
      - name
      - location
      properties:
        name:
          type: string
          description: Name of the event
        type:
          $ref: '#/components/schemas/EventType'
        description:
          type: string
          description: Description of the event
        documents:
          type: array
          description: Documents attached for an event
          items:
            $ref: '#/components/schemas/Document'
        startDateTime:
          $ref: '#/components/schemas/DateTimeLocal'
        endDateTime:
          $ref: '#/components/schemas/DateTimeLocal'
        location:
          $ref: '#/components/schemas/EventLocation'
        contacts:
          type: array
          description: Contacts for the event
          items:
            $ref: '#/components/schemas/UserId'
        referenceUsers:
          type: array
          description: Event group reference user ids
          items:
            $ref: '#/components/schemas/UserId'
        travelerTypes:
          type: array
          description: Allowed traveler types for the event
          items:
            $ref: '#/components/schemas/Persona'
        bookingStyle:
          description: Whether the event bookings will be self served by the traveler or would be arranged by an agent for the traveler.
          $ref: '#/components/schemas/EventBookingStyle'
        policyId:
          type: string
          format: uuid
          description: Policy associated with the event.
          example: f7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
        allowTravelersPolicy:
          $ref: '#/components/schemas/AllowTravelersPolicy'
        emailPreferences:
          $ref: '#/components/schemas/BucketEmailPreferences'
        allowTravelersToRsvp:
          $ref: '#/components/schemas/AllowTravelersToRsvp'
        internalNotes:
          type: string
          description: Internal notes of the event
          example: Use travelers default as payment method.
        tripOverrides:
          $ref: '#/components/schemas/TripOverrides'
        tripContacts:
          type: array
          description: Trip contacts for the event. These are passed through to created trips.
          items:
            $ref: '#/components/schemas/TripContact'
        inheritedCustomFieldIds:
          type: array
          description: List of custom field IDs that were inherited from parent
          items:
            type: string
            format: uuid
            example: f7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
        eventCustomFieldV3Responses:
          type: array
          description: List of custom field responses for an event.
          items:
            $ref: '#/components/schemas/CustomFieldPrefilledResponse'
        eventCustomFieldResponses:
          deprecated: true
          x-sunset: '2026-07-01'
          type: array
          description: List of custom field responses for the event.
          items:
            $ref: '#/components/schemas/CustomFieldResponse'
        inviteEmailConfig:
          $ref: '#/components/schemas/InviteEmailConfig'
    CreateEventResponse:
      title: CreateEventResponse
      description: Response for create event
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: Id of the created event
        userId:
          description: Id of the newly created user, if a new traveler was created
          $ref: '#/components/schemas/UserId'
    DirectBillingWrapper:
      type: object
      title: DirectBillingWrapper
      description: Wrapper for DirectBilling
      properties:
        directBilling:
          $ref: '#/components/schemas/DirectBilling'
    BulkDeleteEventResponse:
      title: BulkDeleteEventResponse
      type: object
      description: Response payload for the bulk event deletion.
      required:
      - deleteEventResponses
      properties:
        deleteEventResponses:
          type: array
          description: List of events delete response.
          items:
            $ref: '#/components/schemas/DeleteEventResponse'
    AdditionalInfo:
      type: object
      title: AdditionalInfo
      description: Additional data need to be sent along with the custom field response.
      discriminator:
        propertyName: type
        mapping:
          VARIABLE: '#/components/schemas/Variable'
          EXPRESSION: '#/components/schemas/Expression'
      oneOf:
      - $ref: '#/components/schemas/Variable'
      - $ref: '#/components/schemas/Expression'
    AirlineInfo:
      title: AirlineInfo
      type: object
      required:
      - airlineCode
      - airlineName
      properties:
        airlineCode:
          type: string
          description: IATA code for airline.
          example: AA
        airlineName:
          type: string
          description: Airline name
          example: American Airlines
    UnusedCreditDescriptor:
      type: object
      title: UnusedCreditDescriptor
      description: Descriptor for unused credits.
      required:
      - unusedCreditInfo
      - userId
      - companyId
      properties:
        unusedCreditInfo:
          $ref: '#/components/schemas/UnusedCreditInfo'
        userId:
          description: The user Id of the user who owns the credit.
          $ref: '#/components/schemas/UserId'
        companyId:
          description: The company Id of the user who owns the credit.
          $ref: '#/components/schemas/CompanyId'
    CarPref:
      type: object
      title: CarPref
      description: Travel preferences related to car.
      properties:
        vendors:
          type: array
          description: A list of car vendors.
          items:
            $ref: '#/components/schemas/CarVendor'
        carTypes:
          type: array
          description: A list of types of car.
          items:
            $ref: '#/components/schemas/CarType'
        engineTypes:
          type: array
          description: A list of types of engine.
          items:
            $ref: '#/components/schemas/EngineType'
        transmissionTypes:
          type: array
          description: A list of types of transmission.
          items:
            $ref: '#/components/schemas/TransmissionSearchFilter'
        conditionalRates:
          type: array
          description: A list of conditional rates for rail.
          items:
            $ref: '#/components/schemas/ConditionalRate'
    ThirdPartyHotelCode:
      title: ThirdPartyHotelCode
      type: object
      required:
      - hotelCode
      - hotelCodeType
      properties:
        hotelCode:
          type: string
          description: Third party hotel code.
        hotelCodeType:
          type: string
          description: Type of the third party.
          enum:
          - SABRE_CSL
          - SABRE_TN
          - EXPEDIA_RAPID
          - MARRIOTT
          - GIATA
          - BCD
    RailItinerary:
      type: object
      title: RailItinerary
      properties:
        railItineraryId:
          $ref: '#/components/schemas/RailItineraryId'
    UnusedCreditFop:
      type: object
      title: UnusedCreditFop
      description: Form of payment information associated with an unused credit.
      properties:
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
          description: Payment method used for the original booking.
        paymentSourceType:
          $ref: '#/components/schemas/PaymentSourceType'
          description: Type of payment source used.
        card:
          $ref: '#/components/schemas/Card'
          description: Card information if the payment source type is a card.
    UserTripGroup:
      type: object
      title: UserTripGroup
      description: Definition of a group to combine users and their trips.
      required:
      - ownerId
      properties:
        id:
          type: string
          description: ID of the group.
          format: uuid
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        name:
          type: string
          description: Name of the group.
          example: Sample group name
        userGroupInfo:
          $ref: '#/components/schemas/UserGroupInfo'
        userTripInfos:
          type: array
          description: Details of the users and their trips in the group.
          items:
            $ref: '#/components/schemas/UserTripInfo'
        ownerId:
          $ref: '#/components/schemas/UserId'
        status:
          $ref: '#/components/schemas/UserFacingStatus'
        startDate:
          $ref: '#/components/schemas/DateModel'
        endDate:
          $ref: '#/components/schemas/DateModel'
        createdAt:
          $ref: '#/components/schemas/DateTimeOffset'
    BulkCancelEventRequest:
      title: BulkCancelEventRequest
      type: object
      description: Request payload for bulk event cancellation.
      required:
      - cancelEventRequests
      properties:
        cancelAsync:
          type: boolean
          description: Flag to indicate if the cancellation should be processed asynchronously.
          default: false
          example: false
        cancelEventRequests:
          type: array
          description: List of events to be cancelled.
          items:
            $ref: '#/components/schemas/CancelEventRequest'
          minItems: 1
          maxItems: 100
    PaymentSourceMapping:
      type: object
      title: PaymentSourceMapping
      properties:
        accessType:
          description: Access Type of the Payment Source
          $ref: '#/components/schemas/AccessType'
        accessTypeEntityId:
          type: string
          description: Entity ID corresponding to the Access Type being created
        filter:
          description: Applicable access information for this payment_source
          $ref: '#/components/schemas/PaymentSourceFilterMetadata'
        travelType:
          type: array
          description: Applicable payment source travel type.
          deprecated: true
          x-sunset: '2026-07-01'
          items:
            $ref: '#/components/schemas/PaymentSourceTravelType'
        travelTypes:
          type: array
          description: Applicable payment source travel types
          items:
            $ref: '#/components/schemas/PaymentSourceTravelType'
        spendTypes:
          type: array
          description: Applicable spend types for payment source other than travel
          items:
            $ref: '#/components/schemas/PaymentSourceSpendType'
        paymentSourceAttributes:
          description: Attributes applicable to the associated payment source.
          $ref: '#/components/schemas/PaymentSourceAttributes'
        accessTypeAttributes:
          description: Attributes applicable to the access type.
          $ref: '#/components/schemas/AccessTypeAttributes'
    HotelRsvpResponse:
      title: HotelRsvpResponse
      type: object
      description: Hotel rsvp response
      properties:
        notNeeded:
          type: boolean
          description: Whether hotel booking is needed by the traveler or not
          example: true
    UnusedCreditFopCardAccessType:
      type: string
      description: The card access type of the FOP associated with the unused credit.
      enum:
      - CARD_ACCESS_CENTRAL
      - CARD_ACCESS_PERSONAL
      - CARD_ACCESS_CORPORATE
    KnownTravelerNumber:
      type: object
      title: KnownTravelerNumber
      description: Information about the Known Traveler Number (KTN).
      required:
      - number
      - issueCountry
      properties:
        number:
          type: string
          example: '12345'
          x-pii: IDENTIFIER
        issueCountry:
          type: string
          example: US
    UserGroupInfo:
      type: object
      title: UserGroupInfo
      description: Details about group's users.
      properties:
        userGroupCriteria:
          type: array
          description: User group criteria
          items:
            $ref: '#/components/schemas/UserGroup'
        userIds:
          type: array
          description: List of users derived from the user group criteria
          items:
            $ref: '#/components/schemas/UserId'
    RoleMetadataV2:
      type: object
      discriminator:
        propertyName: roleType
        mapping:
          TRAVEL_ARRANGER: '#/components/schemas/TravelArrangerMetadataV2'
          COMPANY_ADMIN: '#/components/schemas/CompanyRoleInfo'
          COMPANY_TRAVEL_ARRANGER: '#/components/schemas/CompanyRoleInfo'
          COMPANY_REPORT_ADMIN: '#/components/schemas/CompanyRoleInfo'
          TMC_ADMIN: '#/components/schemas/TmcRoleInfo'
          TMC_AGENT: '#/components/schemas/TmcRoleInfo'
      oneOf:
      - $ref: '#/components/schemas/TravelArrangerMetadataV2'
      - $ref: '#/components/schemas/CompanyRoleInfo'
      - $ref: '#/components/schemas/TmcRoleInfo'
    EventCompanyFilter:
      type: object
      title: EventCompanyFilter
      description: Event company filter details
      properties:
        companyId:
          description: Company id
          $ref: '#/components/schemas/CompanyId'
    NumStopsPref:
      type: object
      title: NumStopsPref
      description: Preferred number of stops.
      required:
      - numOfStops
      properties:
        numOfStops:
          type: integer
          format: int64
          example: 34
    PreferredLocationLabel:
      type: string
      title: PreferredLocationLabel
      description: The label of preferred airport or rail station.
      enum:
      - HOME
      - WORK
      - OTHER
      example: HOME
    EventDetachedFilter:
      type: object
      title: EventDetachedFilter
      description: Event detached filter details
      required:
      - isDetached
      properties:
        isDetached:
          type: boolean
          description: Filter events based on whether they are detached from parent event or not.
          example: true
    TravelerEventInfo:
      title: TravelerEventInfo
      type: object
      description: User rsvp and tripId for the event
      properties:
        userId:
          description: User Id
          $ref: '#/components/schemas/UserId'
        tripInfos:
          type: array
          description: List of trip info for the user
          items:
            $ref: '#/components/schemas/TripInfo'
        eventRsvpState:
          description: Users' rsvp state
          $ref: '#/components/schemas/EventRsvpState'
          deprecated: true
          x-sunset: '2026-07-01'
        eventRsvpResponse:
          description: Users' rsvp response. This includes details related to bookings
          $ref: '#/components/schemas/EventRsvpResponse'
          deprecated: true
          x-sunset: '2026-07-01'
        eventUserRsvp:
          description: User's rsvp information.
          $ref: '#/components/schemas/EventUserRsvp'
    EmailBucketType:
      type: string
      title: EmailBucketType
      description: Email bucket type.
      enum:
      - BOOKING_CONFIRMATIONS
      - BOOKING_CHANGES
      - FLIGHT_UPDATES
      - APPROVAL_REQUESTS
      - APPROVAL_UPDATES
      - REMINDERS
      - INVOICE_UPDATES
      x-ignoreBreakingChanges:
      - EmailBucketType->INVOICE_UPDATES
      example: BOOKING_CONFIRMATIONS
    EventIdFilter:
      type: object
      title: EventIdFilter
      description: Event ID filter details
      required:
      - eventIdList
      properties:
        eventIdList:
          type: array
          description: A list of event IDs.
          items:
            type: string
    PnrMetadata:
      title: PnrMetadata
      description: Metadata when document is associated to pnr entity.
      type: object
      oneOf:
      - $ref: '#/components/schemas/FlightMetadataWrapper'
      - $ref: '#/components/schemas/LegMetadataWrapper'
    PreferredRailStation:
      type: object
      title: PreferredRailStation
      description: Rail station preferred by traveler.
      required:
      - stationCode
      - label
      properties:
        stationName:
          type: string
          description: Rail station name.
          example: Chicago Union Station
        stationCode:
          type: string
          description: Rail station code.
          example: CHI
        cityName:
          type: string
          description: Name of city where the rail station is located.
          example: Chicago
        countryCode:
          type: string
          description: Alpha-2 country code where the rail station is located.
        label:
          $ref: '#/components/schemas/PreferredLocationLabel'
    LegalEntityId:
      type: object
      title: LegalEntityId
      description: The ID of the legal entity.
      required:
      - id
      properties:
        id:
          type: string
          example: fc1ccbce-8413-4fe9-b233-a324dfbe7421
    FlightPassMetadata:
      type: object
      title: FlightPassMetadata
      required:
      - label
      description: Metadata for FlightPass payment source.
      properties:
        label:
          type: string
          example: Air Canada Flight Pass
          description: Label for FlightPass payment source.
    Variable:
      type: object
      title: Variable
      description: Variable defining the additional value to be sent along with custom field response.
      required:
      - type
      - name
      properties:
        type:
          type: string
          example: VARIABLE
          default: VARIABLE
        name:
          $ref: '#/components/schemas/VariableName'
    HotelBrand:
      type: object
      title: HotelBrand
      description: The brand of hotel.
      properties:
        brandCode:
          type: string
          description: The code of hotel brand.
          example: HY
        brandName:
          type: string
          description: The name of hotel brand.
          example: Global Hytt Corp.
    CustomPaymentMethodDescriptor:
      type: object
      title: CustomPaymentMethodDescriptor
      description: Metadata for Custom Payment Method payment source.
      oneOf:
      - $ref: '#/components/schemas/BrexBudgetWrapper'
      - $ref: '#/components/schemas/AmadeusCheckoutWrapper'
      - $ref: '#/components/schemas/QantasTravelFundWrapper'
      - $ref: '#/components/schemas/DpanWrapper'
      - $ref: '#/components/schemas/VirtualPaymentMetadataWrapper'
      - $ref: '#/components/schemas/FlightPassWrapper'
      - $ref: '#/components/schemas/NoPrepaymentWrapper'
      x-ignoreBreakingChanges:
      - CustomPaymentMethodDescriptor->NoPrepaymentWrapper
    EventGroup:
      title: EventGroup
      description: Group of users for the event
      type: object
      properties:
        id:
          type: string
          description: Event Group ID
          format: uuid
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        name:
          type: string
          description: Name of the event group
        description:
          type: string
          description: Description of the event group
        bookingGuidelines:
          description: A list of BookingGuideline for event group
          type: array
          items:
            $ref: '#/components/schemas/EventBookingGuideline'
        metadata:
          $ref: '#/components/schemas/EventGroupMetadata'
        group:
          $ref: '#/components/schemas/UserTripGroup'
        createdBy:
          $ref: '#/components/schemas/UserId'
        allowedBookingTypes:
          type: array
          description: Allowed booking types for the event group
          items:
            $ref: '#/components/schemas/EventAllowedBookingType'
        eventUserRsvpList:
          type: array
          description: List of user rsvp responses for the event group
          items:
            $ref: '#/components/schemas/EventUserRsvp'
        allowedPaymentConfig:
          $ref: '#/components/schemas/AllowedPaymentConfig'
    TokenizedExpiry:
      title: TokenizedExpiry
      type: object
      description: Contains the tokenized expiry of a Card.
      required:
      - expiryMonth
      - expiryYear
      properties:
        expiryMonth:
          type: string
          description: Tokenized Expiry month
          example: KvAuPANQWCpjwRQxcC8EXg==
        expiryYear:
          type: string
          description: Tokenized Expiry year
          example: fPBm0OWrKwPyIrCVcbg4cA==
    PassportWrapper:
      type: object
      title: PassportWrapper
      properties:
        passport:
          $ref: '#/components/schemas/Passport'
    BrexBudgetWrapper:
      type: object
      title: BrexBudgetWrapper
      description: Wrapper for BrexBudget
      required:
      - brexBudget
      properties:
        brexBudget:
          $ref: '#/components/schemas/BrexBudget'
    VendorInfo:
      type: object
      title: VendorInfo
      description: Name/ID etc. of the vendor.
      required:
      - vendorId
      - vendorName
      properties:
        vendorId:
          type: string
          description: ID of the vendor.
        vendorName:
          type: string
          description: Name of the vendor.
    BrexBudget:
      type: object
      title: BrexBudget
      description: Metadata for Brex Budget payment source.
      properties:
        budgetName:
          type: string
          example: Travel Budget
          description: Budget name.
        cardNumber:
          type: string
          example: '1234567812345678123'
          description: Card number of the budget.
        budgetRemainingBalanceFormatted:
          type: string
          example: $90,000.00
          description: Remaining balance of the budget formatted with currency.
    RailCard:
      type: object
      title: RailCard
      description: Rail card
      required:
      - name
      - spotnanaCode
      - vendor
      properties:
        cardNumber:
          type: string
          description: Number of card
        expiryDate:
          description: Expiry date of the Rail Card.
          $ref: '#/components/schemas/DateModel'
        name:
          type: string
          description: Name of the Rail Card.
          example: Veterans Railcard
        spotnanaCode:
          description: Unique Spotnana code/identifier for Rail Card.
          type: string
          example: VET
        vendor:
          type: string
          description: Vendor Name.
          example: ATOC
    CostCenterId:
      type: object
      title: Cost center id.
      required:
      - id
      properties:
        id:
          type: string
          example: 731ccbca-0415-6fe1-d235-c324dfbe7423
    EventLocation:
      title: EventLocation
      description: Location for an event
      type: object
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
        coordinates:
          $ref: '#/components/schemas/Latlng'
    VirtualCardDescriptor:
      type: object
      title: VirtualCardDescriptor
      description: Descriptor for virtual card.
      properties:
        vendor:
          $ref: '#/components/schemas/VirtualCardVendor'
        reportingAttributes:
          type: array
          description: List of ReportingAttributes
          items:
            $ref: '#/components/schemas/ReportingAttribute'
        metadata:
          description: card descriptor corresponding to the virtual card.
          $ref: '#/components/schemas/VirtualCardDescriptorMetadata'
    HotelBookingGuideline:
      title: HotelBookingGuideline
      description: Hotel related guidelines
      type: object
      properties:
        allowedHotels:
          description: List of allowed Hotel details for the event
          type: array
          items:
            $ref: '#/components/schemas/HotelInfo'
        checkinBookingWindow:
          $ref: '#/components/schemas/EventBookingWindow'
        checkoutBookingWindow:
          $ref: '#/components/schemas/EventBookingWindow'
        paymentGuidelines:
          $ref: '#/components/schemas/HotelBookingPaymentGuidelines'
          readOnly: true
    TmcBasicInfo:
      type: object
      title: TmcBasicInfo
      description: TMC related basic information.
      required:
      - contractingTmc
      - bookingTmc
      properties:
        contractingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Contracting TMC is the TMC the user/organization contracted.
        bookingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Booking TMC is the TMC used for the bookings for the user/organization.
    UATPMetadataWrapper:
      type: object
      title: UATPMetadataWrapper
      description: Wrapper for UATP Metadata.
      properties:
        uatpMetadata:
          $ref: '#/components/schemas/UATPMetadata'
    FlightPassPaymentMetadataWrapper:
      type: object
      title: FlightPassPaymentMetadataWrapper
      description: Wrapper for Flight Pass payment metadata.
      required:
      - flightPassMetadata
      properties:
        metadataType:
          type: string
          description: Discriminator field for polymorphic deserialization
          example: FlightPassPaymentMetadata
          default: FlightPassPaymentMetadata
        flightPassMetadata:
          $ref: '#/components/schemas/FlightPassPaymentMetadata'
    SeatAmenityPref:
      type: object
      title: SeatAmenityPref
      description: Seat amenity preference.
      required:
      - seatAmenityTypes
      properties:
        seatAmenityTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_AIR_SEAT_AMENITY_TYPE
            - FLAT_BED
            - WIFI
            - IN_SEAT_POWER
            example: WIFI
    TravelArrangerMetadataV2:
      type: object
      title: TravelArrangerMetadataV2
      required:
      - roleType
      - arrangerFor
      properties:
        roleType:
          type: string
          description: Discriminator property for role metadata.
          default: TRAVEL_ARRANGER
        arrangerFor:
          type: array
          items:
            $ref: '#/components/schemas/TravelerConfigForArranger'
    BookingStatusType:
      title: BookingStatusType
      description: Booking status of the travel.
      type: string
      enum:
      - BOOKED
      - NOT_BOOKED
      - OPTED_OUT
      example: BOOKED
    AllowedPaymentConfig:
      type: array
      description: Allowed payment configuration for the event template
      items:
        $ref: '#/components/schemas/PaymentConfigForTravelType'
    VirtualCardDescriptorMetadata:
      type: object
      title: VirtualCardDescriptorMetadata
      description: Metadata corresponding to the VirtualCardDescriptor.
      oneOf:
      - $ref: '#/components/schemas/ConfermaMetadataWrapper'
    TravelTypeFilter:
      type: object
      title: TravelTypeFilter
      description: Filter for selecting payment sources according to different types of travel.
      properties:
        travelTypes:
          type: array
          description: Applicable travel types for Payment Source.
          items:
            $ref: '#/components/schemas/PaymentSourceTravelType'
    TripInfo:
      type: object
      title: TripInfo
      description: Trip information.
      required:
      - tripId
      - status
      properties:
        tripId:
          type: string
          description: ID of the trip of the user.
          example: '1234567890'
        status:
          $ref: '#/components/schemas/UserFacingStatus'
    VirtualPaymentMetadataWrapper:
      type: object
      title: VirtualPaymentMetadataWrapper
      description: Wrapper for custom virtual payment metadata
      required:
      - virtualPaymentMetadata
      properties:
        virtualPaymentMetadata:
          $ref: '#/components/schemas/VirtualPaymentMetadata'
    PaymentSourceInfo:
      type: object
      title: PaymentSourceInfo
      required:
      - id
      - paymentSource
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier identifying this payment source
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        type:
          $ref: '#/components/schemas/PaymentSourceType'
        paymentSource:
          description: Payment source descriptor.
          $ref: '#/components/schemas/PaymentSourceDescriptor'
        mapping:
          deprecated: true
          x-sunset: '2026-07-01'
          description: Mapping i.e. access level, travel type information etc.
          $ref: '#/components/schemas/PaymentSourceMapping'
        status:
          $ref: '#/components/schemas/PaymentSourceStatus'
    JobIdFilter:
      title: JobIdFilter
      type: object
      required:
      - filterType
      - jobId
      properties:
        filterType:
          description: Used to distinguish which type of filter is applied.
          type: string
        jobId:
          description: Job Id for the async event job.
          type: string
          format: uuid
          example: f7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b
    RateCodeOverride:
      title: RateCodeOverride
      type: object
      description: Rate code override for trips
      required:
      - behavior
      properties:
        behavior:
          $ref: '#/components/schemas/OverrideBehavior'
        supplier:
          $ref: '#/components/schemas/SupplierType'
        travelType:
          $ref: '#/components/schemas/TravelType'
        rateCodeIds:
          type: array
          description: List of rate code ids
          items:
            type: string
            format: uuid
            example: f49d00fe-1eda-4304-ba79-a980f565281d
    ExpiryWrapper:
      type: object
      title: ExpiryWrapper
      properties:
        expiry:
          $ref: '#/components/schemas/Expiry'
    MealPref:
      type: object
      title: MealPref
      description: Meal preferences.
      properties:
        exclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        inclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        specialMealDescription:
          type: string
          example: Veg only meal
    InviteEmailConfig:
      title: InviteEmailConfig
      description: Configuration for event invite/reminder emails
      type: object
      properties:
        emailExcludeCoordinatorInfo:
          type: boolean
          description: Whether to exclude coordinator information in emails sent to travelers.
          default: false
          example: true
    UserOrgId:
      type: object
      title: UserOrgId
      description: User and user's organization information.
      required:
      - userId
      - organizationId
      properties:
        organizationAgencyId:
          $ref: '#/components/schemas/OrganizationAgencyId'
        organizationId:
          $ref: '#/components/schemas/OrganizationId'
        userId:
          $ref: '#/components/schemas/UserId'
        tmcInfo:
          $ref: '#/components/schemas/TmcInfo'
          deprecated: true
          x-sunset: '2026-07-01'
        tmcBasicInfo:
          $ref: '#/components/schemas/TmcBasicInfo'
    MealType:
      type: string
      title: MealType
      description: Type of the meal
      enum:
      - UNKNOWN_MEAL
      - AVML
      - BBML
      - BLML
      - CHML
      - DBML
      - FPML
      - GFML
      - HFML
      - HNML
      - KSML
      - LCML
      - LFML
      - LPML
      - LSML
      - MOML
      - NLML
      - NSML
      - ORML
      - PFML
      - RVML
      - SFML
      - SPML
      - VGML
      - VJML
      - VLML
      - VOML
      example: VGML
    RoleType:
      type: string
      enum:
      - UNKNOWN_TYPE
      - COMPANY_ADMIN
      - COMPANY_TRAVEL_ARRANGER
      - TRAVEL_ARRANGER
      - COMPANY_REPORT_ADMIN
      - GLOBAL_ADMIN
      - GLOBAL_AGENT
      - TMC_AGENT
      - TMC_ADMIN
      example: TRAVEL_ARRANGER
    EventStatusFilter:
      type: array
      title: EventStatusFilter
      description: Event status filter
      items:
        $ref: '#/components/schemas/EventStatus'
    EventJobStatus:
      title: EventJobStatus
      description: Event job status enum.
      type: string
      enum:
      - IN PROGRESS
      - COMPLETED
      example: COMPLETED
    AirPref:
      type: object
      title: AirPref
      description: Travel preferences related to air travel.
      properties:
        airlinePrefs:
          type: array
          items:
            $ref: '#/components/schemas/AirlinePref'
        alliancePref:
          $ref: '#/components/schemas/AlliancePref'
        farePref:
          $ref: '#/components/schemas/FarePref'
        homeAirport:
          type: string
          example: NEW YORK
        mealPref:
          $ref: '#/components/schemas/MealPref'
        numStopPref:
          $ref: '#/components/schemas/NumStopsPref'
        seatAmenityPref:
          $ref: '#/components/schemas/SeatAmenityPref'
        seatLocationPrefs:
          type: array
          items:
            $ref: '#/components/schemas/SeatLocationPref'
        preferredAirports:
          type: array
          description: A list of user preferred airports.
          items:
            $ref: '#/components/schemas/PreferredAirport'
    EventJobType:
      title: EventJobType
      description: Event job type enum.
      type: string
      enum:
      - PUBLISH
      - MODIFY
      - CANCEL
      - SEND_INVITE
      example: PUBLISH
      x-ignoreBreakingChanges:
      - EventJobType->SEND_INVITE
    FlightMetadataWrapper:
      type: object
      title: FlightMetadataWrapper
      properties:
        flightMetadata:
          $ref: '#/components/schemas/FlightMetadata'
    PaymentMethod:
      type: string
      description: Payment method
      enum:
      - PAYMENT_METHOD_UNKNOWN
      - CREDIT_CARD
      - BREX_POINTS
      - CASH
      - QANTAS_POINTS
      - VENDOR_PROGRAM_PAYMENT
      - DELAYED_INVOICING
      - FLIGHT_CREDITS
      - QANTAS_TRAVEL_FUND
      - CUSTOM_VIRTUAL_PAYMENT
      - FLIGHT_PASS
      - MISCELLANEOUS_CREDIT_ORDER
      - NO_PREPAYMENT
      x-ignoreBreakingChanges:
      - PaymentMethod->MISCELLANEOUS_CREDIT_ORDER
      - PaymentMethod->NO_PREPAYMENT
      example: BREX_POINTS
    SupplierType:
      type: string
      description: Supplier type like Sabre, TravelFusion etc.
      enum:
      - SABRE
      - AMADEUS
      - TRAVEL_FUSION
      - FARELOGIX_NDC
      - ATPCO_NDC
      - TRAINLINE
      - AVIA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - NDC
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - NATIONAL
      - ALAMO
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      - EUROSTAR
      - AVIS
      - BUDGET
      x-ignoreBreakingChanges:
      - SupplierType->PREMIER_INN
      example: SABRE
    HotelPrefAmenity:
      type: string
      description: Preferred hotel amenity.
      enum:
      - PARKING
      - FREE_PARKING
      - FREE_BREAKFAST
      - POOL
      - WIFI
      - FITNESS_CENTER
      - FAMILY_FRIENDLY
      - RECEPTION
      - SPA
      - RESTAURANT
      - BAR
      - TRANSPORTATION
      - PET_FRIENDLY
      - BUSINESS_CENTER
      - AIR_CONDITIONING
      - BEACH_ACCESS
      - LAUNDRY_SERVICES
      - ROOM_SERVICE
      - ACCESSIBLE
    ThirdPartySource:
      type: string
      enum:
      - UNKNOWN_SOURCE
      - SABRE
      - TRAVEL_FUSION
      - AVIA
      - NDC
      - TRAINLINE
      - ATPCO_NDC
      - FARELOGIX_NDC
      - OFFLINE
      - CONNEXUS
      - ROUTEHAPPY
      - AMADEUS
      - GIATA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - EUROSTAR
      - NATIONAL
      - ALAMO
      - AVIS
      - BUDGET
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      x-ignoreBreakingChanges:
      - ThirdPartySource->BOOKING_COM
      - ThirdPartySource->CARTRAWLER
      - ThirdPartySource->PREMIER_INN
      example: SABRE
    CarType:
      type: string
      title: CarType
      description: Car type.
      enum:
      - OTHER
      - MINI
      - ECONOMY
      - COMPACT
      - MID_SIZE
      - STANDARD
      - FULL_SIZE
      - PREMIUM
      - LUXURY
      - CONVERTIBLE
      - MINIVAN
      - SUV
      - VAN
      - PICKUP
      - SPORTS
      - SPECIAL
      - RECREATIONAL_VEHICLE
      - WAGON
      example: ECONOMY
    UAPassPlusMetadataWrapper:
      type: object
      title: UAPassPlusMetadataWrapper
      description: Wrapper for UAPassPlus Metadata.
      properties:
        uaPassPlusMetadata:
          $ref: '#/components/schemas/UAPassPlusMetadata'
    Airline:
      title: Airline
      description: Airline Details
      type: object
      required:
      - carrierCode
      - airlineName
      properties:
        carrierCode:
          type: string
          description: Unique code for the Airline
          example: AA
        airlineName:
          type: string
          description: Full Name of the Airline
          example: American Airlines
        isPresentInPreferredVendors:
          type: boolean
          description: Whether the airline is present in preferred vendor list. This is an optional field which gets populated only in the preferred vendor autocomplete API.
          example: true
    BulkPublishResponse:
      title: BulkPublishResponse
      type: object
      description: Response payload for the bulk event publishing.
      required:
      - publishEventResponses
      properties:
        publishEventResponses:
          type: array
          description: List of events publish response.
          items:
            $ref: '#/components/schemas/PublishEventResponse'
    PaymentEventFilter:
      type: object
      title: PaymentEventFilter
      description: Payment EventFilter details.
      required:
      - eventIds
      - companyId
      properties:
        eventIds:
          type: array
          description: Event ids List
          items:
            type: string
            example: '12345'
        companyId:
          description: The company Id for the filter.
          $ref: '#/components/schemas/CompanyId'
    CompanySpecifiedAttributeOverride:
      title: CompanySpecifiedAttributeOverride
      type: object
      description: Company specified attribute override for the event
      required:
      - behavior
      - attribute
      properties:
        behavior:
          $ref: '#/components/schemas/OverrideBehavior'
        attribute:
          $ref: '#/components/schemas/CompanySpecifiedUserAttribute'
    UnusedCreditExchangeInfo:
      type: object
      title: ExchangeInfo
      description: Exchange information for unused credits.
      properties:
        previousTicket:
          type: string
          description: Previous ticket number in case of exchanges.
    CustomFieldPrefilledResponse:
      type: object
      title: CustomFieldPrefilledResponse
      description: Custom field prefilled responses.
      required:
      - fieldId
      - armId
      - selectedOptions
      properties:
        fieldId:
          type: string
          format: uuid
          description: Custom field id
        fieldName:
          type: string
          description: Name of the custom field
        armId:
          type: string
          format: uuid
          description: Arm id which is applicable
        readOnly:
          type: boolean
          description: Indicates whether the user can change the pre-selected options.
          default: false
          example: true
        hidden:
          type: boolean
          description: Whether this code will be hidden to the user.
          example: true
          default: false
        selectedOptions:
          type: array
          description: The list of options that are selected by user or auto populated.
          items:
            $ref: '#/components/schemas/CustomFieldSelectedOption'
    TripOverrides:
      title: TripOverrides
      type: object
      description: Trip overrides for the event
      required:
      - legalEntity
      - costCenter
      - department
      - userAttributes
      properties:
        legalEntity:
          description: Legal entity override
          $ref: '#/components/schemas/LegalEntityOverride'
        costCenter:
          description: Cost center override
          $ref: '#/components/schemas/CostCenterOverride'
        department:
          description: Department override
          $ref: '#/components/schemas/DepartmentOverride'
        userAttributes:
          type: array
          description: List of company specified attribute overrides
          items:
            $ref: '#/components/schemas/CompanySpecifiedAttributeOverride'
        rateCodeOverrides:
          type: array
          description: List of rate codes to be overridden for a trip
          items:
            $ref: '#/components/schemas/RateCodeOverride'
    AccessType:
      type: string
      description: Access Type of the Payment Source being created.
      enum:
      - CENTRALISED
      - PERSONAL
      - APPLICATION
      - TMC
      - ITINERARY
      - EVENT
      - EVENT_TEMPLATE
      example: CENTRALISED
      x-ignoreBreakingChanges:
      - AccessType->EVENT_TEMPLATE
    Dimensions:
      type: object
      title: Dimensions
      description: Image dimensions ie width and height.
      properties:
        height:
          type: integer
          format: int32
          example: 120
        width:
          type: integer
          format: int32
          example: 240
    AirlineProgramMetadata:
      type: object
      title: AirlineProgramMetadata
      oneOf:
      - $ref: '#/components/schemas/UATPMetadataWrapper'
      - $ref: '#/components/schemas/UAPassPlusMetadataWrapper'
      - $ref: '#/components/schemas/DinersTacMetadataWrapper'
      x-ignoreBreakingChanges:
      - AirlineProgramMetadata->DinersTacMetadataWrapper
    CreditUsageType:
      type: string
      description: Usage type of the credit.
      enum:
      - CREDIT_USAGE_TYPE_UNKNOWN
      - COMPANY
      - PERSONAL
    CustomFieldTravelerAccess:
      title: CustomFieldTravelerAccess
      description: Traveler access for a custom field
      type: string
      enum:
      - HIDDEN
      - READ_ACCESS
      - WRITE_ACCESS
      example: HIDDEN
    VirtualCardDescriptorWrapper:
      type: object
      title: VirtualCardDescriptorWrapper
      description: Wrapper for VirtualCardDescriptor
      properties:
        virtualCardDescriptor:
          $ref: '#/components/schemas/VirtualCardDescriptor'
    PublishEventRequest:
      type: object
      description: Event details for publishing.
      required:
      - id
      - sendInvite
      properties:
        id:
          type: string
          description: Unique identifier for the event.
          example: '56789012'
        sendInvite:
          type: boolean
          description: Flag to indicate if an invite should be sent.
          example: true
        userIds:
          type: array
          description: List of users receiving the invite. - If provided, invites will be sent only to the specified users. - If empty or not provided, invites will be sent to all users.
          items:
            $ref: '#/components/schemas/UserId'
          minItems: 0
          maxItems: 1000
        type:
          $ref: '#/components/schemas/EventType'
    EngineType:
      type: string
      title: EngineType
      description: Engine types.
      enum:
      - UNKNOWN_ENGINE
      - PETROL
      - DIESEL
      - ELECTRIC
      - CNG
      - HYBRID
      - HYDROGEN
      - MULTI_FUEL
      - ETHANOL
      example: PETROL
    UnusedCreditInfo:
      type: object
      title: UnusedCreditInfo
      description: Information regarding an unused credit.
      properties:
        sourcePnr:
          type: string
          description: PNR number corresponding to third party through which booking was made.
          example: MC5ONS
        spotnanaPnr:
          type: string
          description: Spotnana pnr ID.
          example: '2345678'
        ticketNumber:
          type: string
          description: Ticket number for the ticket that was converted into an unused credit.
          example: '5267779139217'
        airlineCode:
          type: string
          description: 2 letter airline code of the airline associated with this unused credit.
          example: AA
        airlineInfo:
          description: Airline info with airline name and code
          $ref: '#/components/schemas/AirlineInfo'
        totalFare:
          description: Total airfare associated with the original ticket.
          $ref: '#/components/schemas/Money'
        issueDate:
          description: Issue date for the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        expiryDate:
          description: Expiry date for the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        usedDate:
          description: Date on which the unused credit was used.
          $ref: '#/components/schemas/DateTimeOffset'
        departureDate:
          description: Date for the departure of the first flight associated with the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        segmentsAvailable:
          type: string
          description: Whether all segments are unused or some have already been used.
          enum:
          - UNKNOWN
          - ALL_OPEN
          - PARTIAL
          - OTHER
        passengerName:
          description: Name of the passenger associated with the credit.
          $ref: '#/components/schemas/Name'
        departureCountry:
          type: string
          description: 3 letter country code of the departure country associated with the original ticket.
          example: USA
        arrivalCountry:
          type: string
          description: 3 letter country code of the arrival country associated with the original ticket.
          example: USA
        ticketType:
          type: string
          description: Type of credit.
          enum:
          - TICKET_TYPE_UNKNOWN
          - ETICKET
          - MCO
          - NON_GDS
        pcc:
          type: string
          description: PCC the credit was issued on.
        status:
          $ref: '#/components/schemas/CreditStatus'
        source:
          $ref: '#/components/schemas/ThirdPartySource'
          default: SABRE
          description: Source of unused credit e.g. Sabre, NDC etc.
        tripId:
          type: string
          description: Trip ID that contains the unused credit
          example: '1234567'
        redeemVia:
          type: string
          description: "Credit redemption method. \nIf the value contains `CONTACT_AGENT`, then the agent must book the ticket and redeem the credits on behalf of the traveler.\n"
          enum:
          - REDEEM_VIA_OBT
          - CONTACT_AGENT
          example: REDEEM_VIA_OBT
        sourceOfTruth:
          type: string
          description: The system that owns the credit.
          enum:
          - SPOTNANA
          - MANUAL_FORM
        owningPcc:
          type: string
          description: PCC the PNR was created on.
        paymentSourceId:
          type: string
          format: uuid
          description: Payment source ID associated with the credit.
          example: edd5b835-8001-430c-98f8-fedeccebe4cf
        creditUsageType:
          $ref: '#/components/schemas/CreditUsageType'
          description: The type of credit usage. This can be either COMPANY or PERSONAL.
        email:
          type: string
          description: Email of the passenger owning the unused credit.
        fopInfo:
          $ref: '#/components/schemas/UnusedCreditFop'
          description: The FOP associated with the unused credit.
        fopLabel:
          type: string
          description: The label associated with the FOP. This value can be empty if that particular FOP does not have any label.
        exchangeInfo:
          $ref: '#/components/schemas/UnusedCreditExchangeInfo'
          description: Exchange information in case of exchanges.
        fopCardAccessType:
          $ref: '#/components/schemas/UnusedCreditFopCardAccessType'
          description: The card access type of the FOP associated with the unused credit.
        legalEntityName:
          type: string
          description: The name of the legal entity associated with this unused credit.
    CancelEventResponse:
      title: CancelEventResponse
      type: object
      description: Event cancellation response details.
      required:
      - eventId
      - status
      properties:
        eventId:
          type: string
          description: Unique identifier for the event.
          example: '56789012'
        status:
          $ref: '#/components/schemas/OperationStatus'
        message:
          type: string
          description: Details about success or failure reason.
          example: Cancelled successfully
    TemplatePaymentConfig:
      type: string
      description: Allowed payment configuration for a travel type in the event template
      enum:
      - TRAVELER_DEFAULT
      - TRAVELER_DEFAULT_CENTRAL
      - PERSONAL
      - SELECTED_METHODS
      example: TRAVELER_DEFAULT
      x-ignoreBreakingChanges:
      - TemplatePaymentConfig->TRAVELER_DEFAULT_CENTRAL
    DocumentMetadata:
      title: DocumentMetadata
      description: Metadata related to document.
      type: object
      required:
      - documentType
      - entityType
      - entityId
      - entityMetadata
      - name
      properties:
        documentType:
          $ref: '#/components/schemas/DocumentType'
        entityType:
          $ref: '#/components/schemas/EntityType'
        entityId:
          type: string
          description: Entity Id for the given entity type.
          example: '123124'
        entityMetadata:
          $ref: '#/components/schemas/EntityMetadata'
        name:
          type: string
          description: Document name.
          example: BoardingPass.pdf
    LegMetadata:
      title: LegMetadata
      description: Leg metadata against which document is associated.
      type: object
      properties:
        legId:
          type: string
          description: Unique identifier of the leg.
          example: CgNTRk8SA0RFThoKNTQ1NzI5ODcxMQ==
    BulkPublishEventRequest:
      title: BulkPublishEventRequest
      type: object
      description: Request payload for bulk event publishing.
      required:
      - publishEventList
      properties:
        publishEventList:
          type: array
          description: List of events to be published.
          items:
            $ref: '#/components/schemas/PublishEventRequest'
          minItems: 1
          maxItems: 100
    EventEntityMetadata:
      title: EventEntityMetadata
      description: Metadata when document is associated to an event.
      type: object
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
    PersonalFilter:
      type: object
      title: PersonalFilter
      description: TmcFilter details.
      required:
      - id
      properties:
        id:
          description: user id
          $ref: '#/components/schemas/UserId'
        managedTravelerAccess:
          description: Config for providing the access to Managed Travelers if any. Applicable for Arranger roles.
          $ref: '#/components/schemas/ManagedTravelerPaymentAccess'
    TmcFilter:
      type: object
      title: TmcFilter
      description: TmcFilter details.
      required:
      - companyId
      properties:
        companyId:
          description: Tmc id
          $ref: '#/components/schemas/CompanyId'
        showToTraveler:
          type: boolean
          description: If true, this TMC payment source is shown to travelers at checkout; otherwise it is TMC-internal.
    SeatPref:
      type: object
      title: SeatPref
      description: Preference about seat of rail.
      properties:
        hasAccessibility:
          type: boolean
          description: Whether or not requires assistance for disability.
          default: false
          example: false
        seatTypes:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefType'
        seatLocations:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefLocation'
        deckLevels:
          type: array
          items:
            $ref: '#/components/schemas/DeckLevel'
        seatDirections:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefDirection'
    EntityMetadata:
      title: EntityMetadata
      description: Metadata for associated entity of document.
      type: object
      oneOf:
      - $ref: '#/components/schemas/PnrMetadataWrapper'
      - $ref: '#/components/schemas/EventMetadataWrapper'
    EventIdFilterWrapper:
      type: object
      title: EventIdFilterWrapper
      description: Wrapper for EventIdFilter
      properties:
        eventIdFilter:
          $ref: '#/components/schemas/EventIdFilter'
    HotelInfo:
      type: object
      title: HotelInfo
      description: Hotel info
      required:
      - address
      - name
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
          description: Address of the hotel.
        chainCode:
          type: string
          description: Chain code of the hotel.
          example: RF
        chainName:
          type: string
          description: Chain name of the hotel.
          example: Red Roof Inns
        coordinates:
          $ref: '#/components/schemas/Latlng'
          description: Coordinates of the hotel.
        email:
          type: string
          description: Email address of the hotel.
          example: user@business.com
        hotelId:
          type: string
          description: Hotel id.
          example: '100094780'
        name:
          type: string
          description: Name of the hotel.
          example: San Francisco Airport Red Roof
        phone:
          $ref: '#/components/schemas/PhoneNumber'
          description: Phone number of the hotel.
        starRating:
          type: number
          description: Star rating of the hotel.
          format: double
          example: 3.5
        fax:
          type: array
          items:
            $ref: '#/components/schemas/PhoneNumber'
        masterChainCode:
          type: string
          description: Master chain code of the hotel.
          example: EM
        brandName:
          type: string
          description: Brand name of the hotel.
          example: Marriott Hotel Brands
        amenities:
          type: array
          items:
            $ref: '#/components/schemas/HotelAmenities'
        additionalAmenities:
          type: array
          items:
            type: string
          description: List of amenities provided by the supplier.
          example:
          - Room service
          - Wifi
        imageSets:
          type: array
          items:
            $ref: '#/components/schemas/HotelImageSet'
        descriptions:
          type: array
          items:
            $ref: '#/components/schemas/HotelDescription'
        thirdPartyHotelCodes:
          type: array
          items:
            $ref: '#/components/schemas/ThirdPartyHotelCode'
    GetEventsPaymentSourcesResponse:
      type: object
      title: GetEventsPaymentSourcesResponse
      description: Payment sources for events
      required:
      - paymentSources
      properties:
        paymentSources:
          type: array
          description: List of payment sources
          items:
            $ref: '#/components/schemas/PaymentSourceInfo'
    FlightPassTax:
      type: object
      title: FlightPassTax
      description: A single tax component of the flight pass fare.
      properties:
        code:
          type: string
          description: Tax code identifier (e.g. GST_HST, QST, OTHER).
          example: GST_HST
        amount:
          description: Tax amount.
          $ref: '#/components/schemas/Money'
    CompanyFilter:
      type: object
      title: CompanyFilter
      description: CompanyFilter details
      properties:
        companyIds:
          type: array
          description: Company id List
          deprecated: true
          x-sunset: '2026-07-01'
          items:
            $ref: '#/components/schemas/CompanyId'
        companyId:
          description: Company id
          $ref: '#/components/schemas/CompanyId'
    VendorProgramPaymentDescriptorWrapper:
      type: object
      title: VendorProgramPaymentDescriptorWrapper
      description: Wrapper for VendorProgramPaymentDescriptor
      properties:
        vendorProgramPaymentDescriptor:
          $ref: '#/components/schemas/VendorProgramPaymentDescriptor'
    UserTripInfo:
      type: object
      title: UserTripInfo
      description: User and their trip information.
      required:
      - userId
      properties:
        userId:
          $ref: '#/components/schemas/UserId'
        tripInfos:
          type: array
          description: List of trips for the user.
          items:
            $ref: '#/components/schemas/TripInfo'
    RedressNumberWrapper:
      type: object
      title: RedressNumberWrapper
      properties:
        redress:
          $ref: '#/components/schemas/RedressNumber'
    RoleMeta:
      type: object
      properties:
        travelArrangerMetadata:
          $ref: '#/components/schemas/TravelArrangerMetadata'
    CarBookingStatusFilter:
      type: object
      title: CarBookingStatusFilter
      description: Car Booking Status Filter
      required:
      - type
      - bookingStatus
      properties:
        type:
          type: string
          description: Type of filter
        bookingStatus:
          type: array
          description: Car Booking status
          items:
            $ref: '#/components/schemas/BookingStatusType'
    NationalDocWrapper:
      type: object
      title: NationalDocWrapper
      properties:
        nationalDoc:
          $ref: '#/components/schemas/NationalDoc'
    AllowTravelersToRsvp:
      title: AllowTravelersToRsvp
      description: Allow travelers to rsvp for the event
      type: string
      enum:
      - ALLOWED
      - NOT_ALLOWED
    CostCenterFilter:
      type: object
      title: CostCenterFilter
      description: CostCenterFilter details.
      required:
      - costCenterIds
      - companyId
      properties:
        companyId:
          description: company id
          $ref: '#/components/schemas/CompanyId'
        costCenterIds:
          type: array
          description: List of cost center ids
          items:
            $ref: '#/components/schemas/CostCenterId'
    EventUserFilterWrapper:
      type: object
      title: EventUserFilterWrapper
      description: Wrapper for EventUserFilter
      properties:
        userFilter:
          $ref: '#/components/schemas/EventUserFilter'
    Tier:
      type: string
      title: Tier
      description: 'Tier of User.

        Note: In default UI, BASIC is displayed as Standard, and SEAT1A is displayed as VIP.

        '
      enum:
      - BASIC
      - SEAT1A
      x-enum-varnames:
      - BASIC
      - SEAT1A
      example: SEAT1A
      default: BASIC
    MembershipInfo:
      type: object
      description: User's loyalty program membership details.
      properties:
        membershipInfos:
          type: array
          items:
            $ref: '#/components/schemas/LoyaltyInfo'
        isLoyaltyBlocked:
          type: boolean
          description: Whether user is blocked to use loyalty programs. This is a read only field.
          example: false
    PaymentSourceType:
      type: string
      description: Type of Payment Source
      enum:
      - CARD
      - VIRTUAL_CARD
      - REWARDS_PROGRAM
      - DELAYED_INVOICING
      - CUSTOM_PAYMENT_METHOD
      - VENDOR_PROGRAM_PAYMENT
      - UNUSED_CREDIT
      - CASH
    ItineraryFilterWrapper:
      type: object
      title: ItineraryFilterWrapper
      description: Wrapper for ItineraryFilter
      properties:
        itineraryFilter:
          $ref: '#/components/schemas/ItineraryFilter'
    RedressNumber:
      type: object
      title: RedressNumber
      description: Redress details
      required:
      - number
      - issueCountry
      properties:
        number:
          type: string
          example: '12345'
          x-pii: IDENTIFIER
        issueCountry:
          type: string
          example: US
    UserTravelArrangers:
      type: object
      title: UserTravelArrangers
      description: Travel arrangers for a user.
      required:
      - travelArrangers
      properties:
        travelArrangers:
          type: array
          items:
            $ref: '#/components/schemas/TravelArrangerBasicInfo'
    CarBookingGuidelineWrapper:
      type: object
      title: CarBookingGuidelineWrapper
      description: Wrapper for CarBookingGuideline
      properties:
        carBookingGuideLine:
          $ref: '#/components/schemas/CarBookingGuideline'
    NoPrepaymentWrapper:
      type: object
      title: NoPrepaymentWrapper
      description: Wrapper for No Prepayment Payment Source.
      required:
      - noPrepaymentMetadata
      properties:
        noPrepaymentMetadata:
          $ref: '#/components/schemas/NoPrepaymentMetadata'
    QantasTravelFundWrapper:
      type: object
      title: QantasTravelFundWrapper
      description: Wrapper for Qantas Travel Fund payment source.
      required:
      - qantasTravelFund
      properties:
        qantasTravelFund:
          $ref: '#/components/schemas/QantasTravelFund'
    PaymentSourceAttributes:
      type: object
      title: PaymentSourceAttributes
      description: Attributes applicable for the payment source.
      properties:
        guestTravelAllowed:
          deprecated: true
          x-sunset: '2026-07-01'
          type: boolean
          description: Whether guest travel is allowed.
        roleTypes:
          type: array
          description: Role types which have access to the payment source
          items:
            $ref: '#/components/schemas/RoleType'
        includedPersonas:
          type: array
          description: If specified, list of traveler personas which have access to the payment source.
          items:
            $ref: '#/components/schemas/Persona'
        excludedPersonas:
          type: array
          description: List of traveler personas which don't have access to the payment source.
          items:
            $ref: '#/components/schemas/Persona'
        allowedThirdPartySources:
          type: array
          description: List of 3rd party sources supported for the payment source.
          items:
            $ref: '#/components/schemas/ThirdPartySource'
        allowedTripTypes:
          type: array
          description: List of trip types supported for the payment source.
          items:
            $ref: '#/components/schemas/TripUsageType'
        priority:
          type: integer
          description: Priority of payment source used to order while listing payment sources. Priority is a positive number.
          minimum: 1
          example: 2
        workerType:
          type: array
          description: If specified, list of traveler worker types which have access to the payment source.
          items:
            $ref: '#/components/schemas/WorkerType'
    SendInviteRequest:
      title: SendInviteRequest
      description: Send invite for an event to the travelers
      type: object
      properties:
        type:
          $ref: '#/components/schemas/EventType'
        userIds:
          type: array
          items:
            $ref: '#/components/schemas/UserId'
    CarRsvpResponse:
      title: CarRsvpResponse
      type: object
      description: Car rsvp response
      properties:
        notNeeded:
          type: boolean
          description: Whether car booking is needed by the traveler or not
          example: true
    TmcRoleInfo:
      type: object
      title: TmcRoleInfo
      required:
      - tmcRef
      - roleType
      properties:
        tmcRef:
          $ref: '#/components/schemas/Reference'
        roleType:
          type: string
          description: Role type for which tmc reference metadata is specified.
    PaymentAccessMapping:
      type: object
      required:
      - id
      description: This object contains an array of payment source details, each including unique identifiers and specific attributes related to access types, such as travel type information.
      properties:
        id:
          type: string
          format: uuid
          description: Unique identifier identifying this payment source
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        accessTypeAttributes:
          description: Attributes applicable to the access type for this mapping.
          $ref: '#/components/schemas/AccessTypeAttributes'
    EntityType:
      title: EntityType
      description: Entity type against which the document is to uploaded.
      type: string
      enum:
      - PNR
      - COMPANY
      - AIR_ITINERARY
      - EVENT
      - LOCATION_IMAGE
      - AIR_COMMISSION_CONTRACT
      example: PNR
      x-ignoreBreakingChanges:
      - EntityType->TRIP
      - EntityType->TICKETING_ERROR
    DepartmentId:
      type: object
      title: DepartmentId
      description: Department id.
      required:
      - id
      properties:
        id:
          type: string
          example: 631ccbcf-9414-5fe0-c234-b324dfbe7422
    Persona:
      type: string
      title: Persona
      description: Persona of the user
      enum:
      - UNKNOWN_PERSONA
      - EMPLOYEE
      - GUEST
      - PERSONAL
      - RELATIVE
      - ADHOC
      example: EMPLOYEE
    AddTravelersToEventResponse:
      title: AddTravelersToEventResponse
      description: Add travelers to an event response
      type: object
      properties:
        addedUserIds:
          type: array
          items:
            $ref: '#/components/schemas/UserId'
    TripEventSummary:
      title: TripEventSummary
      type: object
      description: Event summary for trip
      properties:
        tripId:
          type: string
          description: Spotnana trip ID
          example: '6926658168'
        travelerEventSummary:
          $ref: '#/components/schemas/TravelerEventSummary'
    AirItinerary:
      type: object
      title: AirItinerary
      properties:
        airItineraryId:
          $ref: '#/components/schemas/AirItineraryId'
    PaymentSourceFilterMetadata:
      type: object
      title: PaymentSourceFilterMetadata
      description: Metadata corresponding to the payment source.
      oneOf:
      - $ref: '#/components/schemas/LegalEntityFilterWrapper'
      - $ref: '#/components/schemas/CompanyFilterWrapper'
      - $ref: '#/components/schemas/CountryFilterWrapper'
      - $ref: '#/components/schemas/TmcFilterWrapper'
      - $ref: '#/components/schemas/PersonalFilterWrapper'
      - $ref: '#/components/schemas/IndividualFilterWrapper'
      - $ref: '#/components/schemas/CostCenterFilterWrapper'
      - $ref: '#/components/schemas/DepartmentFilterWrapper'
      - $ref: '#/components/schemas/ItineraryFilterWrapper'
      - $ref: '#/components/schemas/PaymentEventFilterWrapper'
      - $ref: '#/components/schemas/EventTemplateFilterWrapper'
      x-ignoreBreakingChanges:
      - PaymentSourceFilterMetadata->EventTemplateFilterWrapper
    RailBookingGuidelineWrapper:
      type: object
      title: RailBookingGuidelineWrapper
      description: Wrapper for RailBookingGuideline
      properties:
        railBookingGuideLine:
          $ref: '#/components/schemas/RailBookingGuideline'
    CompanySpecifiedUserAttribute:
      type: object
      description: Company specified user arbitrary attribute.
      required:
      - fixedColumnName
      properties:
        fixedColumnName:
          type: string
          example: contingentType
        value:
          type: string
          example: FSTV
    JobItem:
      title: JobItem
      type: object
      properties:
        eventId:
          type: string
          description: Unique identifier for the event.
          example: '56789012'
        status:
          $ref: '#/components/schemas/EventJobItemStatus'
        message:
          type: string
          description: Error message
    SeatPrefLocation:
      type: string
      description: The location of seat of the rail.
      enum:
      - AISLE
      - WINDOW
      - SOLO
      example: AISLE
    LegMetadataWrapper:
      type: object
      title: LegMetadataWrapper
      properties:
        legMetadata:
          $ref: '#/components/schemas/LegMetadata'
    AirRsvpResponse:
      title: AirRsvpResponse
      type: object
      description: Air rsvp response
      properties:
        notNeeded:
          type: boolean
          description: Whether air booking is needed by the traveler or not
          example: true
    CostCenterOverride:
      title: CostCenterOverride
      type: object
      description: Cost center override for the event
      required:
      - behavior
      properties:
        behavior:
          $ref: '#/components/schemas/OverrideBehavior'
        costCenterRef:
          $ref: '#/components/schemas/Reference'
    TravelPref:
      type: object
      title: TravelPref
      description: Travel preferences.
      properties:
        airPref:
          $ref: '#/components/schemas/AirPref'
        preferredCurrency:
          type: string
          example: USD
        railCards:
          type: array
          items:
            $ref: '#/components/schemas/RailCard'
        railPref:
          $ref: '#/components/schemas/RailPref'
        carPref:
          $ref: '#/components/schemas/CarPref'
        hotelPref:
          $ref: '#/components/schemas/HotelPref'
    NotificationPreferencePerType:
      type: object
      title: NotificationPreferencePerType
      description: Notification preference for a notification type.
      properties:
        notificationType:
          $ref: '#/components/schemas/NotificationType'
        emailPreference:
          $ref: '#/components/schemas/NotificationEmailPreference'
    CostCenterFilterWrapper:
      type: object
      title: CostCenterFilterWrapper
      description: Wrapper for CostCenterFilter
      properties:
        costCenterFilter:
          $ref: '#/components/schemas/CostCenterFilter'
    CardExpiry:
      title: CardExpiry
      type: object
      description: Contains the expiry of a Card.
      oneOf:
      - $ref: '#/components/schemas/TokenizedExpiryWrapper'
      - $ref: '#/components/schemas/ExpiryWrapper'
    OffsetBasedPaginationResponseParams:
      type: object
      title: PaginationResponseParams
      description: Pagination parameters for response.
      required:
      - totalNumResults
      properties:
        totalNumResults:
          type: integer
          format: int32
          description: Total number of results.
    UnusedCreditDescriptorWrapper:
      type: object
      title: UnusedCreditDescriptorWrapper
      description: Wrapper for UnusedCreditDescriptor.
      properties:
        unusedCreditDescriptor:
          $ref: '#/components/schemas/UnusedCreditDescriptor'
    UpdateEventResponse:
      type: object
      description: Event update response details.
      required:
      - id
      - status
      properties:
        id:
          type: string
          description: Unique identifier for the event.
          example: '56789012'
        status:
          $ref: '#/components/schemas/OperationStatus'
        message:
          type: string
          description: Details about success or failure reason.
          example: Updated successfully
    EventNameFilter:
      type: string
      title: EventNameFilter
      description: Event name filter
      example: Jaipur Offsite
    DateTimeOffset:
      title: DateTimeOffset
      description: ISO8601 UTC Date Time
      type: object
      required:
      - iso8601
      properties:
        iso8601:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?(Z|([+-](0[0-9]|1[0-4]):([0-5][0-9])))$
          example: 2017-07-21T17:32Z
    LimoItinerary:
      type: object
      title: LimoItinerary
      properties:
        limoItineraryId:
          $ref: '#/components/schemas/LimoItineraryId'
    DateModel:
      title: Date
      description: Date in ISO 8601 standard.
      type: object
      required:
      - iso8601
      properties:
        iso8601:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$
          example: '2017-07-21'
    TmcInfo:
      type: object
      title: TmcInfo
      description: TMC config information.
      required:
      - id
      - primaryServiceProviderTmc
      properties:
        id:
          $ref: '#/components/schemas/CompanyId'
          description: TMC id.
        primaryServiceProviderTmc:
          $ref: '#/components/schemas/PrimaryServiceProviderTmc'
          description: Primary service provider TMC for the TMC.
        secondaryServiceProviderTmcs:
          type: array
          description: Secondary service provider TMCs for the TMC.
          items:
            $ref: '#/components/schemas/SecondaryServiceProviderTmc'
        partnerTmcId:
          $ref: '#/components/schemas/CompanyId'
          description: Useful to identify the clients onboarded by a PARTNER_TMC
    ReportingAttribute:
      type: object
      title: ReportingAttribute
      description: ReportingAttribute information for virtual cards.
      properties:
        type:
          type: string
          description: Type of ReportingAttribute
          enum:
          - EMPLOYEE_ID
          - COST_CENTER_ID
          - LEGAL_ENTITY_ID
          example: LEGAL_ENTITY_ID
    OwnershipLabel:
      title: OwnershipLabel
      type: string
      description: Ownership label of the card whether it is personal, corporate or central.
      enum:
      - CORPORATE
      - PERSONAL
      - CENTRAL
    HotelChain:
      type: object
      title: HotelChain
      description: The chain of hotel.
      properties:
        chainCode:
          type: string
          description: The code of hotel chain.
          example: EM
        chainName:
          type: string
          description: The name of hotel chain.
          example: Mariott
    FarePref:
      type: object
      title: FarePref
      description: Fare preferences.
      required:
      - fareTypes
      properties:
        fareTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_TYPE
            - CHANGEABLE
            - REFUNDABLE
            example: CHANGEABLE
    EventCompanyFilterWrapper:
      type: object
      title: EventCompanyFilterWrapper
      description: Wrapper for EventCompanyFilter
      properties:
        companyFilter:
          $ref: '#/components/schemas/EventCompanyFilter'
    DateTimeLocal:
      title: DateTimeLocal
      description: Local date and time in ISO 8601 format.
      type: object
      required:
      - iso8601
      properties:
        iso8601:
          type: string
          pattern: ^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?$
          example: 2017-07-21T17:32
    Card:
      type: object
      title: Card
      description: User card info
      required:
      - number
      properties:
        id:
          type: string
          description: Unique identifier for this card
          format: uuid
          example: 34d536b6-f8ff-11eb-9a61-0242ac180002
        type:
          type: string
          enum:
          - UNKNOWN
          - CREDIT
          - DEBIT
          description: Type of card
          example: CREDIT
        company:
          $ref: '#/components/schemas/CardCompany'
        name:
          description: Name on card
          type: string
          example: Harrison Schwartz
          x-pii: SENSITIVE
        address:
          description: Billing address
          $ref: '#/components/schemas/PostalAddress'
          x-pii: SENSITIVE
        number:
          type: string
          description: Card number
[...]
