openapi: 3.1.0
info:
  title: Air API
  version: v2
  description: APIs to perform search, checkout and book an air pnr
servers:
- url: https://api-ext-sboxmeta.partners.spotnana.com
  description: Sandbox URL
security:
- Bearer: []
tags:
- name: Air
  description: APIs to perform search, checkout and book an air pnr
paths:
  /v2/air/search-flights:
    post:
      tags:
      - Air
      summary: Get air itineraries
      description: Get Air Itineraries available for the given search parameters
      operationId: airSearch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirSearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/flight-attributes:
    post:
      tags:
      - Air
      summary: Get flight attributes
      description: "Get Flight attributes, amenities and fare rules for the given search response id. \nReturns the full air search response along with attribute details.\n"
      operationId: airAttributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirAttributesRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/selected-itinerary:
    post:
      tags:
      - Air
      summary: Get selected itinerary
      description: Get the selected itinerary for the traveler in the search and checkout flow.
      operationId: airSelectedItinerary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirSelectedItineraryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirSelectedItineraryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/airlines-info:
    parameters:
    - name: includeInactive
      in: query
      description: Include Airlines with inactive status along with active.
      required: true
      schema:
        type: boolean
    get:
      tags:
      - Air
      summary: Get Airlines Information (Air)
      description: Returns airlines information for active marked airlines.
      operationId: getAirlinesInformation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirlineInfoResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/flight-checkout:
    post:
      tags:
      - Air
      summary: Get flight checkout details
      description: Get the flight checkout details associated with the selected itinerary.
      operationId: airFlightCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirCheckoutRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirCheckoutResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/seat-map:
    post:
      tags:
      - Air
      summary: Get flight seat map
      description: Get seat map for the flights in the given itinerary.
      operationId: airSeatMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirSeatMapRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirSeatMapResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/initiate-booking:
    post:
      tags:
      - Air
      summary: Initiate booking
      description: "Initiates a new air booking for the trip. \nThe `identityDocs` field supports the following traveler identity documents: \nPassport, National ID, Known Traveler Number (KTN), redress number, and immigration documents. \nThe traveler can choose one among the list of identity documents available and provide its information during checkout.\n"
      operationId: airInitiateBooking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirInitiateBookingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirInitiateBookingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/revalidate-itinerary:
    post:
      tags:
      - Air
      summary: Validate air itinerary
      description: Validates the air itinerary for availability and pricing
      operationId: airRevalidateItinerary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirRevalidateItineraryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirRevalidateItineraryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/intermediate-revalidate-itinerary:
    post:
      tags:
      - Air
      summary: Validate air itinerary (interim)
      description: Validates an itinerary at any interim stage of air booking workflow and allows you to keep track of fare details before proceeding to checkout. Using this endpoint is optional. It requires a `searchId` and the `itineraryId` to obtain the latest fare details of the selected itinerary. The `travelerType` field in this endpoint response currently only accepts `ADULT`, `CHILD` and `INFANT`.
      operationId: airIntermediateRevalidateItinerary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirIntermediateRevalidateItineraryRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirRevalidateItineraryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/create-pnr:
    post:
      tags:
      - Air
      summary: Create air pnr
      description: Creates a new air booking with the given itinerary
      operationId: airCreatePnr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirCreatePnrRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirCreatePnrResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/cancel-pnr:
    post:
      tags:
      - Air
      summary: Cancel Air Pnr
      description: Cancel the air pnr and issues applicable refunds
      operationId: airCancelPnr
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirCancelPnrRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirCancelPnrResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/pnrs/{pnrId}/exchange-details:
    parameters:
    - name: pnrId
      in: path
      description: Spotnana PNR ID.
      required: true
      schema:
        type: string
        example: '6926658168'
    get:
      tags:
      - Air
      summary: Get PNR exchange details
      description: 'This endpoint gets exchange details of all the tickets present in the given PNR ID of the

        given trip ID.

        '
      operationId: getAirPnrExchangeDetails
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirPnrExchangeDetailsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/modify-search:
    post:
      tags:
      - Air
      summary: Modify Search
      description: Get Air Itineraries available for exchange/modification/deletion against current pnr.
      operationId: airModifySearchV2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirModifySearchRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirSearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/modify-book:
    post:
      tags:
      - Air
      summary: Modify Book
      description: Book[cancel] new[existing] legs into an existing pnr using the selected rate option from airModifySearch operation.
      operationId: airModifyBookV2
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirModifyBookingRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirModifyBookingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/pnrs/{pnrId}/update:
    post:
      tags:
      - Air
      summary: Edit PNR
      description: "Edit specific traveler information in an existing PNR.\nThis API allows you to edit and modify Special Service Requests (SSR), \nseat selection, loyalty number, ancillaries, redress number, Known Traveler Number (KTN), \ncheck-in preferences, and Other Service Information (OSI).\n"
      operationId: airPnrEdit
      parameters:
      - in: path
        name: pnrId
        description: PNR ID created by Spotnana for the booking.
        required: true
        schema:
          type: string
        example: '1213124111'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AirEditPnrRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirEditPnrResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /v2/air/special-service-requests:
    get:
      tags:
      - Air
      summary: Get Special Service Requests (SSR)
      description: "Returns the list of all Special Service Requests (SSR) supported by Spotnana.\nThis API doesn't require a request payload or a query parameter.\nYou can use this endpoint anytime during the air booking or exchange workflow \nto view the list of SSRs currently supported by Spotnana.\n"
      operationId: getSpecialServiceRequests
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialServiceRequestsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/air/special-service-requests/categories:
    get:
      tags:
      - Air
      summary: Get Special Service Requests (SSR) for a Category
      description: "Returns the list of Special Service Requests (SSR) for a selected category.\nEvery `category` type can contain multiple service requests.\nFor example, the `category: MEAL` includes service requests such as a vegetarian meal, baby/infant meal, \ngluten free meal, and so on. These service requests are displayed as `subCategory` fields within the `category: MEAL`. \nTo learn more about a selected category such as its `subCategory` values, category code, and other relevant\ninformation, run this API using the `category` type as the query parameter.\n"
      operationId: getSpecialServiceRequestsFilterByCategory
      parameters:
      - name: category
        in: query
        description: The category type of a Special Service Request (SSR).
        required: true
        schema:
          type: string
          description: Category details of the Special Service Request (SSR).
          enum:
          - BASSINET
          - SPECIAL_ASSISTANCE_WHEELCHAIR
          - BAGGAGE
          - UNACCOMPANIED_MINOR
          - PETS
          - MEET_AND_ASSIST
          - OTHERS
          - MEAL
          - SPECIAL_ASSISTANCE_DISABILITY
          example: SPECIAL_ASSISTANCE_WHEELCHAIR
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpecialServiceRequestsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /v2/air/fare-rules/fetch:
    post:
      tags:
      - Air
      summary: Returns the Air Raw Fare Rules for a Segment or Pnr
      operationId: fetchAirFareRules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FetchAirFareRuleRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchAirFareRuleResponse'
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    OfficeIdWrapper:
      type: object
      title: OfficeIdWrapper
      properties:
        officeId:
          $ref: '#/components/schemas/OfficeId'
    AdhocUserInfo:
      type: object
      title: AdhocUserInfo
      description: Basic information related to ad-hoc traveler profile.
      required:
      - profileOwner
      properties:
        profileOwner:
          $ref: '#/components/schemas/ProfileOwner'
        isSaved:
          type: boolean
          description: "A boolean flag to show if ad-hoc traveler is visible in search. While updating the user \nif client tries to update this field, it will throw exception.\n"
          default: false
    PaginationResponseParams:
      type: object
      title: PaginationResponseParams
      description: Pagination parameters for response.
      required:
      - numResults
      - numPages
      properties:
        numResults:
          type: integer
          format: int32
          description: Total number of results in the paginated list.
        numPages:
          type: integer
          format: int32
          description: Total number of pages in the paginated list.
    PolicyPreventBookingAction:
      type: object
      title: PolicyPreventBookingAction
      description: Whether to allow booking if a rule is violated.
      properties:
        prevent:
          type: boolean
          description: True if booking is to be blocked if rule is violated, else false
        reason:
          type: string
          description: Reason describing why was that specific itinerary not allowed to book.
    CustomFieldMatchConditions:
      type: object
      title: CustomFieldMatchConditions
      description: Conditions to select the custom field for given context.
      properties:
        travelerConditions:
          $ref: '#/components/schemas/TravelerMatchConditions'
        travelTypes:
          type: array
          description: Travel types to match.
          items:
            $ref: '#/components/schemas/TravelType'
        travelRegionTypes:
          type: array
          description: Travel region types to match.
          items:
            $ref: '#/components/schemas/TravelRegionType'
        tripUsageTypes:
          type: array
          description: Trip usage types to match. If empty, all trip usage types will be matched.
          items:
            $ref: '#/components/schemas/TripUsageType'
    BeverageAmenity:
      type: object
      title: BeverageAmenity
      description: Beverage amenity option properties.
      properties:
        displayText:
          type: string
          example: Premium alcohol beverages provided
        beverageType:
          type: string
          example: premium alcoholic
        alcoholCost:
          type: string
          example: free
    AirlineInfo:
      title: AirlineInfo
      type: object
      required:
      - airlineCode
      - airlineName
      properties:
        airlineCode:
          type: string
          description: IATA code for airline.
          example: AA
        airlineName:
          type: string
          description: Airline name
          example: American Airlines
    AdditionalInfo:
      type: object
      title: AdditionalInfo
      description: Additional data need to be sent along with the custom field response.
      discriminator:
        propertyName: type
        mapping:
          VARIABLE: '#/components/schemas/Variable'
          EXPRESSION: '#/components/schemas/Expression'
      oneOf:
      - $ref: '#/components/schemas/Variable'
      - $ref: '#/components/schemas/Expression'
    VendorProgramType:
      type: string
      description: The type of the vendor program
      enum:
      - UA_PASS_PLUS
      - GENERIC_PROGRAM_TYPE
    PreSearchAnswers:
      type: object
      properties:
        answers:
          type: array
          items:
            $ref: '#/components/schemas/EntityAnswer'
        userEntitiesResponseId:
          type: string
    DoubleRangeWrapper:
      type: object
      title: DoubleRangeWrapper
      properties:
        dRange:
          $ref: '#/components/schemas/DoubleRange'
    CarPref:
      type: object
      title: CarPref
      description: Travel preferences related to car.
      properties:
        vendors:
          type: array
          description: A list of car vendors.
          items:
            $ref: '#/components/schemas/CarVendor'
        carTypes:
          type: array
          description: A list of types of car.
          items:
            $ref: '#/components/schemas/CarType'
        engineTypes:
          type: array
          description: A list of types of engine.
          items:
            $ref: '#/components/schemas/EngineType'
        transmissionTypes:
          type: array
          description: A list of types of transmission.
          items:
            $ref: '#/components/schemas/TransmissionSearchFilter'
        conditionalRates:
          type: array
          description: A list of conditional rates for rail.
          items:
            $ref: '#/components/schemas/ConditionalRate'
    FareRules:
      type: object
      description: The rules and restrictions associated with the fare.
      properties:
        baggagePolicy:
          $ref: '#/components/schemas/BaggagePolicy'
        cancellationPolicy:
          $ref: '#/components/schemas/CancellationPolicy'
        postDepartureCancellationPolicy:
          description: Information about the post departure cancellation policy.
          $ref: '#/components/schemas/CancellationPolicy'
        exchangePolicy:
          $ref: '#/components/schemas/ExchangePolicy'
        postDepartureExchangePolicy:
          description: Information about the post departure exchange policy.
          $ref: '#/components/schemas/ExchangePolicy'
        seatSelectionPolicy:
          $ref: '#/components/schemas/SeatSelectionRule'
        boardingPolicy:
          $ref: '#/components/schemas/BoardingPolicy'
        checkInPolicy:
          $ref: '#/components/schemas/CheckInPolicy'
        loungePolicy:
          $ref: '#/components/schemas/LoungePolicy'
        seatType:
          $ref: '#/components/schemas/SeatTypeInfo'
    CovidTestingAmenity:
      type: object
      title: CovidTestingAmenity
      description: Covid testing amenity properties.
      properties:
        displayText:
          type: string
          example: No COVID-19 test required
        covidTestingDescription:
          type: string
          example: A negative COVID-19 test is not required for this flight; check with the airline for possible destination requirements or other restrictions.
        covidTestingAttrDescription:
          type: string
    RazorpayVerificationInfoWrapper:
      type: object
      title: RazorpayVerificationInfoWrapper
      description: Wrapper for Razorpay verification Info.
      properties:
        razorPayVerificationInfo:
          $ref: '#/components/schemas/RazorpayVerificationInfo'
    ExistingLeg:
      type: object
      title: ExistingLeg
      example:
        index: 1
        remove: true
      properties:
        index:
          type: integer
          example: 1
          format: int32
          description: The index of the leg in the existing PNR which needs to be kept or removed(see remove field) during the exchange process with the following origin-destination information. For new legs leave empty (null). Fields origin, destination and date are required only if this leg is a new leg to be added.
        remove:
          type: boolean
          description: This should be set to true, if this leg is to be cancelled.
          example: true
    TaxBreakdown:
      type: array
      items:
        $ref: '#/components/schemas/Tax'
    CorporateInfo:
      type: object
      description: Corporate data to be collected during the search request workflow.
      required:
      - preSearchAnswers
      properties:
        preSearchAnswers:
          $ref: '#/components/schemas/PreSearchAnswers'
    PercentageWrapper:
      type: object
      title: PercentageWrapper
      properties:
        percentage:
          type: number
          format: double
    CompanyConfigSourceWrapper:
      type: object
      title: CompanyConfigSourceWrapper
      description: Wrapper for option source company config.
      properties:
        companyConfig:
          $ref: '#/components/schemas/CompanyConfigSource'
    AirIntermediateRevalidateItineraryRequest:
      type: object
      required:
      - searchId
      - itineraryId
      properties:
        searchId:
          type: string
          description: The unique `searchId` corresponding to the selected itinerary.
        itineraryId:
          type: string
          description: The selected `itineraryId` which you would like to validate.
    MultiAirports:
      type: object
      title: MultiAirports
      description: List of airports. All airports should belong to the same country.
      required:
      - airports
      properties:
        airports:
          type: array
          description: List of 3-letter airport IATA codes.
          items:
            type: string
            description: The airport code identifying a specific airport. For example, JFK or EWR.
            example: JFK
            pattern: ^[A-Z]{3}$
    AirRevalidateItineraryResponse:
      type: object
      properties:
        bookingId:
          type: string
          description: The booking ID for the booking.
          example: bookingid
        fareBreakDown:
          $ref: '#/components/schemas/BookingFareBreakdown'
        legPrices:
          type: array
          items:
            $ref: '#/components/schemas/LegPrice'
        perTravelerPrices:
          type: array
          items:
            $ref: '#/components/schemas/PerTravelerPrice'
        policyDetails:
          $ref: '#/components/schemas/PnrPolicyInfo'
        mcoIssuanceEligibility:
          description: It indicates whether an MCO can be issued for this ticket. It is dependent on the validating airline of the ticket.
          $ref: '#/components/schemas/McoIssuanceEligibility'
    BoardingPolicy:
      type: object
      description: Priority boarding information.
      required:
      - description
      properties:
        description:
          type: string
          description: Text describing the priority boarding policy.
          example: Priority boarding provided for free
    KnownTravelerNumber:
      type: object
      title: KnownTravelerNumber
      description: Information about the Known Traveler Number (KTN).
      required:
      - number
      - issueCountry
      properties:
        number:
          type: string
          example: '12345'
          x-pii: IDENTIFIER
        issueCountry:
          type: string
          example: US
    CallbackUrlVerificationInfo:
      type: object
      title: CallbackUrlVerificationInfo
      description: Callback URL to the source post successful verification by the supplier.
      properties:
        sourceCallbackUrl:
          type: string
          description: The callback URL to redirect to after successful verification.
          example: https://app.spotnana.com/flights/check-pnr-status
    PassengerCapacityAmenity:
      type: object
      title: PassengerCapacityAmenity
      description: Passenger capacity amenity properties.
      properties:
        displayText:
          type: string
          example: Standard passenger capacity
        passengerCapacityDescription:
          type: string
          example: Ticket sales are not limited for this flight
        passengerCapacityAttrDescription:
          type: string
          example: 'no'
    Tax:
      type: object
      title: Tax
      description: Tax details
      required:
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/Money'
          description: Tax amount
        taxCode:
          type: string
          description: Tax code
          example: VAT
        percentage:
          type: number
          format: double
          description: Tax amount to total amount
          example: 9
    AirRestrictedFaresParamsWrapper:
      type: object
      title: AirRestrictedFaresParamsWrapper
      properties:
        airRestrictedFaresParams:
          $ref: '#/components/schemas/AirRestrictedFaresParams'
    TotalAmountWrapper:
      description: Wrapper for the total amount of a baggage fare.
      type: object
      title: TotalAmountWrapper
      properties:
        totalAmount:
          description: The total amount of a baggage fare.
          $ref: '#/components/schemas/BagFareInfo'
    LegPrice:
      type: object
      description: The fare breakdown per leg (if the information is available).
      properties:
        legId:
          type: string
          description: The leg ID.
          example: leg-id
        amount:
          description: 'The price breakdown of leg. If the price breakdown of leg is not available, price will

            denote the price of entire itinerary.

            '
          $ref: '#/components/schemas/FareAmount'
        travelerPrices:
          type: array
          items:
            $ref: '#/components/schemas/PerTravelerPrice'
          description: Price breakdown for each traveler type, if available.
        airlineFee:
          description: 'Total OB Fees for this leg. OB fees are generally charged by airlines in addition to the base ticket price.

            These fees can include service or credit card fees charged by the airline.

            '
          $ref: '#/components/schemas/Money'
        changeFee:
          description: Total change penalty applicable for this booking.
          $ref: '#/components/schemas/FareAmount'
    AnswerPair:
      type: object
      properties:
        item:
          type: string
          description: The option selected from the list of available choices.
        value:
          type: string
          description: The additional input provided (by the user) while selecting one of the options.
        description:
          type: string
          description: Description of the selected option.
    Department:
      type: object
      title: Department
      description: Department details.
      required:
      - id
      - name
      properties:
        id:
          $ref: '#/components/schemas/DepartmentId'
        name:
          type: string
          example: IT Department
        externalId:
          type: string
          description: External id of the department
          example: department-ext-id
        employeeCount:
          type: integer
          format: int32
          description: Count of employees in the department
          example: 57
    ChangeableFilter:
      type: string
      enum:
      - NO_CHANGEABLE_FILTER
      - CHANGEABLE_FLEXIBLE_REFUNDABLE
      - REFUNDABLE_WITH_PENALTY
      - REFUNDABLE_WITHOUT_PENALTY
      default: NO_CHANGEABLE_FILTER
      description: List of filters related to refund and change options for flights.
    NumStopsPref:
      type: object
      title: NumStopsPref
      description: Preferred number of stops.
      required:
      - numOfStops
      properties:
        numOfStops:
          type: integer
          format: int64
          example: 34
    MaskAmenityWrapper:
      type: object
      title: MaskAmenityWrapper
      properties:
        maskAmenity:
          $ref: '#/components/schemas/MaskAmenity'
    PreferredLocationLabel:
      type: string
      title: PreferredLocationLabel
      description: The label of preferred airport or rail station.
      enum:
      - HOME
      - WORK
      - OTHER
      example: HOME
    POSInfo:
      type: object
      description: Point of sale information
      required:
      - source
      properties:
        source:
          description: The third party source for the point of sale
          $ref: '#/components/schemas/ThirdPartySource'
        posDescriptor:
          type: string
          description: The identifier for the point of sale. This would be the PCC for GDS bookings.
          example: 6CA4
    ItemType:
      type: string
      description: Type of payment item eligible for this fop rule
      enum:
      - SERVICE_FEE
      - TRAVEL_TICKET
      - SEAT
      - BAGGAGE
      - EARLY_BIRD
      example: SEAT
    SearchLeg:
      type: object
      required:
      - origin
      - destination
      - date
      description: A leg representing the origin, destination and the departure date
      properties:
        origin:
          description: 3 letter IATA airport or metropolitan code for the origin
          $ref: '#/components/schemas/AirportLocation'
        destination:
          description: 3 letter IATA airport or metropolitan code for the destination
          $ref: '#/components/schemas/AirportLocation'
        date:
          description: The date of travel for this leg
          $ref: '#/components/schemas/DateModel'
    PreferredRailStation:
      type: object
      title: PreferredRailStation
      description: Rail station preferred by traveler.
      required:
      - stationCode
      - label
      properties:
        stationName:
          type: string
          description: Rail station name.
          example: Chicago Union Station
        stationCode:
          type: string
          description: Rail station code.
          example: CHI
        cityName:
          type: string
          description: Name of city where the rail station is located.
          example: Chicago
        countryCode:
          type: string
          description: Alpha-2 country code where the rail station is located.
        label:
          $ref: '#/components/schemas/PreferredLocationLabel'
    LegalEntityId:
      type: object
      title: LegalEntityId
      description: The ID of the legal entity.
      required:
      - id
      properties:
        id:
          type: string
          example: fc1ccbce-8413-4fe9-b233-a324dfbe7421
    Variable:
      type: object
      title: Variable
      description: Variable defining the additional value to be sent along with custom field response.
      required:
      - type
      - name
      properties:
        type:
          type: string
          example: VARIABLE
          default: VARIABLE
        name:
          $ref: '#/components/schemas/VariableName'
    AirCancelPnrResponse:
      type: object
      properties:
        sourcePnrId:
          type: string
          description: Source pnr id of the cancellation.
          example: ABCDEF
        status:
          $ref: '#/components/schemas/CancellationStatus'
        automaticCancellationInfo:
          $ref: '#/components/schemas/AutomaticCancellationInfo'
        processingWarning:
          type: string
          description: Optional warning message if processing is taking longer than expected
          example: Cancellation is successful but update is taking longer than expected
        paymentVerificationInfo:
          $ref: '#/components/schemas/PaymentVerificationInfo'
    Int32RangeWrapper:
      type: object
      title: Int32RangeWrapper
      properties:
        iRange:
          $ref: '#/components/schemas/Int32Range'
    HotelBrand:
      type: object
      title: HotelBrand
      description: The brand of hotel.
      properties:
        brandCode:
          type: string
          description: The code of hotel brand.
          example: HY
        brandName:
          type: string
          description: The name of hotel brand.
          example: Global Hytt Corp.
    FareComponent:
      type: string
      description: Fare component eligible for this fop rule
      enum:
      - BASE
      - TAX
      example: BASE
    PolicyTakeApprovalActionWrapper:
      type: object
      title: PolicyTakeApprovalActionWrapper
      properties:
        takeApproval:
          $ref: '#/components/schemas/PolicyTakeApprovalAction'
    FlightCommonWrapper:
      title: FlightCommonWrapper
      description: Wrapper of FlightCommon data to be used in oneOf.
      properties:
        flightData:
          $ref: '#/components/schemas/FlightCommon'
    Credit:
      type: object
      title: Credit
      required:
      - ticketNumber
      - ticketType
      - sourcePnr
      - totalFare
      - passengerName
      - segmentsAvailable
      - type
      - airlineInfo
      - traveler
      - source
      - unusedCreditPcc
      - pnrOwningPcc
      properties:
        type:
          type: string
          description: Payment source type. Should be set to CREDIT for unused credit details.
        pnrOwningPcc:
          type: string
          description: PCC the PNR was created on.
        unusedCreditPcc:
          type: string
          description: PCC the credit was issued on.
        departureCountry:
          type: string
          description: 3 letter country code of the departure country associated with the original ticket.
          example: USA
        arrivalCountry:
          type: string
          description: 3 letter country code of the arrival country associated with the original ticket.
          example: USA
        ticketType:
          type: string
          description: Type of credit.
          enum:
          - TICKET_TYPE_UNKNOWN
          - ETICKET
          - MCO
        departureDate:
          description: Date for the departure of the first flight associated with the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        segmentsAvailable:
          type: string
          description: Whether all segments are unused or some have already been used.
          enum:
          - UNKNOWN
          - ALL_OPEN
          - PARTIAL
          - OTHER
        traveler:
          description: Information about the traveler for which the credit should be redeemed.
          $ref: '#/components/schemas/AirRequestTravelerInfo'
        passengerName:
          description: Name of the passenger associated with the credit.
          $ref: '#/components/schemas/Name'
        airlineInfo:
          description: Airline info with airline name and code
          $ref: '#/components/schemas/AirlineInfo'
        totalFare:
          description: Total airfare associated with the original ticket.
          $ref: '#/components/schemas/Money'
        issueDate:
          description: Issue date for the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        expiryDate:
          description: Expiry date for the unused credit.
          $ref: '#/components/schemas/DateTimeOffset'
        source:
          $ref: '#/components/schemas/ThirdPartySource'
          default: SABRE
          description: Source of unused credit e.g. Sabre, NDC etc.
        sourcePnr:
          type: string
          description: PNR number corresponding to third party through which booking was made.
          example: MC5ONS
        flightIds:
          type: array
          description: ID of the flights on which this credit applies.
          minItems: 1
          items:
            type: string
        ticketNumber:
          type: string
          description: Ticket number for the ticket that was converted into an unused credit.
          example: '5267779139217'
      x-ignoreBreakingChanges:
      - Credit->pnrOwningPcc
      - Credit->unusedCreditPcc
      - Credit->source
    TokenizedExpiry:
      title: TokenizedExpiry
      type: object
      description: Contains the tokenized expiry of a Card.
      required:
      - expiryMonth
      - expiryYear
      properties:
        expiryMonth:
          type: string
          description: Tokenized Expiry month
          example: KvAuPANQWCpjwRQxcC8EXg==
        expiryYear:
          type: string
          description: Tokenized Expiry year
          example: fPBm0OWrKwPyIrCVcbg4cA==
    Category:
      title: Category
      type: object
      description: Details about the category of the Special Service Request (SSR).
      properties:
        type:
          type: string
          description: Enum of supported category types.
          enum:
          - BASSINET
          - SPECIAL_ASSISTANCE_WHEELCHAIR
          - BAGGAGE
          - UNACCOMPANIED_MINOR
          - PETS
          - MEET_AND_ASSIST
          - OTHERS
          - MEAL
          - SPECIAL_ASSISTANCE_DISABILITY
          example: SPECIAL_ASSISTANCE_WHEELCHAIR
        description:
          type: string
          description: Category description.
          example: Special Assistance - Wheelchair
    Office:
      type: object
      title: Office
      description: Office details.
      required:
      - id
      - name
      properties:
        address:
          $ref: '#/components/schemas/PostalAddress'
        id:
          $ref: '#/components/schemas/OfficeId'
        name:
          type: string
          example: Office
        latlng:
          $ref: '#/components/schemas/Latlng'
        taxId:
          type: string
          example: '133232'
    PnrItineraryWrapper:
      type: object
      title: PnrItineraryWrapper
      properties:
        pnr:
          $ref: '#/components/schemas/PnrItinerary'
    RazorpayVerificationInfo:
      type: object
      title: RazorpayVerificationInfo
      description: Verification information required when card is tokenized via Razorpay for Indian markets.
      required:
      - paymentProcessor
      properties:
        paymentProcessor:
          type: string
          description: Payment processor involved.
          example: RAZORPAY
        paymentAuthUrl:
          description: URL for authorizing the payment on the card.
          type: string
    FacilitySection:
      description: Describes a facility section in a flight.
      type: object
      properties:
        location:
          $ref: '#/components/schemas/SeatLocation'
        facilities:
          type: array
          items:
            $ref: '#/components/schemas/Facility'
    RatingWrapper:
      type: object
      title: RatingWrapper
      properties:
        rating:
          type: number
          format: double
    OtherServiceInformation:
      type: object
      description: Other Service Information (OSI) to be added.
      title: OtherServiceInformation
      required:
      - info
      properties:
        info:
          type: string
          description: Free text field for adding Other Service Information.
          example: VIP Passenger.
        flightIndex:
          type: integer
          description: Index referencing the flight for which the changes are requested.
          example: 2
    ConnectingAirportsFilter:
      type: object
      properties:
        legFilters:
          type: array
          items:
            $ref: '#/components/schemas/ConnectingAirportsLegFilter'
    PassportWrapper:
      type: object
      title: PassportWrapper
      properties:
        passport:
          $ref: '#/components/schemas/Passport'
    SeatMapItinerary:
      description: The itinerary for which the seat map needs to be returned.
      oneOf:
      - $ref: '#/components/schemas/AirItineraryIdWrapper'
      - $ref: '#/components/schemas/PnrItineraryWrapper'
    SelectedBaggage:
      type: object
      description: The baggage option selected during checkout.
      required:
      - legId
      - baggageIds
      properties:
        legId:
          type: string
          description: The ID of the leg associated with this baggage.
        baggageIds:
          type: array
          items:
            type: string
          description: The IDs of the selected baggage options from the flight checkout API response.
    FlightDetail:
      type: object
      description: Describes the details of a flight segment (including the origin, destination, cabin, etc).
      required:
      - id
      - cabin
      properties:
        id:
          type: string
          description: The unique ID for this flight in the itinerary.
          example: flight_0
        flightData:
          $ref: '#/components/schemas/FlightData'
        cabin:
          description: The cabin type for this flight in the associated itinerary
          $ref: '#/components/schemas/Cabin'
        bookingCode:
          type: string
          description: The airline's one-letter code for the associated fare
          example: B
        seatAvailability:
          type: integer
          format: int32
          description: The availability of seats on this flight
          example: 9
        corpAccountCode:
          type: string
          description: The account code is used to get corporate negotiated price
          example: DFG
        carbonEmission:
          description: The CO2 emission details for this flight
          $ref: '#/components/schemas/CO2EmissionDetail'
        amenities:
          description: The amenities associated with the flight.
          type: array
          items:
            $ref: '#/components/schemas/AirAmenity'
        flightAttributes:
          description: The set of product attributes associated with the flight.
          type: array
          items:
            $ref: '#/components/schemas/FlightAttribute'
        fareBasisCode:
          description: The fare basis code contains information about the fare.
          type: string
          example: QUAJZNB3
    RailCard:
      type: object
      title: RailCard
      description: Rail card
      required:
      - name
      - spotnanaCode
      - vendor
      properties:
        cardNumber:
          type: string
          description: Number of card
        expiryDate:
          description: Expiry date of the Rail Card.
          $ref: '#/components/schemas/DateModel'
        name:
          type: string
          description: Name of the Rail Card.
          example: Veterans Railcard
        spotnanaCode:
          description: Unique Spotnana code/identifier for Rail Card.
          type: string
          example: VET
        vendor:
          type: string
          description: Vendor Name.
          example: ATOC
    CostCenterId:
      type: object
      title: Cost center id.
      required:
      - id
      properties:
        id:
          type: string
          example: 731ccbca-0415-6fe1-d235-c324dfbe7423
    TmcBasicInfo:
      type: object
      title: TmcBasicInfo
      description: TMC related basic information.
      required:
      - contractingTmc
      - bookingTmc
      properties:
        contractingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Contracting TMC is the TMC the user/organization contracted.
        bookingTmc:
          $ref: '#/components/schemas/CompanyRef'
          description: Booking TMC is the TMC used for the bookings for the user/organization.
    PassengerCapacityAmenityWrapper:
      type: object
      title: PassengerCapacityAmenityWrapper
      properties:
        passengerCapacityAmenity:
          $ref: '#/components/schemas/PassengerCapacityAmenity'
    PreBookAnswers:
      type: object
      properties:
        answers:
          type: array
          items:
            $ref: '#/components/schemas/EntityAnswer'
        preBookQuestionResponseId:
          deprecated: true
          x-sunset: '2026-07-01'
          type: string
          description: The unique id sent back in the pre book questions API response
    FlightPassPaymentMetadataWrapper:
      type: object
      title: FlightPassPaymentMetadataWrapper
      description: Wrapper for Flight Pass payment metadata.
      required:
      - flightPassMetadata
      properties:
        metadataType:
          type: string
          description: Discriminator field for polymorphic deserialization
          example: FlightPassPaymentMetadata
          default: FlightPassPaymentMetadata
        flightPassMetadata:
          $ref: '#/components/schemas/FlightPassPaymentMetadata'
    SeatAmenityPref:
      type: object
      title: SeatAmenityPref
      description: Seat amenity preference.
      required:
      - seatAmenityTypes
      properties:
        seatAmenityTypes:
          type: array
          items:
            type: string
            enum:
            - UNKNOWN_AIR_SEAT_AMENITY_TYPE
            - FLAT_BED
            - WIFI
            - IN_SEAT_POWER
            example: WIFI
    PaymentSourcePrePaymentInformation:
      type: object
      description: Information shared by a payment source post initialization and before payment (like payment request Id, required fields, etc.)
      properties:
        paymentSourceId:
          type: string
          format: uuid
          description: Unique identifier identifying this payment source.
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        paymentRequestId:
          type: string
          description: Payment source initialization request id
          example: XHY675ER7Y2
        additionalInformation:
          $ref: '#/components/schemas/PaymentSourcePrePaymentAdditionalInformation'
    EntityAnswer:
      type: object
      properties:
        entityId:
          type: string
          description: The unique ID for the question.
        userInput:
          type: string
          description: The text input given by user (if any).
        itemIds:
          type: array
          items:
            type: integer
            format: int32
          description: 'The id/enum value corresponding to the option chosen by the user as

            answer.

            '
        answers:
          type: array
          items:
            $ref: '#/components/schemas/AnswerPair'
        customFieldType:
          $ref: '#/components/schemas/CustomFieldType'
        questionDisplayText:
          type: string
          description: The question text to be displayed to the user.
        question:
          $ref: '#/components/schemas/Question'
    AutomaticCancellationInfo:
      type: object
      title: AutomaticCancellationInfo
      description: Information about automatic processing that was performed during cancellation
      properties:
        segmentsCancelled:
          type: boolean
          description: Whether segments were successfully cancelled
          example: true
        automaticRefundSuccessful:
          type: boolean
          description: Whether automatic refund was attempted and successful
          example: true
        refundedTicketNumbers:
          type: array
          description: List of ticket numbers that were automatically refunded
          items:
            type: string
          example:
          - '1234567890123'
        automaticProcessingMessage:
          type: string
          description: Human-readable message describing what was automatically processed
          example: 'Refunded tickets: 1234567890123'
    SelectedPaymentSourceWrapper:
      type: object
      title: SelectedPaymentSourceWrapper
      properties:
        selectedPaymentSource:
          $ref: '#/components/schemas/SelectedPaymentSource'
    AirportLocation:
      type: object
      properties:
        city:
          type: string
          description: The code of a city used to identify a set of airports associated with it. For example, NYC or LON.
          example: NYC
        airport:
          type: string
          description: The airport code identifying a specific airport. For example, JFK or EWR.
          example: JFK
          pattern: ^[A-Z]{3}$
        multiAirports:
          description: List of airports to search for this location.
          $ref: '#/components/schemas/MultiAirports'
    AirlineInfoResponse:
      type: object
      title: AirlineInfoResponse
      required:
      - airlineInfo
      properties:
        airlineInfo:
          type: array
          items:
            $ref: '#/components/schemas/AirlineInfoComplete'
    OptionSourceMetadata:
      type: object
      title: OptionSourceMetadata
      description: Metadata information for the option source.
      oneOf:
      - $ref: '#/components/schemas/CompanyConfigSourceWrapper'
    SelectedPaymentSource:
      type: object
      description: Describes the selected payment source for the booking.
      properties:
        paymentSourceId:
          type: string
          format: uuid
          description: Unique identifier identifying this payment source.
          example: f49d00fe-1eda-4304-ba79-a980f565281d
        rawPaymentSource:
          $ref: '#/components/schemas/RawPaymentSourceDetails'
        postPaymentRedirectionUrl:
          type: string
          description: Url for post payment redirection if payment source navigates user to a third party url
          example: https://mycompany.com/checkout?paymentSourceId=f49d00fe-1eda-4304-ba79-a980f565281d
        cvv:
          type: string
          description: CVV associated with associated payment source, if any.
        amount:
          description: Total amount to be charged for specified payment items.
          $ref: '#/components/schemas/Money'
    ExpiryWrapper:
      type: object
      title: ExpiryWrapper
      properties:
        expiry:
          $ref: '#/components/schemas/Expiry'
    DoubleRange:
      type: object
      properties:
        min:
          type: number
          format: double
          description: Minimum value - inclusive.
        max:
          type: number
          format: double
          description: Maximum value - inclusive.
    MealPref:
      type: object
      title: MealPref
      description: Meal preferences.
      properties:
        exclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        inclMealPrefs:
          type: array
          items:
            $ref: '#/components/schemas/MealType'
        specialMealDescription:
          type: string
          example: Veg only meal
    LengthWrapper:
      type: object
      title: LengthWrapper
      properties:
        length:
          $ref: '#/components/schemas/Length'
    SeatIndexes:
      type: object
      required:
      - legIndex
      properties:
        legIndex:
          type: integer
          description: The leg index for which the seat map is requested.
        flightIndex:
          type: array
          items:
            type: integer
          description: The flight index for which the seat map is requested. It is optional and if it not present, then all the flights will be returned for this leg
    UserOrgId:
      type: object
      title: UserOrgId
      description: User and user's organization information.
      required:
      - userId
      - organizationId
      properties:
        organizationAgencyId:
          $ref: '#/components/schemas/OrganizationAgencyId'
        organizationId:
          $ref: '#/components/schemas/OrganizationId'
        userId:
          $ref: '#/components/schemas/UserId'
        tmcInfo:
          $ref: '#/components/schemas/TmcInfo'
          deprecated: true
          x-sunset: '2026-07-01'
        tmcBasicInfo:
          $ref: '#/components/schemas/TmcBasicInfo'
    MealType:
      type: string
      title: MealType
      description: Type of the meal
      enum:
      - UNKNOWN_MEAL
      - AVML
      - BBML
      - BLML
      - CHML
      - DBML
      - FPML
      - GFML
      - HFML
      - HNML
      - KSML
      - LCML
      - LFML
      - LPML
      - LSML
      - MOML
      - NLML
      - NSML
      - ORML
      - PFML
      - RVML
      - SFML
      - SPML
      - VGML
      - VJML
      - VLML
      - VOML
      example: VGML
    Facility:
      description: Describes a facility available in the flight.
      type: object
      properties:
        location:
          $ref: '#/components/schemas/SeatLocation'
        facilityType:
          $ref: '#/components/schemas/FacilityType'
    GatewayIdentifier:
      type: object
      properties:
        gatewayId:
          type: string
          description: Gateway Id for which the payment method should be verified.
        gatewayType:
          type: string
          description: Gateway Type for of the verification gateway.
          enum:
          - PAYMENT_GATEWAY_UNKNOWN
          - STRIPE
          - BREX
          - RAZORPAY
    UserOrgIdListWrapper:
      type: object
      title: UserOrgIdListWrapper
      properties:
        userOrgIdList:
          type: array
          items:
            $ref: '#/components/schemas/UserOrgId'
    AirPref:
      type: object
      title: AirPref
      description: Travel preferences related to air travel.
      properties:
        airlinePrefs:
          type: array
          items:
            $ref: '#/components/schemas/AirlinePref'
        alliancePref:
          $ref: '#/components/schemas/AlliancePref'
        farePref:
          $ref: '#/components/schemas/FarePref'
        homeAirport:
          type: string
          example: NEW YORK
        mealPref:
          $ref: '#/components/schemas/MealPref'
        numStopPref:
          $ref: '#/components/schemas/NumStopsPref'
        seatAmenityPref:
          $ref: '#/components/schemas/SeatAmenityPref'
        seatLocationPrefs:
          type: array
          items:
            $ref: '#/components/schemas/SeatLocationPref'
        preferredAirports:
          type: array
          description: A list of user preferred airports.
          items:
            $ref: '#/components/schemas/PreferredAirport'
    WeightLimit:
      description: The weight limit of a baggage option.
      type: object
      properties:
        weight:
          description: The weight limit of a baggage option.
          type: number
          example: 32
        unit:
          description: The unit of measurement for the weight limit.
          type: string
          enum:
          - lb
          - kg
          example: kg
          x-ignoreBreakingChanges:
          - unit->KG
          - unit->LBS
    FetchAirFareRuleRequest:
      type: object
      properties:
        searchId:
          type: string
          description: 'The unique ID (identifying the current workflow) returned by the backend in the air

            search results response (AirSearchResponse.searchId) of the previous leg. If set, the

            rateOptionId and userId must also be specified.

            '
        rateOptionId:
          type: string
          description: The unique ID identifying the selected flights in the previous leg's response.
        pnrId:
          description: The unique Spotnana PNR ID against which flights are booked.
          type: string
          example: '1213124111'
        userId:
          type: string
          format: uuid
          example: 4974a66b-7493-4f41-908c-58ba81093947
          description: Unique ID of the user.
    WaiveOffInfoPerModule:
      type: object
      title: WaiveOffInfoPerModule
      description: Waive off info per module.
      properties:
        moduleId:
          $ref: '#/components/schemas/ModuleId'
        waiveOffFeeReason:
          $ref: '#/components/schemas/WaiveOffFeeReason'
    CreditCardAccess:
      type: object
      title: CreditCardAccess
      description: Access type for cards to check who in the organization has permission to use it
      required:
      - accessType
      - entityIds
      properties:
        accessType:
          $ref: '#/components/schemas/CreditCardAccessType'
        entityIds:
          type: array
          items:
            type: string
          description: Holds the ids for for all users who can access the card or organization id
        entities:
          type: array
          description: A list of cardAccessEntity consisting of central card access level if present and entity id.
          items:
            $ref: '#/components/schemas/CardAccessEntity'
    PaymentMethod:
      type: string
      description: Payment method
      enum:
      - PAYMENT_METHOD_UNKNOWN
      - CREDIT_CARD
      - BREX_POINTS
      - CASH
      - QANTAS_POINTS
      - VENDOR_PROGRAM_PAYMENT
      - DELAYED_INVOICING
      - FLIGHT_CREDITS
      - QANTAS_TRAVEL_FUND
      - CUSTOM_VIRTUAL_PAYMENT
      - FLIGHT_PASS
      - MISCELLANEOUS_CREDIT_ORDER
      - NO_PREPAYMENT
      x-ignoreBreakingChanges:
      - PaymentMethod->MISCELLANEOUS_CREDIT_ORDER
      - PaymentMethod->NO_PREPAYMENT
      example: BREX_POINTS
    SupplierType:
      type: string
      description: Supplier type like Sabre, TravelFusion etc.
      enum:
      - SABRE
      - AMADEUS
      - TRAVEL_FUSION
      - FARELOGIX_NDC
      - ATPCO_NDC
      - TRAINLINE
      - AVIA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - NDC
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - NATIONAL
      - ALAMO
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      - EUROSTAR
      - AVIS
      - BUDGET
      x-ignoreBreakingChanges:
      - SupplierType->PREMIER_INN
      example: SABRE
    ThirdPartySource:
      type: string
      enum:
      - UNKNOWN_SOURCE
      - SABRE
      - TRAVEL_FUSION
      - AVIA
      - NDC
      - TRAINLINE
      - ATPCO_NDC
      - FARELOGIX_NDC
      - OFFLINE
      - CONNEXUS
      - ROUTEHAPPY
      - AMADEUS
      - GIATA
      - QBR
      - BCD
      - QANTAS_HOTELS
      - SOUTHWEST
      - EXPEDIA
      - HOTEL_HUB
      - MARRIOTT
      - CLEARTRIP
      - KYTE
      - GROUNDSPAN
      - SABRE_NDC
      - BOOKING_COM
      - CARTRAWLER
      - PREMIER_INN
      - TRAVELODGE
      - ENTERPRISE
      - HYATT
      - EUROSTAR
      - NATIONAL
      - ALAMO
      - AVIS
      - BUDGET
      - HERTZ
      - DOLLAR
      - THRIFTY
      - FIREFLY
      x-ignoreBreakingChanges:
      - ThirdPartySource->BOOKING_COM
      - ThirdPartySource->CARTRAWLER
      - ThirdPartySource->PREMIER_INN
      example: SABRE
    HotelPrefAmenity:
      type: string
      description: Preferred hotel amenity.
      enum:
      - PARKING
      - FREE_PARKING
      - FREE_BREAKFAST
      - POOL
      - WIFI
      - FITNESS_CENTER
      - FAMILY_FRIENDLY
      - RECEPTION
      - SPA
      - RESTAURANT
      - BAR
      - TRANSPORTATION
      - PET_FRIENDLY
      - BUSINESS_CENTER
      - AIR_CONDITIONING
      - BEACH_ACCESS
      - LAUNDRY_SERVICES
      - ROOM_SERVICE
      - ACCESSIBLE
    AncillarySelectionInfo:
      type: object
      title: AncillarySelectionInfo
      description: Ancillaries available for the user to buy on the flight checkout page.
      required:
      - type
      - displayName
      - description
      - ancillaryOptions
      properties:
        type:
          $ref: '#/components/schemas/AncillaryType'
        displayName:
          type: string
          description: Display name for this ancillary type
          example: Early Bird
        description:
          type: string
          description: Description for this ancillary type
          example: Purchasing early bird provides the customer with a higher boarding priority compared to WannaGetAway/Anytime customers that don’t have a special rapid rewards status irrespective of the time they check in.
        ancillaryOptions:
          type: array
          description: Ancillary options for this ancillary type
          minItems: 1
          items:
            $ref: '#/components/schemas/AncillaryOption'
    CarType:
      type: string
      title: CarType
      description: Car type.
      enum:
      - OTHER
      - MINI
      - ECONOMY
      - COMPACT
      - MID_SIZE
      - STANDARD
      - FULL_SIZE
      - PREMIUM
      - LUXURY
      - CONVERTIBLE
      - MINIVAN
      - SUV
      - VAN
      - PICKUP
      - SPORTS
      - SPECIAL
      - RECREATIONAL_VEHICLE
      - WAGON
      example: ECONOMY
    BookingPaymentDetails:
      type: object
      description: Payment details used for booking.
      required:
      - bookingTravelerPaymentDetails
      properties:
        bookingTravelerPaymentDetails:
          type: array
          items:
            $ref: '#/components/schemas/BookingTravelerPaymentDetails'
    BookingContact:
      type: object
      properties:
        emailAddress:
          type: string
          description: Email address of the booking contact
          example: mail@mail.com
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
    Int64Wrapper:
      type: object
      title: Int64Wrapper
      properties:
        l:
          type: integer
          format: int64
    FetchAirFareRuleResponse:
      type: object
      properties:
        legRuleInfos:
          type: array
          items:
            $ref: '#/components/schemas/LegRuleInfo'
    ThreeDSecure2VerificationInfoWrapper:
      type: object
      title: ThreeDSecure2VerificationInfoWrapper
      description: Wrapper for 3DS2 verification Info.
      properties:
        threeDSecure2VerificationInfo:
          $ref: '#/components/schemas/ThreeDSecure2VerificationInfo'
    AirAmenity:
      type: object
      title: AirAmenity
      oneOf:
      - $ref: '#/components/schemas/SeatAmenityWrapper'
      - $ref: '#/components/schemas/WifiAmenityWrapper'
      - $ref: '#/components/schemas/PowerAmenityWrapper'
      - $ref: '#/components/schemas/EntertainmentAmenityWrapper'
      - $ref: '#/components/schemas/BeverageAmenityWrapper'
      - $ref: '#/components/schemas/AircraftAmenityWrapper'
      - $ref: '#/components/schemas/LayoutAmenityWrapper'
      - $ref: '#/components/schemas/FreshFoodAmenityWrapper'
      - $ref: '#/components/schemas/CleaningAmenityWrapper'
      - $ref: '#/components/schemas/MaskAmenityWrapper'
      - $ref: '#/components/schemas/TemperatureAmenityWrapper'
      - $ref: '#/components/schemas/PassengerCapacityAmenityWrapper'
      - $ref: '#/components/schemas/BlockedAdjacentSeatsAmenityWrapper'
      - $ref: '#/components/schemas/CovidTestingAmenityWrapper'
      - $ref: '#/components/schemas/VaccineAmenityWrapper'
    BlockedAdjacentSeatsAmenity:
      type: object
      title: BlockedAdjacentSeatsAmenity
      description: Passenger Capacity Amenity properties
      properties:
        displayText:
          type: string
          example: No blocked adjacent seats
        blockedAdjacentSeatsDescription:
          type: string
          example: Adjacent seats are not blocked on this flight
        blockedAdjacentSeatsAttrDescription:
          type: string
          example: 'no'
    Int32Range:
      type: object
      properties:
        min:
          type: integer
          format: int32
          description: Minimum value - inclusive.
        max:
          type: integer
          format: int32
          description: Maximum value - inclusive.
    FlightNumber:
      title: FlightNumber
      description: Flight number and airline code.
      required:
      - airlineCode
      - num
      properties:
        num:
          type: string
          description: Flight number.
          example: '321'
        airlineCode:
          type: string
          description: Two-letter IATA airline code.
          example: AA
    AirInitiateBookingRequest:
      type: object
      description: Travel, Traveler and Payment source details to initiate a booking
      properties:
        initiateBookingWorkflowIds:
          $ref: '#/components/schemas/InitiateBookingWorkflowIds'
        travelers:
          type: array
          items:
            $ref: '#/components/schemas/AirBookTravelerInfo'
        bookingCharges:
          type: array
          items:
            $ref: '#/components/schemas/BookingCharge'
        bookingContact:
          description: Booking contact for the itinerary. Airlines send all update and change information to booking contact as well.
          $ref: '#/components/schemas/BookingContact'
        useExistingBooking:
          description: Use existing booking if it exists to initiate
          type: boolean
    CancellationOverride:
      type: object
      title: CancellationOverride
      description: Cancellation info override details, like cancellation penalty, waiver code, etc.
      properties:
        waiverCode:
          type: string
          description: "A waiver code to be applied to the refund. Typically a waiver code will be supplied by \nthe airline for the agent to use to override a cancellation fee.\n"
          example: WAV123
        tourCode:
          type: string
          description: "A tourcode to be applied to the refund. Input of a tourcode will override any tourcode \non the original ticket.\n"
          example: TRAC345
        newCancellationPenalty:
          description: 'The new cancellation penalty, this will override the existing cancellation penalty.

            '
          $ref: '#/components/schemas/Money'
    PnrPolicyInfo:
      title: PnrPolicyInfo
      description: Policy Info applicable for the associated itinerary
      type: object
      properties:
        policies:
          type: array
          description: List of policies applied to the itinerary.
          items:
            $ref: '#/components/schemas/PnrPolicyId'
        ruleResultInfos:
          type: array
          items:
            $ref: '#/components/schemas/PolicyRuleResultInfo'
    SelectedFormOfPayment:
      type: object
      description: List of different forms of payments used for booking for a set of travelers.
      required:
      - paymentItems
      - selectedPaymentSources
      properties:
        paymentItems:
          type: array
          items:
            $ref: '#/components/schemas/PaymentItem'
        selectedPaymentSources:
          type: array
          items:
            $ref: '#/components/schemas/SelectedPaymentSource'
    AccessType:
      type: string
      description: Access Type of the Payment Source being created.
      enum:
      - CENTRALISED
      - PERSONAL
      - APPLICATION
      - TMC
      - ITINERARY
      - EVENT
      - EVENT_TEMPLATE
      example: CENTRALISED
      x-ignoreBreakingChanges:
      - AccessType->EVENT_TEMPLATE
    SimpleBagOption:
      type: object
      description: An option containing a simple bag description.
      properties:
        baggageOptionId:
          type: string
          example: bag_0
        description:
          type: string
          example: 1 bag for $20
        simpleBag:
          $ref: '#/components/schemas/SimpleBag'
    ThirdPartyPnrRemark:
      title: ThirdPartyPnrRemark
      description: Third party remarks to the given PNR
      oneOf:
      - $ref: '#/components/schemas/SabrePnrRemarkWrapper'
    Dimensions:
      type: object
      title: Dimensions
      description: Image dimensions ie width and height.
      properties:
        height:
          type: integer
          format: int32
          example: 120
        width:
          type: integer
          format: int32
          example: 240
    PolicySplitPaymentActionWrapper:
      type: object
      title: PolicySplitPaymentActionWrapper
      properties:
        splitPayment:
          $ref: '#/components/schemas/SplitPayment'
    TotalWeightBreakdownWrapper:
      description: Wrapper for the total weight breakdown of a baggage option.
      type: object
      title: TotalWeightBreakdownWrapper
      properties:
        totalWeightBreakdown:
          description: The total weight breakdown of a baggage option.
          type: array
          items:
            $ref: '#/components/schemas/WeightLimit'
    FlightRefWrapper:
      title: FlightRefWrapper
      description: Wrapper of flight reference to be used in oneOf.
      properties:
        flightRef:
          $ref: '#/components/schemas/FlightRef'
    DoubleListWrapper:
      type: object
      title: DoubleListWrapper
      properties:
        dList:
          type: array
          items:
            type: number
            format: double
    TripId:
      type: object
      title: TripId
      description: Id of trip.
      required:
      - id
      properties:
        id:
          description: Id.
          type: string
          example: '2783425534'
    PolicyPredicate:
      type: string
      description: This contains the enum mentioning the policy rule which was violated.
      enum:
      - UNKNOWN_PREDICATE_STRING
      - MAX_FARE_PER_TRAVELLER_VIOLATION
      - FARE_MORE_THAN_MINIMUM
      - FARE_MORE_THAN_MEDIAN
      - FARE_LESS_THAN_MEDIAN
      - FARE_MORE_THAN_LLF
      - MAX_FARE_PER_TRAVELLER_VIOLATION_INCLUDING_TAX
      - MAX_FARE_PER_TRAVELLER_VIOLATION_EXCLUDING_TAX
      - HOTEL_PAYMENT_OPTIONS_VIOLATION
      - RAIL_BOOKING_WINDOW_GAP_VIOLATION
      - RAIL_TRAVEL_CLASS_VIOLATION
      - RAIL_TICKET_REFUNDABLE_VIOLATION
      - RAIL_MAX_BOOKING_PRICE_VIOLATION_INCLUDING_TAX
      - RAIL_MAX_BOOKING_PRICE_VIOLATION_EXCLUDING_TAX
      - AIR_MAX_PRICE_MORE_THAN_LLF_VIOLATION_INCLUDING_TAX
      - AIR_MAX_PRICE_MORE_THAN_LLF_VIOLATION_EXCLUDING_TAX
      - HOTEL_RESTRICTED_KEYWORDS_VIOLATION
      - RESTRICTED_LOCATION_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_DOMESTIC_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_INTERNATIONAL_VIOLATION
      - FLIGHT_ADVANCE_BOOKING_WINDOW_VIOLATION
      - ITINERARY_WITHIN_EVENT_TRAVEL_WINDOW
      - HOTEL_IN_ALLOWED_HOTEL_LIST
      - PAYMENT_ACCESS_VIOLATION
      - AIRPORT_IN_ALLOWED_AIRPORT_LIST
      - ITINERARY_TYPE_IS_NOT_IN_ALLOWED_BOOKING_TYPES
      - PAYMENT_AIR_ADDON_VIOLATION
      - MAX_HOTEL_BOOKING_PRICE_INCLUDING_TAX
      - MAX_HOTEL_BOOKING_PRICE_EXCLUDING_TAX
      - AIR_NUM_TRAVELERS_ALLOWED
      - PREFERRED_VENDOR_VIOLATION
      - SEAT_ADDON_VIOLATION
      - BAGGAGE_ADDON_VIOLATION
      - EARLY_BIRD_ADDON_VIOLATION
      - WIFI_ADDON_VIOLATION
      - RESTRICTED_BOOKING_VIOLATION
      - HIGHEST_ALLOWED_CABIN_VIOLATION
      - LOWEST_FARE_PER_HOTEL_PROPERTY_VIOLATION
      - AIR_RESTRICTED_FARES_VIOLATION
      - AIR_ANCILLARY_VIOLATION
      x-ignoreBreakingChanges:
      - PolicyPredicate->LOWEST_FARE_PER_HOTEL_PROPERTY_VIOLATION
      - PolicyPredicate->AIR_RESTRICTED_FARES_VIOLATION
      - PolicyPredicate->AIR_ANCILLARY_VIOLATION
    StripeVerificationInfoWrapper:
      type: object
      title: StripeVerificationInfoWrapper
      description: Wrapper for stripe verification Info.
      properties:
        stripeVerificationInfo:
          $ref: '#/components/schemas/StripeVerificationInfo'
    PaymentSourceCondition:
      type: object
      title: PaymentSourceCondition
      description: The payment source fop condition
      discriminator:
        propertyName: type
        mapping:
          CARD: '#/components/schemas/CardCondition'
      oneOf:
      - $ref: '#/components/schemas/CardCondition'
    AirSearchResponse:
      title: AirSearchResponse
      type: object
      description: A list of itineraries with detailed flight information and prices for each.
      required:
      - searchId
      - itineraryDetails
      properties:
        searchId:
          type: string
          description: The unique ID for this search response. This value must be passed on in the subsequent booking API calls.
          example: ChBjZDg3ZjRjZmRmMTFmMWFiEhBjZDg3Z
        itineraryDetails:
          description: The list of itineraries in the search response.
          $ref: '#/components/schemas/ItineraryInfo'
        paginationParams:
          $ref: '#/components/schemas/PaginationResponseParams'
        metadata:
          $ref: '#/components/schemas/AirMetadata'
    ThreeDSecure2VerificationResultItem:
      type: object
      description: Result of 3DS2 verification.
      required:
      - cardId
      - sessionId
      - success
      properties:
        cardId:
          type: string
          description: Card id for which the verification was performed.
          example: 550e8400-e29b-41d4-a716-446655440000
        sessionId:
          type: string
          description: session id of the payment service provider.
          example: sid_7q3lpqopuwmuxct3l3rkz225ae
        success:
          type: boolean
          description: Whether the 3DSecure2 authentication was successful.
          example: true
    EngineType:
      type: string
      title: EngineType
      description: Engine types.
      enum:
      - UNKNOWN_ENGINE
      - PETROL
      - DIESEL
      - ELECTRIC
      - CNG
      - HYBRID
      - HYDROGEN
      - MULTI_FUEL
      - ETHANOL
      example: PETROL
    ApplicationWarnings:
      type: object
      description: Warnings associated with the booking.
      properties:
        warningType:
          type: string
          description: Warning Type
          enum:
          - LOYALTY_NAME_MISMATCH
          - MEAL_NOT_AVAILABLE
        description:
          type: string
          description: Warning description
          example: FREQUENT TRAVELER NUMBER DOES NOT EXIST FOR THIS AIRLINE
    AirRequestTravelerInfo:
      title: AirRequestTravelerInfo
      description: 'The traveler identifiers. These can be either the Spotnana user IDs of the travelers or information regarding

        the adhoc travelers.

        '
      type: object
      oneOf:
      - $ref: '#/components/schemas/UserIdWrapper'
      - $ref: '#/components/schemas/AdhocTravelerInfoWrapper'
    AirBookTravelerInfo:
      type: object
      required:
      - travelerDetails
      - seats
      - baggages
      properties:
        travelerDetails:
          $ref: '#/components/schemas/TravelerBookingInfo'
        seats:
          type: array
          items:
            $ref: '#/components/schemas/SelectedSeat'
        baggages:
          type: array
          items:
            $ref: '#/components/schemas/SelectedBaggage'
        ancillaries:
          type: array
          description: The ancillary options selected during checkout.
          items:
            $ref: '#/components/schemas/SelectedAncillary'
        shareContactInfo:
          type: boolean
          description: "Flag to support IATA regulation 830d that requires user's consent to share email \nand phone with airline. If set to true, airlines will have access to\ntraveler's email and phone to directly communicate events like operational disruption.\n"
          example: false
        specialServiceRequests:
          type: array
          description: List of all Special Service Requests (SSR) for the traveler.
          items:
            $ref: '#/components/schemas/SpecialServiceRequestInfo'
    Rules:
      type: array
      items:
        $ref: '#/components/schemas/RuleDetail'
    SeatPref:
      type: object
      title: SeatPref
      description: Preference about seat of rail.
      properties:
        hasAccessibility:
          type: boolean
          description: Whether or not requires assistance for disability.
          default: false
          example: false
        seatTypes:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefType'
        seatLocations:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefLocation'
        deckLevels:
          type: array
          items:
            $ref: '#/components/schemas/DeckLevel'
        seatDirections:
          type: array
          items:
            $ref: '#/components/schemas/SeatPrefDirection'
    AircraftAmenity:
      type: object
      title: AircraftAmenity
      description: Aircraft Amenity properties
      properties:
        displayText:
          type: string
          example: 789 (widebody)
        aircraftType:
          type: string
          example: widebody
        aircraftModel:
          type: string
          example: '787'
    LegApplicability:
      type: object
      description: Describes the leg level applicability and the leg association.
      required:
      - applicability
      properties:
        applicability:
          type: string
          enum:
          - PER_LEG
          - ALL_LEGS
          example: PER_LEG
        legId:
          type: string
          description: Identifier for the leg. Present when applicability is PER_LEG.
          example: leg_0
    AssessmentType:
      type: string
      enum:
      - NEUTRAL
      - BENEFIT
      - RESTRICTION
      - FEE
      example: BENEFIT
    AirlineInfoComplete:
      type: object
      title: AirlineInfoComplete
      required:
      - airlineCode
      - airlineName
      - country
      - twoLetterCountryCode
      - isActive
      - loyaltyProgramName
      - loyaltyProgramCode
      - airlineTicketPrefix
      properties:
        airlineCode:
          type: string
          description: Airline code
          example: AA
        airlineName:
          type: string
          description: Airline name
          example: American Airlines
        country:
          type: string
          description: Airline country
          example: United States
        twoLetterCountryCode:
          type: string
          description: Two letter country code
          example: US
        isActive:
          type: boolean
          description: Airline active status
          example: true
        loyaltyProgramName:
          type: string
          description: Airline loyalty program name
          example: AA Advantage
        loyaltyProgramCode:
          type: string
          description: Airline loyalty program code
          example: AA Adv
        airlineTicketPrefix:
          type: string
          description: Airline ticket prefix
          example: '001'
    PowerAmenity:
      type: object
      title: PowerAmenity
      description: Power Amenity properties
      properties:
        displayText:
          type: string
          example: Power USB outlets
        powerType:
          type: string
          example: power/usb
        cost:
          type: string
          example: free
        usbPort:
          type: string
          example: 'yes'
        powerOutlet:
          type: string
          example: 'yes'
    AirExchangeAvailableOptions:
      type: object
      title: AirExchangeAvailableOptions
      description: Contains the information of the options that are allowed to exchange.
      properties:
        travelDate:
          type: boolean
          description: If true it means Airline allows to change the date.
        route:
          type: boolean
          description: If true it means Airline allows to change the route.
        addLeg:
          type: boolean
          description: If true it means Airline allows to add new leg to the existing itinerary.
        removeLeg:
          type: boolean
          description: If true it means Airline allows to remove leg from the existing itinerary.
        modifyPartialItinerary:
          type: boolean
          description: If true it means Airline allows to modify partial itinerary.
        sameEndpointRestriction:
          type: boolean
          description: If true it means Airline allows to change the endpoint across legs for the return itinerary.
    FlightPassTax:
      type: object
      title: FlightPassTax
      description: A single tax component of the flight pass fare.
      properties:
        code:
          type: string
          description: Tax code identifier (e.g. GST_HST, QST, OTHER).
          example: GST_HST
        amount:
          description: Tax amount.
          $ref: '#/components/schemas/Money'
    CancellationPolicy:
      type: object
      description: Information about the cancellation policy.
      properties:
        description:
          type: string
          description: Text describing the cancellation policy.
          example: Non-refundable
        fee:
          $ref: '#/components/schemas/Money'
        assessmentType:
          $ref: '#/components/schemas/AssessmentType'
          description: Assessment Type
        isCat16:
          type: boolean
          description: Is source cat16
          example: true
        isConditional:
          type: boolean
          description: Is conditional
          example: true
    CustomFieldOptionsParam:
      type: string
      title: CustomFieldOptionsParam
      enum:
      - COST_CENTER
      - LEGAL_ENTITY
      - OFFICE
      - DEPARTMENT
      description: Parameter to form options for the custom field.
      example: COST_CENTER
    LoungePolicy:
      type: object
      description: Information about the lounge policy.
      required:
      - description
      properties:
        description:
          type: string
          description: Lounge policy description text (may include whether a fee is charged).
          example: Lounge access for a fee
    AdhocTravelerInfoWrapper:
      title: AdhocTravelerInfoWrapper
      description: Wrapper over AdhocTravelerInfo object to be used as an identifier in a oneOf case.
      properties:
        adhocTravelerInfo:
          $ref: '#/components/schemas/AdhocTravelerInfo'
    PolicyConstValue:
      type: object
      properties:
        displaySuffix:
          type: string
          description: Optional display suffix for the policy const value
      oneOf:
      - $ref: '#/components/schemas/Int32Wrapper'
      - $ref: '#/components/schemas/Int64Wrapper'
      - $ref: '#/components/schemas/StringWrapper'
      - $ref: '#/components/schemas/DoubleWrapper'
      - $ref: '#/components/schemas/BoolWrapper'
      - $ref: '#/components/schemas/IntListWrapper'
      - $ref: '#/components/schemas/DoubleListWrapper'
      - $ref: '#/components/schemas/StringListWrapper'
      - $ref: '#/components/schemas/MoneyWrapper'
      - $ref: '#/components/schemas/LengthWrapper'
      - $ref: '#/components/schemas/PostalAddressWrapper'
      - $ref: '#/components/schemas/UserOrgIdWrapper'
      - $ref: '#/components/schemas/LegalEntityIdWrapper'
      - $ref: '#/components/schemas/OfficeIdWrapper'
      - $ref: '#/components/schemas/UserOrgIdListWrapper'
      - $ref: '#/components/schemas/LegalEntityIdListWrapper'
      - $ref: '#/components/schemas/OfficeIdListWrapper'
      - $ref: '#/components/schemas/RatingWrapper'
      - $ref: '#/components/schemas/PercentageWrapper'
      - $ref: '#/components/schemas/Int32RangeWrapper'
      - $ref: '#/components/schemas/DoubleRangeWrapper'
      - $ref: '#/components/schemas/PersonaWrapper'
      - $ref: '#/components/schemas/PersonaListWrapper'
      - $ref: '#/components/schemas/TravelClassHierarchyWrapper'
      - $ref: '#/components/schemas/KeywordWithReasonListWrapper'
      - $ref: '#/components/schemas/WorkerTypeWrapper'
      - $ref: '#/components/schemas/WorkerTypeListWrapper'
      - $ref: '#/components/schemas/AirRestrictedFaresParamsWrapper'
      x-ignoreBreakingChanges:
      - PolicyConstValue->AirRestrictedFaresParamsWrapper
    RedressNumberWrapper:
      type: object
      title: RedressNumberWrapper
      properties:
        redress:
          $ref: '#/components/schemas/RedressNumber'
    FlightAttribute:
      type: object
      title: FlightAttribute
      description: 'Information about flight product attributes such as marketing descriptions and images for superior retailing

        experience.

        '
      properties:
        description:
          type: string
          description: Marketing description and images associated with the flight attribute.
          example: A fully flat bed
        categories:
          type: array
          description: List of categories in which this flight attribute falls into
          items:
            $ref: '#/components/schemas/FlightAttributeCategory'
        photos:
          type: array
          description: List of images associated with the flight attribute.
          items:
            $ref: '#/components/schemas/ImageGroup'
    SplitAmount:
      type: object
      title: SplitAmount
      description: Payment amount details if slider payment function is non-linear.
      properties:
        amount:
          type: array
          items:
            $ref: '#/components/schemas/Money'
            description: List of split amounts required for slider at checkout.
    CabinFilter:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/CabinFilterType'
        cabin:
          $ref: '#/components/schemas/Cabin'
    NationalDocWrapper:
      type: object
      title: NationalDocWrapper
      properties:
        nationalDoc:
          $ref: '#/components/schemas/NationalDoc'
    AircraftAmenityWrapper:
      type: object
      title: AircraftAmenityWrapper
      properties:
        aircraftAmenity:
          $ref: '#/components/schemas/AircraftAmenity'
    FlightData:
      type: object
      title: FlightData
      oneOf:
      - $ref: '#/components/schemas/FlightRefWrapper'
      - $ref: '#/components/schemas/FlightCommonWrapper'
    TravelerMatchConditions:
      type: object
      title: TravelerMatchConditions
      description: Matching conditions for traveler.
      properties:
        workerTypes:
          type: array
          description: Worker types. Users belonging to any of these would match.
          items:
            $ref: '#/components/schemas/WorkerType'
        countries:
          type: array
          description: Countries.
          items:
            type: string
        legalEntities:
          type: array
          description: Legal entities
          items:
            $ref: '#/components/schemas/Reference'
        departments:
          type: array
          description: Departments
          items:
            $ref: '#/components/schemas/Reference'
        costCenters:
          type: array
          description: Cost centers
          items:
            $ref: '#/components/schemas/Reference'
        offices:
          type: array
          description: Offices
          items:
            $ref: '#/components/schemas/Reference'
    PnrStatus:
      title: PnrStatus
      type: string
      enum:
      - UNKNOWN
      - INITIATED
      - CANCELLED
      - CONFIRMED
      - GROUP_BOOKING_ON_REQUEST
      - WAITLISTED
      - PENDING
      - AIRLINE_UPGRADE
      - WAITLIST_CONFIRMED
      - BOOKING_DENIED_CONTACT_SUPPORT
      - NO_SHOW
      - CONTACT_SUPPORT
      - STATUS_CHANGED_CONTACT_SUPPORT
      - SCHEDULE_CHANGE
      - SEGMENT_REQUEST
      - SCHEDULE_CHANGE_WAITLISTED_BOOKING
      - REQUEST_PENDING
      - WAITLISTED_NOT_CONFIRMED
      - SCHEDULE_CHANGE_NOT_CONFIRMED
      - SCHEDULE_CHANGE_PENDING_STATUS
      - MIS_CONNECTION
      - REQUESTED
      - TICKETED
      - VOIDED
      - CANCELLED_BY_VENDOR
      - CANCELLATION_IN_PROGRESS
      - REINSTATED
      - BOOKING_ON_HOLD
      - AIRLINE_CONTROL
      - MODIFIED
      - PAYMENT_DECLINED
      - INOPERATIVE
      - UNCONFIRMED
      description: Status of PNR
      example: CONFIRMED
    AirItineraryIdentifier:
      description: An air itinerary ID wrapper.
      type: object
      required:
      - searchId
      - itineraryId
      properties:
        searchId:
          description: The search ID associated with the itinerary, returned in the air search response.
          type: string
          example: Xjdks78X
        itineraryId:
          description: The itinerary ID of the itinerary selected by the user, for which the seat map is requested.
          type: string
          example: ijdks78X
    AirModifyBookingResponse:
      type: object
      example:
        pnrNumber: AXKJDF
        pnrStatus: CONFIRMED
        pnrId: '1213124111'
      properties:
        pnrNumber:
          type: string
          title: Source PNR ID
          example: ABXDFZ
        pnrStatus:
          $ref: '#/components/schemas/PnrStatus'
        pnrId:
          type: string
          description: Spotnana PNR ID
          example: '1213124111'
        paymentVerificationInfo:
          $ref: '#/components/schemas/PaymentVerificationInfo'
        processingWarning:
          type: string
          description: Optional warning message if processing is taking longer than expected
          example: Modification is successful but update is taking longer than expected
    StringListWrapper:
      type: object
      title: StringListWrapper
      properties:
        sList:
          type: array
          items:
            type: string
    BookingFareBreakdown:
      type: object
      required:
      - totalFare
      properties:
        totalFare:
          description: Total amount charged on card including ancillaries and all other charges like OB fees, merchant fees, and penalty.
          $ref: '#/components/schemas/FareAmount'
        merchantFee:
          description: Total merchant fee for this booking.
          $ref: '#/components/schemas/Money'
        airlineFee:
          description: Total OB fees applicable for this booking.
          $ref: '#/components/schemas/Money'
        changeFee:
          description: Total change penalty applicable for this booking.
          $ref: '#/components/schemas/Money'
    Tier:
      type: string
      title: Tier
      description: 'Tier of User.

        Note: In default UI, BASIC is displayed as Standard, and SEAT1A is displayed as VIP.

        '
      enum:
      - BASIC
      - SEAT1A
      x-enum-varnames:
      - BASIC
      - SEAT1A
      example: SEAT1A
      default: BASIC
    FacilityType:
      description: Facility type is used to represent row facilities and cabin facilities.
      type: string
      enum:
      - BULKHEAD
      - STAIRS
      - TABLE
      - LAVATORY
      - BAR
      - CLOSET
      - AIR_PHONE
      - EXIT_DOOR
      - EMERGENCY_EXIT
      - GALLEY
      - LUGGAGE_STORAGE
      - STORAGE_SPACE
    TravelerInfoResponse:
      title: TravelerInfoResponse
      description: 'The traveler identifiers. These can be either the Spotnana user IDs of the travelers or information regarding

        the adhoc travelers.

        '
      type: object
      oneOf:
      - $ref: '#/components/schemas/UserIdWrapper'
      - $ref: '#/components/schemas/AdhocTravelerInfoWrapper'
    PersonaListWrapper:
      type: object
      title: PersonaListWrapper
      properties:
        personaList:
          type: array
          items:
            $ref: '#/components/schemas/Persona'
    StripeCardTokens:
      type: object
      title: StripeCardTokens
      description: Stripe card tokens used by clients in authorizing newly added cards.
      required:
      - paymentMethodId
      - setupIntentClientSecret
      - paymentProcessor
      properties:
        paymentProcessor:
          type: string
          description: Payment processor involved.
          example: STRIPE
        paymentMethodId:
          type: string
          description: Stripe's payment-method-id for the card.
          example: pm_1HzKDPI3bT9GUjvoUkRQooN3
        setupIntentClientSecret:
          type: string
          description: Stripe client secret for attaching the card to the setup-intent.
          example: seti_1IBwEiKXFM6BpWYhfdCGZ7sg_secret_InXJDifWGBcVqekJvhAxidON6vHAvfS
        connectedAccountId:
          type: string
          description: Account Id of the connected account in which above payment-method and setup-intent exist. This is populated only when a connected account is used.
          example: acct_1NT8oyCZnFgI0lFY
        publishableKey:
          type: string
          description: Publishable key of the Stripe platform account.
          example: pk_test_51Hx7XyI3bT9GUjvoUkRQooN3
    SelectedAncillary:
      type: object
      title: SelectedAncillary
      description: The ancillary option selected during checkout.
      required:
      - ancillaryId
      properties:
        ancillaryId:
          type: string
          description: The ID of the selected ancillary option.
          example: ancillary_0
    TimeRangeFilter:
      type: object
      properties:
        timeRanges:
          type: array
          items:
            $ref: '#/components/schemas/LegDepartureArrivalTimeRangeFilter'
    MerchantFeeInfo:
      title: MerchantFeeInfo
      description: Describes the merchant fee applicable on the itinerary.
      required:
      - amount
      properties:
        amount:
          $ref: '#/components/schemas/FareAmount'
    TravelerLegInfo:
      title: TravelerLegInfo
      type: object
      description: Per leg information for the associated traveler
      required:
      - travelerId
      properties:
        travelerId:
          type: string
          description: Unique identifier for the traveler in this response
          example: adult_0
        travelerLegFare:
          description: The fare amount for the traveler for a given leg
          $ref: '#/components/schemas/FareAmount'
        fareRules:
          description: Fare rules applicable for the traveler
          $ref: '#/components/schemas/FareRules'
    Filter:
      type: object
      properties:
        cabin:
          $ref: '#/components/schemas/CabinFilter'
        maxNumStops:
          type: integer
          format: int32
        timeRange:
          $ref: '#/components/schemas/TimeRangeFilter'
        alliance:
          $ref: '#/components/schemas/AllianceFilter'
        fareRange:
          $ref: '#/components/schemas/MoneyRange'
        airlinePref:
          $ref: '#/components/schemas/AirlinePrefsFilter'
        fareType:
          $ref: '#/components/schemas/FareTypeFilter'
        changeable:
          $ref: '#/components/schemas/ChangeableFilter'
        connectingAirports:
          $ref: '#/components/schemas/ConnectingAirportsFilter'
        seatPref:
          $ref: '#/components/schemas/SeatPrefFilter'
        covid:
          $ref: '#/components/schemas/CovidFilter'
        baggage:
          $ref: '#/components/schemas/BaggageFilter'
        flightNumber:
          $ref: '#/components/schemas/FlightNumberFilter'
        policyFilter:
          $ref: '#/components/schemas/PolicyFilter'
        multiTicketFilter:
          $ref: '#/components/schemas/MultiTicketFilter'
        fareCategoryFilter:
          $ref: '#/components/schemas/FareCategoryFilter'
        corporateCodeFilter:
          $ref: '#/components/schemas/CorporateCodeFilter'
        unusedCreditFilter:
          $ref: '#/components/schemas/UnusedCreditFilter'
        payByPointsFilter:
          $ref: '#/components/schemas/PayByPointsFilter'
    RedressNumber:
      type: object
      title: RedressNumber
      description: Redress details
      required:
      - number
      - issueCountry
      properties:
        number:
          type: string
          example: '12345'
          x-pii: IDENTIFIER
        issueCountry:
          type: string
          example: US
    AdhocTravelerInfo:
      title: AdhocTravelerInfo
      type: object
      description: Describes an adhoc traveler.
      properties:
        registrarUserId:
          description: The registrar of the adhoc traveler.
          $ref: '#/components/schemas/UserId'
        externalId:
          type: string
          description: External Id of user
          example: qwert123
    CostCenter:
      type: object
      title: CostCenter
      description: Cost center details.
      required:
      - id
      - name
      properties:
        id:
[...]
