{
  "openapi": "3.1.0",
  "info": {
    "title": "Hotel API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api-ext-sboxmeta.partners.spotnana.com",
      "description": "Sandbox URL"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The specified resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "Accessibility": {
        "type": "object",
        "title": "Accessibility",
        "description": "Information about the accessibility of the hotel room.",
        "required": [
          "type",
          "isSelectionRequired"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of accessibility feature.",
            "enum": [
              "ACCESSIBLE_ROOM"
            ]
          },
          "additionalInfo": {
            "type": "string",
            "description": "Additional information about the accessibility feature."
          },
          "isSelectionRequired": {
            "type": "boolean",
            "description": "Indicates if the selection of this accessibility feature is required."
          }
        }
      },
      "AdditionalInfo": {
        "type": "object",
        "title": "AdditionalInfo",
        "description": "Additional data need to be sent along with the custom field response.",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "VARIABLE": "#/components/schemas/Variable",
            "EXPRESSION": "#/components/schemas/Expression"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/Variable"
          },
          {
            "$ref": "#/components/schemas/Expression"
          }
        ]
      },
      "AdhocTravelerInfo": {
        "title": "AdhocTravelerInfo",
        "type": "object",
        "description": "Describes an adhoc traveler.",
        "properties": {
          "registrarUserId": {
            "description": "The registrar of the adhoc traveler.",
            "$ref": "#/components/schemas/UserId"
          },
          "externalId": {
            "type": "string",
            "description": "External Id of user",
            "example": "qwert123"
          }
        }
      },
      "AdhocTravelerInfoWrapper": {
        "title": "AdhocTravelerInfoWrapper",
        "description": "Wrapper over AdhocTravelerInfo object to be used as an identifier in a oneOf case.",
        "properties": {
          "adhocTravelerInfo": {
            "$ref": "#/components/schemas/AdhocTravelerInfo"
          }
        }
      },
      "AdhocUserInfo": {
        "type": "object",
        "title": "AdhocUserInfo",
        "description": "Basic information related to ad-hoc traveler profile.",
        "required": [
          "profileOwner"
        ],
        "properties": {
          "profileOwner": {
            "$ref": "#/components/schemas/ProfileOwner"
          },
          "isSaved": {
            "type": "boolean",
            "description": "A boolean flag to show if ad-hoc traveler is visible in search. While updating the user \nif client tries to update this field, it will throw exception.\n",
            "default": false
          }
        }
      },
      "AirPref": {
        "type": "object",
        "title": "AirPref",
        "description": "Travel preferences related to air travel.",
        "properties": {
          "airlinePrefs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AirlinePref"
            }
          },
          "alliancePref": {
            "$ref": "#/components/schemas/AlliancePref"
          },
          "farePref": {
            "$ref": "#/components/schemas/FarePref"
          },
          "homeAirport": {
            "type": "string",
            "example": "NEW YORK"
          },
          "mealPref": {
            "$ref": "#/components/schemas/MealPref"
          },
          "numStopPref": {
            "$ref": "#/components/schemas/NumStopsPref"
          },
          "seatAmenityPref": {
            "$ref": "#/components/schemas/SeatAmenityPref"
          },
          "seatLocationPrefs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SeatLocationPref"
            }
          },
          "preferredAirports": {
            "type": "array",
            "description": "A list of user preferred airports.",
            "items": {
              "$ref": "#/components/schemas/PreferredAirport"
            }
          }
        }
      },
      "AirRequestTravelerInfo": {
        "title": "AirRequestTravelerInfo",
        "description": "The traveler identifiers. These can be either the Spotnana user IDs of the travelers or information regarding\nthe adhoc travelers.\n",
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/UserIdWrapper"
          },
          {
            "$ref": "#/components/schemas/AdhocTravelerInfoWrapper"
          }
        ]
      },
      "AirRestrictedFaresParams": {
        "type": "object",
        "title": "AirRestrictedFaresParams",
        "properties": {
          "airRestrictedKeywords": {
            "type": "array",
            "description": "List of keywords grouped by airline",
            "items": {
              "$ref": "#/components/schemas/AirRestrictedKeyword"
            }
          }
        }
      },
      "AirRestrictedFaresParamsWrapper": {
        "type": "object",
        "title": "AirRestrictedFaresParamsWrapper",
        "properties": {
          "airRestrictedFaresParams": {
            "$ref": "#/components/schemas/AirRestrictedFaresParams"
          }
        }
      },
      "AirRestrictedKeyword": {
        "type": "object",
        "title": "AirRestrictedKeyword",
        "description": "Airline/Keyword to be restricted",
        "required": [
          "keyword"
        ],
        "properties": {
          "keyword": {
            "type": "string",
            "description": "Restricted keyword."
          },
          "airlineCode": {
            "type": "string",
            "description": "IATA airline code. If not set, the restriction applies to all airlines."
          }
        }
      },
      "AirlineInfo": {
        "title": "AirlineInfo",
        "type": "object",
        "required": [
          "airlineCode",
          "airlineName"
        ],
        "properties": {
          "airlineCode": {
            "type": "string",
            "description": "IATA code for airline.",
            "example": "AA"
          },
          "airlineName": {
            "type": "string",
            "description": "Airline name",
            "example": "American Airlines"
          }
        }
      },
      "AirlinePref": {
        "type": "object",
        "title": "AirlinePref",
        "description": "Airline preferences.",
        "properties": {
          "airlines": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "Indigo"
            }
          },
          "flightType": {
            "type": "string",
            "enum": [
              "UNKNOWN_FLIGHT_TYPE",
              "DOMESTIC",
              "INTERNATIONAL",
              "ALL"
            ],
            "example": "DOMESTIC"
          }
        }
      },
      "AirportSearch": {
        "type": "object",
        "title": "Airport Search",
        "required": [
          "searchType",
          "airport"
        ],
        "properties": {
          "searchType": {
            "type": "string",
            "example": "AIRPORT"
          },
          "airport": {
            "type": "string",
            "example": "LHR",
            "description": "IATA code of the airport. The search result will contain the list of hotels in close proximity to the specified airport."
          }
        }
      },
      "Alliance": {
        "type": "string",
        "enum": [
          "UNKNOWN_ALLIANCE",
          "STAR_ALLIANCE",
          "ONEWORLD",
          "SKYTEAM",
          "VANILLA_ALLIANCE",
          "U_FLY_ALLIANCE",
          "VALUE_ALLIANCE"
        ],
        "default": "UNKNOWN_ALLIANCE",
        "example": "STAR_ALLIANCE"
      },
      "AlliancePref": {
        "type": "object",
        "title": "AlliancePref",
        "description": "Alliance preferences.",
        "required": [
          "alliances"
        ],
        "properties": {
          "alliances": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Alliance"
            }
          }
        }
      },
      "AmadeusCheckoutVerificationInfo": {
        "type": "object",
        "required": [
          "paymentActionTokens"
        ],
        "properties": {
          "paymentActionTokens": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AmadeusPaymentActionToken"
            }
          },
          "paymentRequestId": {
            "type": "string",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "description": "Initial payment id generated by checkout SDK to initiate payment"
          },
          "actionToken": {
            "type": "string",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "description": "Token returned by checkout SDK to create/validate FOP in PSS order"
          },
          "confirmPayment": {
            "type": "boolean",
            "description": "Flag which indicates that the payment confirmation is now required (after 3ds or redirection)",
            "deprecated": true,
            "x-sunset": "2026-07-01"
          }
        }
      },
      "AmadeusCheckoutVerificationInfoWrapper": {
        "type": "object",
        "title": "AmadeusCheckoutVerificationInfoWrapper",
        "description": "Wrapper for amadeus checkout verification info object",
        "properties": {
          "amadeusCheckoutVerificationInfo": {
            "$ref": "#/components/schemas/AmadeusCheckoutVerificationInfo"
          }
        }
      },
      "AmadeusPaymentActionToken": {
        "type": "object",
        "required": [
          "paymentRequestId",
          "actionToken"
        ],
        "properties": {
          "paymentRequestId": {
            "type": "string",
            "description": "Initial payment id generated by checkout SDK to initiate payment"
          },
          "actionToken": {
            "type": "string",
            "description": "Token returned by checkout SDK to create/validate FOP in PSS order"
          }
        }
      },
      "AnswerPair": {
        "type": "object",
        "properties": {
          "item": {
            "type": "string",
            "description": "The option selected from the list of available choices."
          },
          "value": {
            "type": "string",
            "description": "The additional input provided (by the user) while selecting one of the options."
          },
          "description": {
            "type": "string",
            "description": "Description of the selected option."
          }
        }
      },
      "ApprovalType": {
        "type": "string",
        "description": "Type of APPROVAL",
        "enum": [
          "HARD_APPROVAL",
          "SOFT_APPROVAL",
          "PASSIVE_APPROVAL",
          "PRE_APPROVAL"
        ],
        "x-ignoreBreakingChanges": [
          "ApprovalType->PRE_APPROVAL"
        ],
        "example": "SOFT_APPROVAL"
      },
      "AutocompleteHotel": {
        "title": "AutocompleteHotel",
        "description": "Hotel Details",
        "type": "object",
        "required": [
          "hotelName"
        ],
        "properties": {
          "hotelCode": {
            "type": "string",
            "description": "Unique Code for the hotel",
            "example": "100259788"
          },
          "hotelName": {
            "type": "string",
            "description": "Full Name of the hotel",
            "example": "Delphin Deluxe Resort"
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "address": {
            "$ref": "#/components/schemas/PostalAddress"
          },
          "isPresentInPreferredVendors": {
            "type": "boolean",
            "description": "Whether the hotel is present in preferred vendor list. This is an optional field which gets populated only in the preferred vendor autocomplete API.",
            "example": true
          },
          "brandCode": {
            "type": "string",
            "example": "MC",
            "description": "The code of hotel brand."
          },
          "chainCode": {
            "type": "string",
            "example": "EM",
            "description": "The code of hotel chain."
          },
          "starRating": {
            "$ref": "#/components/schemas/HotelStarRatingInfo",
            "description": "Hotel star rating detail."
          },
          "contactInfo": {
            "$ref": "#/components/schemas/ContactInfo",
            "description": "Contact information for the hotel."
          }
        }
      },
      "BedInfo": {
        "type": "object",
        "title": "BedInfo",
        "description": "Bed count and type",
        "properties": {
          "bedCount": {
            "type": "integer",
            "description": "Number of beds.",
            "format": "int32",
            "example": 1
          },
          "bedType": {
            "$ref": "#/components/schemas/BedType",
            "description": "Bed type."
          }
        }
      },
      "BedType": {
        "type": "string",
        "title": "BedType",
        "description": "Bed types.",
        "enum": [
          "UNKNOWN_BED_TYPE",
          "DOUBLE",
          "FUTON",
          "KING",
          "MURPHY",
          "QUEEN",
          "SOFA",
          "TATAMI_MATS",
          "TWIN",
          "SINGLE",
          "FULL",
          "RUN_OF_THE_HOUSE",
          "DORM",
          "WATER",
          "PULL_OUT",
          "TWIN_XL"
        ],
        "example": "SINGLE"
      },
      "BookingContact": {
        "type": "object",
        "properties": {
          "emailAddress": {
            "type": "string",
            "description": "Email address of the booking contact",
            "example": "mail@mail.com"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          }
        }
      },
      "BookingPaymentDetails": {
        "type": "object",
        "description": "Payment details used for booking.",
        "required": [
          "bookingTravelerPaymentDetails"
        ],
        "properties": {
          "bookingTravelerPaymentDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BookingTravelerPaymentDetails"
            }
          }
        }
      },
      "BookingTravelerPaymentDetails": {
        "type": "object",
        "description": "List of different forms of payments used for booking for a set of travelers.",
        "required": [
          "selectedFormOfPayments"
        ],
        "properties": {
          "selectedFormOfPayments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SelectedFormOfPayment"
            }
          }
        }
      },
      "BoolWrapper": {
        "type": "object",
        "title": "BoolWrapper",
        "properties": {
          "b": {
            "type": "boolean"
          }
        }
      },
      "CancellationDuration": {
        "type": "object",
        "properties": {
          "deadlineAbsolute": {
            "$ref": "#/components/schemas/DateTimeLocal"
          },
          "deadlineDurationBeforeArrival": {
            "$ref": "#/components/schemas/Duration"
          }
        }
      },
      "CancellationPenalty": {
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/PenaltyAmount"
          },
          {
            "$ref": "#/components/schemas/PenaltyPercentage"
          }
        ]
      },
      "CancellationPolicyTerm": {
        "type": "object",
        "title": "CancellationPolicyTerm",
        "description": "Conditions and restrictions on Cancellations.",
        "required": [
          "penalty",
          "deadline"
        ],
        "properties": {
          "penalty": {
            "$ref": "#/components/schemas/CancellationPenalty"
          },
          "deadline": {
            "$ref": "#/components/schemas/CancellationDuration"
          }
        }
      },
      "CarPref": {
        "type": "object",
        "title": "CarPref",
        "description": "Travel preferences related to car.",
        "properties": {
          "vendors": {
            "type": "array",
            "description": "A list of car vendors.",
            "items": {
              "$ref": "#/components/schemas/CarVendor"
            }
          },
          "carTypes": {
            "type": "array",
            "description": "A list of types of car.",
            "items": {
              "$ref": "#/components/schemas/CarType"
            }
          },
          "engineTypes": {
            "type": "array",
            "description": "A list of types of engine.",
            "items": {
              "$ref": "#/components/schemas/EngineType"
            }
          },
          "transmissionTypes": {
            "type": "array",
            "description": "A list of types of transmission.",
            "items": {
              "$ref": "#/components/schemas/TransmissionSearchFilter"
            }
          },
          "conditionalRates": {
            "type": "array",
            "description": "A list of conditional rates for rail.",
            "items": {
              "$ref": "#/components/schemas/ConditionalRate"
            }
          }
        }
      },
      "CarType": {
        "type": "string",
        "title": "CarType",
        "description": "Car type.",
        "enum": [
          "OTHER",
          "MINI",
          "ECONOMY",
          "COMPACT",
          "MID_SIZE",
          "STANDARD",
          "FULL_SIZE",
          "PREMIUM",
          "LUXURY",
          "CONVERTIBLE",
          "MINIVAN",
          "SUV",
          "VAN",
          "PICKUP",
          "SPORTS",
          "SPECIAL",
          "RECREATIONAL_VEHICLE",
          "WAGON"
        ],
        "example": "ECONOMY"
      },
      "CarVendor": {
        "type": "object",
        "title": "CarVendor",
        "description": "Car vendor.",
        "required": [
          "code",
          "name"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Vendor code",
            "example": "ZE"
          },
          "name": {
            "type": "string",
            "description": "Vendor name",
            "example": "HERTZ"
          },
          "isPresentInPreferredVendors": {
            "type": "boolean",
            "description": "Whether the car vendor is present in preferred vendor list. This is an optional field which gets populated only in the preferred vendor autocomplete API.",
            "example": true
          }
        }
      },
      "Card": {
        "type": "object",
        "title": "Card",
        "description": "User card info",
        "required": [
          "number"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this card",
            "format": "uuid",
            "example": "34d536b6-f8ff-11eb-9a61-0242ac180002"
          },
          "type": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "CREDIT",
              "DEBIT"
            ],
            "description": "Type of card",
            "example": "CREDIT"
          },
          "company": {
            "$ref": "#/components/schemas/CardCompany"
          },
          "name": {
            "description": "Name on card",
            "type": "string",
            "example": "Harrison Schwartz",
            "x-pii": "SENSITIVE"
          },
          "address": {
            "description": "Billing address",
            "$ref": "#/components/schemas/PostalAddress",
            "x-pii": "SENSITIVE"
          },
          "number": {
            "type": "string",
            "description": "Card number",
            "example": "4111111111111111"
          },
          "expiryMonth": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 12,
            "description": "Expiry month",
            "example": 1,
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "expiryYear": {
            "type": "integer",
            "format": "int32",
            "description": "Expiry year",
            "minimum": 2000,
            "example": 2010,
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "cvv": {
            "type": "string",
            "description": "Card cvv number",
            "example": "012"
          },
          "label": {
            "type": "string",
            "description": "Card Label",
            "example": "Label amex"
          },
          "currency": {
            "type": "string",
            "description": "Native currency of the card.",
            "example": "USD"
          },
          "externalId": {
            "type": "string",
            "description": "Spotnana partner card id.",
            "example": "bxt_RNGsNfzgJDaTstKIKqK4xEuhGYAnMdYK8T40"
          },
          "vaultId": {
            "type": "string",
            "description": "ID of the vault used for creating the card.",
            "format": "uuid",
            "example": "34d536b6-f8ff-11eb-9a61-0242ac180002"
          },
          "expiry": {
            "description": "Card Expiry.",
            "$ref": "#/components/schemas/CardExpiry"
          },
          "ownershipLabel": {
            "$ref": "#/components/schemas/OwnershipLabel",
            "example": "PERSONAL"
          }
        }
      },
      "CardAccessEntity": {
        "title": "CardAccessEntity",
        "type": "object",
        "description": "Contains the central access level and entity id.",
        "required": [
          "entityId"
        ],
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Holds the id for for the user who can access the card or organization id or legal entity"
          },
          "centralCardAccessLevel": {
            "$ref": "#/components/schemas/CentralCardAccessLevel"
          }
        }
      },
      "CardCompany": {
        "type": "string",
        "enum": [
          "NONE",
          "VISA",
          "MASTERCARD",
          "AMEX",
          "DISCOVER",
          "AIR_TRAVEL_UATP",
          "CARTE_BLANCHE",
          "DINERS_CLUB",
          "JCB",
          "BREX",
          "UNION_PAY",
          "EURO_CARD",
          "ACCESS_CARD",
          "ELO_CARD"
        ],
        "description": "The issuing company of card",
        "example": "VISA"
      },
      "CardDetails": {
        "type": "object",
        "title": "Card Details",
        "description": "Card Details",
        "required": [
          "token",
          "expiry",
          "company"
        ],
        "properties": {
          "company": {
            "$ref": "#/components/schemas/CardCompany"
          },
          "token": {
            "type": "string",
            "description": "Tokenized Card Number",
            "example": "4111111111111111"
          },
          "expiry": {
            "$ref": "#/components/schemas/CardExpiry"
          }
        }
      },
      "CardExpiry": {
        "title": "CardExpiry",
        "type": "object",
        "description": "Contains the expiry of a Card.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/TokenizedExpiryWrapper"
          },
          {
            "$ref": "#/components/schemas/ExpiryWrapper"
          }
        ]
      },
      "CardType": {
        "type": "object",
        "title": "Card Type",
        "description": "Information about the type of card accepted.",
        "required": [
          "cardCompany"
        ],
        "properties": {
          "cardCompany": {
            "$ref": "#/components/schemas/CardCompany",
            "description": "The company that issued the card."
          },
          "description": {
            "type": "string",
            "description": "A description of the card type."
          }
        }
      },
      "CentralCardAccessLevel": {
        "title": "CentralCardAccessLevel",
        "type": "string",
        "description": "Identifies at which level central card is applicable, for example organization or legal entity.",
        "enum": [
          "UNKNOWN",
          "ORGANIZATION",
          "LEGAL_ENTITY",
          "TMC"
        ]
      },
      "CoachPref": {
        "type": "string",
        "description": "The preference of coach.",
        "enum": [
          "SMOKING",
          "NON_SMOKING",
          "PETS_ALLOWED",
          "RESTAURANT",
          "QUIET"
        ],
        "example": "NON_SMOKING"
      },
      "Commission": {
        "type": "object",
        "title": "Commission",
        "description": "Commision on rate",
        "required": [
          "amount"
        ],
        "properties": {
          "amount": {
            "$ref": "#/components/schemas/Money",
            "description": "Commission amount"
          },
          "commissionPercent": {
            "type": "number",
            "format": "double",
            "description": "Commission percentage",
            "example": 7.5
          }
        }
      },
      "CommonPolicyInfo": {
        "type": "object",
        "title": "Policy Information",
        "description": "Includes detailed information about a policy, such as its unique identifier, type, name, rules, version, and approval type.\n",
        "required": [
          "id",
          "policyType",
          "policyName",
          "version",
          "approvalType"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/EntityId",
            "description": "Unique identifier for the policy."
          },
          "policyType": {
            "$ref": "#/components/schemas/PolicyType",
            "description": "Type of policy."
          },
          "policyName": {
            "type": "string",
            "description": "Name of the policy."
          },
          "ruleResultInfos": {
            "type": "array",
            "description": "Information about the policy rules.",
            "items": {
              "$ref": "#/components/schemas/PolicyRuleResultInfo"
            }
          },
          "version": {
            "type": "integer",
            "description": "Version of the policy."
          },
          "approvalType": {
            "$ref": "#/components/schemas/ApprovalType",
            "description": "Type of approval for the policy."
          }
        }
      },
      "CompanyConfigSource": {
        "type": "object",
        "title": "CompanyConfigSource",
        "description": "For this option source, options would be auto generated based on specified parameter.",
        "required": [
          "optionsParam"
        ],
        "properties": {
          "optionsParam": {
            "$ref": "#/components/schemas/CustomFieldOptionsParam"
          }
        }
      },
      "CompanyConfigSourceWrapper": {
        "type": "object",
        "title": "CompanyConfigSourceWrapper",
        "description": "Wrapper for option source company config.",
        "properties": {
          "companyConfig": {
            "$ref": "#/components/schemas/CompanyConfigSource"
          }
        }
      },
      "CompanyId": {
        "type": "object",
        "title": "CompanyId",
        "description": "Company ID",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f49d00fe-1eda-4304-ba79-a980f565281d"
          }
        }
      },
      "CompanyRef": {
        "type": "object",
        "description": "Basic information about a company.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CompanyId"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "$ref": "#/components/schemas/Image",
            "description": "Company logo"
          }
        }
      },
      "Condition": {
        "type": "object",
        "title": "Condition",
        "description": "Details of the condition",
        "required": [
          "url",
          "text"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Url for terms and conditions.",
            "example": "https://www.amtrak.com/terms-and-conditions.html"
          },
          "text": {
            "type": "string",
            "description": "Display text for the url.",
            "example": "Amtrak"
          }
        }
      },
      "ConditionalRate": {
        "type": "string",
        "title": "ConditionalRate",
        "description": "Conditional rate.",
        "enum": [
          "MILITARY",
          "AAA",
          "GOVERNMENT"
        ],
        "example": "AAA"
      },
      "ContactInfo": {
        "type": "object",
        "title": "Contact Information",
        "description": "Provides contact information for a hotel.",
        "required": [
          "phone",
          "email"
        ],
        "properties": {
          "phone": {
            "type": "array",
            "description": "List of phone numbers for the hotel.",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "fax": {
            "type": "array",
            "description": "List of fax numbers for the hotel.",
            "items": {
              "type": "string"
            }
          },
          "email": {
            "type": "array",
            "description": "List of email addresses for the hotel.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CoordinatesSearch": {
        "type": "object",
        "title": "Coordinates Search",
        "required": [
          "searchType",
          "coordinates"
        ],
        "properties": {
          "searchType": {
            "type": "string",
            "example": "COORDINATES"
          },
          "coordinates": {
            "$ref": "#/components/schemas/Latlng",
            "description": "Search for hotels near the given coordinates."
          }
        }
      },
      "CorporateInfoV2": {
        "type": "object",
        "description": "Corporate data to be collected during the search request workflow.",
        "title": "CorporateInfoV2",
        "required": [
          "preSearchAnswers"
        ],
        "properties": {
          "preSearchAnswers": {
            "$ref": "#/components/schemas/PreSearchAnswers"
          }
        }
      },
      "CostCenter": {
        "type": "object",
        "title": "CostCenter",
        "description": "Cost center details.",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CostCenterId"
          },
          "name": {
            "type": "string",
            "example": "CostCenter"
          },
          "externalId": {
            "type": "string",
            "example": "external-id"
          }
        }
      },
      "CostCenterId": {
        "type": "object",
        "title": "Cost center id.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "731ccbca-0415-6fe1-d235-c324dfbe7423"
          }
        }
      },
      "Credit": {
        "type": "object",
        "title": "Credit",
        "required": [
          "ticketNumber",
          "ticketType",
          "sourcePnr",
          "totalFare",
          "passengerName",
          "segmentsAvailable",
          "type",
          "airlineInfo",
          "traveler",
          "source",
          "unusedCreditPcc",
          "pnrOwningPcc"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Payment source type. Should be set to CREDIT for unused credit details."
          },
          "pnrOwningPcc": {
            "type": "string",
            "description": "PCC the PNR was created on."
          },
          "unusedCreditPcc": {
            "type": "string",
            "description": "PCC the credit was issued on."
          },
          "departureCountry": {
            "type": "string",
            "description": "3 letter country code of the departure country associated with the original ticket.",
            "example": "USA"
          },
          "arrivalCountry": {
            "type": "string",
            "description": "3 letter country code of the arrival country associated with the original ticket.",
            "example": "USA"
          },
          "ticketType": {
            "type": "string",
            "description": "Type of credit.",
            "enum": [
              "TICKET_TYPE_UNKNOWN",
              "ETICKET",
              "MCO"
            ]
          },
          "departureDate": {
            "description": "Date for the departure of the first flight associated with the unused credit.",
            "$ref": "#/components/schemas/DateTimeOffset"
          },
          "segmentsAvailable": {
            "type": "string",
            "description": "Whether all segments are unused or some have already been used.",
            "enum": [
              "UNKNOWN",
              "ALL_OPEN",
              "PARTIAL",
              "OTHER"
            ]
          },
          "traveler": {
            "description": "Information about the traveler for which the credit should be redeemed.",
            "$ref": "#/components/schemas/AirRequestTravelerInfo"
          },
          "passengerName": {
            "description": "Name of the passenger associated with the credit.",
            "$ref": "#/components/schemas/Name"
          },
          "airlineInfo": {
            "description": "Airline info with airline name and code",
            "$ref": "#/components/schemas/AirlineInfo"
          },
          "totalFare": {
            "description": "Total airfare associated with the original ticket.",
            "$ref": "#/components/schemas/Money"
          },
          "issueDate": {
            "description": "Issue date for the unused credit.",
            "$ref": "#/components/schemas/DateTimeOffset"
          },
          "expiryDate": {
            "description": "Expiry date for the unused credit.",
            "$ref": "#/components/schemas/DateTimeOffset"
          },
          "source": {
            "$ref": "#/components/schemas/ThirdPartySource",
            "default": "SABRE",
            "description": "Source of unused credit e.g. Sabre, NDC etc."
          },
          "sourcePnr": {
            "type": "string",
            "description": "PNR number corresponding to third party through which booking was made.",
            "example": "MC5ONS"
          },
          "flightIds": {
            "type": "array",
            "description": "ID of the flights on which this credit applies.",
            "minItems": 1,
            "items": {
              "type": "string"
            }
          },
          "ticketNumber": {
            "type": "string",
            "description": "Ticket number for the ticket that was converted into an unused credit.",
            "example": "5267779139217"
          }
        },
        "x-ignoreBreakingChanges": [
          "Credit->pnrOwningPcc",
          "Credit->unusedCreditPcc",
          "Credit->source"
        ]
      },
      "CreditCardAccess": {
        "type": "object",
        "title": "CreditCardAccess",
        "description": "Access type for cards to check who in the organization has permission to use it",
        "required": [
          "accessType",
          "entityIds"
        ],
        "properties": {
          "accessType": {
            "$ref": "#/components/schemas/CreditCardAccessType"
          },
          "entityIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Holds the ids for for all users who can access the card or organization id"
          },
          "entities": {
            "type": "array",
            "description": "A list of cardAccessEntity consisting of central card access level if present and entity id.",
            "items": {
              "$ref": "#/components/schemas/CardAccessEntity"
            }
          }
        }
      },
      "CreditCardAccessType": {
        "title": "CreditCardAccessType",
        "type": "string",
        "description": "Identifies the different ways the card can be used across an organization",
        "enum": [
          "UNKNOWN_TYPE",
          "CENTRALISED",
          "INDIVIDUAL",
          "PERSONAL",
          "TMC",
          "APPLICATION",
          "ITINERARY",
          "EVENTS",
          "TRAVEL_ARRANGER_MANAGED",
          "COMPANY_TRAVEL_ARRANGER_MANAGED",
          "EVENT_TEMPLATE"
        ],
        "x-ignoreBreakingChanges": [
          "CreditCardAccessType->EVENT_TEMPLATE"
        ]
      },
      "CustomFieldLocation": {
        "title": "CustomFieldLocation",
        "description": "Display the custom fields in all these locations.",
        "type": "string",
        "enum": [
          "POLICY_APPROVAL_EMAIL",
          "PNR_EMAIL",
          "TRIP_EMAIL"
        ],
        "example": "POLICY_APPROVAL_EMAIL"
      },
      "CustomFieldMatchConditions": {
        "type": "object",
        "title": "CustomFieldMatchConditions",
        "description": "Conditions to select the custom field for given context.",
        "properties": {
          "travelerConditions": {
            "$ref": "#/components/schemas/TravelerMatchConditions"
          },
          "travelTypes": {
            "type": "array",
            "description": "Travel types to match.",
            "items": {
              "$ref": "#/components/schemas/TravelType"
            }
          },
          "travelRegionTypes": {
            "type": "array",
            "description": "Travel region types to match.",
            "items": {
              "$ref": "#/components/schemas/TravelRegionType"
            }
          },
          "tripUsageTypes": {
            "type": "array",
            "description": "Trip usage types to match. If empty, all trip usage types will be matched.",
            "items": {
              "$ref": "#/components/schemas/TripUsageType"
            }
          }
        }
      },
      "CustomFieldOptionsParam": {
        "type": "string",
        "title": "CustomFieldOptionsParam",
        "enum": [
          "COST_CENTER",
          "LEGAL_ENTITY",
          "OFFICE",
          "DEPARTMENT"
        ],
        "description": "Parameter to form options for the custom field.",
        "example": "COST_CENTER"
      },
      "CustomFieldSelectedOption": {
        "type": "object",
        "title": "CustomFieldSelectedOption",
        "description": "Selected response for the custom field.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Value of the selection"
          },
          "translatedName": {
            "type": "string",
            "description": "Translated value of the selection"
          },
          "description": {
            "type": "string",
            "description": "Description of the selection"
          },
          "translatedDescription": {
            "type": "string",
            "description": "Translated description of the selection"
          },
          "additionalUserInput": {
            "type": "string",
            "description": "Additional user input"
          },
          "additionalInfos": {
            "type": "array",
            "description": "Actual values of the additional infos",
            "items": {
              "type": "string"
            }
          },
          "additionalInfoConfigs": {
            "type": "array",
            "description": "Additional info configs for the selected option",
            "items": {
              "$ref": "#/components/schemas/AdditionalInfo"
            }
          }
        }
      },
      "CustomFieldType": {
        "type": "string",
        "description": "The type of custom field.",
        "enum": [
          "QUESTION",
          "MEETING",
          "BUDGET",
          "BREX_TOKEN"
        ],
        "default": "QUESTION"
      },
      "CustomFieldV3Response": {
        "type": "object",
        "title": "CustomFieldV3Response",
        "description": "Custom field responses.",
        "required": [
          "fieldId",
          "armId",
          "selectedOptions"
        ],
        "properties": {
          "fieldId": {
            "type": "string",
            "format": "uuid",
            "description": "Custom field id"
          },
          "fieldName": {
            "type": "string",
            "description": "Name of the custom field"
          },
          "armId": {
            "type": "string",
            "format": "uuid",
            "description": "Arm id which is applicable"
          },
          "includeLocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncludeLocation"
            }
          },
          "selectedOptions": {
            "type": "array",
            "description": "The list of options that are selected by user or auto populated.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldSelectedOption"
            }
          }
        }
      },
      "DateModel": {
        "title": "Date",
        "description": "Date in ISO 8601 standard.",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
            "example": "2017-07-21"
          }
        }
      },
      "DateTimeLocal": {
        "title": "DateTimeLocal",
        "description": "Local date and time in ISO 8601 format.",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?$",
            "example": "2017-07-21T17:32"
          }
        }
      },
      "DateTimeOffset": {
        "title": "DateTimeOffset",
        "description": "ISO8601 UTC Date Time",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?(Z|([+-](0[0-9]|1[0-4]):([0-5][0-9])))$",
            "example": "2017-07-21T17:32Z"
          }
        }
      },
      "DeckLevel": {
        "type": "string",
        "description": "The deck level of the rail.",
        "enum": [
          "UPPER_DECK",
          "LOWER_DECK"
        ],
        "example": "UPPER_DECK"
      },
      "Department": {
        "type": "object",
        "title": "Department",
        "description": "Department details.",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/DepartmentId"
          },
          "name": {
            "type": "string",
            "example": "IT Department"
          },
          "externalId": {
            "type": "string",
            "description": "External id of the department",
            "example": "department-ext-id"
          },
          "employeeCount": {
            "type": "integer",
            "format": "int32",
            "description": "Count of employees in the department",
            "example": 57
          }
        }
      },
      "DepartmentId": {
        "type": "object",
        "title": "DepartmentId",
        "description": "Department id.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "631ccbcf-9414-5fe0-c234-b324dfbe7422"
          }
        }
      },
      "Dimensions": {
        "type": "object",
        "title": "Dimensions",
        "description": "Image dimensions ie width and height.",
        "properties": {
          "height": {
            "type": "integer",
            "format": "int32",
            "example": 120
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "example": 240
          }
        }
      },
      "DoubleListWrapper": {
        "type": "object",
        "title": "DoubleListWrapper",
        "properties": {
          "dList": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "double"
            }
          }
        }
      },
      "DoubleRange": {
        "type": "object",
        "properties": {
          "min": {
            "type": "number",
            "format": "double",
            "description": "Minimum value - inclusive."
          },
          "max": {
            "type": "number",
            "format": "double",
            "description": "Maximum value - inclusive."
          }
        }
      },
      "DoubleRangeWrapper": {
        "type": "object",
        "title": "DoubleRangeWrapper",
        "properties": {
          "dRange": {
            "$ref": "#/components/schemas/DoubleRange"
          }
        }
      },
      "DoubleWrapper": {
        "type": "object",
        "title": "DoubleWrapper",
        "properties": {
          "d": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "Dpan": {
        "type": "object",
        "title": "Dpan",
        "description": "Object to pass through dpan payment source details through the api call.",
        "required": [
          "type",
          "cardDetails"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Payment source type. Should be set to DPAN for card details."
          },
          "cardDetails": {
            "$ref": "#/components/schemas/CardDetails"
          }
        }
      },
      "Duration": {
        "type": "object",
        "title": "Duration",
        "description": "Represents a duration of time with specific units of time.",
        "properties": {
          "iso8601": {
            "description": "Durations define the amount of intervening time in a time interval and are represented by the\nformat P[n]Y[n]M[n]DT[n]H[n]M[n]S.\nThe [n] is replaced by the value for each of the date and time elements that follow the [n].\nLeading zeros are not required. The capital letters P, Y, M, W, D, T, H, M, and S are\ndesignators for each of the date and time elements and are not replaced. P is the duration\ndesignator (for period) placed at the start of the duration representation.\nY is the year designator.\nM is the month designator.\nW is the week designator.\nD is the day designator.\nT is the time designator.\nH is the hour designator.\nM is the minute designator.\nS is the second designator and can include decimal digits with arbitrary precision.\n",
            "type": "string",
            "example": "PT19H55M"
          }
        }
      },
      "EmergencyContact": {
        "type": "object",
        "title": "EmergencyContact",
        "description": "Emergency contact information.",
        "required": [
          "name",
          "phoneNumbers"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of contact.",
            "example": "John Smith",
            "x-pii": "SENSITIVE"
          },
          "email": {
            "type": "string",
            "description": "Email address of contact.",
            "format": "email",
            "example": "emergency-contact@email.com",
            "x-pii": "IDENTIFIER"
          },
          "designation": {
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "type": "string",
            "description": "Job title of contact.",
            "example": "MANAGER"
          },
          "relation": {
            "type": "string",
            "description": "Relation of contact to user.",
            "example": "SPOUSE",
            "enum": [
              "RELATION_UNKNOWN",
              "SPOUSE",
              "PARENT",
              "SIBLING",
              "CHILD",
              "FRIEND",
              "RELATIVE",
              "COLLEAGUE",
              "OTHER"
            ]
          },
          "phoneNumbers": {
            "type": "array",
            "description": "Phone numbers of contact.",
            "x-pii": "IDENTIFIER",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "preferredLanguage": {
            "type": "string",
            "description": "Language preferred by user.",
            "example": "en-US"
          }
        }
      },
      "EmergencyContactInfo": {
        "type": "object",
        "title": "EmergencyContactInfo",
        "description": "Emergency contact information.",
        "required": [
          "email"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/PostalAddress",
            "x-pii": "SENSITIVE"
          },
          "designation": {
            "type": "string",
            "example": "MANAGER"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "emergency-contact@email.com",
            "x-pii": "IDENTIFIER"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber",
            "x-pii": "IDENTIFIER"
          },
          "userOrgId": {
            "$ref": "#/components/schemas/UserOrgId"
          }
        }
      },
      "EngineType": {
        "type": "string",
        "title": "EngineType",
        "description": "Engine types.",
        "enum": [
          "UNKNOWN_ENGINE",
          "PETROL",
          "DIESEL",
          "ELECTRIC",
          "CNG",
          "HYBRID",
          "HYDROGEN",
          "MULTI_FUEL",
          "ETHANOL"
        ],
        "example": "PETROL"
      },
      "EntityAnswer": {
        "type": "object",
        "properties": {
          "entityId": {
            "type": "string",
            "description": "The unique ID for the question."
          },
          "userInput": {
            "type": "string",
            "description": "The text input given by user (if any)."
          },
          "itemIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "The id/enum value corresponding to the option chosen by the user as\nanswer.\n"
          },
          "answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnswerPair"
            }
          },
          "customFieldType": {
            "$ref": "#/components/schemas/CustomFieldType"
          },
          "questionDisplayText": {
            "type": "string",
            "description": "The question text to be displayed to the user."
          },
          "question": {
            "$ref": "#/components/schemas/Question"
          }
        }
      },
      "EntityId": {
        "type": "object",
        "description": "Identifier of an object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "b93dc51f-12dd-46c7-b7d6-1cb12cd3f5b3"
          }
        }
      },
      "ErrorParameter": {
        "type": "object",
        "title": "ErrorParameter",
        "description": "Error parameter",
        "properties": {
          "name": {
            "type": "string",
            "description": "Parameter name"
          },
          "value": {
            "type": "string",
            "description": "Parameter value"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "debugIdentifier": {
            "type": "string",
            "description": "Link to debug the error internally."
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "string",
                  "description": "Error code to identify the specific errors."
                },
                "message": {
                  "type": "string",
                  "description": "Message containing details of error."
                },
                "errorParameters": {
                  "type": "array",
                  "description": "Error message parameters.",
                  "items": {
                    "$ref": "#/components/schemas/ErrorParameter"
                  }
                },
                "errorDetail": {
                  "type": "string",
                  "description": "More details about the error."
                }
              }
            }
          }
        }
      },
      "Expiry": {
        "title": "Expiry",
        "type": "object",
        "description": "Contains the expiry of a Card.",
        "required": [
          "expiryMonth",
          "expiryYear"
        ],
        "properties": {
          "expiryMonth": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 12,
            "description": "Expiry month",
            "example": 1
          },
          "expiryYear": {
            "type": "integer",
            "format": "int32",
            "description": "Expiry year",
            "minimum": 2000,
            "example": 2010
          }
        }
      },
      "ExpiryWrapper": {
        "type": "object",
        "title": "ExpiryWrapper",
        "properties": {
          "expiry": {
            "$ref": "#/components/schemas/Expiry"
          }
        }
      },
      "Expression": {
        "type": "object",
        "title": "Expression",
        "description": "Expression consisting of variables and constants which needs to be sent along with custom\nfield response.\n",
        "required": [
          "type",
          "formatExpression"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "EXPRESSION",
            "default": "EXPRESSION"
          },
          "formatExpression": {
            "type": "string",
            "description": "The expression must be of format : `<any_text> ${expression} <any_text>`.The expression \ncan consist of a combination of variables and mathematical operations.\n Variable names must be same as VariableName Enum.\n  To define mathematical operations, the operation name should follow the format\n`math.<math_op>(arg1, arg2)`. Both `arg1` and `arg2` can be variables or constants. \nThe supported math operations (math_op) include: `add, mul, div, sub, min,\nand max`. All keywords, such as `<math_op>, math, and var` must be written in lowercase.\n",
            "example": "Result:  ${math.mul(LLF,5)}  ${ADD_COLLECT_AMOUNT}"
          },
          "variables": {
            "type": "array",
            "description": "Reference names of the variables present in the expression.",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "items": {
              "$ref": "#/components/schemas/VariableName"
            }
          }
        }
      },
      "FareComponent": {
        "type": "string",
        "description": "Fare component eligible for this fop rule",
        "enum": [
          "BASE",
          "TAX"
        ],
        "example": "BASE"
      },
      "FarePref": {
        "type": "object",
        "title": "FarePref",
        "description": "Fare preferences.",
        "required": [
          "fareTypes"
        ],
        "properties": {
          "fareTypes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "UNKNOWN_TYPE",
                "CHANGEABLE",
                "REFUNDABLE"
              ],
              "example": "CHANGEABLE"
            }
          }
        }
      },
      "FlightPassPaymentAmounts": {
        "type": "object",
        "title": "FlightPassPaymentAmounts",
        "description": "Fare breakdown for the flight pass booking.",
        "properties": {
          "totalAmount": {
            "description": "Total value (base + taxes).",
            "$ref": "#/components/schemas/Money"
          },
          "baseAmount": {
            "description": "Base fare excluding taxes.",
            "$ref": "#/components/schemas/Money"
          },
          "totalTaxes": {
            "description": "Sum of all taxes, fees, and charges.",
            "$ref": "#/components/schemas/Money"
          },
          "taxBreakdown": {
            "type": "array",
            "description": "Breakdown of taxes by code (e.g. GST_HST, QST, OTHER).",
            "items": {
              "$ref": "#/components/schemas/FlightPassTax"
            }
          }
        }
      },
      "FlightPassPaymentMetadata": {
        "type": "object",
        "title": "FlightPassPaymentMetadata",
        "description": "Metadata specific to Flight Pass payment method in OtherCoinage.",
        "properties": {
          "flightPassNumber": {
            "type": "string",
            "description": "Flight pass number",
            "example": "FP123456789"
          },
          "flightPassAmounts": {
            "$ref": "#/components/schemas/FlightPassPaymentAmounts"
          }
        }
      },
      "FlightPassPaymentMetadataWrapper": {
        "type": "object",
        "title": "FlightPassPaymentMetadataWrapper",
        "description": "Wrapper for Flight Pass payment metadata.",
        "required": [
          "flightPassMetadata"
        ],
        "properties": {
          "metadataType": {
            "type": "string",
            "description": "Discriminator field for polymorphic deserialization",
            "example": "FlightPassPaymentMetadata",
            "default": "FlightPassPaymentMetadata"
          },
          "flightPassMetadata": {
            "$ref": "#/components/schemas/FlightPassPaymentMetadata"
          }
        }
      },
      "FlightPassTax": {
        "type": "object",
        "title": "FlightPassTax",
        "description": "A single tax component of the flight pass fare.",
        "properties": {
          "code": {
            "type": "string",
            "description": "Tax code identifier (e.g. GST_HST, QST, OTHER).",
            "example": "GST_HST"
          },
          "amount": {
            "description": "Tax amount.",
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "GatewayIdentifier": {
        "type": "object",
        "properties": {
          "gatewayId": {
            "type": "string",
            "description": "Gateway Id for which the payment method should be verified."
          },
          "gatewayType": {
            "type": "string",
            "description": "Gateway Type for of the verification gateway.",
            "enum": [
              "PAYMENT_GATEWAY_UNKNOWN",
              "STRIPE",
              "BREX",
              "RAZORPAY"
            ]
          }
        }
      },
      "Gender": {
        "title": "Gender",
        "type": "string",
        "x-pii": "SENSITIVE",
        "enum": [
          "MALE",
          "FEMALE",
          "UNSPECIFIED",
          "UNDISCLOSED",
          "GENDER_REDACTED"
        ],
        "example": "FEMALE"
      },
      "Grade": {
        "type": "object",
        "title": "Grade",
        "description": "Grade details.",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "employeeCount": {
            "type": "integer",
            "format": "int32",
            "description": "Count of employees in the grade",
            "example": 75
          },
          "id": {
            "$ref": "#/components/schemas/GradeId"
          },
          "name": {
            "type": "string",
            "example": "Grade"
          }
        }
      },
      "GradeId": {
        "type": "object",
        "title": "GradeId",
        "description": "Grade id.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "831ccbcb-1416-7fe2-e236-d324dfbe7424"
          }
        }
      },
      "HotelAccessibleFeatureType": {
        "type": "string",
        "title": "Hotel Accessible Feature Type",
        "description": "Types of accessible features available in the hotel.",
        "enum": [
          "MOBILITY_ACCESSIBLE_ROOM_WITH_TUB",
          "MOBILITY_ACCESSIBLE_ROOM_WITH_ROLL_IN_SHOWER",
          "HEARING_ACCESSIBLE_ROOM",
          "MOBILITY_ACCESSIBLE_ROOM_WITH_TUB_AND_ROLL_IN_SHOWER",
          "MOBILITY_ACCESSIBLE_ROOM_WITH_TUB_AND_HEARING_ACCESSIBLE_ROOM",
          "MOBILITY_ACCESSIBLE_ROOM_WITH_ROLL_IN_SHOWER_AND_HEARING_ACCESSIBLE_ROOM",
          "MOBILITY_ACCESSIBLE_ROOM_WITH_TRANSFER_SHOWER",
          "MOBILITY_ACCESSIBLE_ROOM_WITH_TUB_AND_TRANSFER_SHOWER",
          "MOBILITY_ACCESSIBLE_ROOM_WITH_TRANSFER_SHOWER_AND_HEARING_ACCESSIBLE_ROOM"
        ],
        "example": "MOBILITY_ACCESSIBLE_ROOM_WITH_TUB"
      },
      "HotelAdditionalDetail": {
        "title": "HotelAdditionalDetail",
        "type": "object",
        "properties": {
          "additionalDetailType": {
            "$ref": "#/components/schemas/HotelAdditionalDetailType",
            "description": "Type of the Additional Detail for the room."
          },
          "text": {
            "type": "string"
          }
        }
      },
      "HotelAdditionalDetailType": {
        "title": "HotelAdditionalDetailType",
        "type": "string",
        "enum": [
          "ADDITIONAL_DETAIL_TYPE_UNKNOWN",
          "RATE_DESCRIPTION",
          "PROPERTY_DESCRIPTION",
          "PROPERTY_LOCATION",
          "ROOM_INFORMATION",
          "GUARANTEE_INFORMATION",
          "DEPOSIT_INFORMATION",
          "CANCELLATION_INFORMATION",
          "CHECK_IN_CHECK_OUT_INFORMATION",
          "EXTRA_CHARGE_INFORMATION",
          "TAX_INFORMATION",
          "SERVICE_CHARGE_INFORMATION",
          "PACKAGE_INFORMATION",
          "COMMISSION_INFORMATION",
          "MISCELLANEOUS_INFORMATION",
          "PROMOTIONAL_INFORMATION",
          "INCLUSION_INFORMATION",
          "AMENITY_INFORMATION",
          "LATE_ARRIVAL_INFORMATION",
          "LATE_DEPARTURE_INFORMATION",
          "ADVANCED_BOOKING_INFORMATION",
          "EXTRA_PERSON_INFORMATION",
          "AREAS_SERVED",
          "ONSITE_FACILITIES_INFORMATION",
          "OFFSITE_FACILITIES_INFORMATION",
          "ONSITE_SERVICES_INFORMATION",
          "OFFSITE_SERVICES_INFORMATION",
          "EXTENDED_STAY_INFORMATION",
          "CORPORATE_BOOKING_INFORMATION",
          "BOOKING_GUIDELINES",
          "GOVERNMENT_BOOKING_POLICY",
          "GROUP_BOOKING_INFORMATION",
          "RATE_DISCLAIMER_INFORMATION",
          "VISA_TRAVEL_REQUIREMENT_INFORMATION",
          "SECURITY_INFORMATION",
          "ONSITE_RECREATIONAL_ACTIVITIES_INFORMATION",
          "OFFSITE_RECREATIONAL_ACTIVITIES_INFORMATION",
          "GENERAL_MEETING_PLANNING_INFORMATION",
          "GROUP_MEETING_PLANNING_INFORMATION",
          "CONTRACT_NEGOTIATED_BOOKING_INFORMATION",
          "TRAVEL_INDUSTRY_BOOKING_INFORMATION",
          "MEETING_ROOM_DESCRIPTION",
          "PET_POLICY_DESCRIPTION",
          "MEAL_PLAN_DESCRIPTION",
          "FAMILY_PLAN_DESCRIPTION",
          "CHILDREN_INFORMATION",
          "EARLY_CHECKOUT_DESCRIPTION",
          "SPECIAL_OFFERS_DESCRIPTION",
          "CATERING_DESCRIPTION",
          "ROOM_DECOR_DESCRIPTION",
          "OVERSOLD_POLICY_DESCRIPTION",
          "LAST_ROOM_AVAILABILITY_DESCRIPTION",
          "ROOM_TYPE_UPGRADE_DESCRIPTION",
          "DRIVING_DIRECTIONS",
          "DRIVING_DIRECTIONS_FROM_THE_NORTH",
          "DRIVING_DIRECTIONS_FROM_THE_SOUTH",
          "DRIVING_DIRECTIONS_FROM_THE_EAST",
          "DRIVING_DIRECTIONS_FROM_THE_WEST",
          "SURCHARGE_INFORMATION",
          "MINIMUM_STAY_INFORMATION",
          "MAXIMUM_STAY_INFORMATION",
          "CHECK_IN_POLICY",
          "CHECK_OUT_POLICY",
          "EXPRESS_CHECK_IN_POLICY",
          "EXPRESS_CHECK_OUT_POLICY",
          "FACILITY_RESTRICTIONS",
          "CUSTOMS_INFORMATION_FOR_MATERIAL",
          "SEASONS",
          "FOOD_AND_BEVERAGE_MINIMUMS_FOR_GROUPS",
          "DEPOSIT_POLICY_FOR_MASTER_ACCOUNT",
          "DEPOSIT_POLICY_FOR_RESERVATIONS",
          "RESTAURANT_SERVICES",
          "SPECIAL_EVENTS",
          "CUISINE_DESCRIPTION",
          "KEY_COLLECTION_INFO",
          "IMPORTANT_INFO"
        ]
      },
      "HotelAmenity": {
        "title": "Hotel Amenities",
        "type": "object",
        "description": "Type of hotel amenity",
        "required": [
          "hotelAmenityType"
        ],
        "properties": {
          "hotelAmenityType": {
            "type": "string",
            "enum": [
              "TWENTY_FOUR_HOUR_FRONT_DESK",
              "TWENTY_FOUR_HOUR_ROOM_SERVICE",
              "TWENTY_FOUR_HOUR_SECURITY",
              "ADJOINING_ROOMS",
              "AIR_CONDITIONING",
              "AIRLINE_DESK",
              "ATM_CASH_MACHINE",
              "BABY_SITTING",
              "BBQ_PICNIC_AREA",
              "BILINGUAL_STAFF",
              "BOOKSTORE",
              "BOUTIQUES_STORES",
              "BRAILED_ELEVATORS",
              "BUSINESS_LIBRARY",
              "CAR_RENTAL_DESK",
              "CASINO",
              "CHECK_CASHING_POLICY",
              "CHECK_IN_KIOSK",
              "COCKTAIL_LOUNGE",
              "COFFEE_SHOP",
              "COIN_OPERATED_LAUNDRY",
              "CONCIERGE_DESK",
              "CONCIERGE_FLOOR",
              "CONFERENCE_FACILITIES",
              "COURTYARD",
              "CURRENCY_EXCHANGE",
              "DESK_WITH_ELECTRICAL_OUTLET",
              "DOCTOR_ON_CALL",
              "DOOR_MAN",
              "DRIVING_RANGE",
              "DRUGSTORE_PHARMACY",
              "DUTY_FREE_SHOP",
              "ELEVATORS",
              "EXECUTIVE_FLOOR",
              "EXERCISE_GYM",
              "EXPRESS_CHECK_IN",
              "EXPRESS_CHECK_OUT",
              "FAMILY_PLAN",
              "FLORIST",
              "FOLIOS",
              "FREE_AIRPORT_SHUTTLE",
              "FREE_PARKING",
              "FREE_TRANSPORTATION",
              "GAME_ROOM",
              "GIFT_NEWS_STAND",
              "HAIRDRESSER_BARBER",
              "ACCESSIBLE_FACILITIES",
              "HEALTH_CLUB",
              "HEATED_POOL",
              "HOUSEKEEPING_DAILY",
              "HOUSEKEEPING_WEEKLY",
              "ICE_MACHINE",
              "INDOOR_PARKING",
              "INDOOR_POOL",
              "JACUZZI",
              "JOGGING_TRACK",
              "KENNELS",
              "LAUNDRY_VALET_SERVICE",
              "LIQUOR_STORE",
              "LIVE_ENTERTAINMENT",
              "MASSAGE_SERVICES",
              "NIGHTCLUB",
              "OFF_SITE_PARKING",
              "ON_SITE_PARKING",
              "OUTDOOR_PARKING",
              "OUTDOOR_POOL",
              "PACKAGE_PARCEL_SERVICES",
              "PARKING",
              "PHOTOCOPY_CENTER",
              "PLAYGROUND",
              "POOL",
              "POOLSIDE_SNACK_BAR",
              "PUBLIC_ADDRESS_SYSTEM",
              "RAMP_ACCESS",
              "RECREATIONAL_VEHICLE_PARKING",
              "RESTAURANT",
              "ROOM_SERVICE",
              "SAFE_DEPOSIT_BOX",
              "SAUNA",
              "SECURITY",
              "SHOE_SHINE_STAND",
              "SHOPPING_MALL",
              "SOLARIUM",
              "SPA",
              "SPORTS_BAR",
              "STEAM_BATH",
              "STORAGE_SPACE",
              "SUNDRY_CONVENIENCE_STORE",
              "TECHNICAL_CONCIERGE",
              "THEATRE_DESK",
              "TOUR_SIGHTSEEING_DESK",
              "TRANSLATION_SERVICES",
              "TRAVEL_AGENCY",
              "TRUCK_PARKING",
              "VALET_CLEANING",
              "DRY_CLEANING",
              "VALET_PARKING",
              "VENDING_MACHINES",
              "VIDEO_TAPES",
              "WAKEUP_SERVICE",
              "WHEELCHAIR_ACCESS",
              "WHIRLPOOL",
              "MULTILINGUAL_STAFF",
              "WEDDING_SERVICES",
              "BANQUET_FACILITIES",
              "BELL_STAFF_PORTER",
              "BEAUTY_SHOP_SALON",
              "COMPLIMENTARY_SELF_SERVICE_LAUNDRY",
              "DIRECT_DIAL_TELEPHONE",
              "FEMALE_TRAVELER_ROOM_FLOOR",
              "PHARMACY",
              "STABLES",
              "ONE_TWENTY_AC",
              "ONE_TWENTY_DC",
              "TWO_TWENTY_AC",
              "ACCESSIBLE_PARKING",
              "TWO_TWENTY_DC",
              "BARBEQUE_GRILLS",
              "WOMENS_CLOTHING",
              "MENS_CLOTHING",
              "CHILDRENS_CLOTHING",
              "SHOPS_AND_COMMERCIAL_SERVICES",
              "VIDEO_GAMES",
              "SPORTS_BAR_OPEN_FOR_LUNCH",
              "SPORTS_BAR_OPEN_FOR_DINNER",
              "ROOM_SERVICE_FULL_MENU",
              "ROOM_SERVICE_LIMITED_MENU",
              "ROOM_SERVICE_LIMITED_HOURS",
              "VALET_SAME_DAY_DRY_CLEANING",
              "BODY_SCRUB",
              "BODY_WRAP",
              "PUBLIC_AREA_AIR_CONDITIONED",
              "EFOLIO_AVAILABLE_TO_COMPANY",
              "INDIVIDUAL_EFOLIO_AVAILABLE",
              "VIDEO_REVIEW_BILLING",
              "BUTLER_SERVICE",
              "COMPLIMENTARY_IN_ROOM_COFFEE_OR_TEA",
              "COMPLIMENTARY_BUFFET_BREAKFAST",
              "COMPLIMENTARY_COCKTAILS",
              "COMPLIMENTARY_COFFEE_IN_LOBBY",
              "COMPLIMENTARY_CONTINENTAL_BREAKFAST",
              "COMPLIMENTARY_FULL_AMERICAN_BREAKFAST",
              "DINNER_DELIVERY_SERVICE_FROM_LOCAL_RESTAURANT",
              "COMPLIMENTARY_NEWSPAPER_DELIVERED_TO_ROOM",
              "COMPLIMENTARY_NEWSPAPER_IN_LOBBY",
              "COMPLIMENTARY_SHOESHINE",
              "EVENING_RECEPTION",
              "FRONT_DESK",
              "GROCERY_SHOPPING_SERVICE_AVAILABLE",
              "HALAL_FOOD_AVAILABLE",
              "KOSHER_FOOD_AVAILABLE",
              "LIMOUSINE_SERVICE",
              "MANAGERS_RECEPTION",
              "MEDICAL_FACILITIES_SERVICE",
              "TELEPHONE_JACK_ADAPTOR_AVAILABLE",
              "ALL_INCLUSIVE_MEAL_PLAN",
              "BUFFET_BREAKFAST",
              "COMMUNAL_BAR_AREA",
              "CONTINENTAL_BREAKFAST",
              "FULL_MEAL_PLAN",
              "FULL_AMERICAN_BREAKFAST",
              "MEAL_PLAN_AVAILABLE",
              "MODIFIED_AMERICAN_MEAL_PLAN",
              "FOOD_AND_BEVERAGE_OUTLETS",
              "LOUNGES_BARS",
              "BARBER_SHOP",
              "VIDEO_CHECKOUT",
              "ONSITE_LAUNDRY",
              "TWENTY_FOUR_HOUR_FOOD_AND_BEVERAGE_KIOSK",
              "CONCIERGE_LOUNGE",
              "PARKING_FEE_MANAGED_BY_HOTEL",
              "TRANSPORTATION",
              "BREAKFAST_SERVED_IN_RESTAURANT",
              "LUNCH_SERVED_IN_RESTAURANT",
              "DINNER_SERVED_IN_RESTAURANT",
              "FULL_SERVICE_HOUSEKEEPING",
              "LIMITED_SERVICE_HOUSEKEEPING",
              "HIGH_SPEED_INTERNET_ACCESS_FOR_LAPTOP_IN_PUBLIC_AREAS",
              "WIRELESS_INTERNET_CONNECTION_IN_PUBLIC_AREAS",
              "ADDITIONAL_SERVICES_AMENITIES_FACILITIES_ON_PROPERTY",
              "TRANSPORTATION_SERVICES_LOCAL_AREA",
              "TRANSPORTATION_SERVICES_LOCAL_OFFICE",
              "DVD_VIDEO_RENTAL",
              "PARKING_LOT",
              "PARKING_DECK",
              "STREET_SIDE_PARKING",
              "COCKTAIL_LOUNGE_WITH_ENTERTAINMENT",
              "COCKTAIL_LOUNGE_WITH_LIGHT_FARE",
              "MOTORCYCLE_PARKING",
              "PHONE_SERVICES",
              "BALLROOM",
              "BUS_PARKING",
              "CHILDRENS_PLAY_AREA",
              "CHILDRENS_NURSERY",
              "DISCO",
              "EARLY_CHECK_IN",
              "LOCKER_ROOM",
              "NON_SMOKING_ROOMS_GENERIC",
              "TRAIN_ACCESS",
              "AEROBICS_INSTRUCTION",
              "BAGGAGE_HOLD",
              "BICYCLE_RENTALS",
              "DIETICIAN",
              "LATE_CHECK_OUT_AVAILABLE",
              "PET_SITTING_SERVICES",
              "PRAYER_MATS",
              "SPORTS_TRAINER",
              "TURNDOWN_SERVICE",
              "DVDS_VIDEOS_CHILDREN",
              "BANK",
              "LOBBY_COFFEE_SERVICE",
              "BANKING_SERVICES",
              "STAIRWELLS",
              "PET_AMENITIES_AVAILABLE",
              "EXHIBITION_CONVENTION_FLOOR",
              "LONG_TERM_PARKING",
              "CHILDREN_NOT_ALLOWED",
              "CHILDREN_WELCOME",
              "COURTESY_CAR",
              "HOTEL_DOES_NOT_PROVIDE_PORNOGRAPHIC_FILMS_TV",
              "HOTSPOTS",
              "FREE_HIGH_SPEED_INTERNET_CONNECTION",
              "INTERNET_SERVICES",
              "PETS_ALLOWED",
              "GOURMET_HIGHLIGHTS",
              "CATERING_SERVICES",
              "COMPLIMENTARY_BREAKFAST",
              "BUSINESS_CENTER",
              "BUSINESS_SERVICES",
              "SECURED_PARKING",
              "RACQUETBALL",
              "SNOW_SPORTS",
              "TENNIS_COURT",
              "WATER_SPORTS",
              "CHILD_PROGRAMS",
              "GOLF",
              "HORSEBACK_RIDING",
              "OCEANFRONT",
              "BEACHFRONT",
              "HAIR_DRYER",
              "IRONING_BOARD",
              "HEATED_GUEST_ROOMS",
              "TOILET",
              "PARLOR",
              "VIDEO_GAME_PLAYER",
              "THALASSOTHERAPY",
              "PRIVATE_DINING_FOR_GROUPS",
              "HEARING_IMPAIRED_SERVICES",
              "CARRYOUT_BREAKFAST",
              "DELUXE_CONTINENTAL_BREAKFAST",
              "HOT_CONTINENTAL_BREAKFAST",
              "HOT_BREAKFAST",
              "PRIVATE_POOL",
              "CONNECTING_ROOMS",
              "DATA_PORT",
              "EXTERIOR_CORRIDORS",
              "GULF_VIEW",
              "ACCESSIBLE_ROOMS",
              "HIGH_SPEED_INTERNET_ACCESS",
              "INTERIOR_CORRIDORS",
              "HIGH_SPEED_WIRELESS",
              "KITCHENETTE",
              "PRIVATE_BATH_OR_SHOWER",
              "FIRE_SAFETY_COMPLIANT",
              "WELCOME_DRINK",
              "BOARDING_PASS_PRINT_OUT_AVAILABLE",
              "PRINTING_SERVICES_AVAILABLE",
              "ALL_PUBLIC_AREAS_NON_SMOKING",
              "MEETING_ROOMS",
              "MOVIES_IN_ROOM",
              "SECRETARIAL_SERVICE",
              "SNOW_SKIING",
              "WATER_SKIING",
              "FAX_SERVICE",
              "GREAT_ROOM",
              "LOBBY",
              "MULTIPLE_PHONE_LINES_BILLED_SEPARATELY",
              "UMBRELLAS",
              "GAS_STATION",
              "GROCERY_STORE",
              "TWENTY_FOUR_HOUR_COFFEE_SHOP",
              "AIRPORT_SHUTTLE_SERVICE",
              "LUGGAGE_SERVICE",
              "PIANO_BAR",
              "VIP_SECURITY",
              "COMPLIMENTARY_WIRELESS_INTERNET",
              "CONCIERGE_BREAKFAST",
              "SAME_GENDER_FLOOR",
              "CHILDREN_PROGRAMS",
              "BUILDING_MEETS_LOCAL_STATE_AND_COUNTRY_BUILDING_CODES",
              "INTERNET_BROWSER_ON_TV",
              "NEWSPAPER",
              "PARKING_CONTROLLED_ACCESS_GATES_TO_ENTER_PARKING_AREA",
              "HOTEL_SAFE_DEPOSIT_BOX_NOT_ROOM_SAFE_BOX",
              "STORAGE_SPACE_AVAILABLE_FEE",
              "TYPE_OF_ENTRANCES_TO_GUEST_ROOMS",
              "BEVERAGE_COCKTAIL",
              "CELL_PHONE_RENTAL",
              "COFFEE_TEA",
              "EARLY_CHECK_IN_GUARANTEE",
              "FOOD_AND_BEVERAGE_DISCOUNT",
              "LATE_CHECK_OUT_GUARANTEE",
              "ROOM_UPGRADE_CONFIRMED",
              "ROOM_UPGRADE_ON_AVAILABILITY",
              "SHUTTLE_TO_LOCAL_BUSINESSES",
              "SHUTTLE_TO_LOCAL_ATTRACTIONS",
              "SOCIAL_HOUR",
              "VIDEO_BILLING",
              "WELCOME_GIFT",
              "HYPOALLERGENIC_ROOMS",
              "ROOM_AIR_FILTRATION",
              "SMOKE_FREE_PROPERTY",
              "WATER_PURIFICATION_SYSTEM_IN_USE",
              "POOLSIDE_SERVICE",
              "CLOTHING_STORE",
              "ELECTRIC_CAR_CHARGING_STATIONS",
              "OFFICE_RENTAL",
              "PIANO",
              "INCOMING_FAX",
              "OUTGOING_FAX",
              "SEMI_PRIVATE_SPACE",
              "LOADING_DOCK",
              "BABY_KIT",
              "CHILDRENS_BREAKFAST",
              "CLOAKROOM_SERVICE",
              "COFFEE_LOUNGE",
              "EVENTS_TICKET_SERVICE",
              "LATE_CHECK_IN",
              "LIMITED_PARKING",
              "OUTDOOR_SUMMER_BAR_CAFE",
              "NO_PARKING_AVAILABLE",
              "BEER_GARDEN",
              "GARDEN_LOUNGE_BAR",
              "SUMMER_TERRACE",
              "WINTER_TERRACE",
              "ROOF_TERRACE",
              "BEACH_BAR",
              "HELICOPTER_SERVICE",
              "FERRY",
              "TAPAS_BAR",
              "CAFE_BAR",
              "SNACK_BAR",
              "GUESTROOM_WIRED_INTERNET",
              "GUESTROOM_WIRELESS_INTERNET",
              "FITNESS_CENTER",
              "ALCOHOLIC_BEVERAGES",
              "NON_ALCOHOLIC_BEVERAGES",
              "HEALTH_AND_BEAUTY_SERVICES",
              "LOCAL_CALLS",
              "MINIBAR",
              "REFRIGERATOR",
              "IN_ROOM_SAFE",
              "SMOKING_ROOMS_AVAILBLE",
              "MOUNTAIN_VIEW",
              "POOL_VIEW",
              "BEACH_VIEW",
              "OCEAN_VIEW",
              "ROOMS_WITH_BALCONY",
              "FAMILY_ROOM",
              "CRIB_CHARGE",
              "ROLLAWAY_ADULT",
              "FREE_WIFI_IN_MEETING_ROOMS",
              "ECO_FRIENDLY",
              "EXTRA_PERSON",
              "STAY_SAFE",
              "ENHANCED_HYGIENE_CLEANLINESS_PROTOCOLS"
            ],
            "example": "ECO_FRIENDLY"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Amenity description",
            "example": "Complimentary in-room coffee or tea"
          },
          "isComplimentary": {
            "type": "boolean",
            "description": "Is Amenity complimentary",
            "example": true
          }
        }
      },
      "HotelAmenityType": {
        "title": "HotelAmenityType",
        "type": "string",
        "description": "Type of hotel amenity.",
        "enum": [
          "TWENTY_FOUR_HOUR_FRONT_DESK",
          "TWENTY_FOUR_HOUR_ROOM_SERVICE",
          "TWENTY_FOUR_HOUR_SECURITY",
          "ADJOINING_ROOMS",
          "AIR_CONDITIONING",
          "AIRLINE_DESK",
          "ATM_CASH_MACHINE",
          "BABY_SITTING",
          "BBQ_PICNIC_AREA",
          "BILINGUAL_STAFF",
          "BOOKSTORE",
          "BOUTIQUES_STORES",
          "BRAILED_ELEVATORS",
          "BUSINESS_LIBRARY",
          "CAR_RENTAL_DESK",
          "CASINO",
          "CHECK_CASHING_POLICY",
          "CHECK_IN_KIOSK",
          "COCKTAIL_LOUNGE",
          "COFFEE_SHOP",
          "COIN_OPERATED_LAUNDRY",
          "CONCIERGE_DESK",
          "CONCIERGE_FLOOR",
          "CONFERENCE_FACILITIES",
          "COURTYARD",
          "CURRENCY_EXCHANGE",
          "DESK_WITH_ELECTRICAL_OUTLET",
          "DOCTOR_ON_CALL",
          "DOOR_MAN",
          "DRIVING_RANGE",
          "DRUGSTORE_PHARMACY",
          "DUTY_FREE_SHOP",
          "ELEVATORS",
          "EXECUTIVE_FLOOR",
          "EXERCISE_GYM",
          "EXPRESS_CHECK_IN",
          "EXPRESS_CHECK_OUT",
          "FAMILY_PLAN",
          "FLORIST",
          "FOLIOS",
          "FREE_AIRPORT_SHUTTLE",
          "FREE_PARKING",
          "FREE_TRANSPORTATION",
          "GAME_ROOM",
          "GIFT_NEWS_STAND",
          "HAIRDRESSER_BARBER",
          "ACCESSIBLE_FACILITIES",
          "HEALTH_CLUB",
          "HEATED_POOL",
          "HOUSEKEEPING_DAILY",
          "HOUSEKEEPING_WEEKLY",
          "ICE_MACHINE",
          "INDOOR_PARKING",
          "INDOOR_POOL",
          "JACUZZI",
          "JOGGING_TRACK",
          "KENNELS",
          "LAUNDRY_VALET_SERVICE",
          "LIQUOR_STORE",
          "LIVE_ENTERTAINMENT",
          "MASSAGE_SERVICES",
          "NIGHTCLUB",
          "OFF_SITE_PARKING",
          "ON_SITE_PARKING",
          "OUTDOOR_PARKING",
          "OUTDOOR_POOL",
          "PACKAGE_PARCEL_SERVICES",
          "PARKING",
          "PHOTOCOPY_CENTER",
          "PLAYGROUND",
          "POOL",
          "POOLSIDE_SNACK_BAR",
          "PUBLIC_ADDRESS_SYSTEM",
          "RAMP_ACCESS",
          "RECREATIONAL_VEHICLE_PARKING",
          "RESTAURANT",
          "ROOM_SERVICE",
          "SAFE_DEPOSIT_BOX",
          "SAUNA",
          "SECURITY",
          "SHOE_SHINE_STAND",
          "SHOPPING_MALL",
          "SOLARIUM",
          "SPA",
          "SPORTS_BAR",
          "STEAM_BATH",
          "STORAGE_SPACE",
          "SUNDRY_CONVENIENCE_STORE",
          "TECHNICAL_CONCIERGE",
          "THEATRE_DESK",
          "TOUR_SIGHTSEEING_DESK",
          "TRANSLATION_SERVICES",
          "TRAVEL_AGENCY",
          "TRUCK_PARKING",
          "VALET_CLEANING",
          "DRY_CLEANING",
          "VALET_PARKING",
          "VENDING_MACHINES",
          "VIDEO_TAPES",
          "WAKEUP_SERVICE",
          "WHEELCHAIR_ACCESS",
          "WHIRLPOOL",
          "MULTILINGUAL_STAFF",
          "WEDDING_SERVICES",
          "BANQUET_FACILITIES",
          "BELL_STAFF_PORTER",
          "BEAUTY_SHOP_SALON",
          "COMPLIMENTARY_SELF_SERVICE_LAUNDRY",
          "DIRECT_DIAL_TELEPHONE",
          "FEMALE_TRAVELER_ROOM_FLOOR",
          "PHARMACY",
          "STABLES",
          "ONE_TWENTY_AC",
          "ONE_TWENTY_DC",
          "TWO_TWENTY_AC",
          "ACCESSIBLE_PARKING",
          "TWO_TWENTY_DC",
          "BARBEQUE_GRILLS",
          "WOMENS_CLOTHING",
          "MENS_CLOTHING",
          "CHILDRENS_CLOTHING",
          "SHOPS_AND_COMMERCIAL_SERVICES",
          "VIDEO_GAMES",
          "SPORTS_BAR_OPEN_FOR_LUNCH",
          "SPORTS_BAR_OPEN_FOR_DINNER",
          "ROOM_SERVICE_FULL_MENU",
          "ROOM_SERVICE_LIMITED_MENU",
          "ROOM_SERVICE_LIMITED_HOURS",
          "VALET_SAME_DAY_DRY_CLEANING",
          "BODY_SCRUB",
          "BODY_WRAP",
          "PUBLIC_AREA_AIR_CONDITIONED",
          "EFOLIO_AVAILABLE_TO_COMPANY",
          "INDIVIDUAL_EFOLIO_AVAILABLE",
          "VIDEO_REVIEW_BILLING",
          "BUTLER_SERVICE",
          "COMPLIMENTARY_IN_ROOM_COFFEE_OR_TEA",
          "COMPLIMENTARY_BUFFET_BREAKFAST",
          "COMPLIMENTARY_COCKTAILS",
          "COMPLIMENTARY_COFFEE_IN_LOBBY",
          "COMPLIMENTARY_CONTINENTAL_BREAKFAST",
          "COMPLIMENTARY_FULL_AMERICAN_BREAKFAST",
          "DINNER_DELIVERY_SERVICE_FROM_LOCAL_RESTAURANT",
          "COMPLIMENTARY_NEWSPAPER_DELIVERED_TO_ROOM",
          "COMPLIMENTARY_NEWSPAPER_IN_LOBBY",
          "COMPLIMENTARY_SHOESHINE",
          "EVENING_RECEPTION",
          "FRONT_DESK",
          "GROCERY_SHOPPING_SERVICE_AVAILABLE",
          "HALAL_FOOD_AVAILABLE",
          "KOSHER_FOOD_AVAILABLE",
          "LIMOUSINE_SERVICE",
          "MANAGERS_RECEPTION",
          "MEDICAL_FACILITIES_SERVICE",
          "TELEPHONE_JACK_ADAPTOR_AVAILABLE",
          "ALL_INCLUSIVE_MEAL_PLAN",
          "BUFFET_BREAKFAST",
          "COMMUNAL_BAR_AREA",
          "CONTINENTAL_BREAKFAST",
          "FULL_MEAL_PLAN",
          "FULL_AMERICAN_BREAKFAST",
          "MEAL_PLAN_AVAILABLE",
          "MODIFIED_AMERICAN_MEAL_PLAN",
          "FOOD_AND_BEVERAGE_OUTLETS",
          "LOUNGES_BARS",
          "BARBER_SHOP",
          "VIDEO_CHECKOUT",
          "ONSITE_LAUNDRY",
          "TWENTY_FOUR_HOUR_FOOD_AND_BEVERAGE_KIOSK",
          "CONCIERGE_LOUNGE",
          "PARKING_FEE_MANAGED_BY_HOTEL",
          "TRANSPORTATION",
          "BREAKFAST_SERVED_IN_RESTAURANT",
          "LUNCH_SERVED_IN_RESTAURANT",
          "DINNER_SERVED_IN_RESTAURANT",
          "FULL_SERVICE_HOUSEKEEPING",
          "LIMITED_SERVICE_HOUSEKEEPING",
          "HIGH_SPEED_INTERNET_ACCESS_FOR_LAPTOP_IN_PUBLIC_AREAS",
          "WIRELESS_INTERNET_CONNECTION_IN_PUBLIC_AREAS",
          "ADDITIONAL_SERVICES_AMENITIES_FACILITIES_ON_PROPERTY",
          "TRANSPORTATION_SERVICES_LOCAL_AREA",
          "TRANSPORTATION_SERVICES_LOCAL_OFFICE",
          "DVD_VIDEO_RENTAL",
          "PARKING_LOT",
          "PARKING_DECK",
          "STREET_SIDE_PARKING",
          "COCKTAIL_LOUNGE_WITH_ENTERTAINMENT",
          "COCKTAIL_LOUNGE_WITH_LIGHT_FARE",
          "MOTORCYCLE_PARKING",
          "PHONE_SERVICES",
          "BALLROOM",
          "BUS_PARKING",
          "CHILDRENS_PLAY_AREA",
          "CHILDRENS_NURSERY",
          "DISCO",
          "EARLY_CHECK_IN",
          "LOCKER_ROOM",
          "NON_SMOKING_ROOMS_GENERIC",
          "TRAIN_ACCESS",
          "AEROBICS_INSTRUCTION",
          "BAGGAGE_HOLD",
          "BICYCLE_RENTALS",
          "DIETICIAN",
          "LATE_CHECK_OUT_AVAILABLE",
          "PET_SITTING_SERVICES",
          "PRAYER_MATS",
          "SPORTS_TRAINER",
          "TURNDOWN_SERVICE",
          "DVDS_VIDEOS_CHILDREN",
          "BANK",
          "LOBBY_COFFEE_SERVICE",
          "BANKING_SERVICES",
          "STAIRWELLS",
          "PET_AMENITIES_AVAILABLE",
          "EXHIBITION_CONVENTION_FLOOR",
          "LONG_TERM_PARKING",
          "CHILDREN_NOT_ALLOWED",
          "CHILDREN_WELCOME",
          "COURTESY_CAR",
          "HOTEL_DOES_NOT_PROVIDE_PORNOGRAPHIC_FILMS_TV",
          "HOTSPOTS",
          "FREE_HIGH_SPEED_INTERNET_CONNECTION",
          "INTERNET_SERVICES",
          "PETS_ALLOWED",
          "GOURMET_HIGHLIGHTS",
          "CATERING_SERVICES",
          "COMPLIMENTARY_BREAKFAST",
          "BUSINESS_CENTER",
          "BUSINESS_SERVICES",
          "SECURED_PARKING",
          "RACQUETBALL",
          "SNOW_SPORTS",
          "TENNIS_COURT",
          "WATER_SPORTS",
          "CHILD_PROGRAMS",
          "GOLF",
          "HORSEBACK_RIDING",
          "OCEANFRONT",
          "BEACHFRONT",
          "HAIR_DRYER",
          "IRONING_BOARD",
          "HEATED_GUEST_ROOMS",
          "TOILET",
          "PARLOR",
          "VIDEO_GAME_PLAYER",
          "THALASSOTHERAPY",
          "PRIVATE_DINING_FOR_GROUPS",
          "HEARING_IMPAIRED_SERVICES",
          "CARRYOUT_BREAKFAST",
          "DELUXE_CONTINENTAL_BREAKFAST",
          "HOT_CONTINENTAL_BREAKFAST",
          "HOT_BREAKFAST",
          "PRIVATE_POOL",
          "CONNECTING_ROOMS",
          "DATA_PORT",
          "EXTERIOR_CORRIDORS",
          "GULF_VIEW",
          "ACCESSIBLE_ROOMS",
          "HIGH_SPEED_INTERNET_ACCESS",
          "INTERIOR_CORRIDORS",
          "HIGH_SPEED_WIRELESS",
          "KITCHENETTE",
          "PRIVATE_BATH_OR_SHOWER",
          "FIRE_SAFETY_COMPLIANT",
          "WELCOME_DRINK",
          "BOARDING_PASS_PRINT_OUT_AVAILABLE",
          "PRINTING_SERVICES_AVAILABLE",
          "ALL_PUBLIC_AREAS_NON_SMOKING",
          "MEETING_ROOMS",
          "MOVIES_IN_ROOM",
          "SECRETARIAL_SERVICE",
          "SNOW_SKIING",
          "WATER_SKIING",
          "FAX_SERVICE",
          "GREAT_ROOM",
          "LOBBY",
          "MULTIPLE_PHONE_LINES_BILLED_SEPARATELY",
          "UMBRELLAS",
          "GAS_STATION",
          "GROCERY_STORE",
          "TWENTY_FOUR_HOUR_COFFEE_SHOP",
          "AIRPORT_SHUTTLE_SERVICE",
          "LUGGAGE_SERVICE",
          "PIANO_BAR",
          "VIP_SECURITY",
          "COMPLIMENTARY_WIRELESS_INTERNET",
          "CONCIERGE_BREAKFAST",
          "SAME_GENDER_FLOOR",
          "CHILDREN_PROGRAMS",
          "BUILDING_MEETS_LOCAL_STATE_AND_COUNTRY_BUILDING_CODES",
          "INTERNET_BROWSER_ON_TV",
          "NEWSPAPER",
          "PARKING_CONTROLLED_ACCESS_GATES_TO_ENTER_PARKING_AREA",
          "HOTEL_SAFE_DEPOSIT_BOX_NOT_ROOM_SAFE_BOX",
          "STORAGE_SPACE_AVAILABLE_FEE",
          "TYPE_OF_ENTRANCES_TO_GUEST_ROOMS",
          "BEVERAGE_COCKTAIL",
          "CELL_PHONE_RENTAL",
          "COFFEE_TEA",
          "EARLY_CHECK_IN_GUARANTEE",
          "FOOD_AND_BEVERAGE_DISCOUNT",
          "LATE_CHECK_OUT_GUARANTEE",
          "ROOM_UPGRADE_CONFIRMED",
          "ROOM_UPGRADE_ON_AVAILABILITY",
          "SHUTTLE_TO_LOCAL_BUSINESSES",
          "SHUTTLE_TO_LOCAL_ATTRACTIONS",
          "SOCIAL_HOUR",
          "VIDEO_BILLING",
          "WELCOME_GIFT",
          "HYPOALLERGENIC_ROOMS",
          "ROOM_AIR_FILTRATION",
          "SMOKE_FREE_PROPERTY",
          "WATER_PURIFICATION_SYSTEM_IN_USE",
          "POOLSIDE_SERVICE",
          "CLOTHING_STORE",
          "ELECTRIC_CAR_CHARGING_STATIONS",
          "OFFICE_RENTAL",
          "PIANO",
          "INCOMING_FAX",
          "OUTGOING_FAX",
          "SEMI_PRIVATE_SPACE",
          "LOADING_DOCK",
          "BABY_KIT",
          "CHILDRENS_BREAKFAST",
          "CLOAKROOM_SERVICE",
          "COFFEE_LOUNGE",
          "EVENTS_TICKET_SERVICE",
          "LATE_CHECK_IN",
          "LIMITED_PARKING",
          "OUTDOOR_SUMMER_BAR_CAFE",
          "NO_PARKING_AVAILABLE",
          "BEER_GARDEN",
          "GARDEN_LOUNGE_BAR",
          "SUMMER_TERRACE",
          "WINTER_TERRACE",
          "ROOF_TERRACE",
          "BEACH_BAR",
          "HELICOPTER_SERVICE",
          "FERRY",
          "TAPAS_BAR",
          "CAFE_BAR",
          "SNACK_BAR",
          "GUESTROOM_WIRED_INTERNET",
          "GUESTROOM_WIRELESS_INTERNET",
          "FITNESS_CENTER",
          "ALCOHOLIC_BEVERAGES",
          "NON_ALCOHOLIC_BEVERAGES",
          "HEALTH_AND_BEAUTY_SERVICES",
          "LOCAL_CALLS",
          "MINIBAR",
          "REFRIGERATOR",
          "IN_ROOM_SAFE",
          "SMOKING_ROOMS_AVAILBLE",
          "MOUNTAIN_VIEW",
          "POOL_VIEW",
          "BEACH_VIEW",
          "OCEAN_VIEW",
          "ROOMS_WITH_BALCONY",
          "FAMILY_ROOM",
          "CRIB_CHARGE",
          "ROLLAWAY_ADULT",
          "FREE_WIFI_IN_MEETING_ROOMS",
          "ECO_FRIENDLY",
          "EXTRA_PERSON",
          "STAY_SAFE",
          "ENHANCED_HYGIENE_CLEANLINESS_PROTOCOLS"
        ],
        "example": "ECO_FRIENDLY"
      },
      "HotelAncillariesRequest": {
        "type": "object",
        "title": "Hotel Ancillaries Request",
        "description": "Request to retrieve available ancillaries for a hotel booking.",
        "required": [
          "priceValidateKey"
        ],
        "properties": {
          "priceValidateKey": {
            "type": "string",
            "description": "The unique price validate key for the selected hotel rate."
          }
        }
      },
      "HotelAncillariesResponse": {
        "type": "object",
        "title": "Hotel Ancillaries Response",
        "description": "Response containing available ancillaries for the hotel booking.",
        "properties": {
          "ancillaries": {
            "type": "array",
            "description": "List of available ancillaries for the selected hotel booking.",
            "items": {
              "$ref": "#/components/schemas/HotelAncillary"
            }
          }
        }
      },
      "HotelAncillary": {
        "type": "object",
        "title": "Hotel Ancillary",
        "description": "Represents an individual ancillary service or add-on for a hotel booking.",
        "required": [
          "ancillaryKey",
          "category",
          "displayName",
          "dailyPrice",
          "totalPrice",
          "refundability",
          "purchaseStatus",
          "paymentType"
        ],
        "properties": {
          "ancillaryKey": {
            "type": "string",
            "description": "Unique identifier for the ancillary service."
          },
          "category": {
            "type": "string",
            "enum": [
              "ANCILLARY_UNKNOWN",
              "EARLY_CHECKIN",
              "LATE_CHECKOUT",
              "WIFI",
              "BREAKFAST",
              "PARKING",
              "PETS",
              "MEAL_PLAN",
              "OTHER"
            ],
            "description": "Type of ancillary."
          },
          "displayName": {
            "type": "string",
            "description": "Display name of ancillary."
          },
          "description": {
            "type": "string",
            "description": "Detailed description of ancillary."
          },
          "dailyPrice": {
            "$ref": "#/components/schemas/Money",
            "description": "Per day price of ancillary."
          },
          "totalPrice": {
            "$ref": "#/components/schemas/Money",
            "description": "Total price for the entire stay."
          },
          "refundability": {
            "type": "string",
            "enum": [
              "REFUNDABILITY_UNKNOWN",
              "FULLY_REFUNDABLE",
              "PARTIALLY_REFUNDABLE",
              "NON_REFUNDABLE"
            ],
            "description": "Refundability information about the ancillary."
          },
          "purchaseStatus": {
            "type": "string",
            "enum": [
              "PURCHASE_STATUS_UNKNOWN",
              "AVAILABLE",
              "ALREADY_PURCHASED",
              "INCLUDED_IN_RATE"
            ],
            "description": "Purchase status of the ancillary."
          },
          "paymentType": {
            "type": "string",
            "enum": [
              "PAYMENT_TYPE_UNKNOWN",
              "PREPAID",
              "POSTPAID"
            ],
            "description": "Payment type for the ancillary."
          },
          "totalRate": {
            "$ref": "#/components/schemas/HotelRoomRate",
            "description": "Total rate breakdown of the ancillary service.",
            "x-requiredFrom": "2026-03-31"
          },
          "prepaidRate": {
            "$ref": "#/components/schemas/HotelRoomRate",
            "description": "Prepaid rate breakdown of the ancillary service."
          },
          "postpaidRate": {
            "$ref": "#/components/schemas/HotelRoomRate",
            "description": "Postpaid rate breakdown of the ancillary service."
          },
          "status": {
            "type": "string",
            "enum": [
              "ANCILLARY_STATUS_UNKNOWN",
              "ACTIVE",
              "CANCELLED",
              "MODIFIED"
            ],
            "description": "Status of the ancillary service.",
            "x-requiredFrom": "2026-03-31"
          }
        }
      },
      "HotelAutocompleteResponse": {
        "title": "HotelAutocompleteResponse",
        "type": "object",
        "required": [
          "hotels"
        ],
        "properties": {
          "hotels": {
            "type": "array",
            "description": "List of Hotels matching the Autocomplete query",
            "items": {
              "$ref": "#/components/schemas/AutocompleteHotel"
            }
          }
        }
      },
      "HotelBrand": {
        "type": "object",
        "title": "HotelBrand",
        "description": "The brand of hotel.",
        "properties": {
          "brandCode": {
            "type": "string",
            "description": "The code of hotel brand.",
            "example": "HY"
          },
          "brandName": {
            "type": "string",
            "description": "The name of hotel brand.",
            "example": "Global Hytt Corp."
          }
        }
      },
      "HotelCancelPnrRequest": {
        "type": "object",
        "title": "Hotel Cancel Pnr Request",
        "description": "Request object for cancelling a hotel pnr.",
        "properties": {
          "customFieldV3Responses": {
            "type": "array",
            "description": "Custom field responses for the booking.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldV3Response"
            }
          },
          "postPaymentVerificationInfo": {
            "$ref": "#/components/schemas/PostPaymentVerificationInfo"
          },
          "bookingPaymentDetails": {
            "$ref": "#/components/schemas/BookingPaymentDetails"
          }
        }
      },
      "HotelCancelPnrResponse": {
        "type": "object",
        "title": "Hotel Cancel Pnr Response",
        "description": "Response object for cancelling a hotel pnr.",
        "required": [
          "confirmationId"
        ],
        "properties": {
          "confirmationId": {
            "type": "string",
            "description": "The confirmation ID of the cancelled hotel pnr.",
            "example": "231241232"
          },
          "paymentVerificationInfo": {
            "$ref": "#/components/schemas/PaymentVerificationInfo"
          }
        }
      },
      "HotelCancellationPolicy": {
        "type": "object",
        "title": "HotelCancellationPolicy",
        "description": "Cancellation policy for the PNR",
        "properties": {
          "refundable": {
            "type": "string",
            "description": "Is refundable or not",
            "enum": [
              "UNKNOWN",
              "TRUE",
              "FALSE"
            ],
            "example": "TRUE"
          },
          "terms": {
            "type": "array",
            "items": {
[...]
