{
  "openapi": "3.1.0",
  "info": {
    "title": "Company API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api-ext-sboxmeta.partners.spotnana.com",
      "description": "Sandbox URL"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The specified resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "AddPartnerPublicKeyRequest": {
        "type": "object",
        "title": "AddPartnerPublicKeyRequest",
        "required": [
          "keyType"
        ],
        "description": "Request to add a partner public key for token exchange authentication. Set keyType to JWKS and populate the jwks field with the RSA public key in standard JWKS format (RFC 7517).\n",
        "properties": {
          "keyType": {
            "$ref": "#/components/schemas/PartnerPublicKeyType"
          },
          "jwks": {
            "$ref": "#/components/schemas/PartnerJwks",
            "description": "JWKS containing the RSA public key. Required when keyType is JWKS."
          }
        }
      },
      "AddPartnerPublicKeyResponse": {
        "type": "object",
        "title": "AddPartnerPublicKeyResponse",
        "description": "Response containing the partner public keys that were added.",
        "properties": {
          "keys": {
            "type": "array",
            "description": "List of added partner public keys.",
            "items": {
              "$ref": "#/components/schemas/PartnerPublicKeyInfo"
            }
          }
        }
      },
      "AgentAssistedTransactionFeeInfo": {
        "title": "Agent Assisted Transaction Fee Info",
        "type": "object",
        "description": "Transaction Fees when Agent is booking for Traveler.",
        "required": [
          "agentFeeType"
        ],
        "properties": {
          "agentFeeType": {
            "type": "string",
            "example": "AGENT_ASSISTED_TRANSACTION_FEE"
          },
          "transactionFeeType": {
            "$ref": "#/components/schemas/ServiceFeeTransactionType"
          },
          "calculatedAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "chargeProcessorInfo": {
            "$ref": "#/components/schemas/ChargeProcessorInfo"
          }
        }
      },
      "AgentAssistedTripFeeInfo": {
        "title": "Agent Assisted Trip Fee Info",
        "type": "object",
        "description": "Trip Fees when Agent is booking for Traveler.",
        "required": [
          "agentFeeType"
        ],
        "properties": {
          "agentFeeType": {
            "type": "string",
            "example": "AGENT_ASSISTED_TRIP_FEE"
          },
          "calculatedAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "chargeProcessorInfo": {
            "$ref": "#/components/schemas/ChargeProcessorInfo"
          }
        }
      },
      "AgentContact": {
        "type": "object",
        "title": "AgentContact",
        "description": "Details of agent contact event.",
        "required": [
          "contactType",
          "contactId",
          "contactOp",
          "billable"
        ],
        "properties": {
          "contactType": {
            "description": "Mode of agent contact.",
            "$ref": "#/components/schemas/AgentContactType",
            "example": "PHONE"
          },
          "contactId": {
            "type": "string",
            "description": "Unique ID for agent contact.",
            "example": "1234567890"
          },
          "contactOp": {
            "description": "Operation that the agent performed.",
            "$ref": "#/components/schemas/AgentContactOp",
            "example": "AGENT_BOOKING"
          },
          "agentId": {
            "$ref": "#/components/schemas/UserId",
            "description": "User ID of agent."
          },
          "billable": {
            "type": "boolean",
            "description": "Is the agent contact event billable?",
            "example": true
          },
          "pnrId": {
            "type": "string",
            "description": "PNR ID (if applicable).",
            "example": "1234567890"
          },
          "travelType": {
            "description": "Travel type.",
            "$ref": "#/components/schemas/TravelType",
            "example": "AIR"
          },
          "notes": {
            "type": "string",
            "description": "Agent notes.",
            "example": "Requested by customer"
          },
          "nonBillableReason": {
            "$ref": "#/components/schemas/NonBillableReason",
            "description": "Reason for non-billable agent contact"
          }
        }
      },
      "AgentContactOp": {
        "type": "string",
        "title": "AgentContactOp",
        "description": "Agent contact operation.",
        "enum": [
          "AGENT_BOOKING",
          "AGENT_MODIFY",
          "AGENT_CANCEL",
          "AGENT_OTHER",
          "AGENT_EXCHANGE",
          "ANCILLARY_PURCHASE",
          "SHELL_PNR_CREATE",
          "SHELL_PNR_MODIFY",
          "SHELL_PNR_CANCEL",
          "SHELL_PNR_EXCHANGE",
          "MANUAL_FORM_CREATE",
          "MANUAL_FORM_MODIFY",
          "MANUAL_FORM_CANCEL",
          "MANUAL_FORM_EXCHANGE",
          "UNUSED_TICKET_MANAGEMENT"
        ]
      },
      "AgentContactType": {
        "type": "string",
        "title": "Agent contact type",
        "description": "Agent contact type",
        "enum": [
          "PHONE",
          "CHAT",
          "EMAIL"
        ]
      },
      "AgentFeeInfo": {
        "type": "object",
        "title": "AgentFeeInfo",
        "required": [
          "feeType"
        ],
        "discriminator": {
          "propertyName": "agentFeeType",
          "mapping": {
            "AGENT_ASSISTED_TRIP_FEE": "#/components/schemas/AgentAssistedTripFeeInfo",
            "AGENT_ASSISTED_TRANSACTION_FEE": "#/components/schemas/AgentAssistedTransactionFeeInfo"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/AgentAssistedTripFeeInfo"
          },
          {
            "$ref": "#/components/schemas/AgentAssistedTransactionFeeInfo"
          }
        ],
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee",
            "example": "AGENT_FEE"
          }
        }
      },
      "AirConfig": {
        "type": "object",
        "title": "AirConfig",
        "description": "Air content config",
        "properties": {
          "fareCategoryFilter": {
            "type": "array",
            "description": "List of fare category filter",
            "items": {
              "$ref": "#/components/schemas/FareCategoryFilterConfig"
            }
          }
        }
      },
      "Announcement": {
        "type": "object",
        "title": "Announcement",
        "description": "Announcement details",
        "required": [
          "title",
          "description"
        ],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title of the announcement.",
            "example": "Spotnana on Mission to Unbundle Travel"
          },
          "description": {
            "type": "string",
            "description": "Description of the announcement.",
            "example": "Amex Ventures Joins Spotnana on Mission to Unbundle Travel."
          },
          "linkUrl": {
            "type": "string",
            "description": "Announcement link url which points to the atual announcement page.",
            "example": "https://medium.com/inside-spotnana/amex-ventures-joins-spotnana-on-mission-to-unbundle-travel-3cdb2ecceff4"
          },
          "linkDisplayText": {
            "type": "string",
            "description": "Announcement link display text.",
            "example": "New announcement"
          }
        }
      },
      "AppDownloadLinksConfig": {
        "type": "object",
        "title": "AppDownloadLinksConfig",
        "description": "App store or QR links for downloading app.",
        "properties": {
          "androidPlayStoreUrl": {
            "type": "string",
            "example": "https://play.google.com/store/apps/details?id=com.spotnana"
          },
          "iosAppStoreUrl": {
            "type": "string",
            "example": "https://apps.apple.com/in/app/spotnana-travel-booking/id1580021446"
          },
          "qrCodeUrl": {
            "type": "string",
            "example": "https://www.spotnana.com"
          }
        }
      },
      "AppliedWaiveOffInfo": {
        "type": "object",
        "title": "Applied Waive-Off Information",
        "description": "Information about TMC fee waivers applied by an agent during checkout.",
        "properties": {
          "waiveOffAmount": {
            "description": "The amount of TMC fee that has been waived",
            "$ref": "#/components/schemas/FareAmount"
          },
          "waiveOffReason": {
            "description": "The reason provided by the agent for waiving the fee",
            "$ref": "#/components/schemas/WaiveOffFeeReason"
          }
        }
      },
      "ArrayOfReference": {
        "type": "object",
        "properties": {
          "length": {
            "type": "integer",
            "format": "int32"
          },
          "elements": {
            "type": "array",
            "description": "List of references containing id and name.",
            "items": {
              "$ref": "#/components/schemas/Reference"
            }
          },
          "totalNumResults": {
            "type": "integer",
            "format": "int32",
            "description": "Total number of results"
          }
        }
      },
      "BookingDetails": {
        "type": "object",
        "title": "BookingDetails",
        "description": "Booking information",
        "properties": {
          "pnrId": {
            "type": "string",
            "description": "PNR Id"
          },
          "pnrVersion": {
            "type": "integer",
            "format": "int32",
            "description": "Version number associated with the PNR"
          },
          "tripUsageType": {
            "type": "string",
            "description": "Trip Usage Type",
            "enum": [
              "TRIP_USAGE_TYPE_UNKNOWN",
              "STANDARD",
              "EVENT"
            ]
          },
          "source": {
            "description": "Third party source",
            "$ref": "#/components/schemas/ThirdPartySource"
          },
          "sourcePnrId": {
            "type": "string",
            "description": "Source PNR Id from thirdparty source"
          }
        }
      },
      "BookingFeeInfo": {
        "type": "object",
        "title": "BookingFeeInfo",
        "required": [
          "feeType"
        ],
        "discriminator": {
          "propertyName": "bookingFeeType",
          "mapping": {
            "TRIP_FEE": "#/components/schemas/TripFeeInfo",
            "TRANSACTION_FEE": "#/components/schemas/TransactionFeeInfo",
            "VALUE_ADDED_SERVICE_FEE": "#/components/schemas/ValueAddedServiceFeeInfo",
            "OTHER_FEE": "#/components/schemas/OtherFeeInfo"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/TripFeeInfo"
          },
          {
            "$ref": "#/components/schemas/TransactionFeeInfo"
          },
          {
            "$ref": "#/components/schemas/ValueAddedServiceFeeInfo"
          },
          {
            "$ref": "#/components/schemas/OtherFeeInfo"
          }
        ],
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee",
            "example": "BOOKING_FEE"
          }
        }
      },
      "BookingType": {
        "title": "BookingType",
        "description": "What type of travel booking it is.",
        "type": "string",
        "enum": [
          "AIR",
          "HOTEL",
          "CAR",
          "RAIL",
          "LIMO"
        ],
        "example": "AIR"
      },
      "BrandingVisibility": {
        "type": "object",
        "title": "BrandingVisibility",
        "description": "Per-surface visibility of branding elements. Additive — default shows everything.",
        "properties": {
          "headerLogo": {
            "$ref": "#/components/schemas/SurfaceVisibility"
          },
          "poweredBy": {
            "$ref": "#/components/schemas/SurfaceVisibility"
          }
        }
      },
      "CabinViewFareCategory": {
        "type": "string",
        "enum": [
          "UNKNOWN_CABIN_CATEGORY",
          "BASIC",
          "ECONOMY",
          "PREMIUM_ECONOMY",
          "ECONOMY_PLUS",
          "BUSINESS",
          "FIRST"
        ],
        "default": "UNKNOWN_CABIN_CATEGORY"
      },
      "CarbonCostConfig": {
        "type": "object",
        "title": "CarbonCostConfig",
        "description": "The config is used to calculate carbon cost of CO2 emission.",
        "required": [
          "price",
          "weight"
        ],
        "properties": {
          "price": {
            "description": "The price for the carbon emission per weight.",
            "$ref": "#/components/schemas/Money"
          },
          "weight": {
            "description": "The weight unit and amount to calculate cost of carbon emission.",
            "$ref": "#/components/schemas/Weight"
          }
        }
      },
      "Card": {
        "type": "object",
        "title": "Card",
        "description": "User card info",
        "required": [
          "number"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this card",
            "format": "uuid",
            "example": "34d536b6-f8ff-11eb-9a61-0242ac180002"
          },
          "type": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "CREDIT",
              "DEBIT"
            ],
            "description": "Type of card",
            "example": "CREDIT"
          },
          "company": {
            "$ref": "#/components/schemas/CardCompany"
          },
          "name": {
            "description": "Name on card",
            "type": "string",
            "example": "Harrison Schwartz",
            "x-pii": "SENSITIVE"
          },
          "address": {
            "description": "Billing address",
            "$ref": "#/components/schemas/PostalAddress",
            "x-pii": "SENSITIVE"
          },
          "number": {
            "type": "string",
            "description": "Card number",
            "example": "4111111111111111"
          },
          "expiryMonth": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 12,
            "description": "Expiry month",
            "example": 1,
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "expiryYear": {
            "type": "integer",
            "format": "int32",
            "description": "Expiry year",
            "minimum": 2000,
            "example": 2010,
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "cvv": {
            "type": "string",
            "description": "Card cvv number",
            "example": "012"
          },
          "label": {
            "type": "string",
            "description": "Card Label",
            "example": "Label amex"
          },
          "currency": {
            "type": "string",
            "description": "Native currency of the card.",
            "example": "USD"
          },
          "externalId": {
            "type": "string",
            "description": "Spotnana partner card id.",
            "example": "bxt_RNGsNfzgJDaTstKIKqK4xEuhGYAnMdYK8T40"
          },
          "vaultId": {
            "type": "string",
            "description": "ID of the vault used for creating the card.",
            "format": "uuid",
            "example": "34d536b6-f8ff-11eb-9a61-0242ac180002"
          },
          "expiry": {
            "description": "Card Expiry.",
            "$ref": "#/components/schemas/CardExpiry"
          },
          "ownershipLabel": {
            "$ref": "#/components/schemas/OwnershipLabel",
            "example": "PERSONAL"
          }
        }
      },
      "CardAccessEntity": {
        "title": "CardAccessEntity",
        "type": "object",
        "description": "Contains the central access level and entity id.",
        "required": [
          "entityId"
        ],
        "properties": {
          "entityId": {
            "type": "string",
            "description": "Holds the id for for the user who can access the card or organization id or legal entity"
          },
          "centralCardAccessLevel": {
            "$ref": "#/components/schemas/CentralCardAccessLevel"
          }
        }
      },
      "CardCompany": {
        "type": "string",
        "enum": [
          "NONE",
          "VISA",
          "MASTERCARD",
          "AMEX",
          "DISCOVER",
          "AIR_TRAVEL_UATP",
          "CARTE_BLANCHE",
          "DINERS_CLUB",
          "JCB",
          "BREX",
          "UNION_PAY",
          "EURO_CARD",
          "ACCESS_CARD",
          "ELO_CARD"
        ],
        "description": "The issuing company of card",
        "example": "VISA"
      },
      "CardExpiry": {
        "title": "CardExpiry",
        "type": "object",
        "description": "Contains the expiry of a Card.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/TokenizedExpiryWrapper"
          },
          {
            "$ref": "#/components/schemas/ExpiryWrapper"
          }
        ]
      },
      "CardMetadata2": {
        "type": "object",
        "title": "CardMetadata",
        "description": "Metadata for Card payment source.",
        "properties": {
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "accessType": {
            "$ref": "#/components/schemas/CreditCardAccess"
          },
          "isLodgeCard": {
            "type": "boolean",
            "description": "Whether the payment is made using a lodge card",
            "example": false
          },
          "bta": {
            "type": "string",
            "description": "Whether this is a BTA card. Possible values are 'Y' or 'N'. Relevant only for lodge cards.",
            "example": "Y"
          }
        }
      },
      "CentralCardAccessLevel": {
        "title": "CentralCardAccessLevel",
        "type": "string",
        "description": "Identifies at which level central card is applicable, for example organization or legal entity.",
        "enum": [
          "UNKNOWN",
          "ORGANIZATION",
          "LEGAL_ENTITY",
          "TMC"
        ]
      },
      "ChargeProcessorInfo": {
        "title": "ChargeProcessorInfo",
        "type": "object",
        "description": "Information about the processor that calculated the charge",
        "discriminator": {
          "propertyName": "chargeProcessorType",
          "mapping": {
            "RULE_BASED_INFO": "#/components/schemas/RuleBasedInfo",
            "TMC_CALCULATOR_INFO": "#/components/schemas/TmcCalculatorInfo"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/RuleBasedInfo"
          },
          {
            "$ref": "#/components/schemas/TmcCalculatorInfo"
          }
        ]
      },
      "ColorConfig": {
        "type": "object",
        "title": "ColorConfig",
        "description": "Color configuration for customizable colors in the UI.",
        "properties": {
          "profileColors": {
            "$ref": "#/components/schemas/ProfileColors"
          }
        }
      },
      "ColorTitle": {
        "title": "ColorTitle",
        "description": "Title of the color.",
        "type": "string",
        "enum": [
          "PROFILE_TIER_MEMBER_COLOR",
          "PROFILE_TIER_SILVER_COLOR",
          "PROFILE_TIER_GOLD_COLOR",
          "PROFILE_TIER_PLATINUM_COLOR",
          "PROFILE_TIER_TITANIUM_COLOR",
          "PROFILE_TIER_AMBASSADOR_COLOR"
        ]
      },
      "ColorWhiteLabelConfig": {
        "type": "object",
        "title": "ColorWhitelabelConfig",
        "description": "Whitelabel configuration related to colours.",
        "properties": {
          "primary": {
            "type": "string",
            "example": "#D33B47"
          },
          "primaryDark": {
            "type": "string",
            "example": "#D33B47"
          },
          "primaryLight": {
            "type": "string",
            "example": "#D33B47"
          },
          "primaryPale": {
            "type": "string",
            "example": "#D33B47"
          },
          "onPrimary": {
            "type": "string",
            "example": "#D33B47"
          },
          "secondary": {
            "type": "string",
            "example": "#D33B47"
          },
          "secondaryDark": {
            "type": "string",
            "example": "#D33B47"
          },
          "secondaryLight": {
            "type": "string",
            "example": "#D33B47"
          },
          "secondaryPale": {
            "type": "string",
            "example": "#D33B47"
          },
          "onSecondary": {
            "type": "string",
            "example": "#D33B47"
          },
          "error": {
            "type": "string",
            "example": "#D33B47"
          },
          "errorDark": {
            "type": "string",
            "example": "#D33B47"
          },
          "errorLight": {
            "type": "string",
            "example": "#D33B47"
          },
          "errorPale": {
            "type": "string",
            "example": "#D33B47"
          },
          "onError": {
            "type": "string",
            "example": "#D33B47"
          }
        }
      },
      "Company": {
        "type": "object",
        "title": "Company",
        "description": "Company information.",
        "required": [
          "id",
          "name",
          "billingCurrency",
          "companyRoles"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CompanyId"
          },
          "name": {
            "type": "string",
            "description": "Company name",
            "example": "Spotnana"
          },
          "emailDomains": {
            "type": "array",
            "description": "List of the company email domains",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "example": "spotnana.com"
            }
          },
          "billingCurrency": {
            "type": "string",
            "description": "Billing currency of the company",
            "example": "INR"
          },
          "phoneNumbers": {
            "type": "array",
            "description": "List of company phone numbers",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "emergencyContactInfos": {
            "type": "array",
            "description": "List of company emergency contacts",
            "items": {
              "$ref": "#/components/schemas/EmergencyContactInfo"
            }
          },
          "isSelfSignUpEnabled": {
            "type": "boolean",
            "description": "Boolean to show if company has self sign up enabled.",
            "example": true
          },
          "announcements": {
            "type": "array",
            "description": "Company announcements",
            "items": {
              "$ref": "#/components/schemas/Announcement"
            }
          },
          "companyLogo": {
            "$ref": "#/components/schemas/Image",
            "description": "Company logo"
          },
          "contractedBy": {
            "$ref": "#/components/schemas/CompanyId",
            "description": "Company ID which have contracted this company."
          },
          "isActive": {
            "type": "boolean",
            "description": "Boolean to show if this is an active company."
          },
          "companyRoles": {
            "type": "array",
            "description": "Company roles",
            "items": {
              "$ref": "#/components/schemas/CompanyRole"
            }
          },
          "supportConfig": {
            "$ref": "#/components/schemas/SupportConfig",
            "description": "Support Configuration for company",
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "ccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails will be cced. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "bccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails will be bcced. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "connectors": {
            "type": "array",
            "description": "Connectors related to company.",
            "items": {
              "$ref": "#/components/schemas/Connector"
            }
          },
          "postalAddress": {
            "$ref": "#/components/schemas/PostalAddress",
            "description": "Postal address of the company."
          },
          "redirectUrl": {
            "type": "string",
            "description": "Redirect URL for the company. It is applicable only for company roles 'PARTNER_TMC'"
          },
          "rewardsProgram": {
            "$ref": "#/components/schemas/RewardsProgram",
            "description": "Reward Program corresponding to partner. It is applicable only for company roles 'PARTNER_TMC'.",
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "tmcDefaultConfiguration": {
            "$ref": "#/components/schemas/TmcDefaultConfiguration",
            "description": "Default Booking configuration for the TMC. It is applicable only for company roles 'TMC'"
          },
          "expensePartnerConfig": {
            "$ref": "#/components/schemas/ExpensePartnerConfig"
          },
          "mobileRedirectUrl": {
            "type": "string",
            "description": "Redirect URL for the company for mobile. It is applicable only for company roles 'PARTNER_TMC'"
          },
          "applicableCustomFieldTypes": {
            "type": "array",
            "description": "List of custom fields supported by the company.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldType"
            }
          },
          "oauthPartnerConfig": {
            "$ref": "#/components/schemas/OAuthPartnerConfig"
          },
          "privacySettings": {
            "$ref": "#/components/schemas/PrivacySettings"
          },
          "designationTree": {
            "$ref": "#/components/schemas/DesignationNode",
            "description": "Designation tree for company showing who reports whom."
          },
          "externalId": {
            "type": "string",
            "description": "External id to be linked with this.",
            "example": "MyCompanyId"
          },
          "emailClientConfig": {
            "$ref": "#/components/schemas/EmailClientConfig",
            "description": "Email client configuration representing the email provider to be used."
          },
          "isFake": {
            "type": "boolean",
            "description": "Whether the company is a fake company for testing. This is for internal use.",
            "default": false,
            "example": false
          },
          "tmcPartnerRoleMappings": {
            "type": "array",
            "description": "list of individual role mappings between spotnana and partner.",
            "items": {
              "$ref": "#/components/schemas/TmcPartnerRoleMapping"
            }
          },
          "supportConfigs": {
            "$ref": "#/components/schemas/SupportConfigs"
          },
          "loyaltyBlockedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of 2 letter country codes where business travelers should not be allowed to add loyalty info.",
            "example": [
              "US",
              "IN"
            ]
          },
          "allowDomainBasedAuthConfig": {
            "type": "boolean",
            "default": false,
            "description": "Whether to allow user to get auth config based on email domain"
          },
          "carbonCostConfig": {
            "$ref": "#/components/schemas/CarbonCostConfig",
            "description": "The config is used to calculate carbon cost of CO2 emission."
          },
          "defaultBookingTmcId": {
            "description": "Default booking TMC id. For PARTNER_TMC companies only.",
            "$ref": "#/components/schemas/CompanyId"
          },
          "bookingTmcId": {
            "description": "Booking TMC ID for the company. Applicable for ORG role companies.",
            "$ref": "#/components/schemas/CompanyId"
          },
          "companySpecifiedAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanySpecifiedAttributeCompany"
            },
            "description": "Company-specified custom attributes."
          }
        }
      },
      "CompanyId": {
        "type": "object",
        "title": "CompanyId",
        "description": "Company ID",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f49d00fe-1eda-4304-ba79-a980f565281d"
          }
        }
      },
      "CompanyManagerInfo": {
        "type": "object",
        "title": "CompanyManagerInfo",
        "description": "Detailed information about a manager",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "User ID of the manager"
          },
          "fullName": {
            "type": "string",
            "description": "Full name of the manager",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the manager",
            "example": "john.doe@company.com"
          },
          "profilePictureUrl": {
            "type": "string",
            "description": "URL to the manager's profile picture",
            "example": "https://example.com/profiles/john-doe.jpg"
          },
          "isActive": {
            "type": "boolean",
            "description": "Whether the manager is active",
            "example": true
          }
        }
      },
      "CompanyManagersConfig": {
        "type": "object",
        "title": "CompanyManagersConfig",
        "description": "Configuration for company managers (account managers and customer success managers).",
        "properties": {
          "accountManagers": {
            "type": "array",
            "description": "List of detailed account manager information",
            "items": {
              "$ref": "#/components/schemas/CompanyManagerInfo"
            }
          },
          "customerSuccessManagers": {
            "type": "array",
            "description": "List of detailed customer success manager information",
            "items": {
              "$ref": "#/components/schemas/CompanyManagerInfo"
            }
          }
        }
      },
      "CompanyRef": {
        "type": "object",
        "description": "Basic information about a company.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CompanyId"
          },
          "name": {
            "type": "string"
          },
          "logo": {
            "$ref": "#/components/schemas/Image",
            "description": "Company logo"
          }
        }
      },
      "CompanyRole": {
        "type": "string",
        "description": "Role of the company.",
        "enum": [
          "ORG",
          "TMC",
          "PARTNER_TMC",
          "HR_FEED_CONNECTOR",
          "TRIPS_DATA_CONNECTOR",
          "GLOBAL"
        ],
        "example": "ORG"
      },
      "CompanySpecifiedAttributeCompany": {
        "type": "object",
        "description": "Company-specified custom attribute.",
        "required": [
          "fieldName",
          "value"
        ],
        "properties": {
          "fieldName": {
            "type": "string",
            "description": "Field name of the attribute",
            "example": "businessId"
          },
          "value": {
            "type": "string",
            "description": "Field value of the attribute",
            "example": "ABCD"
          }
        }
      },
      "CompanySpecifiedAttributeConfig": {
        "type": "object",
        "title": "CompanySpecifiedAttributeConfig",
        "description": "Configuration for a company-specified attribute on the enrollment form.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "The attribute name."
          },
          "isHidden": {
            "type": "boolean",
            "description": "Whether this attribute should be hidden from the enrollment form UI.",
            "default": false
          }
        }
      },
      "CompanySpecifiedAttributeLegalEntity": {
        "type": "object",
        "description": "Company specified attribute for legal entity.",
        "required": [
          "fieldName",
          "value"
        ],
        "properties": {
          "fieldName": {
            "type": "string",
            "description": "Field name of the attribute",
            "example": "businessId"
          },
          "value": {
            "type": "string",
            "description": "Field value of the attribute",
            "example": "ABCD"
          }
        }
      },
      "ConfermaInfo": {
        "type": "object",
        "title": "ConfermaInfo",
        "description": "Details of conferma - one of virtual card vendors.",
        "required": [
          "deploymentId"
        ],
        "properties": {
          "deploymentId": {
            "type": "integer",
            "format": "int32",
            "description": "Unique identifier assigned to the virtual card deployment at the point of creation.",
            "example": 68793680
          }
        }
      },
      "Connector": {
        "type": "object",
        "title": "Connector",
        "description": "Connectors related to company.",
        "required": [
          "connectorType",
          "connectorId"
        ],
        "properties": {
          "connectorType": {
            "type": "string",
            "description": "Type of connector.",
            "enum": [
              "HR_FEED_CONNECTOR",
              "TRIPS_DATA_CONNECTOR"
            ],
            "example": "HR_FEED_CONNECTOR"
          },
          "connectorId": {
            "$ref": "#/components/schemas/CompanyId"
          }
        }
      },
      "CostCenter": {
        "type": "object",
        "title": "CostCenter",
        "description": "Cost center details.",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CostCenterId"
          },
          "name": {
            "type": "string",
            "example": "CostCenter"
          },
          "externalId": {
            "type": "string",
            "example": "external-id"
          }
        }
      },
      "CostCenterId": {
        "type": "object",
        "title": "Cost center id.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "731ccbca-0415-6fe1-d235-c324dfbe7423"
          }
        }
      },
      "CostCenterInfo": {
        "type": "object",
        "title": "CostCenterInfo",
        "description": "Cost center information with UUID and entity name.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "731ccbca-0415-6fe1-d235-c324dfbe7423"
          },
          "name": {
            "type": "string",
            "example": "Credit"
          }
        }
      },
      "CreateCompanyRequest": {
        "type": "object",
        "title": "CreateCompanyRequest",
        "description": "Request for company create.",
        "required": [
          "name",
          "billingCurrency",
          "companyRoles"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Company name",
            "example": "Spotnana"
          },
          "emailDomains": {
            "type": "array",
            "description": "List of the company email domains",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "example": "spotnana.com"
            }
          },
          "billingCurrency": {
            "type": "string",
            "description": "Billing currency of the company",
            "example": "INR"
          },
          "phoneNumbers": {
            "type": "array",
            "description": "List of company phone numbers",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "emergencyContactInfos": {
            "type": "array",
            "description": "List of company emergency contacts",
            "items": {
              "$ref": "#/components/schemas/EmergencyContactInfo"
            }
          },
          "isSelfSignUpEnabled": {
            "type": "boolean",
            "description": "Boolean to show if company has self sign up enabled.",
            "example": true
          },
          "announcements": {
            "type": "array",
            "description": "Company announcements",
            "items": {
              "$ref": "#/components/schemas/Announcement"
            }
          },
          "companyLogo": {
            "$ref": "#/components/schemas/Image",
            "description": "Company logo"
          },
          "contractedBy": {
            "$ref": "#/components/schemas/CompanyId",
            "description": "Company ID which have contracted this company."
          },
          "companyRoles": {
            "type": "array",
            "description": "Company roles",
            "items": {
              "$ref": "#/components/schemas/CompanyRole"
            }
          },
          "supportConfig": {
            "$ref": "#/components/schemas/SupportConfig",
            "description": "Support Configuration for company",
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "supportConfigs": {
            "type": "array",
            "description": "Support Configs for company",
            "items": {
              "$ref": "#/components/schemas/SupportConfig"
            }
          },
          "ccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails will be cced. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "bccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails will be bcced. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "postalAddress": {
            "$ref": "#/components/schemas/PostalAddress",
            "description": "Postal address of the company."
          },
          "redirectUrl": {
            "type": "string",
            "description": "Redirect URL for the company. It is applicable only for company roles 'PARTNER_TMC'"
          },
          "rewardsProgram": {
            "$ref": "#/components/schemas/RewardsProgram",
            "description": "Rewards Program corresponding to partner. It is applicable only for company roles 'PARTNER_TMC'.",
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "tmcDefaultConfiguration": {
            "$ref": "#/components/schemas/TmcDefaultConfiguration",
            "description": "Default Booking configuration for the TMC. It is applicable only for company roles 'TMC'"
          },
          "expensePartnerConfig": {
            "$ref": "#/components/schemas/ExpensePartnerConfig"
          },
          "mobileRedirectUrl": {
            "type": "string",
            "description": "Redirect URL for the company for mobile. It is applicable only for company roles 'PARTNER_TMC'"
          },
          "applicableCustomFieldTypes": {
            "type": "array",
            "description": "List of custom fields supported by the company.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldType"
            }
          },
          "oauthPartnerConfig": {
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "$ref": "#/components/schemas/OAuthPartnerConfig"
          },
          "privacySettings": {
            "$ref": "#/components/schemas/PrivacySettings"
          },
          "emailClientConfig": {
            "$ref": "#/components/schemas/EmailClientConfig",
            "description": "Email client configuration representing the email provider to be used."
          },
          "externalId": {
            "type": "string",
            "description": "External id for legal entity.",
            "example": "company-external-id"
          },
          "isFake": {
            "type": "boolean",
            "description": "Whether the company is a fake company for testing. This is for internal use.",
            "default": false,
            "example": false
          },
          "tmcPartnerRoleMappings": {
            "type": "array",
            "description": "list of individual role mappings between spotnana and partner.",
            "items": {
              "$ref": "#/components/schemas/TmcPartnerRoleMapping"
            }
          },
          "loyaltyBlockedCountries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of 2 letter country codes where business travelers should not be allowed to add loyalty info.",
            "example": [
              "US",
              "IN"
            ]
          },
          "allowDomainBasedAuthConfig": {
            "type": "boolean",
            "default": false,
            "description": "Whether to allow user to get auth config based on email domain"
          },
          "carbonCostConfig": {
            "$ref": "#/components/schemas/CarbonCostConfig",
            "description": "The config is used to calculate carbon cost of CO2 emission."
          },
          "defaultBookingTmcId": {
            "description": "Default booking TMC id. For PARTNER_TMC companies only.",
            "$ref": "#/components/schemas/CompanyId"
          },
          "bookingTmcId": {
            "description": "Booking TMC ID for the company. Applicable for ORG role companies.",
            "$ref": "#/components/schemas/CompanyId"
          },
          "companySpecifiedAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanySpecifiedAttributeCompany"
            },
            "description": "Company-specified custom attributes."
          }
        }
      },
      "CreateCostCenterRequest": {
        "type": "object",
        "description": "Request body for cost center create API.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "numberOfEmployees": {
            "type": "integer",
            "format": "int32"
          },
          "externalId": {
            "type": "string",
            "example": "external-id"
          }
        }
      },
      "CreateDepartmentRequest": {
        "type": "object",
        "title": "CreateDepartmentRequest",
        "required": [
          "name"
        ],
        "description": "Create department request",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the department"
          },
          "externalId": {
            "type": "string",
            "description": "External id of the department",
            "example": "department-external-id"
          }
        }
      },
      "CreateGradeRequest": {
        "type": "object",
        "title": "CreateGradeRequest",
        "required": [
          "name"
        ],
        "description": "Create grade request",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the grade",
            "example": "Senior Engineer"
          }
        }
      },
      "CreateOfficeRequest": {
        "type": "object",
        "title": "Create Office request.",
        "description": "Office details.",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/PostalAddress"
          },
          "name": {
            "type": "string",
            "example": "Office name"
          },
          "latlng": {
            "$ref": "#/components/schemas/Latlng"
          },
          "externalId": {
            "type": "string",
            "example": "external-id"
          },
          "taxId": {
            "type": "string",
            "example": "123232"
          }
        }
      },
      "CreditCardAccess": {
        "type": "object",
        "title": "CreditCardAccess",
        "description": "Access type for cards to check who in the organization has permission to use it",
        "required": [
          "accessType",
          "entityIds"
        ],
        "properties": {
          "accessType": {
            "$ref": "#/components/schemas/CreditCardAccessType"
          },
          "entityIds": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Holds the ids for for all users who can access the card or organization id"
          },
          "entities": {
            "type": "array",
            "description": "A list of cardAccessEntity consisting of central card access level if present and entity id.",
            "items": {
              "$ref": "#/components/schemas/CardAccessEntity"
            }
          }
        }
      },
      "CreditCardAccessType": {
        "title": "CreditCardAccessType",
        "type": "string",
        "description": "Identifies the different ways the card can be used across an organization",
        "enum": [
          "UNKNOWN_TYPE",
          "CENTRALISED",
          "INDIVIDUAL",
          "PERSONAL",
          "TMC",
          "APPLICATION",
          "ITINERARY",
          "EVENTS",
          "TRAVEL_ARRANGER_MANAGED",
          "COMPANY_TRAVEL_ARRANGER_MANAGED",
          "EVENT_TEMPLATE"
        ],
        "x-ignoreBreakingChanges": [
          "CreditCardAccessType->EVENT_TEMPLATE"
        ]
      },
      "CustomFieldType": {
        "type": "string",
        "description": "The type of custom field.",
        "enum": [
          "QUESTION",
          "MEETING",
          "BUDGET",
          "BREX_TOKEN"
        ],
        "default": "QUESTION"
      },
      "DateRange": {
        "type": "object",
        "description": "Date range within which the virtual card can be charged.",
        "required": [
          "startDate",
          "endDate"
        ],
        "properties": {
          "startDate": {
            "$ref": "#/components/schemas/DateTimeLocal"
          },
          "endDate": {
            "$ref": "#/components/schemas/DateTimeLocal"
          }
        }
      },
      "DateTimeLocal": {
        "title": "DateTimeLocal",
        "description": "Local date and time in ISO 8601 format.",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?$",
            "example": "2017-07-21T17:32"
          }
        }
      },
      "DateTimeOffset": {
        "title": "DateTimeOffset",
        "description": "ISO8601 UTC Date Time",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?(Z|([+-](0[0-9]|1[0-4]):([0-5][0-9])))$",
            "example": "2017-07-21T17:32Z"
          }
        }
      },
      "DepartmentInfo": {
        "type": "object",
        "title": "DepartmentInfo",
        "description": "Department information with UUID and entity name.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "731ccbca-0415-6fe1-d235-c324dfbe7423"
          },
          "name": {
            "type": "string",
            "example": "Accounting"
          }
        }
      },
      "DepartmentV2": {
        "type": "object",
        "title": "DepartmentV2",
        "description": "Department details.",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Name of the department",
            "example": "IT Department"
          },
          "externalId": {
            "type": "string",
            "description": "External id of the department",
            "example": "department-ext-id"
          }
        }
      },
      "DesignationNode": {
        "type": "object",
        "title": "DesignationNode",
        "description": "Designation tree for company showing who reports whom.",
        "properties": {
          "name": {
            "type": "string",
            "description": "designation name"
          },
          "children": {
            "type": "array",
            "description": "designations under this designation.",
            "items": {
              "$ref": "#/components/schemas/DesignationNode"
            }
          }
        }
      },
      "Dimensions": {
        "type": "object",
        "title": "Dimensions",
        "description": "Image dimensions ie width and height.",
        "properties": {
          "height": {
            "type": "integer",
            "format": "int32",
            "example": 120
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "example": 240
          }
        }
      },
      "DirectBilling2": {
        "title": "DirectBilling",
        "type": "object",
        "description": "Metadata for Direct Billing",
        "required": [
          "vendorId"
        ],
        "properties": {
          "vendorId": {
            "type": "string",
            "description": "Unique vendor id/code",
            "example": "ZI"
          },
          "directBillingCode": {
            "type": "string",
            "description": "Direct billing code provided by the vendor",
            "example": "123456"
          }
        }
      },
      "DirectBillingWrapper2": {
        "type": "object",
        "title": "DirectBillingWrapper",
        "description": "Wrapper for DirectBilling metadata",
        "required": [
          "directBilling"
        ],
        "properties": {
          "directBilling": {
            "$ref": "#/components/schemas/DirectBilling2"
          }
        }
      },
      "EmailClientConfig": {
        "type": "object",
        "title": "EmailClientConfig",
        "description": "Email Client Config",
        "required": [
          "client",
          "credentials",
          "defaultSenderAddress"
        ],
        "properties": {
          "client": {
            "$ref": "#/components/schemas/EmailClientType",
            "description": "The email client to be used for pushing out the emails"
          },
          "credentials": {
            "$ref": "#/components/schemas/EmailClientCredentials",
            "description": "Credentials for connecting to the email client"
          },
          "defaultSenderAddress": {
            "type": "string",
            "description": "The default sender address to be used for the configured client",
            "example": "test@somedomain.com"
          },
          "defaultSenderName": {
            "type": "string",
            "description": "The default sender name to be used for the configured client",
            "example": "Test Sender"
          }
        }
      },
      "EmailClientCredentials": {
        "type": "object",
        "title": "EmailClientCredentials",
        "description": "Email client credentials for the company.",
        "required": [
          "emailClientSecretKey"
        ],
        "properties": {
          "emailClientSecretKey": {
            "$ref": "#/components/schemas/EmailClientSecretKey"
          }
        }
      },
      "EmailClientSecretKey": {
        "type": "object",
        "title": "EmailClientSecretKey",
        "description": "EmailClientSecretKey",
        "properties": {
          "secretKey": {
            "type": "string",
            "example": "SECRET_KEY"
          },
          "versionId": {
            "type": "string",
            "example": "1"
          }
        }
      },
      "EmailClientType": {
        "type": "string",
        "enum": [
          "AWS_SES",
          "SENDGRID"
        ],
        "example": "SENDGRID"
      },
      "EmailConfig": {
        "type": "object",
        "title": "EmailConfig",
        "description": "The email configuration part of the ExpensePartnerConfig.",
        "required": [
          "expensePartnerEmail"
        ],
        "properties": {
          "personalCardConfig": {
            "$ref": "#/components/schemas/PersonalCardConfig"
          },
          "centralCardExpenseEmail": {
            "type": "string",
            "description": "Central email for bookings done with central card.",
            "example": "finance+le@company.com"
          },
          "expensePartnerEmail": {
            "type": "string",
            "description": "The expense partner email where expense receipts are sent to.",
            "example": "receipts@expensify.com"
          },
          "bccEmail": {
            "type": "string",
            "description": "Email to which we bcc expensify emails",
            "example": "docs@company.com"
          }
        }
      },
      "EmergencyContactInfo": {
        "type": "object",
        "title": "EmergencyContactInfo",
        "description": "Emergency contact information.",
        "required": [
          "email"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/PostalAddress",
            "x-pii": "SENSITIVE"
          },
          "designation": {
            "type": "string",
            "example": "MANAGER"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "emergency-contact@email.com",
            "x-pii": "IDENTIFIER"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber",
            "x-pii": "IDENTIFIER"
          },
          "userOrgId": {
            "$ref": "#/components/schemas/UserOrgId"
          }
        }
      },
      "EnrollmentConfig": {
        "type": "object",
        "title": "EnrollmentConfig",
        "description": "Enrollment configuration.",
        "required": [
          "termsAndConditions"
        ],
        "properties": {
          "termsAndConditions": {
            "type": "string",
            "example": "https://www.spotnana.com/terms/",
            "description": "Deprecated: Use termsAndConditionsList instead. Link to terms and conditions.",
            "deprecated": true,
            "x-sunset": "2027-01-01"
          },
          "termsAndConditionsList": {
            "type": "array",
            "description": "List of terms and conditions. Each item is rich text that renders a bullet point with text and link.",
            "items": {
              "type": "string"
            },
            "example": [
              "I agree to the <a href=\"https://www.spotnana.com/terms/\">Terms of Service</a>",
              "I agree to the <a href=\"https://www.spotnana.com/privacy/\">Privacy Policy</a>"
            ]
          },
          "templateSettings": {
            "$ref": "#/components/schemas/EnrollmentTemplateSettings"
          },
          "industryDropdownOptions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Dropdown options for company industry selection."
          },
          "skipOfacComplianceCheck": {
            "type": "boolean",
            "description": "Skip OFAC compliance check during enrollment."
          },
          "registrarLoginActions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LoginActionType"
            },
            "description": "Login action types assigned to users created via enrollment."
          },
          "companySpecifiedAttributeConfigs": {
            "type": "array",
            "description": "Configuration for company-specified attributes on the enrollment form.",
            "items": {
              "$ref": "#/components/schemas/CompanySpecifiedAttributeConfig"
            }
          }
        }
      },
      "EnrollmentTemplateSettings": {
        "type": "object",
        "title": "EnrollmentTemplateSettings",
        "description": "Template settings for enrollment emails.",
        "properties": {
          "applicationReceivedTemplate": {
            "type": "string",
            "description": "Template ID for application received emails."
          },
          "applicationRejectedTemplate": {
            "type": "string",
            "description": "Template ID for application rejected emails."
          },
          "applicationApprovedTemplate": {
            "type": "string",
            "description": "Template ID for application approved emails."
          }
        }
      },
      "EntityId": {
        "type": "object",
        "description": "Identifier of an object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "b93dc51f-12dd-46c7-b7d6-1cb12cd3f5b3"
          }
        }
      },
      "ErrorParameter": {
        "type": "object",
        "title": "ErrorParameter",
        "description": "Error parameter",
        "properties": {
          "name": {
            "type": "string",
            "description": "Parameter name"
          },
          "value": {
            "type": "string",
            "description": "Parameter value"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "debugIdentifier": {
            "type": "string",
            "description": "Link to debug the error internally."
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "string",
                  "description": "Error code to identify the specific errors."
                },
                "message": {
                  "type": "string",
                  "description": "Message containing details of error."
                },
                "errorParameters": {
                  "type": "array",
                  "description": "Error message parameters.",
                  "items": {
                    "$ref": "#/components/schemas/ErrorParameter"
                  }
                },
                "errorDetail": {
                  "type": "string",
                  "description": "More details about the error."
                }
              }
            }
          }
        }
      },
      "ExpenseOwner": {
        "type": "object",
        "title": "ExpenseOwner",
        "description": "Determines who should the expense be reported against.",
        "properties": {
          "traveler": {
            "type": "boolean",
            "description": "Report the expense against the traveler who made the booking. If set to true, central email should not be set.",
            "example": true
          },
          "centralEmail": {
            "type": "string",
            "description": "Report the expense against a central email.",
            "example": "docs@company.com"
          }
        }
      },
      "ExpensePartner": {
        "title": "Expense Partner",
        "description": "The expense partner name as enum.",
        "type": "string",
        "enum": [
          "EXPENSIFY",
          "EMBURSE_CHROMERIVER",
          "BREX"
        ],
        "example": "EXPENSIFY"
      },
      "ExpensePartnerConfig": {
        "type": "object",
        "title": "ExpensePartnerConfig",
        "description": "Expense Partner Configuration",
        "required": [
          "partner"
        ],
        "properties": {
          "partner": {
            "$ref": "#/components/schemas/ExpensePartner"
          },
          "emailConfig": {
            "$ref": "#/components/schemas/EmailConfig"
          },
          "travelType": {
            "type": "array",
            "description": "Applicable segments",
            "items": {
              "$ref": "#/components/schemas/TravelType"
            }
          },
          "isExpensePartnerEnabled": {
            "type": "boolean",
            "description": "A flag denoting is the expense partner config is enabled or not.",
            "default": true,
            "example": true
          },
          "reportCustomFields": {
            "type": "boolean",
            "description": "Send custom fields to the expense partner if enabled.",
            "example": true
          },
          "personalCardExpenseOwner": {
            "$ref": "#/components/schemas/ExpenseOwner"
          },
          "centralCardExpenseOwner": {
            "$ref": "#/components/schemas/ExpenseOwner"
          },
          "partnerReferralId": {
            "type": "string",
            "description": "Referral id used for this company/legal entity during expense partner setup",
            "example": "1234hgd"
          },
          "itineraryConfig": {
            "$ref": "#/components/schemas/ItineraryConfig"
          }
        }
      },
      "Expiry": {
        "title": "Expiry",
        "type": "object",
        "description": "Contains the expiry of a Card.",
        "required": [
          "expiryMonth",
          "expiryYear"
        ],
        "properties": {
          "expiryMonth": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 12,
            "description": "Expiry month",
            "example": 1
          },
          "expiryYear": {
            "type": "integer",
            "format": "int32",
            "description": "Expiry year",
            "minimum": 2000,
            "example": 2010
          }
        }
      },
      "ExpiryWrapper": {
        "type": "object",
        "title": "ExpiryWrapper",
        "properties": {
          "expiry": {
            "$ref": "#/components/schemas/Expiry"
          }
        }
      },
      "ExternalEndpoint": {
        "type": "object",
        "title": "ExternalEndpoint",
        "description": "Generic object to encapsulate information about any external endpoint.",
        "required": [
          "url",
          "authHeaderName"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "Url from where user can be fetched."
          },
          "authHeaderName": {
            "type": "string",
            "description": "Auth header where we have to send authentication/authorization details."
          },
          "userIdentifierType": {
            "$ref": "#/components/schemas/UserIdentifierType",
            "description": "Either use pid or email as the identifier for auth code exchange process"
          },
          "responseAttributes": {
            "description": "List of relevant attribute names & their json xpath from response",
            "items": {
              "$ref": "#/components/schemas/UserInfoEndpointResponseAttribute"
            }
          }
        }
      },
      "FailureDetails": {
        "type": "object",
        "title": "FailureDetails",
        "description": "Failure details",
        "properties": {
          "failureCode": {
            "type": "string",
            "description": "failure code",
            "enum": [
              "FAILURE_CODE_UNKNOWN",
              "PAYMENT_METHOD_MISSING",
              "PAYMENT_GATEWAY_FAILURE"
            ]
          },
          "failureMessage": {
            "type": "string",
            "description": "failure message"
          }
        }
      },
      "FailureReason": {
        "type": "object",
        "title": "FailureReason",
        "description": "Contains the failure reason in case of any Failed Transaction",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Reason Code associated with the Failure",
            "enum": [
              "PAYMENT_METHOD_MISSING",
              "PAYMENT_GATEWAY_FAILURE"
            ],
            "example": "PAYMENT_METHOD_MISSING"
          }
        }
      },
      "FareAmount": {
        "type": "object",
        "title": "FareAmount",
        "description": "Fare amount including base fare and tax.",
        "required": [
          "base",
          "tax"
        ],
        "properties": {
          "base": {
            "description": "Base fare amount.",
            "$ref": "#/components/schemas/Money"
          },
          "tax": {
            "description": "Tax amount.",
            "$ref": "#/components/schemas/Money"
          },
          "taxBreakdown": {
            "description": "Breakdown of tax amounts.",
            "$ref": "#/components/schemas/TaxBreakdown"
          }
        }
      },
      "FareCategory": {
        "type": "object",
        "properties": {
          "ngsCategory": {
            "$ref": "#/components/schemas/NGSFareCategory"
          },
          "cabinViewCategory": {
            "$ref": "#/components/schemas/CabinViewFareCategory"
          }
        }
      },
      "FareCategoryFilterConfig": {
        "type": "object",
        "title": "FareCategoryFilterConfig",
        "description": "Air fare category filter",
        "required": [
          "priority",
          "origin",
          "destination",
          "fareCategoryOption"
        ],
        "properties": {
          "priority": {
            "type": "integer",
            "description": "priority of this filter in case multiple filters are applicable",
            "example": 1
          },
          "origin": {
            "description": "origin for which this filter will be valid (* for all origins)",
            "$ref": "#/components/schemas/LocationItem"
          },
          "destination": {
            "description": "destination for which this filter will be valid (* for all destinations)",
            "$ref": "#/components/schemas/LocationItem"
          },
          "fareCategoryOption": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FareCategoryOptionConfig"
            }
          }
        }
      },
      "FareCategoryOptionConfig": {
        "type": "object",
        "title": "FareCategoryOptionConfig",
        "description": "Fare category option to disable",
        "required": [
          "fareCategory",
          "disabled"
        ],
        "properties": {
          "fareCategory": {
            "$ref": "#/components/schemas/FareCategory"
          },
          "disabled": {
            "type": "boolean",
            "description": "true if a fare category is disabled",
            "example": true
          }
        }
      },
      "FeatureConfig": {
        "type": "object",
        "title": "FeatureConfig",
        "description": "Feature enabled for company.",
        "required": [
          "name",
          "enabled"
        ],
        "properties": {
          "name": {
            "$ref": "#/components/schemas/FeatureNameEnum"
          },
          "enabled": {
            "type": "boolean",
            "description": "Whether feature is enabled or not.",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "default": true,
            "example": true
          },
          "valueType": {
            "type": "string",
            "description": "Value Type of Feature.",
            "enum": [
              "INT",
              "DOUBLE",
              "BOOL",
              "STRING",
              "JSON"
            ],
            "example": "BOOL"
          },
          "value": {
            "type": "string",
            "description": "Value associated with Feature."
          }
        }
      },
      "FeatureConfigs": {
        "type": "object",
        "title": "Features",
        "description": "Features related to company.",
        "properties": {
          "length": {
            "type": "integer",
            "description": "Number of features.",
            "example": 1
          },
          "features": {
            "type": "array",
            "description": "Features related to company.",
            "items": {
              "$ref": "#/components/schemas/FeatureConfig"
            }
          }
        }
      },
      "FeatureNameEnum": {
        "type": "string",
        "description": "Name of the feature.",
        "enum": [
          "FLIGHT_RESULTS_OOP",
          "HOTEL_RESULTS_OOP",
          "RAIL_RESULTS_OOP",
          "CARS_RESULTS_OOP",
          "PAYMENT_ADD_CARD",
          "MENU_ITEM_POLICIES",
          "INTEGRATION_EXPENSIFY",
          "TRAVELER_SELECTION",
          "FEATURE_PERSONAL_TRAVEL",
          "PRODUCT_OBT_RAIL",
          "MENU_ITEM_COMPANY_REMARKS",
          "HOMEPAGE_ADD_USER",
          "MENU_ITEM_CUSTOM_FIELDS",
          "PAYMENT_UNUSED_CREDITS",
          "EMAIL_UPDATE_BY_COMPANY_ADMIN",
          "ADHOC_BOOKING_SEARCH_PAGE",
          "ADHOC_BOOKING_SAVE_TRAVELER",
          "ADMIN_VIRTUAL_CARD",
          "CENTRAL_CARD_SERVICE_FEE",
          "EXPEDIA_SOURCE_ENABLED",
          "BOOKING_COM_SOURCE_ENABLED",
          "HOTEL_MEDIAN_ENABLE",
          "HIDE_SEARCH_CRITERIA",
          "ADHOC_PAYMENT_SOURCE",
          "SERVICE_CHARGE_CONFIG_DISABLED",
          "HIDE_SETTINGS_MENU_ITEM_COMPANY",
          "HIDE_SETTINGS_MENU_ITEM_USERS",
          "HIDE_POLICY_APPROVAL_SECTION",
          "HIDE_POLICY_CREATION",
          "HIDE_SETTINGS_TEXT_FROM_MENU",
          "HIDE_LEFT_NAV",
          "HIDE_POLICY_AIR_CARRIER",
          "HIDE_POLICY_AIR_CO2",
          "HIDE_POLICY_HOTEL_PRICE_LOCATION_CUSTOMISATION",
          "HIDE_PROFILE_PREFERENCES_AIRLINES",
          "HIDE_PROFILE_PREFERENCES_ALLIANCES",
          "MONEY_SET_CONVERTED_CURRENCY_AS_ORIGINAL_CURRENCY",
          "PRODUCT_OBT_AIR_DISABLED",
          "PRODUCT_OBT_HOTEL_DISABLED",
          "PRODUCT_OBT_CAR_DISABLED",
          "PRODUCT_OBT_LIMO_DISABLED",
          "PRODUCT_OBT_CONCIERGE_DISABLED",
          "EVENT_BOOKING_ENABLED",
          "EMPLOYEE_LEVEL_DESIGNATED_APPROVER_ENABLED",
          "ENRICH_SEARCH_RESPONSE_WITH_REWARD_POINTS",
          "HIDE_LEFT_NAV_EMBED",
          "HIDE_POLICY_AIR_NOT_ALLOWED_TO_BE_BOOKED",
          "HIDE_TRIP_FEE_CONFIG",
          "HIDE_AGENT_FEE_CONFIG",
          "SHOW_SERVICE_FEE_TAXES",
          "HIDE_GUEST_BOOKING_SETTING",
          "USER_CREATION_PERSONA_TYPE_OPTIONS",
          "AIR_SEARCH_RESULT_AIRLINE_SORT_ORDER",
          "HIDE_SHERPA_VISA_WIDGET",
          "AUTO_DEACTIVATE_GUEST",
          "POLICY_USER_GROUPS",
          "HIDE_SUPPLIER_MANAGEMENT",
          "HIDE_BOOKING_RESTRICTIONS_BY_COUNTRY",
          "LINKED_MARRIOTT_BONVOY_REQUIRED",
          "EDITING_DEFAULT_POLICIES_DISABLED",
          "DISALLOW_MULTI_CITY_ADD_FLIGHT",
          "REQUIRE_ONBOARDING_ON_ENROLLMENT",
          "GEO_CUSTOMIZATIONS",
          "HIDE_PREFERRED_PARENT_CHAINS",
          "HIDE_PREFERRED_HOTEL_BRANDS",
          "HIDE_ROOM_OPTIONS_AND_STAY_PREFERENCES",
          "HIDE_CONDITIONAL_RATES_PREFERENCES",
          "HIDE_HOTELS_IN_SUPPLIER_MANAGEMENT",
          "HIDE_HOTEL_BRANDS_IN_SUPPLIER_MANAGEMENT",
          "HIDE_POLICY_HOTEL_STAR_RATING",
          "PRODUCT_OBT_HOMEPAGE_ORDER",
          "HIDE_COMPANY_SUPPLIER_MENU",
          "EXTERNAL_EVENT_BOOKING_URL",
          "HIDE_IDLE_SESSION_TIMEOUT",
          "LE_CUSTOM_COLUMNS_CONFIG",
          "PROFILE_ELEMENTS_VISIBILITY",
          "SHOW_TRIP_FEE_CONFIG",
          "SHOW_AGENT_FEE_CONFIG",
          "DEFAULT_HOTEL_SEARCH_RADIUS_CONFIG",
          "ENROLLMENT_DASHBOARD",
          "PRIVACY_CONFIG_HIERARCHY",
          "POLICY_CONFIGURED_IN_HR_FEED",
          "COMPANION_VIEW_CONFIG",
          "SHOW_INDIAN_CARD_PAYMENT_GUIDELINES",
          "VISA_RESTRICTIONS_CONFIG",
          "ALLOW_COMPANY_ADMIN_TO_RAISE_SUPPORT_TICKET",
          "ENABLE_COMPANY_PREFERRED_HOTEL_FILTER_BY_DEFAULT",
          "ENABLE_COMPANY_PREFERRED_CAR_FILTER_BY_DEFAULT",
          "LOGIN_DISABLED",
          "SHOW_AGENT_FEE_RULE_BASED_CONFIG",
          "ENROLLMENT_EMAILS_BCC",
          "SUREWARE_SYNC",
          "DEFAULT_TMC_VIEW_MODE",
          "SUPPORTED_CONTRACTING_TMCS",
          "HRIS_ERROR_REPORT_RECIPIENTS",
          "ENABLE_SOLD_OUT_HOTEL_FILTER_BY_DEFAULT",
          "ENABLE_SHOW_NOT_ALLOWED_HOTEL_FILTER_BY_DEFAULT",
          "ORG_LEVEL_PROFILE_FIELD_CONTROLS",
          "ENABLE_CAR_SHOW_CORPORATE_RATES_ONLY_BY_DEFAULT",
          "BLOCK_PAID_ANCILLARY_ON_CASH_FOP",
          "POLICY_CUSTOMIZE_CABIN_BY_MILEAGE",
          "ALLOW_YOUTH_ONLY_BOOKINGS",
          "ALLOW_UNAUTHORIZED_CARD_STORAGE",
          "AIR_DEFAULT_SORT_ORDER_DISABLED",
          "PRIORITIZE_PERSONAL_PAYMENT_FOR_CONTINGENT_WORKERS",
          "CUSTOM_FOP_MESSAGING",
          "ENABLE_TRAVEL_NAME",
          "DEFAULT_HOTEL_PAYMENT_FILTER",
          "DEFAULT_HOTEL_CANCELLATION_FILTER",
          "SHOW_OOP_PERSONAL_UPGRADE_TAG",
          "USE_DEDICATED_TMC_MARRIOTT_BONVOY_CREDENTIALS",
          "USE_HYATT_PARTNER_LOYALTY_VALIDATION",
          "RESTRICTED_EMAIL_DOMAINS",
          "UNUSED_CREDIT_DISABLED",
          "SABRE_USE_FARE_PAX_TYPE_DISABLED",
          "PROVISION_TENANT_ENCRYPTION",
          "RH_LANGUAGE_HEADER_ENABLED",
          "DISABLE_MULTI_BYTE_EMAIL_CHARS",
          "ENABLE_CORP_HYATT_LEVERAGE",
          "ENABLE_CORP_MARRIOTT_BAMB",
          "SEED_WOH_EARNING_HOLDER",
          "HOTEL_RATE_PLAN_CODE_CONFIG"
        ],
        "x-ignoreBreakingChanges": [
          "FeatureNameEnum->LOGIN_DISABLED",
          "FeatureNameEnum->SHOW_AGENT_FEE_RULE_BASED_CONFIG",
          "FeatureNameEnum->ALLOW_UNAUTHORIZED_CARD_STORAGE",
          "FeatureNameEnum->PRIORITIZE_PERSONAL_PAYMENT_FOR_CONTINGENT_WORKERS",
          "FeatureNameEnum->CUSTOM_FOP_MESSAGING",
          "FeatureNameEnum->ENABLE_SHOW_NOT_ALLOWED_HOTEL_FILTER_BY_DEFAULT",
          "FeatureNameEnum->USE_DEDICATED_TMC_MARRIOTT_BONVOY_CREDENTIALS"
        ],
        "x-enumValidFrom": {
          "ORG_LEVEL_PROFILE_FIELD_CONTROLS": "2025-09-09",
          "BLOCK_PAID_ANCILLARY_ON_CASH_FOP": "2025-10-28",
          "POLICY_CUSTOMIZE_CABIN_BY_MILEAGE": "2025-10-28"
        },
        "example": "ADMIN_VIRTUAL_CARD"
      },
      "FeeInfo": {
        "type": "object",
        "title": "FeeInfo",
        "discriminator": {
          "propertyName": "feeType",
          "mapping": {
            "BOOKING_FEE": "#/components/schemas/BookingFeeInfo",
            "AGENT_FEE": "#/components/schemas/AgentFeeInfo"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/BookingFeeInfo"
          },
          {
            "$ref": "#/components/schemas/AgentFeeInfo"
          }
        ],
        "x-oneOfValidFrom": {
          "AgentFeeInfo": "2025-08-20"
        }
      },
      "FixedChargeConfig": {
        "type": "object",
        "title": "FixedChargeConfig",
        "description": "Fixed charge configuration for service charge",
        "required": [
          "charges"
        ],
        "properties": {
          "charges": {
            "type": "array",
            "description": "Amount in specified currency",
            "items": {
              "$ref": "#/components/schemas/Money"
            }
          },
          "defaultCurrencyCode": {
            "type": "string",
            "description": "The 3-letter currency code defined in ISO 4217.",
            "example": "GBP"
          },
          "tierCharges": {
            "type": "array",
            "description": "Charges specified per traveler tier",
            "items": {
              "$ref": "#/components/schemas/TierChargeConfig"
            }
          }
        }
      },
      "FlightPassPaymentAmounts": {
        "type": "object",
        "title": "FlightPassPaymentAmounts",
        "description": "Fare breakdown for the flight pass booking.",
        "properties": {
          "totalAmount": {
            "description": "Total value (base + taxes).",
            "$ref": "#/components/schemas/Money"
          },
          "baseAmount": {
            "description": "Base fare excluding taxes.",
            "$ref": "#/components/schemas/Money"
          },
          "totalTaxes": {
            "description": "Sum of all taxes, fees, and charges.",
            "$ref": "#/components/schemas/Money"
          },
          "taxBreakdown": {
            "type": "array",
            "description": "Breakdown of taxes by code (e.g. GST_HST, QST, OTHER).",
            "items": {
              "$ref": "#/components/schemas/FlightPassTax"
            }
          }
        }
      },
      "FlightPassPaymentMetadata": {
        "type": "object",
        "title": "FlightPassPaymentMetadata",
        "description": "Metadata specific to Flight Pass payment method in OtherCoinage.",
        "properties": {
          "flightPassNumber": {
            "type": "string",
            "description": "Flight pass number",
            "example": "FP123456789"
          },
          "flightPassAmounts": {
            "$ref": "#/components/schemas/FlightPassPaymentAmounts"
          }
        }
      },
      "FlightPassPaymentMetadataWrapper": {
        "type": "object",
        "title": "FlightPassPaymentMetadataWrapper",
        "description": "Wrapper for Flight Pass payment metadata.",
        "required": [
          "flightPassMetadata"
        ],
        "properties": {
          "metadataType": {
            "type": "string",
            "description": "Discriminator field for polymorphic deserialization",
            "example": "FlightPassPaymentMetadata",
            "default": "FlightPassPaymentMetadata"
          },
          "flightPassMetadata": {
            "$ref": "#/components/schemas/FlightPassPaymentMetadata"
          }
        }
      },
      "FlightPassTax": {
        "type": "object",
        "title": "FlightPassTax",
        "description": "A single tax component of the flight pass fare.",
        "properties": {
          "code": {
            "type": "string",
            "description": "Tax code identifier (e.g. GST_HST, QST, OTHER).",
            "example": "GST_HST"
          },
          "amount": {
            "description": "Tax amount.",
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "FormOfPayment": {
        "title": "Form of Payment",
        "description": "Information about form of payment to be used to charge customer",
        "type": "object",
        "required": [
          "type"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "CARD",
              "CASH",
              "TFPAY",
              "CHEQUE",
              "BREX_POINTS",
              "QANTAS_POINTS"
            ],
            "title": "PaymentType",
            "description": "Type of payment used",
            "example": "CARD",
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "card": {
            "description": "The payment card to be used to charge customer. This is only set if the payment type is 'CARD'",
            "$ref": "#/components/schemas/Card"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Additional info to be added if payment type is 'UNKNOWN'."
          },
          "accessType": {
            "$ref": "#/components/schemas/CreditCardAccess"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod",
            "description": "Payment method used to pay for this transaction"
          },
          "paymentMetadata": {
            "$ref": "#/components/schemas/PaymentMetadata"
          },
          "paymentSourceType": {
            "$ref": "#/components/schemas/PaymentSourceType"
          }
        }
      },
      "FreshdeskConfig": {
        "type": "object",
        "title": "FreshdeskConfig",
        "description": "Configuration for freshdesk.",
        "required": [
          "enabled",
          "hasCredentials"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether freshdesk is enabled or not.",
            "default": true,
            "example": true
          },
          "hasCredentials": {
            "type": "boolean",
            "description": "Whether the company has its own freshdesk credentials.",
            "default": false,
            "example": false
          },
          "credentials": {
            "description": "Credentials for the fresh desk. This field has no impact in create/update APIs. The \nprocess to store / update the credentials are manual.\n",
            "$ref": "#/components/schemas/FreshdeskCredentials"
          }
        }
      },
      "FreshdeskCredentialDetails": {
        "type": "object",
        "title": "FreshdeskCredentialDetails",
        "description": "Credentials related to freshdesk.",
        "required": [
          "domain",
          "appId",
          "appKey"
        ],
        "properties": {
          "domain": {
            "type": "string",
            "description": "Domain related to fresh desk."
          },
          "appId": {
            "type": "string",
            "description": "An identifier for fresh desk's app."
          },
          "appKey": {
            "type": "string",
            "description": "A secret key assigned to user's app by fresh desk."
          }
        }
      },
      "FreshdeskCredentials": {
        "type": "object",
        "title": "FreshdeskCredentials",
        "description": "Mobile and web Credentials related to freshdesk.",
        "properties": {
          "webCredentials": {
            "$ref": "#/components/schemas/FreshdeskCredentialDetails"
          },
          "mobileCredentials": {
            "$ref": "#/components/schemas/FreshdeskCredentialDetails"
          }
        }
      },
      "GatewayIdentifier": {
        "type": "object",
        "properties": {
          "gatewayId": {
            "type": "string",
            "description": "Gateway Id for which the payment method should be verified."
          },
          "gatewayType": {
            "type": "string",
            "description": "Gateway Type for of the verification gateway.",
            "enum": [
              "PAYMENT_GATEWAY_UNKNOWN",
              "STRIPE",
              "BREX",
              "RAZORPAY"
            ]
          }
        }
      },
      "GatewayInfo": {
        "type": "object",
        "title": "GatewayInfo",
        "description": "Payment gateway information",
        "oneOf": [
          {
            "$ref": "#/components/schemas/StripeInfoWrapper"
          }
        ]
      },
      "GetCompanyPerTripSrvChargeResponse": {
        "type": "object",
        "title": "GetCompanyPerTripSrvChargeResponse",
        "description": "Get per trip service charge configuration for company",
        "properties": {
          "config": {
            "$ref": "#/components/schemas/FixedChargeConfig"
          },
          "enabled": {
            "type": "boolean",
            "description": "True if per trip service charge configuration is enabled",
            "example": true
          },
          "enableDisableOpSupported": {
            "type": "boolean",
            "description": "True if per trip service charge configuration can be enabled/disabled",
            "example": true
          }
        }
      },
      "GradeInfo": {
        "type": "object",
        "title": "GradeInfo",
        "description": "Grade information with UUID and name.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "831ccbcb-1416-7fe2-e236-d324dfbe7424"
          },
          "name": {
            "type": "string",
            "example": "Senior Engineer"
          }
        }
      },
      "GradeV2": {
        "type": "object",
        "title": "GradeV2",
        "description": "Grade details.",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "831ccbcb-1416-7fe2-e236-d324dfbe7424"
          },
          "name": {
            "type": "string",
            "description": "Name of the grade",
            "example": "Grade"
          }
        }
      },
      "Image": {
        "type": "object",
        "title": "Image",
        "description": "An image with meta data. Either the `data` or `url` property must be supplied to load the image.",
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "example": "6935813e12584abda0e43d71cd2ea260"
          },
          "dimensions": {
            "$ref": "#/components/schemas/Dimensions"
          },
          "url": {
            "type": "string",
            "example": "https://static.wixstatic.com/media/73f2e2_6935813e12584abda0e43d71cd2ea260~mv2.png/v1/fill/w_630,h_94,al_c,q_85,usm_0.66_1.00_0.01/Spotnana%403x.webp"
          }
        }
      },
      "ItineraryConfig": {
        "title": "ItineraryConfig",
        "type": "object",
        "description": "Itinerary configuration to control what expenses to send to the partner",
        "properties": {
          "skipModificationUpdate": {
            "type": "boolean",
            "description": "Allow modification expenses to be skipped from sending to the partner",
            "example": true,
            "default": false
          },
          "skipCancellationUpdate": {
            "type": "boolean",
            "description": "Allow cancellation expenses to be skipped from sending to the partner",
            "example": true,
            "default": false
          }
        }
      },
      "JwkPublicKey": {
        "type": "object",
        "description": "RSA public key in JWK format (RFC 7517). Only RSA signature keys are supported.",
        "required": [
          "kty",
          "use",
          "alg",
          "kid",
          "n",
          "e"
        ],
        "properties": {
          "kty": {
            "type": "string",
            "enum": [
              "RSA"
            ],
            "description": "Key type. Only RSA is supported."
          },
          "use": {
            "type": "string",
            "enum": [
              "sig"
            ],
            "description": "Key use. Must be sig (signature)."
          },
          "alg": {
            "type": "string",
            "enum": [
              "RS256"
            ],
            "description": "Signing algorithm. Must be RS256."
          },
          "kid": {
            "type": "string",
            "description": "Key ID — used to match the JWT header kid during token exchange."
          },
          "n": {
            "type": "string",
            "description": "RSA modulus (base64url-encoded)."
          },
          "e": {
            "type": "string",
            "description": "RSA public exponent (base64url-encoded)."
          }
        }
      },
      "Latlng": {
        "title": "Latlng",
        "description": "Latitude and Longitude for a Location",
        "type": "object",
        "required": [
          "latitude",
          "longitude"
        ],
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude of the Location",
            "format": "double",
            "example": 77.1025
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the Location",
            "format": "double",
            "example": 28.7041
          }
        }
      },
      "LegalEntity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the legal entity."
          },
          "name": {
            "type": "string",
            "description": "Name of the legal entity"
          },
          "registeredName": {
            "type": "string",
            "description": "The official name of this legal entity as registered with local tax authorities.\n"
          },
          "registeredEmail": {
            "type": "string",
            "description": "The primary email (or alias) used for the \"Registered name\" of this legal entity. \nUsed for official communications, including regulatory, compliance, and invoicing \npurposes.\n"
          },
          "address": {
            "$ref": "#/components/schemas/PostalAddress",
            "description": "Address of the legal entity."
          },
          "billingCurrency": {
            "type": "string",
            "description": "Billing currency for the legal entity."
          },
          "dba": {
            "type": "string",
            "description": "Business name, sort form of Doing Business As"
          },
          "ein": {
            "type": "string",
            "description": "Tax number"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "isDelayedInvoicingEnabled": {
            "type": "boolean",
            "description": "Whether delayed invoicing is enabled for the legal entity. If enabled, travelers of the\nlegal entity won't be charged for trip on checkout, rather the bills would be sent to\nthe company later on based on the billing cycle.\n"
          },
          "bookingTmcRef": {
            "$ref": "#/components/schemas/Reference",
            "description": "Booking TMC of the legal entity."
          },
          "expensePartnerConfig": {
            "$ref": "#/components/schemas/ExpensePartnerConfig",
            "description": "Configured details of expense partner."
          },
          "ccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails will be CCed. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "bccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails will be BCCed. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "externalId": {
            "description": "External id for the legal entity.",
            "type": "string",
            "example": "my-external-id"
          },
          "companySpecifiedAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanySpecifiedAttributeLegalEntity"
            },
            "description": "Company specified attributes or fields for the legal entity."
          }
        }
      },
      "LegalEntityCreateRequest": {
        "type": "object",
        "required": [
          "name",
          "billingCurrency",
          "address"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the legal entity"
          },
          "registeredName": {
            "type": "string",
            "description": "The official name of this legal entity as registered with local tax authorities.\n"
          },
          "registeredEmail": {
            "type": "string",
            "description": "The primary email (or alias) used for the \"Registered name\" of this legal entity. \nUsed for official communications, including regulatory, compliance, and invoicing \npurposes.\n"
          },
          "address": {
            "$ref": "#/components/schemas/PostalAddress",
            "description": "Address of the legal entity."
          },
          "billingCurrency": {
            "type": "string",
            "description": "Billing currency for the legal entity."
          },
          "dba": {
            "type": "string",
            "description": "Business name, sort form of Doing Business As"
          },
          "ein": {
            "type": "string",
            "description": "Tax number"
          },
          "phoneNumbers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "isDelayedInvoicingEnabled": {
            "type": "boolean",
            "description": "Whether delayed invoicing is enabled for the legal entity. If enabled, travelers of the\nlegal entity won't be charged for trip on checkout, rather the bills would be sent to\nthe company later on based on the billing cycle.\n"
          },
          "ccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails for this LE will be cc'ed. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "bccEmailAddresses": {
            "type": "array",
            "description": "List of email addresses on which all confirmation emails for this LE will be bcc'ed. This is applicable only for company roles 'ORG'",
            "items": {
              "type": "string",
              "example": "example@gmail.com"
            }
          },
          "externalId": {
            "type": "string",
            "description": "External id for legal entity.",
            "example": "legal-entity-external-id"
          },
          "companySpecifiedAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanySpecifiedAttributeLegalEntity"
            },
            "description": "Company specified attributes or fields for the legal entity."
          }
        }
      },
      "LegalEntityId": {
        "type": "object",
        "title": "LegalEntityId",
        "description": "The ID of the legal entity.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "fc1ccbce-8413-4fe9-b233-a324dfbe7421"
          }
        }
      },
      "LegalEntityUpdateRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the legal entity."
          },
          "name": {
            "type": "string",
            "description": "Name of the legal entity"
          },
          "registeredName": {
            "type": "string",
            "description": "The official name of this legal entity as registered with local tax authorities.\n"
          },
          "registeredEmail": {
            "type": "string",
            "description": "The primary email (or alias) used for the \"Registered name\" of this legal entity. \nUsed for official communications, including regulatory, compliance, and invoicing \npurposes.\n"
          },
          "address": {
            "$ref": "#/components/schemas/PostalAddress",
            "description": "Address of the legal entity."
          },
          "billingCurrency": {
            "type": "string",
            "description": "Billing currency for the legal entity."
          },
          "dba": {
            "type": "string",
[...]
