{
  "openapi": "3.1.0",
  "info": {
    "title": "Template API",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api-ext-sboxmeta.partners.spotnana.com",
      "description": "Sandbox URL"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "The specified resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "AccessType": {
        "type": "string",
        "description": "Access Type of the Payment Source being created.",
        "enum": [
          "CENTRALISED",
          "PERSONAL",
          "APPLICATION",
          "TMC",
          "ITINERARY",
          "EVENT",
          "EVENT_TEMPLATE"
        ],
        "example": "CENTRALISED",
        "x-ignoreBreakingChanges": [
          "AccessType->EVENT_TEMPLATE"
        ]
      },
      "AccessTypeAttributes": {
        "type": "object",
        "title": "AccessTypeAttributes",
        "description": "Attributes applicable to the payment source for specific Access Type.",
        "properties": {
          "travelTypeFilter": {
            "$ref": "#/components/schemas/TravelTypeFilter"
          }
        }
      },
      "AdditionalInfo": {
        "type": "object",
        "title": "AdditionalInfo",
        "description": "Additional data need to be sent along with the custom field response.",
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "VARIABLE": "#/components/schemas/Variable",
            "EXPRESSION": "#/components/schemas/Expression"
          }
        },
        "oneOf": [
          {
            "$ref": "#/components/schemas/Variable"
          },
          {
            "$ref": "#/components/schemas/Expression"
          }
        ]
      },
      "AirBookingGuideline": {
        "title": "AirBookingGuideline",
        "description": "Air related guidelines",
        "type": "object",
        "properties": {
          "allowedAirports": {
            "description": "List of allowed airports for arrival of flight-in-event and departure of flight-out-event.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AirportInfo"
            }
          },
          "allowedCityCodes": {
            "description": "List of allowed city codes for arrival of flight-in-event and departure of flight-out-event. If both allowedAirports and allowedCityCodes are provided, allowedCityCodes takes precedence.",
            "type": "array",
            "items": {
              "type": "string",
              "example": "NYC"
            }
          },
          "arrivalBookingWindow": {
            "description": "Booking window for flight-in-event.",
            "$ref": "#/components/schemas/EventBookingWindow"
          },
          "departureBookingWindow": {
            "description": "Booking window for flight-out-event.",
            "$ref": "#/components/schemas/EventBookingWindow"
          },
          "allowedFlightGuidelines": {
            "description": "List of allowed flight guidelines for the event.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AllowedFlightGuideline"
            }
          }
        }
      },
      "AirBookingGuidelineWrapper": {
        "type": "object",
        "title": "AirBookingGuidelineWrapper",
        "description": "Wrapper for AirBookingGuideline",
        "properties": {
          "airBookingGuideLine": {
            "$ref": "#/components/schemas/AirBookingGuideline"
          }
        }
      },
      "AirItinerary": {
        "type": "object",
        "title": "AirItinerary",
        "properties": {
          "airItineraryId": {
            "$ref": "#/components/schemas/AirItineraryId"
          }
        }
      },
      "AirItineraryId": {
        "type": "object",
        "title": "AirItineraryId",
        "description": "Air itinerary id",
        "properties": {
          "ancillaryResponseId": {
            "type": "string",
            "description": "Ancillary response id"
          },
          "seatMapResponseId": {
            "type": "string",
            "description": "Seat map response id"
          },
          "initiateBookingResponseId": {
            "type": "string",
            "description": "Initiate Booking Response id."
          }
        }
      },
      "AirRsvpResponse": {
        "title": "AirRsvpResponse",
        "type": "object",
        "description": "Air rsvp response",
        "properties": {
          "notNeeded": {
            "type": "boolean",
            "description": "Whether air booking is needed by the traveler or not",
            "example": true
          }
        }
      },
      "Airline": {
        "title": "Airline",
        "description": "Airline Details",
        "type": "object",
        "required": [
          "carrierCode",
          "airlineName"
        ],
        "properties": {
          "carrierCode": {
            "type": "string",
            "description": "Unique code for the Airline",
            "example": "AA"
          },
          "airlineName": {
            "type": "string",
            "description": "Full Name of the Airline",
            "example": "American Airlines"
          },
          "isPresentInPreferredVendors": {
            "type": "boolean",
            "description": "Whether the airline is present in preferred vendor list. This is an optional field which gets populated only in the preferred vendor autocomplete API.",
            "example": true
          }
        }
      },
      "AirlineInfo": {
        "title": "AirlineInfo",
        "type": "object",
        "required": [
          "airlineCode",
          "airlineName"
        ],
        "properties": {
          "airlineCode": {
            "type": "string",
            "description": "IATA code for airline.",
            "example": "AA"
          },
          "airlineName": {
            "type": "string",
            "description": "Airline name",
            "example": "American Airlines"
          }
        }
      },
      "AirlineProgram": {
        "type": "object",
        "title": "AirlineProgram",
        "description": "Descriptor for Airline program details.",
        "required": [
          "airlineInfo",
          "airlineProgramMetadata"
        ],
        "properties": {
          "airlineInfo": {
            "type": "array",
            "description": "Eligible airlines' information list.",
            "items": {
              "$ref": "#/components/schemas/Airline"
            }
          },
          "airlineProgramMetadata": {
            "description": "Airline program payment specific metadata.",
            "$ref": "#/components/schemas/AirlineProgramMetadata"
          }
        }
      },
      "AirlineProgramMetadata": {
        "type": "object",
        "title": "AirlineProgramMetadata",
        "oneOf": [
          {
            "$ref": "#/components/schemas/UATPMetadataWrapper"
          },
          {
            "$ref": "#/components/schemas/UAPassPlusMetadataWrapper"
          },
          {
            "$ref": "#/components/schemas/DinersTacMetadataWrapper"
          }
        ],
        "x-ignoreBreakingChanges": [
          "AirlineProgramMetadata->DinersTacMetadataWrapper"
        ]
      },
      "AirlineProgramWrapper": {
        "type": "object",
        "title": "AirlineProgramWrapper",
        "description": "Wrapper for AirlineProgram",
        "properties": {
          "airlineProgram": {
            "$ref": "#/components/schemas/AirlineProgram"
          }
        }
      },
      "AirportInfo": {
        "title": "AirportInfo",
        "description": "Detailed information about the airport.",
        "type": "object",
        "properties": {
          "airportCode": {
            "type": "string",
            "description": "3-letter code of the airport.",
            "example": "WRA"
          },
          "airportName": {
            "type": "string",
            "description": "Full name of the airport.",
            "example": "Warder Airport"
          },
          "cityName": {
            "type": "string",
            "description": "Name of the city in which the airport is located (or is nearest to).",
            "example": "Werder"
          },
          "countryName": {
            "type": "string",
            "description": "Name of the country in which the airport is located.",
            "example": "Ethiopia"
          },
          "countryCode": {
            "type": "string",
            "description": "2-letter IATA country code associated with the airport.",
            "example": "ET"
          },
          "zoneName": {
            "type": "string",
            "description": "Name of the time zone associated with the airport.",
            "example": "Africa/Addis_Ababa"
          },
          "stateCode": {
            "type": "string",
            "description": "2-letter IATA code for the state in which the airport is located.",
            "example": "CA"
          }
        }
      },
      "AllowTravelersPolicy": {
        "title": "AllowTravelersPolicy",
        "description": "Apply travelers policy when it is less restrictive.",
        "type": "string",
        "enum": [
          "ALLOWED",
          "NOT_ALLOWED"
        ]
      },
      "AllowTravelersToRsvp": {
        "title": "AllowTravelersToRsvp",
        "description": "Allow travelers to rsvp for the event",
        "type": "string",
        "enum": [
          "ALLOWED",
          "NOT_ALLOWED"
        ]
      },
      "AllowedFlightGuideline": {
        "title": "AllowedFlightGuideline",
        "description": "Flight related guideline",
        "type": "object",
        "required": [
          "allowedFlightType"
        ],
        "properties": {
          "allowedFlightType": {
            "description": "The type of flight booking allowed for the event.",
            "$ref": "#/components/schemas/AllowedFlightType"
          },
          "numberOfLegs": {
            "description": "The number of legs allowed for the flight booking.",
            "type": "integer",
            "example": 2
          }
        }
      },
      "AllowedFlightType": {
        "title": "AllowedFlightType",
        "description": "The types of flight booking guidelines",
        "type": "string",
        "enum": [
          "ONE_WAY",
          "ROUND_TRIP",
          "MULTICITY"
        ],
        "example": "ROUND_TRIP"
      },
      "AllowedPaymentConfig": {
        "type": "array",
        "description": "Allowed payment configuration for the event template",
        "items": {
          "$ref": "#/components/schemas/PaymentConfigForTravelType"
        }
      },
      "AmadeusCheckout": {
        "type": "object",
        "title": "AmadeusCheckout",
        "required": [
          "splitPaymentAllowed"
        ],
        "description": "Metadata for Amadeus Checkout payment source.",
        "properties": {
          "paymentPageId": {
            "type": "string",
            "example": "aslkdjalwjd",
            "description": "Payment page Id."
          },
          "splitPaymentAllowed": {
            "type": "boolean",
            "example": true,
            "default": false,
            "description": "True if split payment is allowed in Amadeus Checkout, false otherwise"
          },
          "splitOptionsByCardCompany": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SplitOptionByCardCompany"
            }
          }
        }
      },
      "AmadeusCheckoutWrapper": {
        "type": "object",
        "title": "AmadeusCheckoutWrapper",
        "description": "Wrapper for Amadeus Checkout payment source.",
        "required": [
          "amadeusCheckout"
        ],
        "properties": {
          "amadeusCheckout": {
            "$ref": "#/components/schemas/AmadeusCheckout"
          }
        }
      },
      "BookingStatusType": {
        "title": "BookingStatusType",
        "description": "Booking status of the travel.",
        "type": "string",
        "enum": [
          "BOOKED",
          "NOT_BOOKED",
          "OPTED_OUT"
        ],
        "example": "BOOKED"
      },
      "BrexBudget": {
        "type": "object",
        "title": "BrexBudget",
        "description": "Metadata for Brex Budget payment source.",
        "properties": {
          "budgetName": {
            "type": "string",
            "example": "Travel Budget",
            "description": "Budget name."
          },
          "cardNumber": {
            "type": "string",
            "example": "1234567812345678123",
            "description": "Card number of the budget."
          },
          "budgetRemainingBalanceFormatted": {
            "type": "string",
            "example": "$90,000.00",
            "description": "Remaining balance of the budget formatted with currency."
          }
        }
      },
      "BrexBudgetWrapper": {
        "type": "object",
        "title": "BrexBudgetWrapper",
        "description": "Wrapper for BrexBudget",
        "required": [
          "brexBudget"
        ],
        "properties": {
          "brexBudget": {
            "$ref": "#/components/schemas/BrexBudget"
          }
        }
      },
      "BucketEmailPreferences": {
        "type": "object",
        "title": "BucketEmailPreferences",
        "description": "Email communication preferences based on bucket types.",
        "required": [
          "bucketTypes"
        ],
        "properties": {
          "bucketTypes": {
            "type": "array",
            "description": "List of email bucket types.",
            "items": {
              "$ref": "#/components/schemas/EmailBucketType"
            }
          },
          "isEnabled": {
            "type": "boolean",
            "description": "Indicates whether emails are disabled.",
            "default": false
          },
          "toEmails": {
            "type": "array",
            "description": "List of email address to be included in emails.",
            "items": {
              "type": "string",
              "format": "email",
              "example": "example@email.com"
            }
          },
          "ccEmails": {
            "type": "array",
            "description": "List of email address to be cc-ed in emails.",
            "items": {
              "type": "string",
              "format": "email",
              "example": "example@email.com"
            }
          },
          "bccEmails": {
            "type": "array",
            "description": "List of email address to be bcc-ed in emails.",
            "items": {
              "type": "string",
              "format": "email",
              "example": "example@email.com"
            }
          }
        }
      },
      "CarBookingGuideline": {
        "title": "CarBookingGuideline",
        "description": "Car related guidelines",
        "type": "object",
        "properties": {
          "pickupBookingWindow": {
            "$ref": "#/components/schemas/EventBookingWindow"
          },
          "dropoffBookingWindow": {
            "$ref": "#/components/schemas/EventBookingWindow"
          },
          "paymentGuidelines": {
            "$ref": "#/components/schemas/CarBookingPaymentGuidelines",
            "readOnly": true
          }
        }
      },
      "CarBookingGuidelineWrapper": {
        "type": "object",
        "title": "CarBookingGuidelineWrapper",
        "description": "Wrapper for CarBookingGuideline",
        "properties": {
          "carBookingGuideLine": {
            "$ref": "#/components/schemas/CarBookingGuideline"
          }
        }
      },
      "CarBookingPaymentGuidelines": {
        "title": "CarBookingPaymentGuidelines",
        "description": "Car booking payment guidelines",
        "type": "object",
        "properties": {
          "allowedPaymentVendors": {
            "description": "List of allowed car vendors for the event",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VendorInfo"
            }
          },
          "onlyVendorBooking": {
            "type": "boolean",
            "description": "Whether only Vendor bookings are allowed for the event.",
            "example": true
          }
        }
      },
      "CarItinerary": {
        "type": "object",
        "title": "CarItinerary",
        "properties": {
          "carItineraryId": {
            "$ref": "#/components/schemas/CarItineraryId"
          }
        }
      },
      "CarItineraryId": {
        "type": "object",
        "title": "CarItineraryId",
        "description": "Car itinerary id",
        "required": [
          "searchId",
          "carId"
        ],
        "properties": {
          "searchId": {
            "type": "string",
            "description": "Search id"
          },
          "carId": {
            "type": "string",
            "description": "Selected car option"
          }
        }
      },
      "CarPaymentSourceMetadata": {
        "type": "object",
        "title": "CarPaymentSourceMetadata",
        "required": [
          "travelType"
        ],
        "properties": {
          "travelType": {
            "type": "string",
            "description": "Travel Type for the metadata. For cars it's CAR."
          },
          "vendors": {
            "description": "Vendors for which the payment source is applicable.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CarVendorBasic"
            }
          }
        }
      },
      "CarRsvpResponse": {
        "title": "CarRsvpResponse",
        "type": "object",
        "description": "Car rsvp response",
        "properties": {
          "notNeeded": {
            "type": "boolean",
            "description": "Whether car booking is needed by the traveler or not",
            "example": true
          }
        }
      },
      "CarVendorBasic": {
        "type": "object",
        "title": "CarVendorBasic",
        "description": "Car Vendor Basic Information",
        "required": [
          "code"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "Vendor code",
            "example": "ZE"
          },
          "name": {
            "type": "string",
            "description": "Vendor name",
            "example": "HERTZ"
          }
        }
      },
      "Card": {
        "type": "object",
        "title": "Card",
        "description": "User card info",
        "required": [
          "number"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this card",
            "format": "uuid",
            "example": "34d536b6-f8ff-11eb-9a61-0242ac180002"
          },
          "type": {
            "type": "string",
            "enum": [
              "UNKNOWN",
              "CREDIT",
              "DEBIT"
            ],
            "description": "Type of card",
            "example": "CREDIT"
          },
          "company": {
            "$ref": "#/components/schemas/CardCompany"
          },
          "name": {
            "description": "Name on card",
            "type": "string",
            "example": "Harrison Schwartz",
            "x-pii": "SENSITIVE"
          },
          "address": {
            "description": "Billing address",
            "$ref": "#/components/schemas/PostalAddress",
            "x-pii": "SENSITIVE"
          },
          "number": {
            "type": "string",
            "description": "Card number",
            "example": "4111111111111111"
          },
          "expiryMonth": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 12,
            "description": "Expiry month",
            "example": 1,
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "expiryYear": {
            "type": "integer",
            "format": "int32",
            "description": "Expiry year",
            "minimum": 2000,
            "example": 2010,
            "deprecated": true,
            "x-sunset": "2026-07-01"
          },
          "cvv": {
            "type": "string",
            "description": "Card cvv number",
            "example": "012"
          },
          "label": {
            "type": "string",
            "description": "Card Label",
            "example": "Label amex"
          },
          "currency": {
            "type": "string",
            "description": "Native currency of the card.",
            "example": "USD"
          },
          "externalId": {
            "type": "string",
            "description": "Spotnana partner card id.",
            "example": "bxt_RNGsNfzgJDaTstKIKqK4xEuhGYAnMdYK8T40"
          },
          "vaultId": {
            "type": "string",
            "description": "ID of the vault used for creating the card.",
            "format": "uuid",
            "example": "34d536b6-f8ff-11eb-9a61-0242ac180002"
          },
          "expiry": {
            "description": "Card Expiry.",
            "$ref": "#/components/schemas/CardExpiry"
          },
          "ownershipLabel": {
            "$ref": "#/components/schemas/OwnershipLabel",
            "example": "PERSONAL"
          }
        }
      },
      "CardCompany": {
        "type": "string",
        "enum": [
          "NONE",
          "VISA",
          "MASTERCARD",
          "AMEX",
          "DISCOVER",
          "AIR_TRAVEL_UATP",
          "CARTE_BLANCHE",
          "DINERS_CLUB",
          "JCB",
          "BREX",
          "UNION_PAY",
          "EURO_CARD",
          "ACCESS_CARD",
          "ELO_CARD"
        ],
        "description": "The issuing company of card",
        "example": "VISA"
      },
      "CardDescriptor": {
        "type": "object",
        "title": "CardMetadata",
        "description": "Descriptor for card payment source.",
        "required": [
          "card"
        ],
        "properties": {
          "card": {
            "$ref": "#/components/schemas/Card"
          },
          "isCentrallyBilled": {
            "type": "boolean",
            "description": "Whether card is centrally billed or not.",
            "default": false
          },
          "isLodgeCard": {
            "type": "boolean",
            "description": "Whether card is a lodge card or not.",
            "default": false
          }
        }
      },
      "CardDescriptorWrapper": {
        "type": "object",
        "title": "CardDescriptorWrapper",
        "description": "Wrapper for CardDescriptor",
        "properties": {
          "cardDescriptor": {
            "$ref": "#/components/schemas/CardDescriptor"
          }
        }
      },
      "CardExpiry": {
        "title": "CardExpiry",
        "type": "object",
        "description": "Contains the expiry of a Card.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/TokenizedExpiryWrapper"
          },
          {
            "$ref": "#/components/schemas/ExpiryWrapper"
          }
        ]
      },
      "CashDescriptor": {
        "type": "object",
        "title": "CashDescriptor",
        "description": "Descriptor for Cash.",
        "required": [
          "label"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for Cash payment.",
            "example": "Cash Payment for Amex TLS"
          }
        }
      },
      "CashDescriptorWrapper": {
        "type": "object",
        "title": "CashDescriptorWrapper",
        "description": "Wrapper for Cash Payment Source.",
        "properties": {
          "cashDescriptor": {
            "$ref": "#/components/schemas/CashDescriptor"
          }
        }
      },
      "CompanyFilter": {
        "type": "object",
        "title": "CompanyFilter",
        "description": "CompanyFilter details",
        "properties": {
          "companyIds": {
            "type": "array",
            "description": "Company id List",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "items": {
              "$ref": "#/components/schemas/CompanyId"
            }
          },
          "companyId": {
            "description": "Company id",
            "$ref": "#/components/schemas/CompanyId"
          }
        }
      },
      "CompanyFilterWrapper": {
        "type": "object",
        "title": "CompanyFilterWrapper",
        "description": "Wrapper for CompanyFilter",
        "properties": {
          "companyFilter": {
            "$ref": "#/components/schemas/CompanyFilter"
          }
        }
      },
      "CompanyId": {
        "type": "object",
        "title": "CompanyId",
        "description": "Company ID",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "f49d00fe-1eda-4304-ba79-a980f565281d"
          }
        }
      },
      "CompanySpecifiedAttributeOverride": {
        "title": "CompanySpecifiedAttributeOverride",
        "type": "object",
        "description": "Company specified attribute override for the event",
        "required": [
          "behavior",
          "attribute"
        ],
        "properties": {
          "behavior": {
            "$ref": "#/components/schemas/OverrideBehavior"
          },
          "attribute": {
            "$ref": "#/components/schemas/CompanySpecifiedUserAttribute"
          }
        }
      },
      "CompanySpecifiedUserAttribute": {
        "type": "object",
        "description": "Company specified user arbitrary attribute.",
        "required": [
          "fixedColumnName"
        ],
        "properties": {
          "fixedColumnName": {
            "type": "string",
            "example": "contingentType"
          },
          "value": {
            "type": "string",
            "example": "FSTV"
          }
        }
      },
      "ConfermaMetadata": {
        "type": "object",
        "title": "Conferma",
        "description": "conferma card descriptor.",
        "required": [
          "cardPoolClientId"
        ],
        "properties": {
          "cardPoolClientId": {
            "type": "string",
            "description": "card pool client Id.",
            "example": "test-id"
          },
          "cardLabel": {
            "type": "string",
            "description": "Name/Label for visual identification of the card.",
            "example": "cardCompany"
          },
          "company": {
            "$ref": "#/components/schemas/CardCompany"
          },
          "paymentInstructionIds": {
            "type": "array",
            "description": "List of payment instruction ids",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "items": {
              "$ref": "#/components/schemas/PaymentInstructionId"
            }
          },
          "paymentInstruction": {
            "$ref": "#/components/schemas/PaymentInstructionConfig"
          }
        }
      },
      "ConfermaMetadataWrapper": {
        "type": "object",
        "title": "ConfermaMetadataWrapper",
        "description": "Wrapper for ConfermaMetadata",
        "required": [
          "confermaMetadata"
        ],
        "properties": {
          "confermaMetadata": {
            "$ref": "#/components/schemas/ConfermaMetadata"
          }
        }
      },
      "CostCenterFilter": {
        "type": "object",
        "title": "CostCenterFilter",
        "description": "CostCenterFilter details.",
        "required": [
          "costCenterIds",
          "companyId"
        ],
        "properties": {
          "companyId": {
            "description": "company id",
            "$ref": "#/components/schemas/CompanyId"
          },
          "costCenterIds": {
            "type": "array",
            "description": "List of cost center ids",
            "items": {
              "$ref": "#/components/schemas/CostCenterId"
            }
          }
        }
      },
      "CostCenterFilterWrapper": {
        "type": "object",
        "title": "CostCenterFilterWrapper",
        "description": "Wrapper for CostCenterFilter",
        "properties": {
          "costCenterFilter": {
            "$ref": "#/components/schemas/CostCenterFilter"
          }
        }
      },
      "CostCenterId": {
        "type": "object",
        "title": "Cost center id.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "731ccbca-0415-6fe1-d235-c324dfbe7423"
          }
        }
      },
      "CostCenterOverride": {
        "title": "CostCenterOverride",
        "type": "object",
        "description": "Cost center override for the event",
        "required": [
          "behavior"
        ],
        "properties": {
          "behavior": {
            "$ref": "#/components/schemas/OverrideBehavior"
          },
          "costCenterRef": {
            "$ref": "#/components/schemas/Reference"
          }
        }
      },
      "CountryFilter": {
        "type": "object",
        "title": "CountryFilter",
        "description": "CountryFilter details.",
        "required": [
          "companyId",
          "countryCodes"
        ],
        "properties": {
          "countryCodes": {
            "type": "array",
            "description": "country Codes List",
            "items": {
              "description": "ISO 2-letter country code",
              "type": "string",
              "example": "IN"
            }
          },
          "companyId": {
            "description": "The company Id for the filter.",
            "$ref": "#/components/schemas/CompanyId"
          }
        }
      },
      "CountryFilterWrapper": {
        "type": "object",
        "title": "CountryFilterWrapper",
        "description": "Wrapper for CountryFilter",
        "properties": {
          "countryFilter": {
            "$ref": "#/components/schemas/CountryFilter"
          }
        }
      },
      "CreateEventTemplateRequest": {
        "title": "CreateEventTemplateRequest",
        "description": "Create Event template request object",
        "type": "object",
        "required": [
          "name",
          "travelerTypes",
          "bookingStyle",
          "companyId"
        ],
        "x-ignoreBreakingChanges": [
          "CreateEventTemplateRequest->customFieldV3Responses",
          "EventApi.yaml->CustomFieldV3Response"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the event template"
          },
          "description": {
            "type": "string",
            "description": "Description of the event"
          },
          "location": {
            "$ref": "#/components/schemas/EventLocation"
          },
          "allowedBookingTypes": {
            "type": "array",
            "description": "Allowed booking types for the event template",
            "items": {
              "$ref": "#/components/schemas/EventAllowedBookingType"
            }
          },
          "bookingGuidelines": {
            "type": "array",
            "description": "A list of booking guideline for the event.",
            "items": {
              "$ref": "#/components/schemas/EventBookingGuideline"
            }
          },
          "customFieldResponses": {
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "type": "array",
            "description": "Preselected custom field responses for the event template.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldResponse"
            }
          },
          "customFieldV3Responses": {
            "type": "array",
            "description": "List of custom field responses for an event.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldPrefilledResponse"
            }
          },
          "paymentMappings": {
            "type": "array",
            "description": "Mappings i.e. access level, travel type information etc.",
            "items": {
              "$ref": "#/components/schemas/PaymentAccessMapping"
            }
          },
          "companyId": {
            "description": "Company id",
            "$ref": "#/components/schemas/CompanyId"
          },
          "internalNotes": {
            "type": "string",
            "description": "Internal notes of the event",
            "example": "Use travelers default as payment method."
          },
          "referenceUsers": {
            "type": "array",
            "description": "Event group reference user ids",
            "items": {
              "$ref": "#/components/schemas/UserId"
            }
          },
          "travelerTypes": {
            "type": "array",
            "description": "Allowed traveler types for the event",
            "items": {
              "$ref": "#/components/schemas/Persona"
            },
            "minItems": 1
          },
          "policyId": {
            "type": "string",
            "format": "uuid",
            "description": "Policy associated with the event.",
            "example": "f7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b"
          },
          "bookingStyle": {
            "description": "Whether the event bookings will be self served by the traveler or would be arranged by an agent for the traveler.",
            "$ref": "#/components/schemas/EventBookingStyle"
          },
          "externalId": {
            "type": "string",
            "description": "External Id for the event",
            "example": "qwert123"
          },
          "allowTravelersPolicy": {
            "$ref": "#/components/schemas/AllowTravelersPolicy"
          },
          "emailPreferences": {
            "$ref": "#/components/schemas/BucketEmailPreferences"
          },
          "allowTravelersToRsvp": {
            "$ref": "#/components/schemas/AllowTravelersToRsvp"
          },
          "tripOverrides": {
            "$ref": "#/components/schemas/TripOverrides"
          },
          "tripContacts": {
            "type": "array",
            "description": "Trip contacts for the event. These are passed through to created trips.",
            "items": {
              "$ref": "#/components/schemas/TripContact"
            }
          },
          "inviteEmailConfig": {
            "$ref": "#/components/schemas/InviteEmailConfig"
          }
        }
      },
      "CreditStatus": {
        "type": "string",
        "description": "Status of the credit.",
        "enum": [
          "STATUS_UNKNOWN",
          "OPEN",
          "USED",
          "RESERVED"
        ],
        "x-ignoreBreakingChanges": [
          "CreditStatus->RESERVED"
        ]
      },
      "CreditUsageType": {
        "type": "string",
        "description": "Usage type of the credit.",
        "enum": [
          "CREDIT_USAGE_TYPE_UNKNOWN",
          "COMPANY",
          "PERSONAL"
        ]
      },
      "CustomFieldId": {
        "type": "object",
        "title": "CustomFieldId",
        "description": "The custom field type and the id associated with it.",
        "required": [
          "type",
          "externalId"
        ],
        "properties": {
          "type": {
            "$ref": "#/components/schemas/CustomFieldType"
          },
          "externalId": {
            "type": "string",
            "description": "Meeting id or budget id based on custom field type."
          }
        }
      },
      "CustomFieldPrefilledResponse": {
        "type": "object",
        "title": "CustomFieldPrefilledResponse",
        "description": "Custom field prefilled responses.",
        "required": [
          "fieldId",
          "armId",
          "selectedOptions"
        ],
        "properties": {
          "fieldId": {
            "type": "string",
            "format": "uuid",
            "description": "Custom field id"
          },
          "fieldName": {
            "type": "string",
            "description": "Name of the custom field"
          },
          "armId": {
            "type": "string",
            "format": "uuid",
            "description": "Arm id which is applicable"
          },
          "readOnly": {
            "type": "boolean",
            "description": "Indicates whether the user can change the pre-selected options.",
            "default": false,
            "example": true
          },
          "hidden": {
            "type": "boolean",
            "description": "Whether this code will be hidden to the user.",
            "example": true,
            "default": false
          },
          "selectedOptions": {
            "type": "array",
            "description": "The list of options that are selected by user or auto populated.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldSelectedOption"
            }
          }
        }
      },
      "CustomFieldResponse": {
        "title": "CustomFieldResponse",
        "type": "object",
        "deprecated": true,
        "x-sunset": "2026-07-01",
        "description": "Custom field responses as selected by the event coordinator.",
        "required": [
          "customFieldId",
          "travelerAccess"
        ],
        "properties": {
          "customFieldId": {
            "type": "string",
            "format": "uuid",
            "description": "The unique identifier for the custom field.",
            "example": "f49d00fe-1eda-4304-ba79-a980f565281d"
          },
          "responseItems": {
            "type": "array",
            "description": "Responses selected by the event coordinator.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldResponseItem"
            }
          },
          "travelerAccess": {
            "description": "Traveler access for the given custom field.",
            "$ref": "#/components/schemas/CustomFieldTravelerAccess"
          }
        }
      },
      "CustomFieldResponseItem": {
        "type": "object",
        "title": "CustomFieldResponseItem",
        "description": "The response selected for the given custom field.",
        "required": [
          "response"
        ],
        "properties": {
          "response": {
            "type": "string",
            "description": "The response of the custom field. It can be a text input from the user or a custom field code if the input is from a radio button or checkbox.",
            "example": "Leisure travel"
          },
          "additionalInput": {
            "type": "string",
            "description": "This contains additional input to the above response. It will only be used for checkbox with percentage and will contain the percentage value.",
            "example": "20"
          }
        }
      },
      "CustomFieldSelectedOption": {
        "type": "object",
        "title": "CustomFieldSelectedOption",
        "description": "Selected response for the custom field.",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Value of the selection"
          },
          "translatedName": {
            "type": "string",
            "description": "Translated value of the selection"
          },
          "description": {
            "type": "string",
            "description": "Description of the selection"
          },
          "translatedDescription": {
            "type": "string",
            "description": "Translated description of the selection"
          },
          "additionalUserInput": {
            "type": "string",
            "description": "Additional user input"
          },
          "additionalInfos": {
            "type": "array",
            "description": "Actual values of the additional infos",
            "items": {
              "type": "string"
            }
          },
          "additionalInfoConfigs": {
            "type": "array",
            "description": "Additional info configs for the selected option",
            "items": {
              "$ref": "#/components/schemas/AdditionalInfo"
            }
          }
        }
      },
      "CustomFieldTravelerAccess": {
        "title": "CustomFieldTravelerAccess",
        "description": "Traveler access for a custom field",
        "type": "string",
        "enum": [
          "HIDDEN",
          "READ_ACCESS",
          "WRITE_ACCESS"
        ],
        "example": "HIDDEN"
      },
      "CustomFieldType": {
        "type": "string",
        "description": "The type of custom field.",
        "enum": [
          "QUESTION",
          "MEETING",
          "BUDGET",
          "BREX_TOKEN"
        ],
        "default": "QUESTION"
      },
      "CustomPaymentMethodDescriptor": {
        "type": "object",
        "title": "CustomPaymentMethodDescriptor",
        "description": "Metadata for Custom Payment Method payment source.",
        "oneOf": [
          {
            "$ref": "#/components/schemas/BrexBudgetWrapper"
          },
          {
            "$ref": "#/components/schemas/AmadeusCheckoutWrapper"
          },
          {
            "$ref": "#/components/schemas/QantasTravelFundWrapper"
          },
          {
            "$ref": "#/components/schemas/DpanWrapper"
          },
          {
            "$ref": "#/components/schemas/VirtualPaymentMetadataWrapper"
          },
          {
            "$ref": "#/components/schemas/FlightPassWrapper"
          },
          {
            "$ref": "#/components/schemas/NoPrepaymentWrapper"
          }
        ],
        "x-ignoreBreakingChanges": [
          "CustomPaymentMethodDescriptor->NoPrepaymentWrapper"
        ]
      },
      "CustomPaymentMethodDescriptorWrapper": {
        "type": "object",
        "title": "CustomPaymentMethodDescriptorWrapper",
        "description": "Wrapper for CustomPaymentMethodDescriptor",
        "properties": {
          "customPaymentMethodDescriptor": {
            "$ref": "#/components/schemas/CustomPaymentMethodDescriptor"
          }
        }
      },
      "DateModel": {
        "title": "Date",
        "description": "Date in ISO 8601 standard.",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$",
            "example": "2017-07-21"
          }
        }
      },
      "DateTimeLocal": {
        "title": "DateTimeLocal",
        "description": "Local date and time in ISO 8601 format.",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?$",
            "example": "2017-07-21T17:32"
          }
        }
      },
      "DateTimeOffset": {
        "title": "DateTimeOffset",
        "description": "ISO8601 UTC Date Time",
        "type": "object",
        "required": [
          "iso8601"
        ],
        "properties": {
          "iso8601": {
            "type": "string",
            "pattern": "^\\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-4]):([0-5][0-9])(:([0-5][0-9]))?(Z|([+-](0[0-9]|1[0-4]):([0-5][0-9])))$",
            "example": "2017-07-21T17:32Z"
          }
        }
      },
      "DateTimeRange": {
        "type": "object",
        "properties": {
          "min": {
            "$ref": "#/components/schemas/DateTimeLocal",
            "description": "Minimum value - inclusive."
          },
          "max": {
            "$ref": "#/components/schemas/DateTimeLocal",
            "description": "Maximum value - inclusive."
          }
        }
      },
      "DelayedInvoicingDescriptor": {
        "type": "object",
        "title": "DelayedInvoicingDescriptor",
        "description": "Descriptor for delayed invoicing.",
        "required": [
          "label"
        ],
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for delayed invoicing payment method",
            "example": "Delayed Invoicing for India LE"
          }
        }
      },
      "DelayedInvoicingDescriptorWrapper": {
        "type": "object",
        "title": "DelayedInvoicingDescriptorWrapper",
        "description": "Wrapper for DelayedInvoicing.",
        "properties": {
          "delayedInvoicingDescriptor": {
            "$ref": "#/components/schemas/DelayedInvoicingDescriptor"
          }
        }
      },
      "DepartmentFilterWrapper": {
        "type": "object",
        "title": "DepartmentFilterWrapper",
        "description": "Wrapper for DepartmentFilter",
        "properties": {
          "departmentFilter": {
            "$ref": "#/components/schemas/PaymentSourceDepartmentFilter"
          }
        }
      },
      "DepartmentId": {
        "type": "object",
        "title": "DepartmentId",
        "description": "Department id.",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "example": "631ccbcf-9414-5fe0-c234-b324dfbe7422"
          }
        }
      },
      "DepartmentOverride": {
        "title": "DepartmentOverride",
        "type": "object",
        "description": "Department override for the event",
        "required": [
          "behavior"
        ],
        "properties": {
          "behavior": {
            "$ref": "#/components/schemas/OverrideBehavior"
          },
          "departmentRef": {
            "$ref": "#/components/schemas/Reference"
          }
        }
      },
      "Dimensions": {
        "type": "object",
        "title": "Dimensions",
        "description": "Image dimensions ie width and height.",
        "properties": {
          "height": {
            "type": "integer",
            "format": "int32",
            "example": 120
          },
          "width": {
            "type": "integer",
            "format": "int32",
            "example": 240
          }
        }
      },
      "DinersTacMetadata": {
        "type": "object",
        "title": "DinersTacMetadata",
        "description": "Details for Diners TAC Metadata.",
        "required": [
          "card"
        ],
        "properties": {
          "card": {
            "$ref": "#/components/schemas/Card"
          }
        }
      },
      "DinersTacMetadataWrapper": {
        "type": "object",
        "title": "DinersTacMetadataWrapper",
        "description": "Wrapper for DinersTac Metadata.",
        "properties": {
          "dinersTacMetadata": {
            "$ref": "#/components/schemas/DinersTacMetadata"
          }
        }
      },
      "DirectBilling": {
        "type": "object",
        "title": "DirectBilling",
        "description": "Descriptor for direct billing details.",
        "properties": {
          "directBillingCode": {
            "type": "string",
            "description": "Direct billing code provided by the vendor."
          },
          "corporateDiscountCode": {
            "type": "string",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "description": "Corporate discount code provided by the vendor."
          },
          "label": {
            "type": "string",
            "description": "Label for the Direct Billing Payment method."
          }
        }
      },
      "DirectBillingWrapper": {
        "type": "object",
        "title": "DirectBillingWrapper",
        "description": "Wrapper for DirectBilling",
        "properties": {
          "directBilling": {
            "$ref": "#/components/schemas/DirectBilling"
          }
        }
      },
      "Document": {
        "type": "object",
        "title": "Document",
        "description": "Document details.",
        "required": [
          "url",
          "documentId",
          "documentMetadata"
        ],
        "properties": {
          "url": {
            "type": "string",
            "description": "S3 location of the document.",
            "example": "https://s3.amazonaws.com/bucket-name/folder-name/file-name"
          },
          "documentId": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the document.",
            "example": "f49d00fe-1eda-4304-ba79-a980f565281d"
          },
          "documentMetadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        }
      },
      "DocumentMetadata": {
        "title": "DocumentMetadata",
        "description": "Metadata related to document.",
        "type": "object",
        "required": [
          "documentType",
          "entityType",
          "entityId",
          "entityMetadata",
          "name"
        ],
        "properties": {
          "documentType": {
            "$ref": "#/components/schemas/DocumentType"
          },
          "entityType": {
            "$ref": "#/components/schemas/EntityType"
          },
          "entityId": {
            "type": "string",
            "description": "Entity Id for the given entity type.",
            "example": "123124"
          },
          "entityMetadata": {
            "$ref": "#/components/schemas/EntityMetadata"
          },
          "name": {
            "type": "string",
            "description": "Document name.",
            "example": "BoardingPass.pdf"
          }
        }
      },
      "DocumentType": {
        "title": "DocumentType",
        "description": "Document type.",
        "type": "string",
        "enum": [
          "BOARDING_PASS",
          "CONFIRMATION",
          "INVOICE",
          "VISA",
          "MISCELLANEOUS",
          "OTHERS",
          "TASK_PROCESSOR",
          "EVENT_COVER_IMAGE",
          "LOGO_IMAGE"
        ],
        "example": "VISA",
        "x-ignoreBreakingChanges": [
          "DocumentType->LOGO_IMAGE"
        ]
      },
      "DpanMetadata": {
        "type": "object",
        "title": "DpanMetadata",
        "required": [
          "label"
        ],
        "description": "Metadata for DPAN payment source.",
        "properties": {
          "label": {
            "type": "string",
            "example": "AMEX-DPAN",
            "description": "Label for DPAN payment source."
          }
        }
      },
      "DpanWrapper": {
        "type": "object",
        "title": "DpanWrapper",
        "description": "Wrapper for Dpan Payment Source.",
        "required": [
          "dpanMetadata"
        ],
        "properties": {
          "dpanMetadata": {
            "$ref": "#/components/schemas/DpanMetadata"
          }
        }
      },
      "EmailBucketType": {
        "type": "string",
        "title": "EmailBucketType",
        "description": "Email bucket type.",
        "enum": [
          "BOOKING_CONFIRMATIONS",
          "BOOKING_CHANGES",
          "FLIGHT_UPDATES",
          "APPROVAL_REQUESTS",
          "APPROVAL_UPDATES",
          "REMINDERS",
          "INVOICE_UPDATES"
        ],
        "x-ignoreBreakingChanges": [
          "EmailBucketType->INVOICE_UPDATES"
        ],
        "example": "BOOKING_CONFIRMATIONS"
      },
      "EntityId": {
        "type": "object",
        "description": "Identifier of an object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "b93dc51f-12dd-46c7-b7d6-1cb12cd3f5b3"
          }
        }
      },
      "EntityMetadata": {
        "title": "EntityMetadata",
        "description": "Metadata for associated entity of document.",
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/PnrMetadataWrapper"
          },
          {
            "$ref": "#/components/schemas/EventMetadataWrapper"
          }
        ]
      },
      "EntityNonUUIDId": {
        "type": "object",
        "description": "Identifier of a non uuid object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "EntityType": {
        "title": "EntityType",
        "description": "Entity type against which the document is to uploaded.",
        "type": "string",
        "enum": [
          "PNR",
          "COMPANY",
          "AIR_ITINERARY",
          "EVENT",
          "LOCATION_IMAGE",
          "AIR_COMMISSION_CONTRACT"
        ],
        "example": "PNR",
        "x-ignoreBreakingChanges": [
          "EntityType->TRIP",
          "EntityType->TICKETING_ERROR"
        ]
      },
      "ErrorParameter": {
        "type": "object",
        "title": "ErrorParameter",
        "description": "Error parameter",
        "properties": {
          "name": {
            "type": "string",
            "description": "Parameter name"
          },
          "value": {
            "type": "string",
            "description": "Parameter value"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "debugIdentifier": {
            "type": "string",
            "description": "Link to debug the error internally."
          },
          "errorMessages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "errorCode": {
                  "type": "string",
                  "description": "Error code to identify the specific errors."
                },
                "message": {
                  "type": "string",
                  "description": "Message containing details of error."
                },
                "errorParameters": {
                  "type": "array",
                  "description": "Error message parameters.",
                  "items": {
                    "$ref": "#/components/schemas/ErrorParameter"
                  }
                },
                "errorDetail": {
                  "type": "string",
                  "description": "More details about the error."
                }
              }
            }
          }
        }
      },
      "EventAllowedBookingType": {
        "title": "EventAllowedBookingType",
        "description": "Allowed booking type for the event",
        "type": "string",
        "enum": [
          "AIR",
          "HOTEL",
          "CAR",
          "RAIL"
        ]
      },
      "EventBookingGuideline": {
        "title": "EventBookingGuideline",
        "description": "Booking details allowed for the event",
        "type": "object",
        "oneOf": [
          {
            "$ref": "#/components/schemas/AirBookingGuidelineWrapper"
          },
          {
            "$ref": "#/components/schemas/HotelBookingGuidelineWrapper"
          },
          {
            "$ref": "#/components/schemas/CarBookingGuidelineWrapper"
          },
          {
            "$ref": "#/components/schemas/RailBookingGuidelineWrapper"
          }
        ],
        "properties": {
          "numGuestsAllowed": {
            "type": "integer",
            "description": "Number of guests allowed to be booked for this booking",
            "example": 1
          }
        }
      },
      "EventBookingStyle": {
        "title": "EventBookingStyle",
        "description": "The booking style for the event's participants.",
        "type": "string",
        "enum": [
          "SELF_SERVE",
          "AGENT_MANAGED"
        ],
        "example": "SELF_SERVE"
      },
      "EventBookingWindow": {
        "title": "EventBookingWindow",
        "description": "Event booking window",
        "type": "object",
        "required": [
          "startDateTime",
          "endDateTime"
        ],
        "properties": {
          "startDateTime": {
            "$ref": "#/components/schemas/DateTimeLocal"
          },
          "endDateTime": {
            "$ref": "#/components/schemas/DateTimeLocal"
          }
        }
      },
      "EventCompanyFilter": {
        "type": "object",
        "title": "EventCompanyFilter",
        "description": "Event company filter details",
        "properties": {
          "companyId": {
            "description": "Company id",
            "$ref": "#/components/schemas/CompanyId"
          }
        }
      },
      "EventCompanyFilterWrapper": {
        "type": "object",
        "title": "EventCompanyFilterWrapper",
        "description": "Wrapper for EventCompanyFilter",
        "properties": {
          "companyFilter": {
            "$ref": "#/components/schemas/EventCompanyFilter"
          }
        }
      },
      "EventEntityMetadata": {
        "title": "EventEntityMetadata",
        "description": "Metadata when document is associated to an event.",
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        }
      },
      "EventGroup": {
        "title": "EventGroup",
        "description": "Group of users for the event",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event Group ID",
            "format": "uuid",
            "example": "f49d00fe-1eda-4304-ba79-a980f565281d"
          },
          "name": {
            "type": "string",
            "description": "Name of the event group"
          },
          "description": {
            "type": "string",
            "description": "Description of the event group"
          },
          "bookingGuidelines": {
            "description": "A list of BookingGuideline for event group",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventBookingGuideline"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/EventGroupMetadata"
          },
          "group": {
            "$ref": "#/components/schemas/UserTripGroup"
          },
          "createdBy": {
            "$ref": "#/components/schemas/UserId"
          },
          "allowedBookingTypes": {
            "type": "array",
            "description": "Allowed booking types for the event group",
            "items": {
              "$ref": "#/components/schemas/EventAllowedBookingType"
            }
          },
          "eventUserRsvpList": {
            "type": "array",
            "description": "List of user rsvp responses for the event group",
            "items": {
              "$ref": "#/components/schemas/EventUserRsvp"
            }
          },
          "allowedPaymentConfig": {
            "$ref": "#/components/schemas/AllowedPaymentConfig"
          }
        }
      },
      "EventGroupMetadata": {
        "title": "EventGroupMetadata",
        "description": "Metadata for event group",
        "type": "object",
        "properties": {
          "contacts": {
            "type": "array",
            "description": "Event group contacts",
            "items": {
              "$ref": "#/components/schemas/UserId"
            }
          },
          "documents": {
            "type": "array",
            "description": "Documents attached for an event group",
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "bookingStyle": {
            "description": "Whether the event bookings will be self served by the traveler or would be arranged by an agent for the traveler.",
            "$ref": "#/components/schemas/EventBookingStyle"
          },
          "referenceUsers": {
            "type": "array",
            "description": "Event group reference user ids",
            "items": {
              "$ref": "#/components/schemas/UserId"
            }
          },
          "internalNotes": {
            "type": "string",
            "description": "Internal notes of the event"
          },
          "travelerTypes": {
            "type": "array",
            "description": "Allowed traveler types for the event",
            "items": {
              "$ref": "#/components/schemas/Persona"
            }
          },
          "allowTravelersPolicy": {
            "$ref": "#/components/schemas/AllowTravelersPolicy"
          },
          "emailPreferences": {
            "$ref": "#/components/schemas/BucketEmailPreferences"
          },
          "allowTravelersToRsvp": {
            "$ref": "#/components/schemas/AllowTravelersToRsvp"
          },
          "tripOverrides": {
            "$ref": "#/components/schemas/TripOverrides"
          },
          "tripContacts": {
            "type": "array",
            "description": "Trip contacts for the event. These are passed through to created trips.",
            "items": {
              "$ref": "#/components/schemas/TripContact"
            }
          },
          "inheritedCustomFieldIds": {
            "type": "array",
            "description": "List of custom field IDs that were inherited from parent",
            "items": {
              "type": "string",
              "format": "uuid",
              "example": "f7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b"
            }
          },
          "inviteEmailConfig": {
            "$ref": "#/components/schemas/InviteEmailConfig"
          }
        }
      },
      "EventIdFilter": {
        "type": "object",
        "title": "EventIdFilter",
        "description": "Event ID filter details",
        "required": [
          "eventIdList"
        ],
        "properties": {
          "eventIdList": {
            "type": "array",
            "description": "A list of event IDs.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "EventIdFilterWrapper": {
        "type": "object",
        "title": "EventIdFilterWrapper",
        "description": "Wrapper for EventIdFilter",
        "properties": {
          "eventIdFilter": {
            "$ref": "#/components/schemas/EventIdFilter"
          }
        }
      },
      "EventLocation": {
        "title": "EventLocation",
        "description": "Location for an event",
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/PostalAddress"
          },
          "coordinates": {
            "$ref": "#/components/schemas/Latlng"
          }
        }
      },
      "EventMetadataWrapper": {
        "type": "object",
        "title": "EventMetadataWrapper",
        "properties": {
          "eventMetadata": {
            "$ref": "#/components/schemas/EventEntityMetadata"
          }
        }
      },
      "EventNameFilter": {
        "type": "string",
        "title": "EventNameFilter",
        "description": "Event name filter",
        "example": "Jaipur Offsite"
      },
      "EventNameFilterWrapper": {
        "type": "object",
        "title": "EventNameFilterWrapper",
        "description": "Wrapper for EventNameFilter",
        "properties": {
          "eventNameFilter": {
            "$ref": "#/components/schemas/EventNameFilter"
          }
        }
      },
      "EventRsvpResponse": {
        "title": "EventRsvpResponse",
        "type": "object",
        "description": "Event rsvp response",
        "properties": {
          "air": {
            "$ref": "#/components/schemas/AirRsvpResponse"
          },
          "hotel": {
            "$ref": "#/components/schemas/HotelRsvpResponse"
          },
          "car": {
            "$ref": "#/components/schemas/CarRsvpResponse"
          },
          "rail": {
            "$ref": "#/components/schemas/RailRsvpResponse"
          }
        }
      },
      "EventRsvpState": {
        "title": "EventRsvpState",
        "description": "Allowed event rsvp states for a user",
        "type": "string",
        "enum": [
          "ADDED",
          "INVITED",
          "INVITE_ACCEPTED",
          "INVITE_DECLINED",
          "REMOVED"
        ]
      },
      "EventTemplate": {
        "title": "EventTemplate",
        "description": "The event template object.",
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "x-ignoreBreakingChanges": [
          "EventTemplate->customFieldV3Responses",
          "EventApi.yaml->CustomFieldV3Response"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Template ID"
          },
          "name": {
            "type": "string",
            "description": "Name of the event template"
          },
          "description": {
            "type": "string",
            "description": "Description of the event template"
          },
          "location": {
            "$ref": "#/components/schemas/EventLocation"
          },
          "paymentSources": {
            "type": "array",
            "description": "List of payment sources",
            "items": {
              "$ref": "#/components/schemas/PaymentSourceInfo"
            }
          },
          "companyId": {
            "$ref": "#/components/schemas/EntityId"
          },
          "customFieldResponses": {
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "type": "array",
            "description": "Preselected custom field responses for the event template.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldResponse"
            }
          },
          "customFieldV3Responses": {
            "type": "array",
            "description": "List of custom field responses for an event.",
            "items": {
              "$ref": "#/components/schemas/CustomFieldPrefilledResponse"
            }
          },
          "group": {
            "description": "Group of users for the event",
            "$ref": "#/components/schemas/EventGroup"
          },
          "externalId": {
            "type": "string",
            "description": "External Id for the event",
            "example": "qwert123"
          },
          "policyId": {
            "type": "string",
            "format": "uuid",
            "description": "Policy associated with the event.",
            "example": "f7b3b3b3-7b3b-4b3b-8b3b-3b3b3b3b3b3b"
          },
          "status": {
            "$ref": "#/components/schemas/EventTemplateStatus"
          },
          "scope": {
            "$ref": "#/components/schemas/EventTemplateScope"
          }
        }
      },
      "EventTemplateFilter": {
        "title": "EventTemplateFilter",
        "type": "object",
        "description": "Event template filter",
        "x-ignoreBreakingChanges": [
          "TemplateApi.yaml->EventTemplateStatusFilterWrapper",
          "EventTemplateFilter->EventTemplateStatusFilterWrapper",
          "TemplateApi.yaml->EventTemplateScopeFilterWrapper",
          "EventTemplateFilter->EventTemplateScopeFilterWrapper"
        ],
        "oneOf": [
          {
            "$ref": "#/components/schemas/EventCompanyFilterWrapper"
          },
          {
            "$ref": "#/components/schemas/EventNameFilterWrapper"
          },
          {
            "$ref": "#/components/schemas/EventTemplateStatusFilterWrapper"
          },
          {
            "$ref": "#/components/schemas/EventIdFilterWrapper"
          },
          {
            "$ref": "#/components/schemas/EventTemplateScopeFilterWrapper"
          }
        ]
      },
      "EventTemplateFilterWrapper": {
        "type": "object",
        "title": "EventTemplateFilterWrapper",
        "description": "Wrapper for EventTemplateFilter",
        "properties": {
          "eventTemplateFilter": {
            "$ref": "#/components/schemas/PaymentEventFilter"
          }
        }
      },
      "EventTemplateScope": {
        "title": "EventTemplateScope",
        "description": "Scope of an event template.",
        "type": "string",
        "enum": [
          "DEFAULT",
          "HIDDEN"
        ],
        "example": "DEFAULT"
      },
      "EventTemplateScopeFilter": {
        "type": "array",
        "title": "EventTemplateScopeFilter",
        "description": "Event template scope filter",
        "items": {
          "$ref": "#/components/schemas/EventTemplateScope"
        }
      },
      "EventTemplateScopeFilterWrapper": {
        "type": "object",
        "title": "EventTemplateScopeFilterWrapper",
        "description": "Wrapper for EventTemplateScopeFilter",
        "properties": {
          "eventTemplateScopeFilter": {
            "$ref": "#/components/schemas/EventTemplateScopeFilter"
          }
        }
      },
      "EventTemplateStatus": {
        "title": "EventTemplateStatus",
        "description": "Status of an event template.",
        "type": "string",
        "enum": [
          "DRAFT",
          "ARCHIVED"
        ],
        "example": "DRAFT"
      },
      "EventTemplateStatusFilter": {
        "type": "array",
        "title": "EventTemplateStatusFilter",
        "description": "Event filter status filter",
        "items": {
          "$ref": "#/components/schemas/EventTemplateStatus"
        }
      },
      "EventTemplateStatusFilterWrapper": {
        "type": "object",
        "title": "EventTemplateStatusFilterWrapper",
        "description": "Wrapper for EventTemplateStatusFilter",
        "properties": {
          "eventTemplateStatusFilter": {
            "$ref": "#/components/schemas/EventTemplateStatusFilter"
          }
        }
      },
      "EventUserRsvp": {
        "title": "EventUserRsvp",
        "type": "object",
        "description": "User rsvp for the event",
        "properties": {
          "userId": {
            "$ref": "#/components/schemas/UserId"
          },
          "eventRsvpState": {
            "$ref": "#/components/schemas/EventRsvpState"
          },
          "eventRsvpResponse": {
            "$ref": "#/components/schemas/EventRsvpResponse"
          },
          "invitedAt": {
            "$ref": "#/components/schemas/DateTimeOffset"
          },
          "airBookingStatus": {
            "$ref": "#/components/schemas/BookingStatusType"
          },
          "railBookingStatus": {
            "$ref": "#/components/schemas/BookingStatusType"
          },
          "carBookingStatus": {
            "$ref": "#/components/schemas/BookingStatusType"
          },
          "hotelBookingStatus": {
            "$ref": "#/components/schemas/BookingStatusType"
          }
        }
      },
      "Expiry": {
        "title": "Expiry",
        "type": "object",
        "description": "Contains the expiry of a Card.",
        "required": [
          "expiryMonth",
          "expiryYear"
        ],
        "properties": {
          "expiryMonth": {
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 12,
            "description": "Expiry month",
            "example": 1
          },
          "expiryYear": {
            "type": "integer",
            "format": "int32",
            "description": "Expiry year",
            "minimum": 2000,
            "example": 2010
          }
        }
      },
      "ExpiryWrapper": {
        "type": "object",
        "title": "ExpiryWrapper",
        "properties": {
          "expiry": {
            "$ref": "#/components/schemas/Expiry"
          }
        }
      },
      "Expression": {
        "type": "object",
        "title": "Expression",
        "description": "Expression consisting of variables and constants which needs to be sent along with custom\nfield response.\n",
        "required": [
          "type",
          "formatExpression"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "EXPRESSION",
            "default": "EXPRESSION"
          },
          "formatExpression": {
            "type": "string",
            "description": "The expression must be of format : `<any_text> ${expression} <any_text>`.The expression \ncan consist of a combination of variables and mathematical operations.\n Variable names must be same as VariableName Enum.\n  To define mathematical operations, the operation name should follow the format\n`math.<math_op>(arg1, arg2)`. Both `arg1` and `arg2` can be variables or constants. \nThe supported math operations (math_op) include: `add, mul, div, sub, min,\nand max`. All keywords, such as `<math_op>, math, and var` must be written in lowercase.\n",
            "example": "Result:  ${math.mul(LLF,5)}  ${ADD_COLLECT_AMOUNT}"
          },
          "variables": {
            "type": "array",
            "description": "Reference names of the variables present in the expression.",
            "deprecated": true,
            "x-sunset": "2026-07-01",
            "items": {
              "$ref": "#/components/schemas/VariableName"
            }
          }
        }
      },
      "FlightMetadata": {
        "title": "FlightMetadata",
        "description": "Flight metadata against which document is associated.",
        "type": "object",
        "properties": {
          "flightId": {
            "type": "string",
            "description": "Unique identifier of the flight.",
            "example": "CgNERU4SA1NGTxoKNTQ1NzI5ODcxMQ"
          }
        }
      },
      "FlightMetadataWrapper": {
        "type": "object",
        "title": "FlightMetadataWrapper",
        "properties": {
          "flightMetadata": {
            "$ref": "#/components/schemas/FlightMetadata"
          }
        }
      },
      "FlightPassMetadata": {
        "type": "object",
        "title": "FlightPassMetadata",
        "required": [
          "label"
        ],
        "description": "Metadata for FlightPass payment source.",
        "properties": {
          "label": {
            "type": "string",
            "example": "Air Canada Flight Pass",
            "description": "Label for FlightPass payment source."
          }
        }
      },
      "FlightPassPaymentAmounts": {
        "type": "object",
        "title": "FlightPassPaymentAmounts",
        "description": "Fare breakdown for the flight pass booking.",
        "properties": {
          "totalAmount": {
            "description": "Total value (base + taxes).",
            "$ref": "#/components/schemas/Money"
          },
          "baseAmount": {
            "description": "Base fare excluding taxes.",
            "$ref": "#/components/schemas/Money"
          },
          "totalTaxes": {
            "description": "Sum of all taxes, fees, and charges.",
            "$ref": "#/components/schemas/Money"
          },
          "taxBreakdown": {
            "type": "array",
            "description": "Breakdown of taxes by code (e.g. GST_HST, QST, OTHER).",
            "items": {
              "$ref": "#/components/schemas/FlightPassTax"
            }
          }
        }
      },
      "FlightPassPaymentMetadata": {
        "type": "object",
        "title": "FlightPassPaymentMetadata",
        "description": "Metadata specific to Flight Pass payment method in OtherCoinage.",
        "properties": {
          "flightPassNumber": {
            "type": "string",
            "description": "Flight pass number",
            "example": "FP123456789"
          },
          "flightPassAmounts": {
            "$ref": "#/components/schemas/FlightPassPaymentAmounts"
          }
        }
      },
      "FlightPassPaymentMetadataWrapper": {
        "type": "object",
        "title": "FlightPassPaymentMetadataWrapper",
        "description": "Wrapper for Flight Pass payment metadata.",
        "required": [
          "flightPassMetadata"
        ],
        "properties": {
          "metadataType": {
            "type": "string",
            "description": "Discriminator field for polymorphic deserialization",
            "example": "FlightPassPaymentMetadata",
            "default": "FlightPassPaymentMetadata"
          },
          "flightPassMetadata": {
            "$ref": "#/components/schemas/FlightPassPaymentMetadata"
          }
        }
      },
      "FlightPassTax": {
        "type": "object",
        "title": "FlightPassTax",
        "description": "A single tax component of the flight pass fare.",
        "properties": {
          "code": {
            "type": "string",
            "description": "Tax code identifier (e.g. GST_HST, QST, OTHER).",
            "example": "GST_HST"
          },
          "amount": {
            "description": "Tax amount.",
            "$ref": "#/components/schemas/Money"
          }
        }
      },
      "FlightPassWrapper": {
        "type": "object",
        "title": "FlightPassWrapper",
        "description": "Wrapper for Flight Pass Payment Source.",
        "required": [
          "flightPassMetadata"
        ],
        "properties": {
          "flightPassMetadata": {
            "$ref": "#/components/schemas/FlightPassMetadata"
          }
        }
      },
      "GetEventTemplateResponse": {
        "title": "GetEventTemplateResponse",
        "description": "Get Event template response object",
        "type": "object",
        "properties": {
          "eventTemplate": {
            "$ref": "#/components/schemas/EventTemplate"
          }
        }
      },
      "GetHiddenTemplateStatusResponse": {
        "title": "GetHiddenTemplateStatusResponse",
        "description": "Response for checking hidden template status.",
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether hidden template is enabled for the organization.",
            "example": true
          },
          "templateId": {
            "type": "string",
            "description": "ID of the hidden template. Present only when enabled is true.",
            "example": "1234567890"
          }
        }
      },
      "HotelAmenities": {
        "title": "HotelAmenities",
        "type": "object",
        "description": "Type of hotel amenity",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/HotelAmenityType"
          },
          "additionalInfo": {
            "type": "string",
            "description": "Amenity description",
            "example": "Complimentary in-room coffee or tea"
          },
          "complimentary": {
            "type": "boolean",
            "description": "Is Amenity complimentary",
            "example": true
          }
        }
      },
      "HotelAmenityType": {
        "title": "HotelAmenityType",
        "type": "string",
        "description": "Type of hotel amenity.",
        "enum": [
          "TWENTY_FOUR_HOUR_FRONT_DESK",
          "TWENTY_FOUR_HOUR_ROOM_SERVICE",
          "TWENTY_FOUR_HOUR_SECURITY",
          "ADJOINING_ROOMS",
          "AIR_CONDITIONING",
          "AIRLINE_DESK",
          "ATM_CASH_MACHINE",
          "BABY_SITTING",
          "BBQ_PICNIC_AREA",
          "BILINGUAL_STAFF",
          "BOOKSTORE",
          "BOUTIQUES_STORES",
          "BRAILED_ELEVATORS",
          "BUSINESS_LIBRARY",
          "CAR_RENTAL_DESK",
          "CASINO",
          "CHECK_CASHING_POLICY",
          "CHECK_IN_KIOSK",
          "COCKTAIL_LOUNGE",
          "COFFEE_SHOP",
          "COIN_OPERATED_LAUNDRY",
          "CONCIERGE_DESK",
          "CONCIERGE_FLOOR",
          "CONFERENCE_FACILITIES",
          "COURTYARD",
          "CURRENCY_EXCHANGE",
          "DESK_WITH_ELECTRICAL_OUTLET",
          "DOCTOR_ON_CALL",
          "DOOR_MAN",
          "DRIVING_RANGE",
          "DRUGSTORE_PHARMACY",
          "DUTY_FREE_SHOP",
          "ELEVATORS",
          "EXECUTIVE_FLOOR",
          "EXERCISE_GYM",
          "EXPRESS_CHECK_IN",
          "EXPRESS_CHECK_OUT",
          "FAMILY_PLAN",
          "FLORIST",
          "FOLIOS",
          "FREE_AIRPORT_SHUTTLE",
          "FREE_PARKING",
          "FREE_TRANSPORTATION",
          "GAME_ROOM",
          "GIFT_NEWS_STAND",
          "HAIRDRESSER_BARBER",
          "ACCESSIBLE_FACILITIES",
          "HEALTH_CLUB",
          "HEATED_POOL",
          "HOUSEKEEPING_DAILY",
          "HOUSEKEEPING_WEEKLY",
          "ICE_MACHINE",
          "INDOOR_PARKING",
          "INDOOR_POOL",
          "JACUZZI",
          "JOGGING_TRACK",
          "KENNELS",
          "LAUNDRY_VALET_SERVICE",
          "LIQUOR_STORE",
          "LIVE_ENTERTAINMENT",
          "MASSAGE_SERVICES",
          "NIGHTCLUB",
          "OFF_SITE_PARKING",
          "ON_SITE_PARKING",
          "OUTDOOR_PARKING",
          "OUTDOOR_POOL",
          "PACKAGE_PARCEL_SERVICES",
          "PARKING",
          "PHOTOCOPY_CENTER",
          "PLAYGROUND",
          "POOL",
          "POOLSIDE_SNACK_BAR",
          "PUBLIC_ADDRESS_SYSTEM",
          "RAMP_ACCESS",
          "RECREATIONAL_VEHICLE_PARKING",
          "RESTAURANT",
          "ROOM_SERVICE",
          "SAFE_DEPOSIT_BOX",
          "SAUNA",
          "SECURITY",
          "SHOE_SHINE_STAND",
          "SHOPPING_MALL",
          "SOLARIUM",
          "SPA",
          "SPORTS_BAR",
          "STEAM_BATH",
          "STORAGE_SPACE",
          "SUNDRY_CONVENIENCE_STORE",
          "TECHNICAL_CONCIERGE",
          "THEATRE_DESK",
          "TOUR_SIGHTSEEING_DESK",
          "TRANSLATION_SERVICES",
          "TRAVEL_AGENCY",
          "TRUCK_PARKING",
          "VALET_CLEANING",
          "DRY_CLEANING",
          "VALET_PARKING",
          "VENDING_MACHINES",
          "VIDEO_TAPES",
          "WAKEUP_SERVICE",
          "WHEELCHAIR_ACCESS",
          "WHIRLPOOL",
          "MULTILINGUAL_STAFF",
          "WEDDING_SERVICES",
          "BANQUET_FACILITIES",
          "BELL_STAFF_PORTER",
          "BEAUTY_SHOP_SALON",
          "COMPLIMENTARY_SELF_SERVICE_LAUNDRY",
          "DIRECT_DIAL_TELEPHONE",
          "FEMALE_TRAVELER_ROOM_FLOOR",
          "PHARMACY",
          "STABLES",
          "ONE_TWENTY_AC",
          "ONE_TWENTY_DC",
          "TWO_TWENTY_AC",
          "ACCESSIBLE_PARKING",
          "TWO_TWENTY_DC",
          "BARBEQUE_GRILLS",
          "WOMENS_CLOTHING",
          "MENS_CLOTHING",
          "CHILDRENS_CLOTHING",
          "SHOPS_AND_COMMERCIAL_SERVICES",
          "VIDEO_GAMES",
          "SPORTS_BAR_OPEN_FOR_LUNCH",
          "SPORTS_BAR_OPEN_FOR_DINNER",
          "ROOM_SERVICE_FULL_MENU",
          "ROOM_SERVICE_LIMITED_MENU",
          "ROOM_SERVICE_LIMITED_HOURS",
          "VALET_SAME_DAY_DRY_CLEANING",
          "BODY_SCRUB",
          "BODY_WRAP",
          "PUBLIC_AREA_AIR_CONDITIONED",
          "EFOLIO_AVAILABLE_TO_COMPANY",
          "INDIVIDUAL_EFOLIO_AVAILABLE",
          "VIDEO_REVIEW_BILLING",
          "BUTLER_SERVICE",
          "COMPLIMENTARY_IN_ROOM_COFFEE_OR_TEA",
          "COMPLIMENTARY_BUFFET_BREAKFAST",
          "COMPLIMENTARY_COCKTAILS",
          "COMPLIMENTARY_COFFEE_IN_LOBBY",
          "COMPLIMENTARY_CONTINENTAL_BREAKFAST",
          "COMPLIMENTARY_FULL_AMERICAN_BREAKFAST",
          "DINNER_DELIVERY_SERVICE_FROM_LOCAL_RESTAURANT",
          "COMPLIMENTARY_NEWSPAPER_DELIVERED_TO_ROOM",
          "COMPLIMENTARY_NEWSPAPER_IN_LOBBY",
          "COMPLIMENTARY_SHOESHINE",
          "EVENING_RECEPTION",
          "FRONT_DESK",
          "GROCERY_SHOPPING_SERVICE_AVAILABLE",
          "HALAL_FOOD_AVAILABLE",
          "KOSHER_FOOD_AVAILABLE",
          "LIMOUSINE_SERVICE",
          "MANAGERS_RECEPTION",
          "MEDICAL_FACILITIES_SERVICE",
          "TELEPHONE_JACK_ADAPTOR_AVAILABLE",
          "ALL_INCLUSIVE_MEAL_PLAN",
          "BUFFET_BREAKFAST",
          "COMMUNAL_BAR_AREA",
          "CONTINENTAL_BREAKFAST",
          "FULL_MEAL_PLAN",
          "FULL_AMERICAN_BREAKFAST",
          "MEAL_PLAN_AVAILABLE",
          "MODIFIED_AMERICAN_MEAL_PLAN",
          "FOOD_AND_BEVERAGE_OUTLETS",
          "LOUNGES_BARS",
          "BARBER_SHOP",
          "VIDEO_CHECKOUT",
          "ONSITE_LAUNDRY",
          "TWENTY_FOUR_HOUR_FOOD_AND_BEVERAGE_KIOSK",
          "CONCIERGE_LOUNGE",
          "PARKING_FEE_MANAGED_BY_HOTEL",
          "TRANSPORTATION",
          "BREAKFAST_SERVED_IN_RESTAURANT",
          "LUNCH_SERVED_IN_RESTAURANT",
          "DINNER_SERVED_IN_RESTAURANT",
          "FULL_SERVICE_HOUSEKEEPING",
          "LIMITED_SERVICE_HOUSEKEEPING",
          "HIGH_SPEED_INTERNET_ACCESS_FOR_LAPTOP_IN_PUBLIC_AREAS",
          "WIRELESS_INTERNET_CONNECTION_IN_PUBLIC_AREAS",
          "ADDITIONAL_SERVICES_AMENITIES_FACILITIES_ON_PROPERTY",
          "TRANSPORTATION_SERVICES_LOCAL_AREA",
          "TRANSPORTATION_SERVICES_LOCAL_OFFICE",
          "DVD_VIDEO_RENTAL",
          "PARKING_LOT",
          "PARKING_DECK",
          "STREET_SIDE_PARKING",
          "COCKTAIL_LOUNGE_WITH_ENTERTAINMENT",
          "COCKTAIL_LOUNGE_WITH_LIGHT_FARE",
          "MOTORCYCLE_PARKING",
          "PHONE_SERVICES",
          "BALLROOM",
          "BUS_PARKING",
          "CHILDRENS_PLAY_AREA",
          "CHILDRENS_NURSERY",
          "DISCO",
          "EARLY_CHECK_IN",
          "LOCKER_ROOM",
          "NON_SMOKING_ROOMS_GENERIC",
          "TRAIN_ACCESS",
          "AEROBICS_INSTRUCTION",
          "BAGGAGE_HOLD",
          "BICYCLE_RENTALS",
          "DIETICIAN",
          "LATE_CHECK_OUT_AVAILABLE",
          "PET_SITTING_SERVICES",
          "PRAYER_MATS",
          "SPORTS_TRAINER",
          "TURNDOWN_SERVICE",
          "DVDS_VIDEOS_CHILDREN",
          "BANK",
          "LOBBY_COFFEE_SERVICE",
          "BANKING_SERVICES",
          "STAIRWELLS",
          "PET_AMENITIES_AVAILABLE",
          "EXHIBITION_CONVENTION_FLOOR",
          "LONG_TERM_PARKING",
          "CHILDREN_NOT_ALLOWED",
          "CHILDREN_WELCOME",
          "COURTESY_CAR",
          "HOTEL_DOES_NOT_PROVIDE_PORNOGRAPHIC_FILMS_TV",
          "HOTSPOTS",
          "FREE_HIGH_SPEED_INTERNET_CONNECTION",
          "INTERNET_SERVICES",
          "PETS_ALLOWED",
          "GOURMET_HIGHLIGHTS",
          "CATERING_SERVICES",
          "COMPLIMENTARY_BREAKFAST",
          "BUSINESS_CENTER",
          "BUSINESS_SERVICES",
          "SECURED_PARKING",
          "RACQUETBALL",
          "SNOW_SPORTS",
          "TENNIS_COURT",
          "WATER_SPORTS",
          "CHILD_PROGRAMS",
          "GOLF",
          "HORSEBACK_RIDING",
          "OCEANFRONT",
          "BEACHFRONT",
          "HAIR_DRYER",
          "IRONING_BOARD",
          "HEATED_GUEST_ROOMS",
          "TOILET",
          "PARLOR",
          "VIDEO_GAME_PLAYER",
          "THALASSOTHERAPY",
          "PRIVATE_DINING_FOR_GROUPS",
          "HEARING_IMPAIRED_SERVICES",
          "CARRYOUT_BREAKFAST",
          "DELUXE_CONTINENTAL_BREAKFAST",
          "HOT_CONTINENTAL_BREAKFAST",
          "HOT_BREAKFAST",
          "PRIVATE_POOL",
          "CONNECTING_ROOMS",
          "DATA_PORT",
          "EXTERIOR_CORRIDORS",
          "GULF_VIEW",
          "ACCESSIBLE_ROOMS",
          "HIGH_SPEED_INTERNET_ACCESS",
          "INTERIOR_CORRIDORS",
          "HIGH_SPEED_WIRELESS",
          "KITCHENETTE",
          "PRIVATE_BATH_OR_SHOWER",
          "FIRE_SAFETY_COMPLIANT",
          "WELCOME_DRINK",
          "BOARDING_PASS_PRINT_OUT_AVAILABLE",
          "PRINTING_SERVICES_AVAILABLE",
          "ALL_PUBLIC_AREAS_NON_SMOKING",
          "MEETING_ROOMS",
          "MOVIES_IN_ROOM",
          "SECRETARIAL_SERVICE",
          "SNOW_SKIING",
          "WATER_SKIING",
          "FAX_SERVICE",
          "GREAT_ROOM",
          "LOBBY",
          "MULTIPLE_PHONE_LINES_BILLED_SEPARATELY",
          "UMBRELLAS",
          "GAS_STATION",
          "GROCERY_STORE",
          "TWENTY_FOUR_HOUR_COFFEE_SHOP",
          "AIRPORT_SHUTTLE_SERVICE",
          "LUGGAGE_SERVICE",
          "PIANO_BAR",
          "VIP_SECURITY",
          "COMPLIMENTARY_WIRELESS_INTERNET",
          "CONCIERGE_BREAKFAST",
          "SAME_GENDER_FLOOR",
          "CHILDREN_PROGRAMS",
          "BUILDING_MEETS_LOCAL_STATE_AND_COUNTRY_BUILDING_CODES",
          "INTERNET_BROWSER_ON_TV",
          "NEWSPAPER",
          "PARKING_CONTROLLED_ACCESS_GATES_TO_ENTER_PARKING_AREA",
          "HOTEL_SAFE_DEPOSIT_BOX_NOT_ROOM_SAFE_BOX",
          "STORAGE_SPACE_AVAILABLE_FEE",
          "TYPE_OF_ENTRANCES_TO_GUEST_ROOMS",
          "BEVERAGE_COCKTAIL",
          "CELL_PHONE_RENTAL",
          "COFFEE_TEA",
          "EARLY_CHECK_IN_GUARANTEE",
          "FOOD_AND_BEVERAGE_DISCOUNT",
          "LATE_CHECK_OUT_GUARANTEE",
          "ROOM_UPGRADE_CONFIRMED",
          "ROOM_UPGRADE_ON_AVAILABILITY",
          "SHUTTLE_TO_LOCAL_BUSINESSES",
          "SHUTTLE_TO_LOCAL_ATTRACTIONS",
          "SOCIAL_HOUR",
          "VIDEO_BILLING",
          "WELCOME_GIFT",
          "HYPOALLERGENIC_ROOMS",
          "ROOM_AIR_FILTRATION",
          "SMOKE_FREE_PROPERTY",
          "WATER_PURIFICATION_SYSTEM_IN_USE",
          "POOLSIDE_SERVICE",
          "CLOTHING_STORE",
          "ELECTRIC_CAR_CHARGING_STATIONS",
          "OFFICE_RENTAL",
          "PIANO",
          "INCOMING_FAX",
          "OUTGOING_FAX",
          "SEMI_PRIVATE_SPACE",
          "LOADING_DOCK",
          "BABY_KIT",
          "CHILDRENS_BREAKFAST",
          "CLOAKROOM_SERVICE",
          "COFFEE_LOUNGE",
          "EVENTS_TICKET_SERVICE",
          "LATE_CHECK_IN",
          "LIMITED_PARKING",
          "OUTDOOR_SUMMER_BAR_CAFE",
          "NO_PARKING_AVAILABLE",
          "BEER_GARDEN",
          "GARDEN_LOUNGE_BAR",
          "SUMMER_TERRACE",
          "WINTER_TERRACE",
          "ROOF_TERRACE",
          "BEACH_BAR",
          "HELICOPTER_SERVICE",
          "FERRY",
          "TAPAS_BAR",
          "CAFE_BAR",
          "SNACK_BAR",
          "GUESTROOM_WIRED_INTERNET",
          "GUESTROOM_WIRELESS_INTERNET",
          "FITNESS_CENTER",
          "ALCOHOLIC_BEVERAGES",
          "NON_ALCOHOLIC_BEVERAGES",
          "HEALTH_AND_BEAUTY_SERVICES",
          "LOCAL_CALLS",
          "MINIBAR",
          "REFRIGERATOR",
          "IN_ROOM_SAFE",
          "SMOKING_ROOMS_AVAILBLE",
          "MOUNTAIN_VIEW",
          "POOL_VIEW",
          "BEACH_VIEW",
          "OCEAN_VIEW",
          "ROOMS_WITH_BALCONY",
          "FAMILY_ROOM",
          "CRIB_CHARGE",
          "ROLLAWAY_ADULT",
          "FREE_WIFI_IN_MEETING_ROOMS",
          "ECO_FRIENDLY",
          "EXTRA_PERSON",
          "STAY_SAFE",
          "ENHANCED_HYGIENE_CLEANLINESS_PROTOCOLS"
        ],
        "example": "ECO_FRIENDLY"
      },
      "HotelBookingGuideline": {
        "title": "HotelBookingGuideline",
        "description": "Hotel related guidelines",
        "type": "object",
        "properties": {
          "allowedHotels": {
            "description": "List of allowed Hotel details for the event",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotelInfo"
            }
          },
          "checkinBookingWindow": {
            "$ref": "#/components/schemas/EventBookingWindow"
          },
          "checkoutBookingWindow": {
            "$ref": "#/components/schemas/EventBookingWindow"
          },
          "paymentGuidelines": {
            "$ref": "#/components/schemas/HotelBookingPaymentGuidelines",
            "readOnly": true
          }
        }
      },
      "HotelBookingGuidelineWrapper": {
        "type": "object",
        "title": "HotelBookingGuidelineWrapper",
        "description": "Wrapper for HotelBookingGuideline",
        "properties": {
          "hotelBookingGuideLine": {
            "$ref": "#/components/schemas/HotelBookingGuideline"
          }
        }
      },
      "HotelBookingPaymentGuidelines": {
        "title": "HotelBookingPaymentGuidelines",
        "description": "Hotel booking payment guidelines",
        "type": "object",
        "properties": {
          "onlyVpayEnabledBooking": {
            "type": "boolean",
            "readOnly": true,
            "description": "Whether only Vpay enabled bookings are allowed for the event.",
            "example": true
          }
        }
      },
      "HotelDescription": {
        "type": "object",
        "title": "HotelDescription",
        "description": "Hotel description",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "GENERAL",
              "ALERTS",
              "DINING",
              "FACILITIES",
              "RECREATION",
              "SERVICES",
              "ATTRACTIONS",
              "CANCELLATION_POLICY",
              "DEPOSIT_POLICY",
              "DIRECTIONS",
              "POLICIES",
              "SAFETY",
              "TRANSPORTATION"
            ],
            "description": "Hotel description type",
            "example": ""
          },
          "value": {
            "type": "string",
            "description": "Hotel description value",
            "example": ""
          }
        }
      },
      "HotelImageCategory": {
        "type": "string",
        "description": "Category of image such as exterior, spa, etc.",
        "enum": [
          "UNKNOWN_CATEGORY",
          "EXTERIOR_VIEW",
          "LOBBY_VIEW",
          "POOL_VIEW",
          "RESTAURANT",
          "HEALTH_CLUB",
          "GUEST_ROOM",
          "SUITE",
          "MEETING_ROOM",
          "BALLROOM",
          "GOLF_COURSE",
          "BEACH",
          "SPA",
          "BAR_OR_LOUNGE",
          "RECREATIONAL_FACILITY",
          "LOGO",
          "BASICS",
          "MAP",
          "PROMOTIONAL",
          "HOT_NEWS",
          "MISCELLANEOUS",
          "GUEST_ROOM_AMENITY",
          "PROPERTY_AMENITY",
          "BUSINESS_CENTER"
        ]
      },
      "HotelImageSet": {
        "type": "object",
        "description": "Object containing details of images of different for a given category.",
        "required": [
          "category",
          "imageGroup"
        ],
        "properties": {
          "category": {
            "$ref": "#/components/schemas/HotelImageCategory"
          },
          "imageGroup": {
            "$ref": "#/components/schemas/ImageGroup"
          }
        }
      },
      "HotelInfo": {
        "type": "object",
        "title": "HotelInfo",
        "description": "Hotel info",
        "required": [
          "address",
          "name"
        ],
        "properties": {
          "address": {
            "$ref": "#/components/schemas/PostalAddress",
            "description": "Address of the hotel."
          },
          "chainCode": {
            "type": "string",
            "description": "Chain code of the hotel.",
            "example": "RF"
          },
          "chainName": {
            "type": "string",
            "description": "Chain name of the hotel.",
            "example": "Red Roof Inns"
          },
          "coordinates": {
            "$ref": "#/components/schemas/Latlng",
            "description": "Coordinates of the hotel."
          },
          "email": {
            "type": "string",
            "description": "Email address of the hotel.",
            "example": "user@business.com"
          },
          "hotelId": {
            "type": "string",
            "description": "Hotel id.",
            "example": "100094780"
          },
          "name": {
            "type": "string",
            "description": "Name of the hotel.",
            "example": "San Francisco Airport Red Roof"
          },
          "phone": {
            "$ref": "#/components/schemas/PhoneNumber",
            "description": "Phone number of the hotel."
          },
          "starRating": {
            "type": "number",
            "description": "Star rating of the hotel.",
            "format": "double",
            "example": 3.5
          },
          "fax": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PhoneNumber"
            }
          },
          "masterChainCode": {
            "type": "string",
            "description": "Master chain code of the hotel.",
            "example": "EM"
          },
          "brandName": {
            "type": "string",
            "description": "Brand name of the hotel.",
            "example": "Marriott Hotel Brands"
          },
          "amenities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotelAmenities"
            }
          },
          "additionalAmenities": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of amenities provided by the supplier.",
            "example": [
              "Room service",
              "Wifi"
            ]
          },
          "imageSets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotelImageSet"
            }
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HotelDescription"
            }
          },
          "thirdPartyHotelCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ThirdPartyHotelCode"
            }
          }
        }
      },
      "HotelItinerary": {
        "type": "object",
        "title": "HotelItinerary",
        "properties": {
          "hotelItineraryId": {
            "$ref": "#/components/schemas/HotelItineraryId"
          }
        }
      },
      "HotelItineraryId": {
        "type": "object",
        "title": "HotelItineraryId",
        "description": "Hotel itinerary id",
        "required": [
          "priceValidateKey"
        ],
        "properties": {
          "priceValidateKey": {
            "type": "string",
            "description": "Price Validate key"
          }
        }
      },
      "HotelRsvpResponse": {
        "title": "HotelRsvpResponse",
        "type": "object",
        "description": "Hotel rsvp response",
        "properties": {
          "notNeeded": {
            "type": "boolean",
            "description": "Whether hotel booking is needed by the traveler or not",
            "example": true
          }
        }
      },
      "Image": {
        "type": "object",
        "title": "Image",
        "description": "An image with meta data. Either the `data` or `url` property must be supplied to load the image.",
        "properties": {
          "data": {
            "type": "string",
            "format": "byte",
            "example": "6935813e12584abda0e43d71cd2ea260"
          },
          "dimensions": {
            "$ref": "#/components/schemas/Dimensions"
          },
          "url": {
            "type": "string",
[...]
